[2021-11-19 13:23] cipig commented on #1147
problem is that GUI uses decimals for volume
on CLI i can match the order with rationals like this: `curl --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"buy\",\"base\":\"BTCZ\",\"rel\":\"BCH\",\"price\":{\"denom\":\"23584363524123\",\"numer\":\"20000000\"},\"volume\":{\"denom\":\"250000000000000\",\"numer\":\"3126178138213076019\"}}"`

so this issue needs to be tran

[2021-11-19 21:25] cipig opened #1148 "zombie orders"
I ran into the same issue that was reported by some users on Discord. I have once placed an order in EFL/LTC orderbook with ADEX Desktop and i can't cancel it anymore. It's the one with the green dot:
![image](https://user-images.githubusercontent.com/32116761/142692643-414bbfbb-50dc-438c-97af-739d41bc2fc9.png)

The order is visible in the orderbook on other nodes:
[code]

when querying orderbook

[2021-11-19 21:48] cipig commented on #1148
btw, what happens to orders that were created with a much older version of mm2? what if something changes in the rules that apply when you post an order? are those rules rechecked every time or is the order simply taken 1:1 as is?
all in all i think it would be best to not save nor restore any orders between mm2 restarts... the clients using mm2 should handle this, if even needed (eg trading bots

[2021-11-20 15:09] Milerius commented on #853
Would like to revive this one @sergeyboyko0791 @tonymorony

Adding a sidechain BTC can now show fees 100% higher than the reality:

![image](https://user-images.githubusercontent.com/21139416/142731398-56fbad4e-71d6-446d-a655-7e562ddd226f.png)

![image](https://user-images.githubusercontent.com/21139416/142731403-3ef84f28-5c44-4807-a009-e9fc109055b2.png)

Would be nice if trade_preimage can return

[2021-11-20 16:31] sergeyboyko0791 commented on #853
It's a really big difference in fees.
I already worked on integrating `estimateGas` for every swap contract call. I can continue working on it

[2021-11-20 17:06] tonymorony commented on #853
`Adding a sidechain BTC can now show fees 100% higher than the reality:`

what do you mean by "reality" here?

please note that contract execution transactions usually take (at least afaik) much more gas than usual transfer (withdrawal ones)

[2021-11-21 05:32] Milerius commented on #853
Yes here an approve call is 50000 gas (0.22$) on this chain, but even 9$ estimation ia far from what we really pay

[2021-11-22 07:34] artemii235 opened #1149 "Add RPC call to get raw transaction encoded in hex."
1. Add it only to mmrpc 2.0 protocol: https://developers.atomicdex.io/basic-docs/atomicdex-api-20/
2. Request transactions from coins' RPC servers on the fly.
3. Examples that can be also used as test cases:
Request
[code]
Response
[code]

Request (TX from Ethereum Ropsten network)
[code]
Response

[code]

[2021-11-22 07:34] #978 closed

[2021-11-22 07:57] artemii235 commented on #1148
`is_mine` is detected by the order creator's pubkey, it might not exist on a specific node in this case. Do you see it in the `my_orders` response? Could you please also recheck that there's no other node running with the same passphrase, which has this order in its DB?

[2021-11-22 08:38] cipig commented on #1148
there is no other node running with that passphrase
the order `5530f43b-c5f4-40ee-9df3-22d5516b35a6` is gone in the meantime, will need to recreate the situation manually again to see what `my_orders` shows
one thing is sure: the file was gone from DB/MY/ORDERS while order was still visible in orderbook
i guess the problem is a timing thing... but i also neet to check when and how the order disapp

[2021-11-22 12:38] #561 closed

[2021-11-23 20:26] cipig opened #1151 "reduce console output from check_balance"
my mm2 console/log file looks like this
[code]

question: can this output from check_balance be removed? there are dozens of them every second... i see no need for them... and without filtering them out, console output is unusable

my log files have sizes in GBytes and opening them or search them for useful output is very difficult... simply opening the file in vi takes a long time

[2021-11-24 05:19] Milerius opened #1152 "Possible deadlock on my_orders and discussion"
**Describe the bug**

Now that there is a trading bot, there are other issues that can potentially arise.

Take the following example:

- I have a bot with a hundred pairs configured
- The update of all these orders takes about 3-4 seconds currently with the performance of a Notary Node type hardware, around 12 seconds on my regular laptop
- When we update orders, we call update_maker_order, which

[2021-11-24 09:59] artemii235 commented on #1065
@Milerius @smk762 Do we consider this feature as complete for now?

[2021-11-24 10:03] artemii235 commented on #802
@Milerius Do we consider this feature as complete for now? When the documentation is in progress, please assign it to @smk762 and move it to the "Documenting" column. You can do it in the Projects section as outlined in the screenshot below
<img src="https://user-images.githubusercontent.com/15745003/143216944-4abef4a7-2903-4644-bab7-b0455b306ea1.png" data-canonical-src="https://user-images.github

[2021-11-24 10:07] smk762 commented on #1065
It's been working ok for me, and docs are up at
- https://developers.komodoplatform.com/basic-docs/atomicdex-api-20-dev/telegram_alerts.html
- https://developers.komodoplatform.com/basic-docs/atomicdex-api-20-dev/start_simple_market_maker_bot.html
- https://developers.komodoplatform.com/basic-docs/atomicdex-api-20-dev/stop_simple_market_maker_bot.html

[2021-11-24 10:24] smk762 commented on #814
Docs for this are live at https://developers.komodoplatform.com/basic-docs/atomicdex-api-legacy/update_maker_order.html#update-maker-order

[2021-11-24 10:25] smk762 commented on #991
Docs for this are live at https://developers.komodoplatform.com/basic-docs/atomicdex-api-legacy/max_taker_vol.html#max-taker-vol

[2021-11-24 10:26] artemii235 commented on #814
Thanks!

[2021-11-24 10:26] #814 closed

[2021-11-24 10:27] Milerius commented on #1065
after the merge of #1143 I would consider it as feature complete!

[2021-11-24 10:27] smk762 commented on #1089
requested updates completed in mentioned PRs above

[2021-11-24 10:28] Milerius commented on #802
I think we already have the documentation in dev for offline staking!

<https://developers.komodoplatform.com/basic-docs/atomicdex-api-20-dev/add_delegation.html>
<https://developers.komodoplatform.com/basic-docs/atomicdex-api-20-dev/remove_delegation.html>

[2021-11-24 10:30] smk762 commented on #802
I still need to add `get_staking_infos`, will do tonight.

[2021-11-24 10:30] Milerius commented on #802
Yeah was about to say https://github.com/KomodoPlatform/atomicDEX-API/blob/d78b56dfb85f548f1da1a1db148170872a23b81b/mm2src/rpc/dispatcher/dispatcher_v2.rs#L107 is not documented

[2021-11-24 10:40] artemii235 commented on #1089
Great, I'm closing the issue then, thanks!

[2021-11-24 10:40] #1089 closed

[2021-11-24 11:10] smk762 commented on #802
Doc was created, but not added to sidebar. Should be resolved in https://github.com/KomodoPlatform/developer-docs/pull/328

[2021-11-24 12:30] artemii235 commented on #1151
@Milerius Could you please move these to the debug level? Please base your PR on the mm2.1 branch.

[2021-11-25 06:19] sergeyboyko0791 commented on #1126
@artemii235 did the user get in touch?

[2021-11-25 06:21] artemii235 commented on #1126
@sergeyboyko0791 Could you please DM cipi on Discord in regards to it?

[2021-11-25 06:48] sergeyboyko0791 commented on #1151
What do you think about changing the log level of these records to `Trace`?

25 06:46:46, atomicdex_gossipsub:behaviour:813] DEBUG Started gossip
25 06:46:46, atomicdex_gossipsub:behaviour:832] DEBUG Completed gossip
25 06:46:46, atomicdex_gossipsub:behaviour:807] DEBUG Completed Heartbeat

[2021-11-25 06:49] Milerius commented on #1151
Would likely be interesting for wasm imho

[2021-11-25 06:54] artemii235 commented on #991
Thanks!

[2021-11-25 06:54] #991 closed

[2021-11-25 12:15] ca333 opened #1154 "[feature request] market order"
brainstorm and think about possibilities for market-order order-type.

for example: enable "musig"-based swap transactions in order to trade multiple orders at once to reduce fees and increase efficiency/speed, et cetera

[2021-11-25 19:57] shamardy commented on #1152
Right now the order gets updated in place by taking a reference, if we cloned the order and dropped the mutex then apply the update and lock again for writing we will have some improvements at the cost of more memory usage (It won't be a lot more memory usage) but I am not sure it will be a big improvement.

For the other proposed solutions, my opinion for the best solution is to use the RWLock of

[2021-11-26 07:25] #1151 closed

[2021-11-26 07:34] artemii235 commented on #1152
It seems a bit strange to me that multiple concurrent orders update takes the lock for that long time. During `update_maker_order` implementation, we considered such a problem so this fn doesn't hold the mutex during its entire execution flow. It gets the lock, clones some data, then drops it and performs volume and price validations, which require requests to external services, and then acquires

[2021-11-26 16:27] shamardy commented on #1152
After benchmarking the code executed while the mutex is locked https://github.com/KomodoPlatform/atomicDEX-API/blob/85d1e7ed2517958a72589a671bb3f3b20dcd2c1d/mm2src/lp_ordermatch.rs#L4213-L4227

here are 2 results from running `update_maker_order`
[code]

[code]

it seems that `save_maker_order_on_update` takes the most time in the range of 5 to 6.5 ms.
`maker_order_updated_p2p_notify` also takes a

[2021-11-29 05:44] sergeyboyko0791 commented on #1152
I think there can be a race condition if the user sends two `update_maker_order` RPC calls to update two different fields:
* [1st RPC] Locking the mutex and cloning the order
* [2nd RPC] Blocking when trying to lock the mutex
* [1st RPC] Dropping the mutex
* [2nd RPC] Locking the mutex and cloning the order
* [1st RPC] Updating the `price` field of the order
* [2nd RPC] Updating the `volume` field

[2021-11-29 05:51] Milerius commented on #1152
Yes but in the case of rpc calls, and batch they are executed sequentially one after the other, right?

In the case of the bot that cannot happen either because we iterate on a hash-map (maker_orders cloned)

[2021-11-29 06:00] shamardy commented on #1152
Maybe adding a status field to MakerOrders can solve this, if it's the order is updating the RPC will return an error. We will only lock the first time to edit this field in place by get_mut.

[2021-11-29 06:03] Milerius commented on #1152
or maybe just document that update_maker_order is a LIFO :p

[2021-11-29 06:19] shamardy commented on #1152
After reviewing the code I can see `save_maker_order_on_update` and `maker_order_updated_p2p_notify` don't return errors so spawning both these functions in separate threads can be an easy solution too, locking will be reduced a lot. It will be the same old code but adding 2 spawns only, what do you think @Milerius @sergeyboyko0791?

[2021-11-29 07:53] sergeyboyko0791 commented on #1152
I actually can't understand how can the future spawning helps us to avoid deadlock :D
But the race condition doesn't disappear

[2021-11-29 08:01] shamardy commented on #1152
I was talking about spawning in the old code 🙂, when `save_maker_order_on_update` and `maker_order_updated_p2p_notify` are ran while the mutex is locked

[2021-11-29 09:29] artemii235 commented on #1152
@sergeyboyko0791
I guess it significantly reduces the lifetime of the mutex guard by moving heavy tasks to the background. However, we didn't discuss this (at least on Github). So it's too early for the PR.

Yes, there is a race condition. As I can see, it also may result in the situation when the saved order's file doesn't match the in-memory MM2 state.

@Milerius
No, it's mentioned in docs: http

[2021-11-29 09:29] artemii235 commented on #1152
In summary, we have the following requirements:
1. Concurrent `update_maker_order` calls must not cause race conditions.
2. In-memory and file system states must be the same.
3. We can't hold the lock during `save_maker_order_on_update`, `maker_order_updated_p2p_notify`. We should drop it as fast as possible in general.
4. We have multiple writers and a single reader in this situation. RWlock won'

[2021-11-29 09:30] artemii235 commented on #1152
PS As I can see, we already use PaMutex in the `maker/taker_swap` - it should be WASM-compatible.

[2021-11-29 09:48] shamardy commented on #1152
I have no criticism of this suggestion as it's similar to the best solution I suggested here https://github.com/KomodoPlatform/atomicDEX-API/issues/1152#issuecomment-979445681 but with some improvements of course 🙂

[2021-11-29 09:59] artemii235 commented on #1152
@shamardy Yes, it was mostly inspired and based on your proposals, thanks :slightly_smiling_face: Could you implement it and then test with @Milerius, please?

[2021-11-29 10:08] shamardy commented on #1152
@artemii235 I should also not save all the updates history in the files db as the files grow with every new update. Is that history used anywhere in mobile or desktop apps? I should just keep the last state before the update and no more.

[2021-11-29 10:11] artemii235 commented on #1152
@yurii-khi @Milerius @tonymorony
Do GUIs use `changes_history` field from `my_orders/order_status` responses? Can we safely delete it?

[2021-11-29 12:35] Milerius commented on #1152
I'm not using it in AtomicDEX Desktop!

[2021-11-30 07:15] yurii-khi commented on #1152
Hey! Can confirm that we're not using it neither on mobile nor on web-dex.

[2021-11-30 07:22] artemii235 commented on #1152
@Milerius @yurii-khi Thanks for the info!

@shamardy
Please feel free to remove it :slightly_smiling_face:

[2021-11-30 09:31] Milerius commented on #1142
solved in #1143

[2021-11-30 09:31] #1142 closed

[2021-11-30 09:34] artemii235 commented on #901
@Milerius Could you please remove  `utxo::TxFee::Fixed` in favor of `FixedPerKb`. Please also base your PR on the mm2.1 branch.

[2021-12-01 11:02] artemii235 commented on #802
Great! It looks like we can close this :slightly_smiling_face: Have we created issues to implement this functionality in GUIs?

[2021-12-01 11:05] artemii235 commented on #1121
@Milerius Could you take a look at it after https://github.com/KomodoPlatform/atomicDEX-API/issues/901, please?

[2021-12-02 09:19] SirSevenG opened #1158 "[wasm/bug] Handle error when trying to open already opened database"
Case: in mobile/desktop/web application user can have multiple wallets with the exact same seed be it intentionally or by mistake.

While libmm2 handles it well. wasm module has issues with it. Trying to switch between different wallets with same seed phrase in web app leads to error `Internal error: Database 'MAIN::hash::swap' is open already`.

To reproduce you may use build from PR 154 (air_dex

[2021-12-02 09:22] artemii235 commented on #1158
@sergeyboyko0791 Could you please take a look and fix this?

[2021-12-02 10:09] artemii235 commented on #802
cc @tonymorony @Milerius @yurii-khi in regards to the above comment.

[2021-12-02 12:36] sergeyboyko0791 commented on #1158
I think it's related to this https://github.com/KomodoPlatform/atomicDEX-API/issues/1020 issue.
As for now, we can't guarantee that a MarketMaker instance is stopped immediately on `stop` RPC call. The last time I tested it, it took ~30s to stop every spawned future. So while the old instance is run, databases are open too.

The problem can be also related to hanging pointers: https://github.com/K

[2021-12-02 13:20] SirSevenG commented on #1158
Tried the following:

2 wallets with different seeds. A and B.

- Log in into A.
- Switch to B - no issues.
- Switch back to A (less than 30s passed)
- database is still open.

- Log in into A.
- Switch to B - no issues.
- Switch back to A (more than 120s passed)
- database is still open.

So 2+ minutes is not enough to prevent `database is open already` error.

So you have to log out completely (

[2021-12-05 14:40] cipig opened #1159 ""transaction underpriced" on BEP20 send_raw_transaction"
Wanted to withdraw some USDT-BEP20 and i got this error on `send_raw_transaction`:
`{"error":"rpc:211] dispatcher_legacy:160] lp_coins:1376] eth:1069] RPC error: Error { code: ServerError(-32000), message: \"transaction underpriced\", data: None }"}`

this is the output from `withdraw`:
[code]

Tried couple times to `send_raw_transaction` and after 2-3 tries, it went through. The BEP20 RPC nodes w

[2021-12-06 10:22] artemii235 commented on #1158
cc @sergeyboyko0791 :point_up:

[2021-12-06 10:47] sergeyboyko0791 commented on #1158
I'll investigate this issue today, thanks for the testing @SirSevenG

[2021-12-06 11:17] artemii235 commented on #1045
We should consider researching the Joule in regards to Lightning web wallet support: https://lightningjoule.com/
https://github.com/joule-labs/joule-extension
cc @ca333 @tonymorony

[2021-12-06 12:24] smk762 commented on #654
Stats site is all setup and ready to go to put this into effect for the next dPoW update.
Version tracking pages:
https://stats.kmd.io/atomicdex/seednode_version_stats_hourly/?season=Season_5
https://stats.kmd.io/atomicdex/seednode_version_stats_daily/?season=Season_5
https://stats.kmd.io/atomicdex/seednode_version_stats_month/?season=Season_5

and scoring has been incorporated to back end calcs a

[2021-12-06 12:53] cipig commented on #1159
I haven't payed attention to it, but i guess not:
![image](https://user-images.githubusercontent.com/32116761/144848584-de887c03-3a5c-4382-b488-c58ebf17b8d7.png)
my withdraw was the one in the middle, there are no swaps "nearby"

would it make a difference if there are swaps ongoing?
I had problems yesterday with PLG20 when doing several swaps in parallel with USDC-PLG20, like
https://dexapi.cipig

[2021-12-07 07:29] gcharang opened #1160 "[Feature Request]: A way to automatically recover an ongoing swap's data if the user's local data-dir gets wiped"
We have seen many times that a user's local data directory gets wiped for various reasons

On desktop: HDD/computer crash can cause corruption, and a user might delete the data-dir
On mobile: a user might reinstall the app for any number of reasons, which causes their local app data to be lost

Currently, if the user had an unfinished swap that had their coins locked in a p2sh address, they have n

[2021-12-07 09:22] cipig opened #1161 "excessive connection retries on bad electrums"
i stumbled upon one electrum server which shows this when i pass a manual request:
[code]

problem is that mm2 tries like crazy to reconnect to it, this i a sequence:
[code]
this happens without pause several times in a second
to fix, coin needs to be disabled, bad electrum server removed and re enabled

question is: can mm2 make a pause of at least 1s before retrying in such cases? :-)

[2021-12-07 10:52] sergeyboyko0791 commented on #1160
We can start implementing such functionality by adding a cli mode to mm2.
I'm going to try to add the client mode today.

[2021-12-07 11:27] artemii235 commented on #1160
@sergeyboyko0791 If you started working on the issue, please assign yourself and add it to the MM2 project "In progress" column. You can do it on the issue page at the right:
<img src="https://user-images.githubusercontent.com/15745003/145021001-0586c600-448c-41c4-874a-19f719031776.png" width = 30%>

[2021-12-07 11:31] artemii235 commented on #1161
@cipig Thanks for opening the issue! I plan to work on Electrum client improvements this week. I will check this report too.

[2021-12-07 11:41] sergeyboyko0791 commented on #1160
@artemii235  sorry, I forgot to do this

[2021-12-08 16:38] cipig commented on #1161
It turned out i was told the wrong port... port 50012 was the WSS port of this electrum, so i connected with SSL to the WSS port, which led to the above error... but maybe still worth adding some additional check in mm2, to prevent it from dying when you accidentally connect to wrong port or person running the electrum server accidentally changes something... wouldn't be good if i can kill all mm2

[2021-12-09 05:03] cipig opened #1165 "error on gas station request with floating numbers"
getting this error on mm2 console when posting orders on PLG20
[code]

i assume it's because the gas price can have decimals:
[code]

[2021-12-09 05:33] cipig commented on #1165
nevermind, catched the wrong response from gas station:
`{"safeLow":null,"standard":null,"fast":null,"fastest":null,"blockTime":3,"blockNumber":null}`
the answer can really be `null` :-D

[2021-12-09 05:33] #1165 closed

[2021-12-09 08:44] SirSevenG commented on #1158
Small update: #1162 fixes only one issue of this PR. Database error still persists in general.

[2021-12-09 09:10] sergeyboyko0791 opened #1166 "Drop spawned futures on stop RPC call"
As for now, we can't guarantee that a MarketMaker instance is stopped immediately on stop RPC call. The last time I tested it, it took ~30s to stop every spawned future. So while the futures are run, we can't release all file descriptors (Electrum connections, for example) https://github.com/KomodoPlatform/atomicDEX-API/issues/982 and close databases https://github.com/KomodoPlatform/atomicDEX-API

[2021-12-12 10:25] smk762 commented on #1102
Docementation including the missing fields and new `gas_station_policy` field are live at
https://developers.komodoplatform.com/basic-docs/atomicdex-api-legacy/coin_activation.html#enable

[2021-12-13 08:44] #901 closed

[2021-12-13 09:11] artemii235 commented on #1159
Yes - there can be pending transactions, so RPC nodes might provide outdated nonce information.

Do you have a reliable way to recreate this problem?

[2021-12-13 11:54] sergeyboyko0791 commented on #1152
Can we close this issue?

[2021-12-13 13:09] cipig commented on #1159
I thought that starting several USDC-PLG20 to XXX swaps would trigger it, but i just tried with 7 USDC-PLG20 to LTC and then 9 USDC-PLG20 to VRSC swaps from GUI and all were successful, so parallel swaps alone don't trigger it. The chain situation (eg slower then usual block times or quickly changing fees) or, more likely, the RPC node itself was playing a big role in the failed swaps with PLG20 a

[2021-12-14 12:56] tonymorony opened #1167 "Add possibility to login with metamask-like browser wallets"
Might be very good to research this possibility to make access to webdex easier

e.g. uniswap:

![image](https://user-images.githubusercontent.com/24797699/146002302-a6732ff8-7b9b-4001-a9a7-a76e64049664.png)

[2021-12-14 13:14] artemii235 commented on #1167
Thanks for opening the issue! I'm not 100% sure for now, but I guess using a Metamask can be limited to ETH (and its forks) only. But if it allows signing arbitrary data using imported privkey, we can support other protocols using the secp256k1 curve. We will need to make some research on this.

[2021-12-14 13:22] artemii235 commented on #1160
@sergeyboyko0791 Could you please prepare examples for documentation and transfer this issue to @smk762?

[2021-12-15 13:06] tonymorony commented on #1160
cf: https://github.com/KomodoPlatform/atomicDEX-API/issues/893

[2021-12-16 02:17] theblackmallard opened #1170 "[FEATURE REQUEST]: Set different receiving address for buy orders"
Buy orders currently use the address within the wallet for whichever coin is being purchased, this feature request is to keep the AtomicDEX wallet address as the default but allow users to set a different receiving address for an atomic swap. This feature could be implemented solely in the API which would be effective for example # 2 below, or in the GUI as well which would be useful for # 1 and 3

[2021-12-16 11:58] artemii235 commented on #1166
Isn't it a duplicate of https://github.com/KomodoPlatform/atomicDEX-API/issues/1084?

[2021-12-16 12:03] sergeyboyko0791 commented on #1166
It seems to be... I remember that there should be, but I couldn't find it :D

[2021-12-17 17:30] cipig opened #1169 "recover_funds_of_swap on PLG20 fails because of 10k block range limit"
calling recover_funds_of_swap on an older PLG20 (Polygon) swap shows this error:
[code]

for Polygon we are using their public RPC node https://polygon-rpc.com

swap uuid was `d34a02b3-9faf-4e4d-9646-122de4392a7a`

[2021-12-17 23:42] tonymorony commented on #1170
Thank you for the issue opening!
This feature request looks more related to the API than Desktop GUI so transferred it here. That's definitely might be useful to receive swap payment right into cold wallet or auto-send it to some another counterparty

[2021-12-18 13:46] cipig commented on #1159
I guess the problems on Polygon are related to the RPC node itself. I just got a failed USDC-PLG20 to ECA swap on taker side with `"taker_swap:928] eth:1317] eth:1321] RPC error: Error { code: InternalError, message: \"Internal error\", data: None }"'` (TakerFeeSendFailed): https://dexapi.cipig.net/public/error.php?uuid=ece8ea47-2df4-4c0a-9d6c-8e605eb991c9

the mm2 logs on taker side showed nothin

[2021-12-20 05:43] artemii235 commented on #1169
The problem is MM2 is looking for the events from the swap start block number to the most recent one. This can easily exceed 10000 if some time passes before the recovery attempt. I will fix it this week.

[2021-12-21 09:50] cipig opened #1172 "deadlock on setprice"
mm2 from mm2.1 branch runs into a deadlock on `setprice` requests after running for a day. When it happens, i have to kill mm2 and restart. There is no load or CPU usage.

logfile:
[mm.log.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/7751284/mm.log.txt)

deadlock does not happen on dev branch
the logfile is from a node that has this many orders/updates:
[code]

[2021-12-21 12:02] cipig opened #1173 "order leakage"
MM2 from dev branch (which seems to fix the deadlock reported in https://github.com/KomodoPlatform/atomicDEX-API/issues/1172) leaks orders. Their number (as seen from seednodes) increase all the time till it reaches a point where seed nodes disconnect you. This happens on all my nodes, does not matter how many orders they initially had.

This is the real number of orders from all my nodes (when ru

[2021-12-21 13:50] cipig commented on #1173
collected infos... node was running for 1.5h, number of orders should be `orders_uuids=1096`, it was also the value it had before recompile and restart... seed node shows this:
[code]

output of `my_orders`:
[my_orders.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/7755742/my_orders.txt)

log:
[mm.log](https://github.com/KomodoPlatform/atomicDEX-API/files/7755712/mm.log)

prices are se

[2021-12-21 14:24] cipig commented on #1148
i reprocuced the situation:
- created BTX/KMD order (sell 123 BTX, while balance was 123.xx)
orderbook on other node shows the ask (maxvolume 122.xx):
[code]

- withdrew 100 BTX
orderbook shows the new value (maxvolume 23.xx)
[code]
 but my_orders on that node shows old value:
[code]
the difference can be seen in GUI too (orderbook 23, my_orders 123)
![image](https://user-images.githubusercontent.

[2021-12-21 14:38] cipig commented on #1172
one of my nodes ran into this deadlock just now (mm2.1 branch)... i can still query `orderbook`, but `setprice` calls are not working any more, they simply don't return and also don't timeout (eg `curl --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"setprice\",\"base\":\"NAV-BEP20\",\"rel\":\"NAV\",\"price\":1.02,\"max\":true,\"min_volume\":30}"`) does simply nothing

[2021-12-21 15:35] cipig commented on #1159
`transaction underpriced` errors happen when BEP20 RPC nodes are lagging behind with syncing
reconstructed it with the help of the monitoring system in combination with failed swaps in the same time frame
good thing is that i know how to improve the situation... i disabled `--diffsync` because of a bug, but that was fixed in the meantime... i enabled it back only on one node and that was the one w

[2021-12-21 15:35] #1159 closed

[2021-12-21 17:57] cipig commented on #1148
the order with uuid `6fb30f23-79d7-414b-83be-156d21dfe3cd` is still in orderbook... i restarted ADEX Desktop some hours ago, but it didn't help... the error on order kickstart was not shown, since file of order was already removed on last restart

[2021-12-21 21:57] shamardy commented on #1173
A possible reason for this is that this `continue` https://github.com/KomodoPlatform/atomicDEX-API/blob/faf944ea721bd87816b9b3b1cdf02d4bf3f4c6ea/mm2src/lp_ordermatch.rs#L972 should be outside of the condition scope, I guess I missed this in the [parking_lot PR](https://github.com/KomodoPlatform/atomicDEX-API/pull/1163). This makes the deleted order by the `set_price` request to be sometimes sent a

[2021-12-23 11:37] himu007 opened #1220 "[FEATURE REQUEST]: Please add sign & verify message feature for supported coins/tokens"

[2021-12-23 17:54] cipig commented on #1173
catched such a double order in BTCZ/JEUR-PLG20 orderbook:
[code]
there are 2 asks from the same pubkey, there should be only one
`b6432b44-0b1c-4c75-924c-f12a35b3df10` is not in `my_orders` output, `c7739424-2487-4983-8d09-20a70e2527fd` is
but both orders show up on other nodes

[2021-12-24 08:59] artemii235 opened #1176 "Use pure rust secp256k1 under WASM."
We have some problems compiling for WASM on MacOS.

[2021-12-24 09:22] tonymorony opened #1177 "Store information about fiat price on the moment of trade in MM2.db"
That might be very useful to:

a) be able to easily retrospectively calculate trading volumes for statistics (right now we use current price for simplification)
b) be able to provide such information in interfaces (for trading performance evaluation, tax reports and etc) e.g.: https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/1514

cf: https://github.com/KomodoPlatform/atomicDEX-API/issue

[2021-12-24 09:54] artemii235 commented on #1173
@shamardy

What do you think artemii235?

If you notice that you can fix a bug please feel free to work on it without explicit approval in the future. We can discuss the details after you open a PR.

[2021-12-24 10:47] sergeyboyko0791 commented on #1176
I just found a solution :partying_face

The summary:
To build mm2 in WASM on MacOS do the following:
[code]

The source: https://github.com/sapio-lang/sapio/issues/146#issuecomment-960659800

I'll add these steps to README.md

## --------------

First of all, I faced a problem creating `wasm32-unknown-unknown` target when compile `secp256k1-sys`:

Command: `wasm-pack build --target web --out-dir w

[2021-12-24 12:06] artemii235 commented on #1173
@shamardy

`maker_order_updated_p2p_notify` message doesn't lead to the order being recreated on other nodes, it's ignored if the order doesn't exist assuming that it will be synced upon next pubkey keep alive processing:

https://github.com/KomodoPlatform/atomicDEX-API/blob/bf249e0db9be9b9e1c32012e03ee490e0af47e93/mm2src/lp_ordermatch.rs#L282-L288

The reason is most likely in another place, in `

[2021-12-26 18:45] cipig commented on #1173
thanks, problem fixed
all 4 nodes have a stable number of orders

[2021-12-27 12:38] artemii235 commented on #1148
@cipig Could you please check that it is fixed in the https://github.com/KomodoPlatform/atomicDEX-API/tree/zombie_orders_fix branch?

[2021-12-27 14:53] cipig commented on #1148
built ADEX Desktop with mm2 from this branch and recreated the above situation
created a sell order with the entire amount, withdrew some BTX, result: orderbook updated with new balance, my_orders showing old value
after restart of ADEX Desktop the order is updated in my_orders too showing new value, order uuid same, order in orderbook still fine
order showing up in my_orders, so it can be cancell

[2021-12-28 09:12] #1173 closed

[2021-12-28 11:07] artemii235 commented on #1148
@cipig Great, thanks! Could you please retest the https://github.com/KomodoPlatform/atomicDEX-API/pull/1179? I made one more important change to properly set the new `max_base_vol`.

[2021-12-28 11:46] #1121 closed

[2021-12-28 12:15] cipig commented on #1148
![image](https://user-images.githubusercontent.com/32116761/147565065-1d1460cb-7a35-47c1-a968-8c8a2d216a1d.png)
nice, my_orders is now also updated right after withdraw (initial sell was for 6 BTX, then i withdrew some)
all good after restart too, order is recreated and visible in my_orders and orderbook with updated volume

[2021-12-28 12:35] cipig opened #1181 "mature_confirmations not used"
I had a failed swap with AXE because mm2 was trying to use coinbase txes as input for TakerFee in AXE, the error is `the transaction was rejected by network rules. 16: bad-txns-premature-spend-of-coinbase`, like in https://dexapi.cipig.net/public/error.php?uuid=bb7c223d-cb24-4394-8fe7-27b0f4e2a719

I then added `"mature_confirmations": 101` to coins file for AXE and tried again, but same result: h

[2021-12-28 12:57] artemii235 commented on #1169
@cipig Could you please check that problem is fixed in the https://github.com/KomodoPlatform/atomicDEX-API/tree/polygon-logs-block-range branch?

[2021-12-28 14:13] cipig commented on #1169
thanks, problem fixed
calling recover_funds_of_swap on the above uuid now shows `{"error":"rpc:211] dispatcher_legacy:160] lp_swap:1129] lp_swap:734] taker_swap:1428] Taker payment has been refunded already by transaction 82d6a7f52db095de1491ca6905a30121073fcc52042a57e3f54adca03c46fd5b"}`

[2021-12-29 02:30] smk762 commented on #451
A doc for this exists at https://developers.komodoplatform.com/basic-docs/atomicdex-api-legacy/orders_history_by_filter.html
Please advise if it needs any edits. If not we can move it from "Documenting" to "Done"

[2021-12-29 02:42] smk762 commented on #1160
@sergeyboyko0791 can you pls let me know the params and an example for this method?

[2021-12-29 06:29] artemii235 commented on #451
@shamardy Could you please check it?

[2021-12-29 08:17] tonymorony opened #1183 "README.md enhance"
@smk762 please use this https://github.com/KomodoPlatform/atomicDEX-API/pull/1180 PR as a starting point

the goals are:
- add ELI5 quick start section with ref. to https://developers.komodoplatform.com/
- add references to current interfaces which using API (e.g. atomicdex-desktop)
- add information on min specs for build/usage
...

Would be great if you also check good examples of popular reposi

[2021-12-29 12:27] #1169 closed

[2021-12-29 12:27] #1148 closed

[2021-12-29 12:28] artemii235 commented on #941
I guess it's fixed.

[2021-12-29 12:28] #941 closed

[2021-12-29 20:49] cipig commented on #1128
DGB now uses fixed fee per kb: https://github.com/KomodoPlatform/coins/commit/d4f54012f9c49069862613ac8f664e48f85e3c6d
should not happen again with DGB

[2021-12-29 21:09] cipig commented on #648
guess this can be closed, we switched ERC20 RPC servers to https://github.com/ethereum/go-ethereum

[2021-12-29 21:19] cipig commented on #566
can be closed

[2021-12-29 21:19] cipig commented on #588
can be closed

[2021-12-30 04:50] #588 closed

[2021-12-30 04:50] #566 closed

[2021-12-30 04:50] #648 closed

[2021-12-30 04:51] #1128 closed

[2021-12-30 06:52] sergeyboyko0791 commented on #1160
@smk762 thanks for helping! If you have questions, please feel free to ask here or DM :)

### Command

[code]

where `${opposite_swap_data}` can be either tagged by the `type` field or not:

[code]

### Response

[code]

To import the result swap user can use the `import_swaps` RPC call.

[2021-12-30 07:47] artemii235 commented on #701
We can consider the SLP integration status as final on the API side and ready for the pre-release testing! It took a while so I'm posting a detailed report of what has been done since the last update:

1. Added a new `enable_bch_with_tokens` RPC 2.0 method. It allows activating BCH and any number of SLP tokens at once in a traffic effective manner returning balances for all of them in a single res

[2021-12-30 10:00] shamardy commented on #451
`result.details.order.changes_history` should be removed from the response table as we don't use it anymore. Also the response example for changes history [`Response (details with history included)`](https://developers.komodoplatform.com/basic-docs/atomicdex-api-legacy/orders_history_by_filter.html#response-details-with-history-included) should be removed

[2022-01-01 02:34] cipig commented on #1012
this one looks fixed to me
created sell order for 4 GRS (balance was 12), it didn't match and was converted to a maker order
then i found a better offer and sold all 12 GRS to that one... after order matched and GRS were sent out, the first order (sell 4 GRS) was cancelled
am i missing something?
if not, we can close this

[2022-01-01 15:56] smk762 commented on #1160
`either tagged by the type field or not`
In an example where not tagged, does this just mean  "type": "Taker"  or "type": "Maker" is optional

What is the minimum level of info in `opposite_swap_data` required for a response? And how would an average user recover this?

Most support queries so far, we get as little as an address and amount, and from there we can find usually find related txids. If

[2022-01-02 16:24] cipig opened #1185 "`Unknown destination address` error on electrumx"
running mm2 from dev branch and seeing this errors on console:

`02 16:17:44, utxo:1821] Electrum txserver.live:50001 server.version error "JsonRpcError { client_info: "coin: PRUX", request: JsonRpcRequest { jsonrpc: "2.0", id: "8667", method: "server.version", params: [String("mpm GUI/MM2 6a634c091"), Array([String("1.2"), String("1.4")])] }, error: Transport("rpc_clients:1435] Unknown destinatio

[2022-01-03 10:20] shamardy commented on #1185
`Unknown destination address` error is due to the connection to this electrum server being removed because the server version couldn't be negotiated successfully.

I guess in this case this electrum server disconnected then reconnected, and upon reconnection, it removed the connection due to failure to negotiate the version while we are retrying to get the version here in a different thread https:

[2022-01-03 13:44] cipig commented on #1185
yes, it's every 60s, i have the same now on a different coin
strange is only that the message shows up several times every 60s, like
[code]

[code]

the above coin has 5 electrums configured
[code]

[2022-01-03 15:29] shamardy commented on #1185
@cipig these messages should also show up when you are on the mm2.1 branch. Can you confirm that this is the case?

[2022-01-03 15:30] cipig commented on #1185
yes, the last one (with NYAN) IS from mm2.1 branch, it's ADEX Desktop with 2.1.5182

[2022-01-03 15:42] cipig commented on #1185
Oh, i have an additional one, from PRUX, another coin, also ADEX Desktop:
[code]
the one from PRUX have different error message: `Connection electrumx.live:50010 is not established yet`

i checked 3 of the PRUX electrums, the first 2 are fine, the last one times out atm
[code]
it's the one that shows the error `Connection electrumx.live:50010 is not established yet`, so this is legit i guess

but

[2022-01-03 18:39] sergeyboyko0791 commented on #1012
If I understand the source issue correctly, we haven't improved the app to reduce max_vol/cancel orders as soon as the order has matched. I think the following problem is not gone away:

[2022-01-03 18:40] sergeyboyko0791 commented on #451
@shamardy can we merge the mentioned PR and close this issue?

[2022-01-03 19:04] sergeyboyko0791 commented on #1160
Yes, the algorithm determines the input data because `Maker` swap file contains some fields and events that are not in `Taker` swap file, and vice versa.

Most support queries so far, we get as little as an address and amount, and from there we can find usually find related txids. If we're lucky, user has the uuid also.

At this moment, we can recreate an opposite swap file using info from seednod

[2022-01-04 11:08] shamardy commented on #451
Yes, the docs PR can be merged

[2022-01-04 19:18] tonymorony opened #1187 "Maker order doesn't disappear from orderbook after fullfill"
API version (latest published release), OS Ubuntu:
[code]

1) I've placed an order:

[code]

2) It was fully filled and the trade successfully finished. swap status on my node: https://0bin.net/paste/TxrOHXso#nULc2l0yudaW2WCwbN1Q6rrob8yCMC2JvoW+xTGQdXm

3) At the moment of writing order has not disappeared from order books globally and volume remained the same (added screenshot for simplicity and

[2022-01-04 19:37] tonymorony commented on #1187
upd: now (after ~15 minutes after matching) this order disappeared from orderbook 🤔

[2022-01-04 19:39] cipig commented on #1187
would be interesting to know if it happens with mm2 from dev branch too
i am running dev branch on all my mm2-API nodes (mm2.1 branch deadlocks here) and haven't seen the error
i don't use max:true in my mm-script
b) sounds likely
order still visible on all my nodes:
[code]

[2022-01-04 20:01] cipig commented on #1187
this worked fine https://github.com/KomodoPlatform/atomicDEX-API/issues/1012#issuecomment-1003489233 on ADEX Desktop, with same mm2 version as yours... not the same scenario, but similar (balance was not enough any more and order was cancelled)

[2022-01-04 20:02] tonymorony commented on #1187
`b) sounds likely`

yeah, looks like the most probable reason so far.
just excluded factor `b` and placed/fulfilled the order with max vol flag and no "ghost" order created this time

after I stopped the maker node, KMD/TKL order disappeared from orderbook so the problem looks not critical on this point - sorry for tagging everyone, when noticed at first thought it's something really bad 😊

[2022-01-05 04:03] cipig commented on #1037
saw this
[code]
while trying to buy some SYS with JCHF-PLG20 with latest Desktop and mm 2.1.5188
after a while it works and i see the fee prediction
was trying to use my entire JCHF-PLG20 balance to buy SYS and the fees on PLG20 are fluctuating atm
this is the output when it works
[code]

[2022-01-05 14:59] cipig opened #1188 "the method trace_filter does not exist/is not available"
Hello, more of a question then a bug:
Does mm2 use method `trace_filter` on the ERC20 RPC nodes?
Seeing errors like this in the logs of the RPC nodes:
[code]
every 10s, as if the method would suddenly reappear out of nowhere :-D
Is this mm2?

Asking because i started to block IPs yesterday... our nodes had a load of 50-80% yesterday and were clearly misused by non-mm2 dudes. If `trace_filter` is n

[2022-01-05 16:39] sergeyboyko0791 commented on #1188
We use `trace_filter` but only if the user enables Transaction History for an ETH/ERC20/BIP20 coin: `tx_history: true`.
Mobile and Desktop GUI use an external service to pull the ETH history, but someone could set the flag using the terminal.

[2022-01-05 17:03] cipig commented on #1188
like in here https://github.com/KomodoPlatform/atomicDEX-Desktop/blob/dev/src/core/atomicdex/services/mm2/mm2.service.cpp#L598 ?
@Milerius if that is not used, can we please set it to "false", it doesn't work anyway, `trace_filter` does not exist

[2022-01-07 10:55] smk762 commented on #451
https://github.com/KomodoPlatform/developer-docs/pull/344 merged

[2022-01-07 10:56] #451 closed

[2022-01-07 14:22] smk762 opened #1189 "Add method to get pubkey & pubkeyhash"
Currently we are able to get our `pubkey` by parsing swap or order data, but it would be convenient to get this info in a simpler manner or in cases where we have no swap / order history.

The `pubkeyHash` appears to be used as the folder name under DB/ which the swaps json etc is written. This info could also be potentially useful for scripting purposes e.g. finding the path containing MM2.db SQL

[2022-01-07 14:31] shamardy commented on #1189
I think there is already a `get_public_key` RPC implemented by @Milerius here https://github.com/KomodoPlatform/atomicDEX-API/pull/1086. It's even documented here https://developers.komodoplatform.com/basic-docs/atomicdex-api-20/get_public_key.html

[2022-01-07 14:36] smk762 commented on #1189
My bad, I was looking under legacy. Can we please add one for the pubkeyHash tho?

[2022-01-07 14:51] shamardy commented on #1189
Yeah, I guess this will be beneficial

[2022-01-08 04:49] #1185 closed

[2022-01-09 14:14] sergeyboyko0791 commented on #964
In the PR mentioned above I implemented requesting balances of HD accounts and addresses like it does [hw-kmd-wallet](https://github.com/KomodoPlatform/hw-kmd-wallet):

1. Check the transaction history of external, internal addresses for every activated HD account `m/44'/coin_type'/account_id'/change/i` until we get 20 (configurable gap limit) empty addresses. Remember the number of non-empty addr

[2022-01-10 12:03] artemii235 commented on #1187
In this case, the second GUI can import the orderbook and start broadcasting keep alive (and maybe other orderbook syncing messages) to the network causing synchronization problems. That is one of the "Undefined behavior" cases caused by running several nodes with the same privkey. It seems that we need to somehow deny it in the beginning until we figure out how to handle this gracefully (which lo

[2022-01-10 12:05] artemii235 commented on #1188
@Milerius Could you please recheck that `tx_history:true` is *not* set for ETH/ERC20 and ETH forks?
cc @yurii-khi @tonymorony

[2022-01-10 12:05] artemii235 commented on #1181
@sergeyboyko0791 Could you check it, please?

[2022-01-10 12:29] tonymorony commented on #1187
`In this case, the second GUI can import the orderbook and start broadcasting keep alive (and maybe other orderbook syncing messages) to the network causing synchronization problems.`

the clue is that the order stayed in the order book even after I shut down the GUI, it disappeared only after I shutdown CLI maker where I originally placed the order

[2022-01-10 18:26] Milerius commented on #1188
Confirmed, the code for erc/eth is:

[code]

[2022-01-11 08:51] molecular commented on #701
Is anyone testing? I'm not savvy enough to do it.

[2022-01-11 10:24] sergeyboyko0791 commented on #1181
Currently, Qtum and QRC20 coins check every unspent output if it's mature or not when generating SWAP/Withdraw transactions. It's because gas refund is returned as a coinbase transaction.

https://github.com/KomodoPlatform/atomicDEX-API/blob/6a634c09198ff18a3825164d2ca1e597cd8ebb51/mm2src/coins/utxo/qtum.rs#L344-L349

For other UTXO coins we don't check if unspent outputs are mature because it req

[2022-01-11 18:30] cipig commented on #1181
Ok, so `mature_confirmations` is only for QTUM and QRC20. Are there plans to add it to the other UTXO coins too?
There are a couple of them that have this option set in the coins file. We can also remove the option from all non-QTUM coins and write in the documentation that it's only for QRC20.

[2022-01-13 06:58] artemii235 commented on #701
@molecular The desktop GUI initial integration should be coming quite soon - you and everyone will be able to test it without digging into the CLI stuff :slightly_smiling_face:

[2022-01-13 07:58] Milerius commented on #701
I finished the last rpc call implementation, after @smk762 confirm the basic tests we can extend the testing to the community!

[2022-01-13 08:39] smk762 opened #1193 "Log spam "waiting for the future to complete""
I've noticed something like this flooding my logs every now and then, which is a potential cause of excessive log file size.
[code]

Also seen with VRSC earlier
[code]

Seen on versions:
`2.1.5048_mm2.1_879f96abb_Linux_Release` (VRSC)
`2.1.5183_dev_6a634c091_Linux_Release` (tBCH)

Results scanning my logs folder for "waiting for the future":
[code]

[2022-01-16 23:36] cipig opened #1195 "`Expected a valid P2PKH or P2SH prefix for LCC` error on withdraw"
when i try to withdraw LCC to addresses starting with `M` i get this error:
[code]
2 exchanges show me LCC deposit address in this format, starting with `M`

LCC config is
[code]

source code has
[code]

my own address in mm2 is `CaL4JtSgu4hgMG8nZJ7Kfn9gdtZV1w7cad`, but both addresses are valid, see https://chainz.cryptoid.info/lcc/#!extraction (there are some starting with C and some with M)

i c

[2022-01-17 03:12] shamardy commented on #1195
It seems that `LCC` uses 2 P2SH prefixes and mm2 doesn't support more than one P2SH prefix for the same coin.
[code]
You can change `"p2shtype": 5,` to `"p2shtype": 50,` in the config and withdraw to addresses starting with `M` should work. Are there any P2SH addresses for `LCC`  that start with `3` or is `base58Prefixes[SCRIPT_ADDRESS] = std::vector<unsigned char>(1,5);` not used anymore?

Just t

[2022-01-17 07:57] cipig commented on #1195
Oh, i understand... totally unnecessary and over-complicated BS :-)
CEX addresses start with `M`, address on ADEX starts with `C`, i haven't seen any starting with `3`
if it's easy (2-3 lines of code) to add this second prefix to mm2, then i would do it, if more then 10 lines of code, i would forget about it
first thing i will try is to set both prefixes in wallet code to the same value and run it

[2022-01-17 08:06] shamardy commented on #1195
In this case just set `"p2shtype": 50,`, your address will still be `CaL4JtSgu4hgMG8nZJ7Kfn9gdtZV1w7cad` but you will be able to withdraw to p2sh addresses that start with `M` which the CEX uses.

[2022-01-17 08:08] cipig commented on #1195
ok, thanks, i will try that
i see that Litecoin (LTC) has this settings
[code]
and we use `"p2shtype": 50` for LTC in coins file
so will be the same with LCC then

[2022-01-17 08:32] cipig commented on #1195
https://github.com/KomodoPlatform/coins/pull/433/commits/1c8b94f4bb953c2925e5a2e099f40d2efc9a2404 fixes this
balance still there, withdraws to CEX address starting with `M` working, swaps between updated and not updated mm2 also still working fine

[2022-01-17 08:32] #1195 closed

[2022-01-17 09:15] cipig opened #1196 "`invalid value, expected i64` error on blockchain.scripthash.get_balance"
swap https://dexapi.cipig.net/public/error.php?uuid=ce08a329-4e0f-4c41-b3e4-0218bd3eb717 start failed

blockchain.scripthash.get_balance shows error `invalid value: integer 18446720562229577551, expected i64`

my balance is `{"coin":"FJC","balance":"9654263.7858024","unspendable_balance":"0","address":"Fo2tBkpzaWQgtjFUkemsYnKyfvd2eqvQma"}`

error is not persistent, i had a successful swap (someone

[2022-01-17 10:07] artemii235 commented on #1193
Fixed in the linked PR. Thanks for the report!

[2022-01-17 10:07] #1193 closed

[2022-01-17 10:08] artemii235 commented on #1161
Fixed in the linked PR. Thanks for the report!

[2022-01-17 10:08] #1161 closed

[2022-01-17 22:05] cipig opened #1197 "different error messages on main coin against token for same error"
when i try to place an order for TRYB-AVX20 with volume < min_volume, i get this error
[code]

when i do the same with AVAX itself (the main coin of AVX20 chain), i get a different error
[code]

the result is the same, the order is not placed (desired outcome), but i wonder why that is so and if it could be a problem elsewhere

will check for this in my script and don't try to post such orders

[2022-01-19 06:56] sergeyboyko0791 commented on #1181
@artemii235 what if we add a flag to force checking if the unspent outputs are mature or not?

[2022-01-19 07:20] artemii235 commented on #1181
Good idea, `check_utxo_maturity` or a similarly named param for enable/electrum should fix the problem.

[2022-01-19 20:10] tonymorony opened #1198 "Remove outdated info about nxt arg from help print"
noticed that in help there is an info ref. an option that seems to not exist anymore:

[code]

[code]

[2022-01-20 09:28] sergeyboyko0791 commented on #1181
Ok, then I can add this param right after I finish my current task.

[2022-01-20 09:59] #1198 closed

[2022-01-22 16:19] gcharang opened #1200 "Bug: Possible double spend of a takerpayment by reward-claim txn on KMD"
As the user remembers it, this was the order of events:

1) claims kmd reward.txn-id: `616161c15bed262781b1e0988e3385cad5d9b9c5b3f1dcd78b94a1e0ebbf881c` . -> not found on explorer, possibly double spent
2) 1min later starts a swap, after sometime(maybe 1 hour?), sends takerpayment. txn-id: `b50956b235862063de7a12a6c280b440638703ce19a4a23f34023afd3da0249d` -> not found on explorer, possibly double

[2022-01-24 04:15] artemii235 commented on #1200
If tx is not mined and dropped from mempool then MM2 can hardly do something with this.
`
2022-01-22 12:54:44 Removing interest violate txid.616161c15bed262781b1e0988e3385cad5d9b9c5b3f1dcd78b94a1e0ebbf881c nHeight.2751076 nTime.1642855680 vs locktime.1642851651
`

The `b50956b235862063de7a12a6c280b440638703ce19a4a23f34023afd3da0249d` most likely spent the change output of `616161c15bed262781b1e098

[2022-01-24 04:16] artemii235 commented on #1183
As the PR was merged, I guess we can close this one :slightly_smiling_face:

[2022-01-24 04:16] #1183 closed

[2022-01-24 13:11] gcharang commented on #1200
hmm, he did claim the reward in AtomicDEX mobile and 616161c15bed262781b1e0988e3385cad5d9b9c5b3f1dcd78b94a1e0ebbf881c is the first missing transaction

but takerpayment txn (b50956b235862063de7a12a6c280b440638703ce19a4a23f34023afd3da0249d) also went missing. based on what the user said, a new reward claim txn might have double spent it. though I'm not sure now

[2022-01-25 08:25] sergeyboyko0791 commented on #1181
I added the `check_utxo_maturity` flag to electrum/enable RPC call, but the branch is based on `init-utxo-with-trezor`.
https://github.com/KomodoPlatform/atomicDEX-API/tree/utxo-maturity
I'll open the PR when `init-utxo-with-trezor` is merged into `dev` :)

[2022-01-25 09:51] artemii235 commented on #1200
As I said, it's most likely that taker payment spent the change output of `616161c15bed262781b1e0988e3385cad5d9b9c5b3f1dcd78b94a1e0ebbf881c`. As the previous transaction was removed, the taker payment was removed too. If there was a double-spending attempt, we would have seen an error message from electrum/komodod on one of the txes broadcast attempts.

[2022-01-25 10:00] smk762 commented on #1200
I've queried the listed electrums which return no result for these transaction IDs, though they most likely would have been purged from mempool by now. If these entries are still showing up in the GUI, it would likely be due to locally stored history, but not within the chain data.

[2022-01-31 09:32] artemii235 opened #1203 "Create aarch64 qtum regtest docker image."
They publish binaries in releases so this should be an easy task :slightly_smiling_face: https://github.com/qtumproject/qtum/releases/tag/mainnet-fastlane-v0.20.4

I hope that this new image will run much better on M1. As of now, we have problems with tests at least on CI. I assume that these might be caused by the Docker compatibility layer used to run x86_64 image on aarch64 host.

[2022-01-31 09:44] sergeyboyko0791 commented on #1203
Hi Artem! Will do

[2022-02-01 09:55] artemii235 commented on #1176
@sergeyboyko0791 Could you please update the docs and add an instruction on how the WASM should be built on M1?

[2022-02-05 21:03] smk762 opened #1206 "Add confirmation settings values to orderbook method output"
ref: https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/622

If values for confirmations / notarisation were returned from the `orderbook` method, this information could be used to estimate swap time and display it in gui (e.g. with a tooltip), letting user perhaps choose a trade with slightly higher price for faster swap.

[2022-02-07 03:39] #1188 closed

[2022-02-08 12:31] sergeyboyko0791 commented on #1203
I pushed the `sergeyboyko/qtumregtest` docker image by the `latest` tag.
Supported arch: linux/aarch64, linux/arm64
GitHub tag: https://github.com/sergeyboyko0791/qtum_docker_regtest/releases/tag/qtum-regtest-2.0
Green tests performed with the latest docker image: https://dev.azure.com/ortgma/Marketmaker/_build/results?buildId=5356

[2022-02-08 13:16] damascene opened #1208 "Add support for proxy"
Could you please add proxy support to the DEX

It's important for basic privacy needs to be able to route connectıon through a proxy as you know the mere connection to specific crypto server could be used by malicious parties to coordinate attacks and collect data.

Some software allow such arguments from command line:

                --proxy-server="socks4://foobar:1080"
                --proxy-

[2022-02-09 11:05] artemii235 commented on #1203
Thanks a lot!

[2022-02-09 11:05] #1203 closed

[2022-02-10 19:54] shamardy commented on #1045
Just opened the lightning payments PR. After the review process and merging to dev, the next step should be persisting lightning payments and channels history (closed channels) to storage (SQLite) and implementing channel monitors external backup. Payments history is analogous to transactions history for other coins, as for monitors backup, this is required as lightning channels can't be reconstru

[2022-02-11 10:56] yurii-khi opened #1212 "Add `version` FFI"
While working on https://github.com/KomodoPlatform/air_dex/pull/224 we understood that we're unable to log api version before api started (say on wallet creation step). So, I believe it would be cool to have `version` FFI, to use in such cases.

[2022-02-11 11:01] artemii235 commented on #1212
@sergeyboyko0791 Could you implement it, please? When done, open a PR to the mm2.1 branch directly.

[2022-02-11 11:26] artemii235 commented on #1212
Upd: as it's needed for AirDex you can base the feature on dev, not mm2.1. Thanks for pointing this in the DM!

[2022-02-12 02:37] artemii235 commented on #1212
@yurii-khi It's done, build for test: http://195.201.0.6/dev/mm2-f31df0023-Linux-Wasm-Release.zip
@sergeyboyko0791 Thanks for the rapid implementation! 🙂

[2022-02-16 06:33] artemii235 commented on #1206
@shamardy Could you please check if this can be done easily and implement if yes?

[2022-02-16 06:35] artemii235 commented on #1208
@damascene Thanks for creating the issue! Such a feature is not in our roadmap for this year, but I will clarify the priority with the team. As of now, I recommend using Tor/VPN and forwarding all the traffic through it for additional privacy.

[2022-02-16 06:37] artemii235 commented on #1200
Do we have any open questions in the context of this issue? @gcharang

[2022-02-16 06:37] artemii235 commented on #1196
@sergeyboyko0791 Could you please check it and fix this or next week?

[2022-02-16 06:40] artemii235 commented on #1197
Do you maybe have enough balance to post the `TRYB-AVX20` order?

[2022-02-16 06:42] artemii235 commented on #1187
I think I have some ideas how to fix it, will provide more details when we will have resources to work on this task.

[2022-02-16 06:53] artemii235 opened #1215 "Fix unstable `test_update_maker_order_fail` test."
https://dev.azure.com/ortgma/Marketmaker/_build/results?buildId=5392&view=logs&j=fa15070d-c953-5cc9-1ee0-e1b6e20fece4&t=15d2916d-848a-5fae-0ab3-d5335d15db13&s=ff05ad62-bb9a-53b6-ce9f-72f329a63e7c
`test_update_maker_order_fail` fails sometimes because error is not triggered. It in turn happens because batch requests execution order is not guaranteed, which is mentioned in docs: https://developers.a

[2022-02-16 08:14] sergeyboyko0791 commented on #1196
I'll see what can be done

[2022-02-16 08:21] sergeyboyko0791 commented on #1197
First, we check if the balance is enough to perform the swap, but after that, we check `volume < min_volume`.

[2022-02-16 09:29] artemii235 commented on #1160
@sergeyboyko0791 @gcharang @smk762 Can we close this one?

[2022-02-16 09:30] artemii235 commented on #1212
@yurii-khi Did you have a chance to test it? 🙂

[2022-02-16 10:14] yurii-khi commented on #1212
Yep, thanks) It was implemented by @anarkiVan as a part of https://github.com/KomodoPlatform/air_dex/pull/224/, and currently under review.

[2022-02-16 10:33] #1160 closed

[2022-02-16 13:58] cipig commented on #1197
If you would check the call itself for validity (volume < min_volume) first, it wouldn't be necessary to check balance at all, since the call is invalid if volume < min_volume

But i don't understand why the call `{"method":"setprice","save_in_history":false,"base":"AVAX","rel":"KMD","price":142.1966049740,"volume":0.249030127212771,"min_volume":0.362032651195847}`
leads to error
`rpc:208] dispatc

[2022-02-17 02:42] artemii235 commented on #1197
@cipig Use https://developers.atomicdex.io/basic-docs/atomicdex-api-20/trade_preimage.html to get the swap fee estimation. I recommend setting `max: true` for it to avoid guessing the correct volume.

[2022-02-17 04:51] #1215 closed

[2022-02-21 05:58] sergeyboyko0791 commented on #1196
It seems to be true, but only if you had to receive as much as `184467205622.29577551` FJC per one or more swaps.

[2022-02-21 10:22] artemii235 commented on #701
Our internal testing stage is finished, but we also need to complete additional internal security reviews of the https://github.com/KomodoPlatform/atomicDEX-API/pull/1184 PR. It takes more time than I initially expected - it should be finished in March.
I apologize for the delay and thank everyone for their patience.

[2022-02-22 17:15] tonymorony commented on #1220
such feature should be implemented first in API before adding to GUIs, so transferred here

[2022-03-04 10:54] tonymorony commented on #964
We've just had a quite productive call with @sergeyboyko0791 @Milerius @yurii-khi and concluded that `HW` suffix solution should be sufficient to find the way to make UX comfortable for the user
Thank you for your time guys! :)

[2022-03-05 23:15] cipig opened #1221 "excessive resource usage on electrums when tx_history is on"
on ADEX Desktop using mm2 from dev branch i get this errors every 10s and LYNX is not working:
[code]
mm2 on CLI (no GUI) doesn't have this problem, so i assume it is related to tx_history (which is off on CLI)

EDIT: looked into entire log and discovered this
[code]
being the first error related to LYNX electrums... seems the servers are simply reaching the resource limit because of tx_history an

[2022-03-06 00:33] getlynx commented on #1221
Build script updated...
https://github.com/getlynx/LynxElectrumBuilder/blob/main/build.sh

[2022-03-08 11:55] yurii-khi opened #1222 "Add `max_maker_volume` RPC"
As a part of https://github.com/KomodoPlatform/air_dex/issues/191 we're trying to implement 'max' sell amount button, which will allow user to create MAKER order selling all available balance.
The problem is, right now the only way to calculate max maker volume precisely, is by using `trade_preimage` RPC, and since it requires all order data (price in particular) we're not able to use it until for

[2022-03-08 11:58] cipig commented on #1222
`setprice` has the option `max:true`, which does exactly that.
eg `curl --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"setprice\",\"base\":\"VRM\",\"rel\":\"KMD\",\"price\":0.0777,\"max\":true}"` would post an ask with max. VRM balance.

[2022-03-08 12:01] yurii-khi commented on #1222
The point is to show this value in GUI before we have all the data to create an order.

[2022-03-08 12:02] cipig commented on #1222
Isn't that value simply the balance of the coin?

[2022-03-08 12:11] yurii-khi commented on #1222
Almost. Available balance = balance - tx fee

[2022-03-08 12:22] cipig commented on #1222
coins where the txfee is really relevant (because high, like with BTC or ERC20) have dynamic fee anyway, so it will be different, depending on when the swap starts, not when the order is placed

[2022-03-11 18:28] sergeyboyko0791 commented on #964
I'd like to share the integration progress and the what we need to do (in my opinion) to complete the implementation of the wallet functionality:
- [x] PoC integration https://github.com/KomodoPlatform/atomicDEX-API/pull/1150 : spawning RPC tasks, connecting to a Trezor device, withdraw with a Trezor device;
- [x] Coin activation with a Trezor device https://github.com/KomodoPlatform/atomicDEX-API

[2022-03-15 22:55] cipig opened #1224 "Payment state is not PAYMENT_STATE_SENT, got 0 on Polygon."
Some PLG20 (Polygon) swap fail

TAKER console:
[code]

TAKER swap file/error:
[code]

makerpayment from Mar-15-2022 10:36:13 PM +UTC: https://polygonscan.com/tx/0xc472efbec24c3ab7d7e2b91c0b5de4be855f05680fc877c2eabf415e56c4786d

taker failed swap with MakerPaymentValidateFailed on 10:36:47, looks like 30s

we are using https://polygon-rpc.com RPC node
i assume the tx took longer then 30s to propag

[2022-03-16 07:32] artemii235 commented on #1224
@Milerius Could you take a look this or next week?

[2022-03-16 07:37] artemii235 commented on #1221
We need the `blockchain.scripthash.get_history` to support pagination. Also, if the error happens only with LYNX, then it's more of a specific electrums' problem.

[2022-03-16 07:40] artemii235 commented on #1222
@sergeyboyko0791 If such requests are communicated with you prior to issue creation, please react accordingly (respond to issue, assign, add to the project etc.).

[2022-03-16 13:11] cipig commented on #1221
I hope the upcoming electrumx protocol update will support pagination on get_history.

Checked again and `excessive resource usage` is not an error coming from electrumx itself (couldn't find the string in electrumx code), so it is coming from lynxd... and that doesn't surprise me at all because i remember that lynxd was causing much higher load then other coin daemons.
Closing the issue for now.

[2022-03-16 13:11] #1221 closed

[2022-03-16 13:18] cipig commented on #1172
closing because it doesn't happen on `dev` branch... running for a long time on many nodes, including GUI

[2022-03-16 13:18] #1172 closed

[2022-03-16 13:22] cipig commented on #1081
Haven't seen this again, pretty sure the issue can be closed.

[2022-03-16 16:46] #1081 closed

[2022-03-16 17:05] #966 closed

[2022-03-16 20:42] cipig commented on #1224
saw a similar issue during another PLG20 swap... console from maker (sending JEUR-PLG20):
[code]
the makerpayment tx https://polygonscan.com/tx/0x137ca68da958b32b1f3a016472d8476a7586dab0536004751565a647f2a13eb2 does not exist, i assume the 60s timeout shown is exactly the one that should have sent the tx

this swap will fail with "waited too long for tx to be confirmed 3 times", it is not the same

[2022-03-17 03:51] cipig commented on #1196
bug on electrum server side fixed in https://github.com/Blockstream/electrs/pull/47

[2022-03-17 03:51] #1196 closed

[2022-03-17 05:22] Milerius commented on #1224
Yes

[2022-03-17 07:30] cipig opened #1225 "Maker payment transaction disappeared for Polygon. Timeout in logs."
some PLG20 swaps fail because of timeouts from the RPC nodes on sending the tx

[code]

the makerpayment tx https://polygonscan.com/tx/0x137ca68da958b32b1f3a016472d8476a7586dab0536004751565a647f2a13eb2 does not exist, i assume the 60s timeout shown is exactly the one that should have sent the tx

swap failed https://dexapi.cipig.net/public/error.php?uuid=08e034b7-4e00-4d09-9391-29ff95c97d15

possi

[2022-03-17 07:52] cipig commented on #1030
can be closed, tQTUM problem solved
it was my fault, wrong config on cleanup/restart

[2022-03-17 08:02] #914 closed

[2022-03-18 04:48] sergeyboyko0791 commented on #1222
As we discussed with @yurii-khi and as @cipig mentioned above, `max_maker_vol` can't be used as intended.

[2022-03-18 04:48] #1222 closed

[2022-03-18 04:58] sergeyboyko0791 commented on #920
@artemii235 I'll try to replace replace `u64` with `u128` everywhere we handle balance/amount

[2022-03-18 09:04] artemii235 commented on #920
Is this all related to FJC coin? Isn't it caused by the bug in FJC electrum? https://github.com/KomodoPlatform/atomicDEX-API/issues/1196#issuecomment-1070269576

[2022-03-18 14:25] cipig commented on #920
not all messages, but most of them... the too big ones are FJC, like
`Could not get sat from amount 184467448757.12739895 with decimals 8`
those should be fixed, it had an overflow too, in server code

`Could not get sat from amount -0.2052840241902313624678663239074550128534704370179948586118251928020565552699228791773778920308483290 with decimals 8` was JEUR-PLG20, but idk where the negative val

[2022-03-18 16:21] artemii235 commented on #920
@cipig
It's just a coincidence that it happened during `JEUR-PLG20` swap. If there are two lines in the log one after another, it doesn't mean that they are directly related to each other. It was a message for *some* UTXO coin, which is confirmed by error message stack trace. If you don't see these messages after FJC electrum update, then the problem is fixed.

[2022-03-18 16:30] artemii235 commented on #1225
If you have the `M/TakerPaymentSent` event, then the RPC call to send it was successful. There would have been `M/TakerPaymentTransactionFailed` instead having `60s timeout expired` text in its data. AFAIK, we have already discovered plenty of problems with `polygon-rpc.com` - I prefer to wait until we have a more stable RPC node before making any fixes in MM2.

[2022-03-18 16:35] artemii235 commented on #1225
@cipig I would also ask you to describe the actual problem in the title instead of proposing irrelevant fixes. Like "Maker payment transaction disappeared for Polygon. Timeout in logs".

[2022-03-18 16:37] artemii235 commented on #1224
@cipig NB https://github.com/KomodoPlatform/atomicDEX-API/issues/1225#issuecomment-1072585071

[2022-03-18 18:17] cipig commented on #920
the errors with the extreme high values during FJC swaps are gone
they were related to the respective swap, they only happen during swaps
the negative values on PLG20 could be because of unreliable RPC nodes, those can sometimes return balance of 0, that could explain those negative values
did some PLG20 swaps with a "private" PLG20 RPC node and haven't seen this error again

already thought about

[2022-03-18 18:17] #920 closed

[2022-03-21 05:28] artemii235 commented on #1206
@shamardy @smk762 Is this task finished?

[2022-03-21 05:35] artemii235 commented on #1200
I guess that the answer is no, closing the issue.

[2022-03-21 05:35] #1200 closed

[2022-03-21 05:40] smk762 commented on #1206
Yep

[2022-03-21 05:46] artemii235 opened #1228 "Setup lightwalletd for ZOMBIE and ARRR chains."
1. https://github.com/KomodoPlatform/komodo/tree/ARRR-HTLC-debug - code for ZOMBIE chain. Explorer - https://zombie.explorer.lordofthechains.com/.
2. Command to run ZOMBIE daemon: `./komodod -ac_name=ZOMBIE -ac_supply=0 -ac_reward=25600000000 -ac_halving=388885 -ac_private=1 -ac_sapling=1 -addnode=159.69.10.44 -testnode=1./komodod -ac_name=ZOMBIE -ac_supply=0 -ac_reward=25600000000 -ac_halving=388

[2022-03-21 09:04] #1206 closed

[2022-03-22 06:18] sergeyboyko0791 opened #1230 "Add fractional numbers to `my_balance`, `my_swap_status`, `order_status` RPC calls"
AirDEX development team needs to do arithmetic calculations with numbers from `my_balance`, `my_swap_status`, `order_status` results.
As we discussed with @yurii-khi, we need to add:
* `maker_amount_rat`, `maker_amount_fraction`, `taker_amount_rat`, `taker_amount_fraction` to `my_swap_status` RPC call
* `price_fraction`, `max_base_fraction`, `min_base_fraction`, `base_amount_fraction`, `rel_amount

[2022-03-22 10:00] artemii235 commented on #1230
Ok, it might be useful for `order_status`, but not for `my_balance`, where the response is always decimal.

[2022-03-22 10:03] artemii235 commented on #1230
Let's include it to the next sprint, but discuss the specific RPCs changes a bit more :slightly_smiling_face:

[2022-03-22 19:41] gcharang commented on #1200
sorry for the late reply @artemii235 .  yes, this issue can be closed. In hindsight, this issue could also have risen due to gaps in block mining that resulted in reward claim transactions getting invalidated.

[2022-03-26 11:32] Milerius opened #1232 "Firo Block Header are not deserializable (electrum)"
**Describe the bug**

Electrum block header:
[code]

[code]

Failed with

[code]

**Please answer following questions and attach requested info - it'll help to solve issue faster**

Last dev version - all OS.

**Current Status**

All FIRO swaps failed on last dev branch because the header returned by electrum is not deserializable

@artemii235 Do you know if it could be related to this lelantus th

[2022-03-28 05:58] artemii235 opened #1233 "Scan ZOMBIE blockchain for DEX fees."
1. Build ZOMBIE node from https://github.com/KomodoPlatform/komodo/tree/ARRR-HTLC-debug.
2. Run it `./komodod -ac_name=ZOMBIE -ac_supply=0 -ac_reward=25600000000 -ac_halving=388885 -ac_private=1 -ac_sapling=1 -addnode=159.69.10.44 -testnode=1`
3. Scan all ZOMBIE transactions. Try to recover each shielded output using https://github.com/KomodoPlatform/atomicDEX-API/blob/03b0910362709eae9c2c0124932b

[2022-03-28 14:08] #1232 closed

[2022-03-29 11:51] artemii235 opened #1238 "Implement P2P transaction broadcast helper."
1. Add `pub const TX_HELPER_PREFIX: TopicPrefix = "txhlp";`
2. P2P topic example `txhlp/BTC`.
3. If a node receives a message for topic `txhlp/BTC`, it checks if it has BTC coin activated. If yes, the node attempts to broadcast the transaction received in the P2P message.
4. Send the P2P message to topics like `txhlp/BTC` before the following lines:
https://github.com/KomodoPlatform/atomicDEX-API/

[2022-03-29 16:29] cipig opened #1239 "swaps fail with InvalidHeight error on SPV proof"
mm2 later then 03b0910362709eae9c2c0124932bfc295692da94 fails swaps with coins that have `required_confirmations = 1`

[code]

there is no guarantee that different electrum servers or coin wallets get new blocks at the exact same time, blocks need to propagate and indexing them also takes a bit of time

a possible solution would be to retry in x seconds and not fail the swap on first try

another

[2022-03-29 16:49] Milerius commented on #1239
Another solution could be to query with the same electrum for `wait_for_confirmations()` and `validate_payment` but I'm not sure if it's an easy one tbh.

[2022-04-01 15:28] cipig commented on #1239
i am now getting this error on maker and taker (with branch `invalid_height_fix`):

https://dexapi.cipig.net/public/error.php?uuid=26f41958-194c-4aa5-8081-9f1ab392b92b failed on taker side, maker_coin=KMD:
[code]

e6abc87f-2f28-45e3-ba13-84c3ef67129d failed on maker side, taker_coin=FIRO
[code]

4ab9fc15-d460-4aec-bbb2-b6c497b03cd3 on maker side, taker_coin=KMD
[code]

[2022-04-01 19:10] cipig commented on #1239
if i try to recover funds of e6abc87f-2f28-45e3-ba13-84c3ef67129d i get this error on taker:
[code]
the takerpayment is https://explorer.firo.org/tx/91caa08f682fe2fc297dd1d0c0d5417a712e6f6457948c91b778176c97301874

4ab9fc15-d460-4aec-bbb2-b6c497b03cd3 shows this error when trying to recover on taker:
[code]
takerpayment is https://kmdexplorer.io/tx/df449324813f7d896124fc23e75d2aa095a8b68fb9ee620d5

[2022-04-04 06:11] artemii235 commented on #1176
Instruction is merged to dev.

[2022-04-04 06:11] #1176 closed

[2022-04-04 07:18] artemii235 commented on #1220
This looks like a good test task. Spec:
1. Add `sign_message` and `verify_message` methods to 2.0 protocol: https://developers.atomicdex.io/basic-docs/atomicdex-api-20-dev/.
2. In the beginning, add support of this method to UTXO coins only. ETH and other protocols support is not required for the test.
3. Use `spice describe gravity federal blast come thank unfair canal monkey style afraid` passph

[2022-04-04 11:39] artemii235 commented on #1238
Credits to @shamardy for the idea 🙂

[2022-04-04 20:32] cipig opened #1244 "recover_funds_of_swap shows wrong coin in output"
[code]

but the refunded coin was IC: https://chainz.cryptoid.info/ic/tx.dws?1564276.htm
from a IC/KMD swap, IC=taker_coin and i was taker refunding my IC taker_payment

EDIT: on maker the output is correct
[code]
https://explorer.firo.org/tx/10f0ebcf38c0f7e7f20624c72f9255d8b738265bf7aa9de0479acc3eec174d7c

[2022-04-05 11:13] artemii235 commented on #1220
Additional case for manual check:
1. Build komodo https://github.com/KomodoPlatform/komodo/
2. Run RICK node https://github.com/KomodoPlatform/komodo/blob/master/src/assetchains.old#L25
3. If your signature differs from the provided spec, verify it using
`./komodo-cli -ac_name=RICK verifymessage R9o9xTocqr6CeEDGDH6mEYpwLoMz6jNjMW HzetbqVj9gnUOznon9bvE61qRlmjH5R+rNgkxu8uyce3UBbOu+2aGh7r/GGSVFGZjRna

[2022-04-06 02:51] cipig commented on #1225
is this the same issue https://dexapi.cipig.net/public/error.php?uuid=f60aa649-a018-4c5b-9f00-faef6948db99 ?
taker failed the swap on MakerPaymentValidateFailed with `taker_swap:1129] !validate maker payment: eth:2570] Didn't find provided tx on ETH node` while waiting for the EURS-PLG20 payment from maker
maker was using the private alchemy nodes and sent EURS-PLG20 through them while the taker w

[2022-04-07 13:31] smk762 opened #1246 "Custom (reduced) swap lock time settings for testing"
During testing to resolve the GUI issu request at https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/620 I've noticed that swap refunding in some cases seems to not occur until a few minutes beyond the expiry of `maker_payment_lock`, yet also a few minutes prior to `MakerPaymentWaitRefundStarted.data.wait_until`

[code]
So it would seem that the actual time when the [recover_funds_of_swap]

[2022-04-08 07:16] ozkanonur opened #1247 "Refactoring the project"
In order to improve the maintainability of the mm2, there are things that they are really necessary to make some improvements in terms of maintaining the project, debugging the source code, etc.

Our current improvement goals will be as following:
- [ ]  Improvement: '/mm2src' should only have crate directories. And merge related modules into same crate and keep the root directory as simple as pos

[2022-04-08 13:12] smk762 commented on #1246
I've added a bit of extra context at https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/620#issuecomment-1092839379 for info on the GUI side of this

[2022-04-09 07:13] sergeyboyko0791 commented on #1238
How do we plan to allow the user to subscribe to such TX Helper topic? Should there be an RPC like `enable_tx_broadcasting`? Or maybe it should be specified in the coin activation request?

[2022-04-09 20:16] ilienongithub commented on #808
Has this gone any further DoDoex.io do it with an option to use Indirect Routing, would be great to have it on atomixdex. https://youtu.be/Ku_pmoiL5E4 have a look at video

[2022-04-10 15:49] cipig commented on #1225
also seen while both taker and maker were using private alchemy nodes for PLG20: https://dexapi.cipig.net/public/error.php?uuid=6eb0d147-0137-4329-900e-d59bf8500a99

[2022-04-11 10:24] artemii235 opened #1250 "Replace all occurrences of try_s! with MmError."
The purpose of try_s! macro is to collect a stack trace of error. MmError is a better way of doing this, with usage of built-in `?` operator.

[2022-04-11 10:25] artemii235 opened #1251 "Remove fomat dependency and log! macro."
Replace with appropriate log level macro.

[2022-04-11 10:32] artemii235 commented on #1238
@sergeyboyko0791 I think that for UTXO coins we can make it automatic for the native mode. As per other protocols, we can make an optional argument on coins activation. What is problematic a bit: for ETH and its forks, it's quite hard to sync a local full node for this purpose - most of the users use 3rd party RPC providers for this. Let's discuss it on the Thursday call. It's not a blocker for ht

[2022-04-12 11:19] sergeyboyko0791 commented on #1244
Hi @cipig, could you please check if the issue is fixed?

[2022-04-12 11:36] artemii235 opened #1253 "Setup MM2 playground node."
A public node that will be available to play with using Postman collection from https://github.com/KomodoPlatform/developer-docs/issues/362
Notes from Discord
- Node should be redeployed automatically on CI builds for dev branch.
- Node should be supplied with a bit of RICK/MORTY and other test coins.
- In the future, if this playground is used alot, to avoid the quick depletion of the test coins

[2022-04-12 11:38] artemii235 commented on #1228
@SirSevenG the nodes are working well. Please also check if it's possible to setup `grpc-web` for them.

[2022-04-12 11:54] sergeyboyko0791 commented on #1244
Accept the small change as a working solution :)

[2022-04-12 11:54] #1244 closed

[2022-04-13 18:03] cipig opened #1254 "ask is removed from orderbook when balance increases"
I posted couple asks (and bids) for COIN in different orderbook (COIN/KMD, COIN/LTC...) then sent more COIN to the address. Result: all COIN asks are gone from orderbook, bids are still there. Nothing on console/logs.

[2022-04-16 20:06] ozkanonur commented on #1254
I have written couple of scripts to dig into this bug and found out that this bug is not t directly related with mm2. The problem comes from the Electrum, `blockchain.scripthash.get_balance` function doesn't work consistently.

When you send `x` amount of coin to your wallet, and right after that if you send a rpc call to `blockchain.scripthash.get_balance`, you  will get a result something like
[

[2022-04-17 06:53] tonymorony commented on #1254
Oh, thats a great research

This one https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/591 might be caused by it

[2022-04-18 06:47] artemii235 commented on #1254
@ozkanonur Thanks for the comprehensive research! I even doubt that we should try finding a workaround on the API side - it's worth digging into Electrum code and applying the fix there instead. Let's discuss it in our call today 🙂

[2022-04-18 13:54] artemii235 commented on #1233
Block explorer https://zombie.explorer.lordofthechains.com/

[2022-04-21 09:50] artemii235 opened #1259 "Integrate dependabot."

[2022-04-21 09:52] artemii235 opened #1260 "Consider rusqlite replacement."

[2022-04-21 10:45] artemii235 commented on #1260
@ozkanonur Could you please provide more input on this? 🙂

[2022-04-21 12:38] ozkanonur commented on #1260
As we all know, security and performance has very important and critical position on mm protocol.

So, considering that,
***for our dependenecy topic we can do some of the following things:***

- Remove the dependency if it's not really needed. (Like helper dependencies, we can implement our own libraries for that.)
- Find better alternative (smaller and simpler code-base, better implementation, f

[2022-04-22 09:27] artemii235 commented on #1247
Additional note - I have already tried to restructure project a bit and noticed few cycle dependencies between various mm2 modules. It's worth trying to remove these cycles during the refactoring.

[2022-04-22 09:28] artemii235 opened #1262 "Consider adding gRPC support to API."

[2022-04-22 09:29] artemii235 opened #1263 "Consider using IPC transport for API RPC."

[2022-04-22 09:44] ozkanonur commented on #1247
We can provide a module that re-exports other modules, this would fix circular dependency problem.

[2022-04-25 10:15] artemii235 opened #1265 "In some cases, Polygon refunds happens earlier than required."
https://polygonscan.com/tx/0x812b5bfd1f40690a7696cf36fb783759e2b759f11f69fb90caab5387573775bf

[2022-04-26 10:42] shamardy commented on #1189
@smk762 This is ready for testing and documentation in the dev branch. @borngraced could you please provide information about the new RPC method?

[2022-04-26 11:37] borngraced commented on #1189
The newly added RPC Method, "_get_public_key_hash_" allows user to get the rmd160 hashed version of a public key

**Example MM@2.json**
`{
  "gui": "core_readme",
  "netid": 7777,
  "rpc_password": "userpass",
  "passphrase": "spice describe gravity federal blast come thank unfair canal monkey style afraid"
}`

**Example Request Payload**
`{
	"method": "get_public_key_hash",
	"userpass": "userpass

[2022-04-26 16:11] borngraced commented on #1177
Hey @tonymorony, I've got a quick question.

Is the _fiat price_ information we're storing for  _**USDT**_ or ??

[2022-04-27 08:59] barbierir opened #1267 "[new protocol] Liquid integration"
Among future protocols pls consider supporting Blockstream's Liquid network, a Bitcoin sidechain run by a federation of companies. It's based on the Elements open source protocol:
https://elementsproject.org/
https://docs.blockstream.com/developer-documentation.html#elements
The features of assets and confidential transactions will likely require custom work

[2022-04-27 12:43] ozkanonur commented on #1239
Can you test [fix-spv-proof-validation]() branch please ? @cipig

[2022-04-27 12:47] ozkanonur commented on #1239
Reason is [this](https://github.com/KomodoPlatform/atomicDEX-API/commit/1229d4403ae8d1911f08d7e20900b7dad36b5ace#diff-29515098c57a74f3122e750087b8a38276238f2aef9b8a1ad2305422322e4a3eR146) isn't the correct height, so you get an errror something like "x transaction could not be found at y height" from [this](https://electrumx.readthedocs.io/en/latest/protocol-methods.html#blockchain-transaction-get

[2022-04-27 17:52] cipig commented on #1239
swaps work fine now, thanks

[2022-04-28 11:37] artemii235 commented on #1254
As we are currently considering alternatives to Electrum, it doesn't worth the effort to find a workaround in the API code.

[2022-04-28 11:37] #1254 closed

[2022-04-28 14:38] borngraced commented on #1177
@tonymorony what if for some reasons the price endpoint is unresponsive? Is there any other price endpoint available for use because if the first case is true, the prices won't be saved.

[2022-04-28 18:29] ozkanonur opened #1269 "overall optimization"
Once #1247 is done, we should consider doing overall optimization cross the project. Aim is simply decreasing the huge compilation time, and increasing runtime performance as much as possible.

[2022-04-29 10:29] sergeyboyko0791 opened #1270 "Refactor `coins::utxo::output_script`"
The problem is described by @shamardy in this comment https://github.com/KomodoPlatform/atomicDEX-API/pull/1255#discussion_r855295294
Currently, `coins::utxo::output_script` takes a `script_type: ScriptType` to determine how to build the output script in `P2PKH`, `P2SH`, `P2WPKH` or `P2WSH` pattern.
It's the responsibility of the function user to pass the correct `script_type`, but it should be de

[2022-04-29 10:32] tonymorony commented on #1177
Hi @borngraced

Here is a backup endpoint: https://prices.cipig.net:1717/api/v2/tickers
It would be great to try to get prices from this one if komodo.live is unavailable by some reason

[2022-04-29 10:41] #1149 closed

[2022-04-29 10:42] artemii235 commented on #1246
@smk762 Is it working as expected?

[2022-04-29 10:42] #1233 closed

[2022-04-29 10:44] artemii235 opened #1271 "Scan ZOMBIE blockchain for DEX fees"
1. Build ZOMBIE node from https://github.com/KomodoPlatform/komodo/tree/ARRR-HTLC-debug.
2. Run it `./komodod -ac_name=ZOMBIE -ac_supply=0 -ac_reward=25600000000 -ac_halving=388885 -ac_private=1 -ac_sapling=1 -addnode=159.69.10.44 -testnode=1`
3. Scan all ZOMBIE transactions. Try to recover each shielded output using https://github.com/KomodoPlatform/atomicDEX-API/blob/03b0910362709eae9c2c0124932b

[2022-04-29 15:17] artemii235 opened #1272 "Run CI "clean" builds every night on the dev branch."

[2022-04-29 23:13] cipig opened #1273 "error on parsing swap json files"
mm2 from dev branch can't parse swap jsons any more, it shows errors:
[code]
those swap jsons contain lines like
[code]
swap history is missing in Desktop app as a result

[2022-04-30 00:50] cipig commented on #1273
reverting back to older mm2 shows similar error, but related to 2 swaps done with the newer mm2 version:
[code]

[2022-04-30 04:58] artemii235 commented on #1273
@cipig Thanks for the report! Checking now.

[2022-04-30 05:04] artemii235 commented on #1273
@cipig It's because I changed new `maker_coin_htlc_privkey` and `taker_coin_htlc_privkey` fields in my recent ARRR PR. It affects only swaps made on the previous state of the dev branch, so no fix should be made on this.

[2022-05-02 04:55] artemii235 opened #1274 "Divide existing traits to smaller ones to avoid implementing unnecessary functionality."
E.g. https://github.com/KomodoPlatform/atomicDEX-API/pull/1255#discussion_r856129379

[2022-05-02 08:56] smk762 commented on #1246
It does seem to apply a lesser locktime, though I get the following error (on the other node) when attempting a swap created running this version - `taker_swap:828] maker_data.payment_locktime 1651482961 not equal to expected 1651496761`

[2022-05-02 09:08] ozkanonur commented on #1246
You provide the base custom locktime value, then it gets calculated with some extra numbers as in the normal flow.

About the error, I will check it out.

[2022-05-02 09:52] tonymorony commented on #1269
right now we are considering the switching to infrastructure providing for the some of the blockchain nodes

I did the following test:

1) In CLI enabled BNB and one BNB-BEP20 token
2) Left it run for some time

Right now it consume ~10 calls/minute in idle mode. Probably there is a room for optimisation (what might be a cost cut in case of such subscription service usage or infra loading cut in c

[2022-05-02 12:38] artemii235 commented on #1269
@ozkanonur That's a good idea in general, but I would like to highlight some topics from the list, that have higher priority than others:
1. `huge compilation time` slows down the development, CI builds, etc. so it burns some of our development time. Worth fixing ASAP. I think you can do it along with https://github.com/KomodoPlatform/atomicDEX-API/issues/1247 so I assigned this issue to you too :

[2022-05-02 13:48] yurii-khi opened #1275 "Inaccurate error message returned by `trade_preimage` RPC"
If try to call `trade_preimage` for maker order QC -> KMD, while don't have enough QTUM to pay gas fee, it will return error saying that QC balance is not sufficient. Should be QTUM balance is not sufficient.

Steps to reproduce:

## 1. QC balance:
[code]
returns 1.85862497
[code]

## 2. QTUM balance:
[code]
returns 0.03188784
[code]

## 3. Call `trade_preimage`
[code]
returns
[code]

[2022-05-03 06:25] sergeyboyko0791 commented on #1275
Thank you for the issue! Will check it :)

[2022-05-03 12:16] artemii235 opened #1278 "Withdrawal to P2SH addresses for non-Segwit coins."
In rare use cases, users might need to withdraw to multisig or other P2SH addresses.

[2022-05-06 19:22] cipig opened #1281 "`non-final` errors on refund of some coins"
some coins show this behavior on MakerPaymentRefund

"maker_coin" : "NMC"
[code]

"maker_coin" : "LBC"
[code]

they need to be refunded manually at a later time

to me it looks like it's related to certain coins, NMC and LBC in this cases
do they miss something or why is it so?

[2022-05-06 19:33] cipig commented on #1239
running this on all my nodes since a week, can definitely say that this is fixed

[2022-05-06 19:33] #1239 closed

[2022-05-07 00:33] smk762 commented on #1246
Thanks again for this - working as expected and useful for testing https://github.com/KomodoPlatform/atomicDEX-Desktop/pull/1716

[2022-05-07 00:33] #1246 closed

[2022-05-10 20:00] JuguitoJuguitz opened #1283 "Request The Bitfi Device For Atomic Dex"
Hi team, Is it possible to add Bitfi Device to Atomic DEX? They are open source perhaps you can reach them at support@bitfi.com.  https://bitfi.com/opensource

The Bitfi team interviewed in one of the ARRR weekly meetings and mentioned they would need help adding Zksnarks in there device.

https://discord.com/channels/412898016371015680/429676282196787200/973441599965134938

[2022-05-17 04:33] artemii235 commented on #1281
@borngraced Could you check it, please? cc @sergeyboyko0791 @shamardy

[2022-05-17 04:41] artemii235 commented on #1283
Hi @JuguitoJuguitz, thanks for creating the issue!
Our roadmap is quite set: https://roadmap.atomicdex.io/, but we can consider integrating Bitfi device in 2023. HW wallets support is also not fully ready for now - our goal is to integrate Trezor and Ledger first, which will be finished later this year.

[2022-05-17 04:46] artemii235 commented on #1267
Hi @barbierir, thanks for creating the issue!
Our roadmap is quite set for this year: https://roadmap.atomicdex.io/, but we can consider adding Liquid support in 2023. Added to backlog.

[2022-05-17 08:51] sergeyboyko0791 commented on #1177
@tonymorony could you please answer the following questions:
* Do we plan to return coins prices from `my_swaps` through RPCs like `my_recent_swaps` and `my_swap_status`?
* Do we plan to filter `my_recent_swaps` by the coins prices, i.e. `maker_coin_usd_price > 10 USD OR taker_coin_usd_price > 1 USD` or something similar?

I asked it because the task is to store fiat prices in MM2.db.

Currently,

[2022-05-17 08:54] artemii235 commented on #1275
@sergeyboyko0791 Any updates on this? I assume this fix shouldn't take much time. It can be even assigned to @borngraced.

[2022-05-17 11:25] sergeyboyko0791 commented on #1275
@artemii235 great idea! Will share the info to @borngraced

[2022-05-18 07:55] ca333 opened #1287 "[feature request] "native" swap contracts"
For swaps between assets from the same protocol (eth, bsc, cosmos, etc.) we can leverage/utilize protocol-specific atomic swap contracts/modules/libs for efficiency increase (tx fees, speed, etc.). e.g. if alice swaps an erc20 asset for an erc20 asset it would make sense to utilize a native erc20toerc20 atomic swap contract instead of the atomicDEX specific swap protocol as it saves money/time.

F

[2022-05-18 17:35] cipig opened #1288 "PLG20 swap fails with `nonce too low` error"
when i start >1 parallel swaps with PLG20 involved, chances are high that some of them fail with this error:
`taker_swap:1184] mm2src/coins/eth.rs:1430] "eth:1434] RPC error: Error { code: ServerError(-32000), message: \"nonce too low\", data: None }"`

this is from this swap: https://dexapi.cipig.net/public/error.php?uuid=67ef3047-3388-47c9-9dcf-b8db8eb5aced

can we do something about it or does

[2022-05-19 07:58] artemii235 commented on #1288
Let's see first if it will be solved by using RPC node different from https://polygon-rpc.com/.

[2022-05-19 11:07] artemii235 commented on #1287
Thanks for  creating the issue!
I propose to start with UI/UX concepts to understand how it should work/look in general in our GUIs. API implementation will also depend on this. cc @tonymorony

Additional idea on this topic: in case users want to e.g. buy BTC-BEP20 for USDT-BEP20, we can show them an offer to buy native BTC directly using atomic swaps. It might be a good option for some of them if

[2022-05-19 22:15] borngraced commented on #1281
...noted @artemii235

[2022-05-20 05:25] cipig commented on #1278
the BCH deposit address on Nicehash is P2SH and shows error when trying to send BCH to it
setting `segwit:true` on BCH "fixes" the problem

[2022-05-20 10:31] tonymorony commented on #1177
Yeah, it would be awesome to add a new fields into such RPC outputs, so this info adding into GUIs will be pretty straightforward

For now goal is to just display the prices and have prices for retrospective statistical counting (fiat trading volume in the past), if there will be need for the filtering I think it can be done on interface side to not complicate implementation on the api side

[2022-05-24 10:37] anarkiVan opened #1292 "'my_recent_swaps' returns list of swaps with nullable element"
During order matching, sometimes the response from 'my_recent_swaps' contains a nullable element in swaps array. It happens when order was matched and new swap should be instead of null element.

[2022-05-24 14:31] cipig opened #1293 "swaps on EVM chains stuck in `[sign-and-send] Waiting for NONCE_LOCK…`"
I started several swaps between KMD and EVM chains as taker and most of them are stuck waiting for this:
`| (25:54) [sign-and-send] Waiting for NONCE_LOCK…`

2 examples:
![image](https://user-images.githubusercontent.com/32116761/170059525-b16b66cd-2d3d-404b-845e-65ec951f38fa.png)

![image](https://user-images.githubusercontent.com/32116761/170059599-58ded2a3-a131-4728-97c0-022f79ccbac7.png)

both

[2022-05-24 14:46] cipig commented on #1293
this are all the swaps remaining stuck in `[sign-and-send] Waiting for NONCE_LOCK…` at one step or the other
![image](https://user-images.githubusercontent.com/32116761/170063918-f9f1e1b5-46ff-4bf0-9e08-f7a4f4f59598.png)
all are with EVM chains, all between 40 and 60 minutes, the 2 from above are also among them
to me it looks like the `Waiting for NONCE_LOCK` on one chain has influence over other

[2022-05-25 11:09] artemii235 opened #1295 "MM_VERSION file usage got broken after https://github.com/KomodoPlatform/atomicDEX-API/pull/1284"
On CI and some other environments, we use MM_VERSION file in the project root to explicitly set https://github.com/KomodoPlatform/atomicDEX-API/blob/dev/mm2src/mm2_main/src/mm2.rs#L73. It's reported in logs, displayed in GUIs and also added to swap statuses. Starting from the mentioned PR merge, the content of MM_VERSION is ignored, so e.g. http://195.201.0.6/dev/mm2-4366141c8-Darwin-Release.zip r

[2022-05-25 22:19] borngraced commented on #1281
@cipig, please can I get a test coin for this?
Thank you...

[2022-05-25 22:33] cipig commented on #1281
You can buy them on AtomicDEX or send me your address, then i send some manually.

[2022-05-25 22:41] cipig commented on #1281
for LBC you will need to use `spv16.lbry.com:50001` as electrum server like in https://github.com/KomodoPlatform/atomicDEX-Desktop/blob/dev/assets/config/0.5.5-coins.json#L3659
the other ones (still configured in released ADEX) don't work anymore

[2022-05-26 10:15] #1295 closed

[2022-05-26 15:49] himu007 commented on #1278
I would like to request to enable withdraw KMD or any other ACs to `b` addresses. Today I tried to withdraw KMD to a multisig address and atomicDEX Mobile was showing **Invalid Address**.

Implementing this will make life easier for end users. Since, multisig addresses are valid address, I don't see any proper reason not to implement this.

[2022-05-26 18:01] borngraced commented on #1281
Got both….thank you 👍

On Thu, 26 May 2022 at 15:33, cipig ***@***.***> wrote:

[2022-05-27 07:10] artemii235 opened #1297 "Remove bitcoin-spv crate from our deps tree."
It seems unmaintained and actually not needed at all. I guess it should be easy to port the required functionality from there. It's added in `mm2src/mm2_bitcoin/spv_validation/Cargo.toml`.

[2022-05-27 10:07] artemii235 commented on #1042
It appeared again because I had to update `indexmap` crate. Removing `preserve_order` feature from `serde-json` helped to resolve it, but I got WASM test failures afterward because externally tagged enums require the tag field to be in the first place for some bizarre reason. But the order of fields were messed up during `serde` processes related to IndexedDB.

The other way was to remove `serde-s

[2022-05-27 10:20] artemii235 opened #1298 "Update rust-lightning."
It currently depends on old versions of regex and thread_local crates, that have known problems:
https://rustsec.org/advisories/RUSTSEC-2022-0006
https://rustsec.org/advisories/RUSTSEC-2022-0013

We should get rid of them ASAP. It's not mandatory for all Lightning functionality to work after deps update. You can create a separate PR with update and then reimplement the broken functionality in the

[2022-05-27 10:26] artemii235 opened #1299 "Update metrics related deps."
metrics-util 0.3.1 is very old and a subject of the known race condition issue:
https://rustsec.org/advisories/RUSTSEC-2021-0113

[2022-05-29 17:22] smk762 commented on #927
A few notes from comparing legacy and v2 `best_orders`:

 V2 does not appear to have:
- max_volume
- age
- z_credits

V2 `best_orders` response returns `"is_mine": false` for a ZOMBIE order placed from the same mm2 instance.

[2022-05-31 10:55] artemii235 commented on #1293
@laruh Could you implement the following, please:
1. Instead of the global static `NONCE_LOCK` there should be `nonce_lock: Arc<AsyncMutex<()>>` field in `EthCoinImpl`.
2. This lock should be shared between tokens using the same platform coin and the platform itself, e.g.:
ETH https://github.com/KomodoPlatform/coins/blob/73c1c1e59ab04a97e2822a32be9f24184a6eb874/coins#L3211
USDT-ERC20 https://githu

[2022-06-02 08:14] artemii235 commented on #1278
@cipig @himu007 Thanks for your input on this! We will implement it in the coming month.

[2022-06-03 18:23] borngraced opened #1304 "KMD swaps failing at "TakerPaymentSpendFailed""
swaps are failing when `KMD` is the base_coin with the error  `attempt to subtract with overflow` which led to `TakerPaymentSpendFailed`. This error specific to only `KMD` so far...

base coin = `KMD`
rel coin = `NMC`

Error trace:
`mm2src/coins/utxo/utxo_common.rs:1160:20`.

Cause:
`value` seems to be greater than `fee`  in the case of `KMD` leading to `attempt to subtract with overflow`

<h3>Tra

[2022-06-06 06:49] borngraced commented on #1281
@cipig I can confirm that refunds are working normally now
here's a sample swap data I made with `LBC` as `maker coin`

**used dev branch for the swap

[code]

[2022-06-09 06:31] smk762 commented on #1254
Would it be feasible to not update the internal values when it detects that the previous `confirmed` value has changed an amount equivalent to the `unconfirmed`, but the previous `unconfirmed` value has not changed?

[2022-06-09 07:50] smk762 commented on #1254
Seems this issue potentially goes deeper than electrum. Between 2 CLI nodes, I could confirm that the `getunconfrmedbalance` value zeroing out and being added to the `getbalance` value before the associated tx is removed from the mempool.
![image](https://user-images.githubusercontent.com/35845239/172793798-c0e986db-bc72-4459-8c8e-485ed4754ccd.png)

[2022-06-09 10:24] borngraced commented on #1177
@tonymorony this feature is now ready for testing!

[2022-06-13 09:33] sergeyboyko0791 commented on #1275
@yurii-khi could you please confirm that everything works properly now?

[2022-06-13 10:04] sergeyboyko0791 commented on #1181
@cipig does it work properly? Can we close the issue?

[2022-06-13 10:38] yurii-khi commented on #1275
Can confirm, works as expected, thanks @sergeyboyko0791, @borngraced !

[2022-06-13 12:06] sergeyboyko0791 commented on #1275
Great, thank you!

[2022-06-13 12:06] #1275 closed

[2022-06-14 06:01] cipig commented on #1181
i will check, but i have a question: does `check_utxo_maturity` work in coins file too, or only enable/electrum?

[2022-06-14 10:34] sergeyboyko0791 commented on #1181
We expect `check_utxo_maturity` within enable/electrum request only

[2022-06-14 11:50] ozkanonur opened #1308 "create sqlbuilder to reduce potential bugs"
We need to avoid writing db operations in string literal. Instead, creating a simple sql builder might help us in terms of readability & maintainability, PR reviews, and reducing potential bugs & issues.

A very basic(proof of concept) example of SqlBuilder:
[code]

cc @artemii235

[2022-06-14 21:11] borngraced opened #1309 "gstuff::Constructible is deprecated"
`gstuff::Constructible` is been used in `mm_ctx` and now seems to have been deprecated so here is an alternative to using Constructible
—
[one_cell](https://github.com/matklad/once_cell)

[2022-06-15 10:04] cipig commented on #1181
that why i opened the issue... but we need to differentiate, there are 2 issues with mining

the most common one is simple pool mining with payouts of 0.00x and then 1000s of them
those txes are normal ones and the problem is easily solvable by `utxo_merge_params`... just add `\"utxo_merge_params\":{\"merge_at\":200,\"check_every\":600,\"max_merge_at_once\":100}` to all electrum calls in Desktop a

[2022-06-15 16:53] sergeyboyko0791 commented on #1181
We could add the ability to set `check_utxo_maturity` in the coins config for advance users only, because `check_utxo_maturity` is `true` for QTUM coin and QRC20 tokens by default (if it's not specified in the activation params), and there are no other coins that require to check UTXOs maturity.

So `check_utxo_maturity` doesn't have to be added to the [default coins config](https://github.com/Kom

[2022-06-15 16:58] sergeyboyko0791 commented on #1181
If there are still non-indexed transactions (on the first launch, or if you just sent/received funds), MarketMaker requests transaction by transaction without delay until all transactions are indexed.

But once the whole transaction history is indexed, MarketMaker checks the balance if it has been changed every 30 seconds.

[2022-06-15 18:08] cipig commented on #720
would solving this issue also make it possible to see and spend the timelocked transactions from TKL?
the vout of such a tx in question looks like this
[code]
if so, then it would be nice if he could prioritize this, some TKL rewards were unlocked today and can not be seen or spent on ADEX Desktop with electrums

[2022-06-16 13:41] tonymorony opened #1314 "Allow bestorders RPC execution without volume argument"
Problem:
We are using bestorders RPC DEX widget trading logic in AtomicDEX web
Since the `volume` field is mandatory user is not able to use `buy` coin selector until he specify amount of coin he want to sell what making UX flow a bit confusing/not straightforward

It would be great if bestorders RPC will just provide order on top of the orderbook if no volume was provided, I assume it might be a

[2022-06-17 09:29] artemii235 commented on #1314
Hi @tonymorony, it might be not that tiny because `best_orders` involve P2P interaction to get the required data. It might be harder than expected to keep backward compatibility. But we will figure it out for sure :)

[2022-06-20 05:56] artemii235 commented on #826
@tonymorony @smk762 Is testing finished? :slightly_smiling_face:

[2022-06-20 05:56] artemii235 commented on #928
@sergeyboyko0791 Can we close this one? :slightly_smiling_face:

[2022-06-20 05:57] artemii235 commented on #1212
@sergeyboyko0791 @yurii-khi Can we close this one?

[2022-06-20 05:58] artemii235 commented on #1189
Seems fully implemented and documented.

[2022-06-20 05:58] #1189 closed

[2022-06-20 05:59] yurii-khi commented on #1212
I believe so, thanks again.

[2022-06-20 06:00] artemii235 commented on #802
NB https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/719

[2022-06-20 06:01] artemii235 commented on #1126
@sergeyboyko0791 Any updates? :slightly_smiling_face:

[2022-06-20 06:02] #1297 closed

[2022-06-20 06:02] #1298 closed

[2022-06-20 06:05] smk762 commented on #826
I tested this a while ago in gui - Roman was working on it. The code is present in desktop, but not active in front end.

[2022-06-20 06:55] #1212 closed

[2022-06-20 06:56] sergeyboyko0791 commented on #928
I hope we can!

[2022-06-20 06:56] #928 closed

[2022-06-20 09:41] tonymorony opened #1318 "No-login mode"
We want to enhance the web dex user experience (simplify onboarding) by trading widgets (DEX, bridge) reflecting without the user's need to provide a private key.

So the user will see functionality before seed creation, check prices/orderbook and then decide if he/she wants to create/import an iguana seed or connect metamask, or use other login options we might have in the future :)

In GUI "Star

[2022-06-20 11:21] sergeyboyko0791 commented on #1126
If I'm not mistaken, the user has refunded his payment.
@cipig could you please confirm this?

[2022-06-21 07:58] artemii235 commented on #1220
@caglaryucekaya Could you please provide documentation examples to @smk762?

[2022-06-21 08:20] caglaryucekaya commented on #1220
Sure! Will work on it soon

[2022-06-21 08:55] sergeyboyko0791 commented on #1181
As we discussed with @cipig, everything works as expected

[2022-06-21 08:55] #1181 closed

[2022-06-21 10:31] artemii235 opened #1319 "Unstable test_get_channels_by_filter test"
https://dev.azure.com/ortgma/Marketmaker/_build/results?buildId=6605&view=logs&j=28e0d2e2-678b-5ef0-2713-95af1c23dfdf&t=e9e1b4e0-54b7-5072-6f66-e9973df2febb

[2022-06-21 11:46] sergeyboyko0791 commented on #1292
Hi @anarkiVan, could you please confirm that `my_recent_swaps` doesn't return `Null` elements?

[2022-06-22 09:25] smk762 opened #1321 "[BUG]: Tx history perpetually shows 'unconfirmed' when dropped from mempool"
This is most apparent in the gui - in cases where transactions  were dropped from the mempool, they will perpetually be displayed as "unconfirmed". I assume this is due to local DB storage of tx history data.

Can we please add something to find/purge these from the DB (e.g. if unconfirmed tx is older than "x" seconds)?

[2022-06-22 10:38] cipig commented on #1321
there is also https://electrumx-spesmilo.readthedocs.io/en/latest/protocol-methods.html#blockchain-scripthash-get-mempool in electrumx, maybe that helps

[2022-06-22 10:42] caglaryucekaya commented on #1321
I'll work on this

[2022-06-22 10:51] artemii235 commented on #1321
@caglaryucekaya As per https://github.com/KomodoPlatform/atomicDEX-API/blob/dev/docs/GIT_FLOW_AND_WORKING_PROCESS.md#issues-handling-process-developmentqadocumentation-workflow,

Please add this issue to the MM2.0 project and put it to "In progress" column. You can do it on the issue page at the right.
<img width="359" alt="image" src="https://user-images.githubusercontent.com/15745003/175011832-3

[2022-06-22 11:03] artemii235 commented on #1319
@shamardy Please move issue to "In Progress" column when you start working on it
<img width="403" alt="image" src="https://user-images.githubusercontent.com/15745003/175013864-78a965cd-0054-4dc7-b3ed-ce79b3be2257.png">

[2022-06-22 11:04] artemii235 commented on #1299
@borngraced Please move issue to "In progress" column, when you start working on it
<img width="403" alt="image" src="https://user-images.githubusercontent.com/15745003/175014001-5089ca5c-f978-45e2-9b6d-3db451bda1be.png">

cc @sergeyboyko0791 @shamardy

[2022-06-23 11:55] cipig opened #1324 "add SSL encryption to the RPC port"
it would be helpful to have the RPC port SSL encrypted, so that mm2 instances can be managed over the network through the RPC port, eg for marketmaking bots dealing with more then one node
saw that we now have the option `wss_certs`... could that be simply applied to RPC too, like `rpc_certs` and if defined the RPC port will be encrypted with the cert?

[2022-06-23 12:17] yurii-khi commented on #1314
Works for me.
What will happen if both arguments provided?

[2022-06-24 05:41] laruh commented on #1314
It wont work, because right now in `OrdermatchRequest` I have different variants for matching like `BestOrders` with `volume` param and `BestOrdersByNumber` with `number`, due to this one of two diff functions will be triggered after match. So one will find best orders by volume, another by number.
New code need to be tested, so its in process.

[2022-06-24 10:12] #1319 closed

[2022-06-24 10:20] artemii235 commented on #1324
It's possible, but you can also put a MM2 RPC behind the reverse proxy to reach the same goal. So it's unlikely to be implemented from the API side in near future.

[2022-06-24 20:53] cipig commented on #1281
weird, i have a bunch of failed LBC swaps where i was maker and they are showing me `non-final` errors when i try to refund them

[code]

could the difference be that the taker of my failed swap used a different electrum server when he failed the swap?
would that have influence over refund on maker side?

[2022-06-26 19:47] DeckerSU opened #1326 "password_policy: constraints for rpc_password"
I have strong 36 symbols rpc password for my **mm2** node, but as password policy applied to rpc password:
[code]
I get the following error:
[code]
may be we could change the `std::ops::RangeInclusive` `8..=32` to just `std::ops::RangeTo` `8..` here:
[code]
Of course i could add `"allow_weak_password": true` in config, but actually my password is not weak.

[2022-06-27 08:01] artemii235 commented on #1326
@DeckerSU thanks for opening the issue! Yeah, 32 max length constraint seems not needed at all. We will remove it.

[2022-06-27 08:03] artemii235 commented on #1269
...
Right now it consume ~10 calls/minute in idle mode

@tonymorony this should be fixed in https://github.com/KomodoPlatform/atomicDEX-API/issues/1269, could you retest using dev branch, please?

[2022-06-27 08:13] artemii235 commented on #1220
@caglaryucekaya Any updates on this? 🙂

[2022-06-27 08:16] caglaryucekaya commented on #1220
Yes we're in contact with @smk762, I sent him some examples last week.

[2022-06-27 08:41] artemii235 commented on #1220
@caglaryucekaya Good, please share examples in the issue for more transparency in the future.

[2022-06-28 10:55] laruh commented on #1326
Hi @DeckerSU problem was solved

[2022-06-29 05:20] artemii235 commented on #1293
@cipig Did you have a chance to test it?

[2022-06-29 07:31] yurii-khi commented on #1314
@laruh Second one looks more convenient to me, thank you!
Does it provide backward compatibility?

[2022-06-29 07:36] yurii-khi commented on #1314
Just noticed that it is RPC 2.0 now, so no backward compatibility really needed. Ok, in this case second one it is.
Thanks ones again.

[2022-06-29 09:17] ozkanonur commented on #1253
done

ref #1280

[2022-06-29 09:17] #1253 closed

[2022-06-29 13:23] smk762 commented on #1085
Related desktop PR: https://github.com/KomodoPlatform/atomicDEX-Desktop/pull/1679

[2022-06-29 16:05] caglaryucekaya commented on #1220
`sign_message` error types and explanations:

`PrefixNotFound`: sign_message_prefix is not set in coin config file
`CoinIsNotFound`: Specified coin is not found
`InvalidRequest`: Message signing is not supported by the given coin type
`InternalError`: An internal error occured during the signing process

`verify_message` error types and explanations:

`PrefixNotFound`: sign_message_prefix is not s

[2022-07-04 00:21] cipig commented on #1293
working fine now, did a bunch of swaps and couldn't reproduce it any more

[2022-07-04 09:30] #1293 closed

[2022-07-04 09:48] borngraced commented on #1281
@cipig please I can confirm the refunds for LBC coin are working correctly again..(build from dev branch)

So If I'm positive, the problem is def coming from the bad `LBC` electrums

currently working electrums used below..

[code]

[2022-07-04 10:24] borngraced commented on #1281
link stopped working..

[2022-07-04 11:48] artemii235 commented on #1321
@caglaryucekaya As your PR is merged, please request the testing from QA team and move the issue to the "Testing" column.

[2022-07-04 12:11] artemii235 commented on #1318
@caglaryucekaya Could you please start working on it this week? First, please research what changes you will have to make and draw a diagram with required architecture updates for this task.

[2022-07-04 13:21] smk762 commented on #1321
Is there any associated method, or is testing just a case of loading version of mm2 with fix and it does automagic?

[2022-07-04 13:35] caglaryucekaya commented on #1321
@smk762 No methods, it's supposed to remove outdated Txs automatically after running

[2022-07-04 14:53] smk762 commented on #1321
I've launched app a couple of times since updating it's mm2 and still see the "unconfirmed" transactions.

In logs all I see that might be related is
[code]
I checked my local json data and found a reference to one of these "unconfirmed" transactions in the `TRANSACTIONS/R-Address.json` file.

After deleting the json, and restarting the app, it looks like the json is slowly being re-populated - so

[2022-07-04 17:02] caglaryucekaya commented on #1321
I'll check it now

[2022-07-05 09:21] caglaryucekaya commented on #1321
For UTXO we don't use a DB, only json files are used for storage. The fix was supposed to read the transactions from the json, remove the old unconfirmed ones or update them if they're confirmed, and then overwrite the json file with the new content. It seems to be working fine with all the tests I ran, but I think I found a possible reason why it might not be working for you. I'll open a new PR w

[2022-07-05 10:31] anarkiVan commented on #1292
Hi @sergeyboyko0791 ! Now it always prints error to console.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/16408935/177308769-ef054b9a-401c-4108-929b-cefdbac50f81.png">

[2022-07-05 12:04] sergeyboyko0791 commented on #1292
If we couldn't load a swap status from the file, I think it's worth to let the developers (who will read the log file) know about it

[2022-07-05 13:15] borngraced commented on #1281
@cipig sorry, what's the "Taker Coin" in the case of `LBC`

[2022-07-06 07:58] laruh commented on #1326
Hi @DeckerSU did you have the chance to test the long password?

[2022-07-07 18:01] borngraced commented on #1281
I guess we've figured out what the problem is in the case `LBC` (some of the electrums are dead and the ones alive are out of sync so that's causing the inaccuracy in `mtp` and `locktime`)

I'm testing `NMC and will provide updates on it shortly.

[2022-07-08 03:00] artemii235 commented on #927
@laruh There are a couple of tasks that I would like to give to you for this integration 🙂

1. Please read Zcash light client protocol spec https://zips.z.cash/zip-0307 and referenced documentation.
2. Implement native mode support. It should fill the blocks and wallet database in the same way as light mode does. Basically, you need to support Native client along with `grpc_client` here: https://g

[2022-07-11 13:56] yurii-khi commented on #1314
@laruh I'm currently trying to use updated `best_orders` rpc here: https://github.com/KomodoPlatform/air_dex/issues/392, and noticed that it returns empty `orders` object if I'm using `type: number`. Could you please help me, maybe I'm doing something wrong?

Request:
[code]
Response:
[code]

There are also some errors in console:
<img width="612" alt="image" src="https://user-images.githubusercon

[2022-07-11 14:22] smk762 commented on #1314
I asked the same question in testing - was told seednodes need to be updated also for it to work (I am yet to confirm on separate netid)

[2022-07-11 15:09] yurii-khi commented on #1314
Oh, now I got it, thanks for the info.

[2022-07-11 21:13] Zeked9 opened #1337 "Adding support for Epic Cash (Grin fork) mimblewimble"
Here are two proof of concept atomic swaps, with Grin.

• We would like to add support for Epic Cash, a fork of Grin, a mimblewimble coin.

•I'm sure that you'll continue to support Litecoin, so if you can support Epic Cash, it would be extremely helpful.

https://github.com/GrinSwap/proof-of-concept

https://github.com/comit-network/grin-btc-poc

[2022-07-12 11:58] cipig opened #1338 "add `get_current_mtp` API call"
We stumbled upon some electrum servers that set a wrong MTP which then leads to problems like https://github.com/KomodoPlatform/atomicDEX-API/issues/1281 in mm2.

It would be very helpful to have a `get_current_mtp` API call in mm2, so we can check the electrums for this problem and avoid those that have it and as such don't add them to ADEX Desktop/Mobile config.

[2022-07-12 11:59] cipig commented on #1281
Yes, we can close this issue.

[2022-07-12 12:12] shamardy commented on #1281
Closing this issue since it's a problem from the electrums side.

[2022-07-12 22:18] tonymorony commented on #1269
performed same (as https://github.com/KomodoPlatform/atomicDEX-API/issues/1269#issuecomment-1114678169) test case today: activated BNB and 1 BEP20 token and left mm2 (without any orders) in idle mode for a day: calls to endpoint were executed only on activation event. So situation above is definitely looks fixed

<img width="922" alt="image" src="https://user-images.githubusercontent.com/24797699/

[2022-07-15 06:00] artemii235 commented on #1338
@cipig Could you please provide more input on this? Basically, electrums *do not* set an MTP in any way, it's calculated in MM2 by requesting recent block headers and using their timestamps.

[2022-07-15 06:02] artemii235 commented on #1281
@borngraced

Could you please provide more info on how you determined that alive electrums are out of sync?

[2022-07-15 07:02] artemii235 opened #1342 "Refactor logging. Needed to properly calculate the test coverage."
1. In tests, MM2 instances run via separate binaries.
2. Due to this, `cargo-llvm-cov` coverage` report doesn't detect the code running in a separate process. So we need to run MM2 instances in the same process. There's `local_start` option for this.
3. Tests heavily rely on parsing logs.
4. MM2 relies on `MM_LOG` environment variable to determine log path. So if we set it once, *all* running inst

[2022-07-15 07:05] borngraced commented on #1281
Yes @artemii235, I create an rpc to get `mtp` of supported coins and unfortunately the `mtp` for `LBC` and `NMC' are sometimes many years/months ahead or behind.

[2022-07-15 07:11] artemii235 commented on #1281
@borngraced

Making a conclusion that electrums are out of sync is not valid in this situation.

They might have block header structure that is deserialized incorrectly by MM2. A typical way to fix it is to support the corresponding format correctly. E.g., https://github.com/KomodoPlatform/atomicDEX-API/pull/1235

Please do a more comprehensive research on this issue (and also in the future too in

[2022-07-15 07:13] artemii235 commented on #1281
https://github.com/KomodoPlatform/atomicDEX-API/issues/1338 will be still useful, though, for easier troubleshooting of such problems.

[2022-07-15 07:15] artemii235 commented on #1281
PS A good example of research to confirm that the problem is *really* on electrum's side https://github.com/KomodoPlatform/atomicDEX-API/issues/1254#issuecomment-1100747092

[2022-07-15 07:31] borngraced commented on #1338
This must have been based on the information from my side.

[2022-07-15 07:57] borngraced commented on #1281
Ok noted. Sorry about the inaccurate info and thanks

[2022-07-15 10:47] shamardy commented on #1281
It seems that this might actually be the issue for LBC, they have extra fields that need to be deserialized here https://github.com/lbryio/lbry-sdk/blob/ff303860513690c4b1c52a053aa75f28858002d3/lbry/wallet/header.py#L92-L105

@borngraced can you add the extra fields to our BlockHeader struct and see if you get correct MTPs? Also, let's focus on LBC first and fix it on a PR then we can have a look

[2022-07-17 12:41] borngraced commented on #1281
Hey @cipig, sorry for the earlier misinformation from me on this issues...The bug is actually from the API side and the PRs for the fix is already in review.

also, I can confirm that all the electrum are live and in sync for `LBC`.

[2022-07-18 00:55] smk762 commented on #1321
Works good now thanks

[2022-07-18 09:32] caglaryucekaya commented on #1318
@tonymorony With the #1341 PR merged, this should be possible now. If MM2 is started without a passphrase field in the configuration file, it runs with a minimal initialization only with the functionality required to make the `best_orders`, `orderbook`, `orderbook_depth`, and `version` RPC calls work. After the user logins MM2 should be restarted with the passphrase. Then it runs with the full ini

[2022-07-20 14:59] shamardy opened #1345 "Refactor BlockHeader deserialization to avoid adding new hard coded coin variants"
As discussed here https://github.com/KomodoPlatform/atomicDEX-API/pull/1343#discussion_r924456685, https://github.com/KomodoPlatform/atomicDEX-API/pull/1343#discussion_r925256411, Sometimes the only way to deserialize a UTXO coin blockheader correctly is to add this coin to the `CoinVariant` enum https://github.com/KomodoPlatform/atomicDEX-API/blob/3cce5af1f45e4aeaac10705fe056896e848b7ff4/mm2src/m

[2022-07-21 04:54] anarkiVan commented on #1318
@caglaryucekaya hello! I just ran it without the seed phrase, and it works fine at first glance, thank you!

[2022-07-21 06:28] #1326 closed

[2022-07-21 15:18] smk762 commented on #1337
Thanks for the PR!
Please note that before we can include your coin in the gui, a PR needs to be merged in https://github.com/KomodoPlatform/coins/
More info here - https://developers.komodoplatform.com/basic-docs/atomicdex/atomicdex-tutorials/add-coin-to-atomicdex-desktop.html

[2022-07-21 18:40] Zeked9 commented on #1337
In the discord gcharang said the following, ```not possible for now. needs  research and development of another type of Atomic Swap mechanism to integrate it, grin and other grin forks.```

And then I posted the above Proof of Concepts in response and he replied with the following, ```hi! please create an issue here: https://github.com/KomodoPlatform/atomicDEX-API/issues/new
with all the info. our

[2022-07-21 18:43] smk762 commented on #1337
ok - If a test swap is not able to be done via mm2 yet, sounds like this PR should be in the API repo. Transferring now :+1:

[2022-07-21 19:15] Zeked9 commented on #1337
I mean, our project would like to provide some sort of reward for this. I am sure that it will take time to complete.
How does that work?

[2022-07-22 06:06] smk762 commented on #1337
@artemii235 @ca333 would be best to answer that

[2022-07-25 07:29] cipig commented on #1281
use the ones from https://github.com/KomodoPlatform/atomicDEX-Desktop/blob/dev/assets/config/0.5.6-coins.json#L6740

[2022-07-25 08:14] artemii235 opened #1346 "Generate recoverable (failed) swap status."
It will be useful for GUIs to import these swaps and test recovery functionality. Requested by @anarkiVan

[2022-07-25 08:15] artemii235 commented on #1346
Will implement it as unit test that will fail swaps on specific steps depending on environment variables settings.

[2022-07-25 09:22] ozkanonur commented on #1321
Can you please close the issue if the problem no longer exists ? @smk762

[2022-07-25 09:23] #1321 closed

[2022-07-26 11:54] #1102 closed

[2022-07-27 13:44] borngraced commented on #1338
The `get_current_mtp` RPC is used for getting the Median Time Past (MTP) of supported coins(UTXO).

— very useful for debugging some common bugs in mm2

example request:
[code]

 example response
[code]

[2022-07-28 09:58] smk762 opened #1407 "[FR]: Add sign_raw_transaction method"
Currently we have
- send_raw_transaction
- get_raw_transaction
- sign_message

It would be nice to also be able to sign raw transaction hex generated outside of mm2 (and would allow for "sign_raw_transaction" & "send_raw_transaction" tools in the gui.

[2022-07-28 17:05] shamardy opened #1408 "P2P light clients support"
As discussed in atomicDEX-API dev meeting, we should research the feasibility of adding support for light clients that connect to the coins blockchains P2P network directly instead of relying on centralized endpoints provided by third party infrastructure providers. This implementation is not required in the near future since a lot of the P2P light clients requirements are still in development for

[2022-07-29 11:20] artemii235 commented on #1006
Note for the future: refactoring is required for data structures used to keep information about activated tokens in platform coins. For now, we should either lock mutex for a long time, or use cloning that actually makes these mutexes "only write-safe". https://github.com/KomodoPlatform/atomicDEX-API/pull/1335#discussion_r933129239

[2022-08-01 16:31] smk762 opened #1427 "[FR] Add electrum response information in z_coin_activation"
At the moment when checking `init_z_coin_status`, it seemed to be stuck on `{"mmrpc":"2.0","result":{"status":"InProgress","details":"ActivatingCoin"},"id":null}` for longer than expected.

Looking at the logs, the reason was shown as being
`01 15:46:50, coins:z_rpc:410] ERROR Error z_rpc:314] status: Unknown, message: "error parsing block: parsing transaction 0: fOverwinter flag must be set", det

[2022-08-02 15:31] sergeyboyko0791 commented on #1250
My personal rules on how I design error enumerations:

1) We should manage all RPCs backward compatibility. So if a method returns `String` as an error, it should return the String.
2) There shouldn't be excessive error variants, if that error enum is returned from an RPC function. For example, [EnablePlatformCoinWithTokensError](https://github.com/KomodoPlatform/atomicDEX-API/blob/dev/mm2src/coin

[2022-08-03 07:37] artemii235 commented on #1427
@smk762 Thanks for opening the issue, I will do it this week.

[2022-08-03 07:53] artemii235 opened #1429 "Need to find a way to remove owning_ref from deps tree."
https://rustsec.org/advisories/RUSTSEC-2022-0040

[2022-08-03 09:24] anarkiVan commented on #1346
@artemii235  Thanks for implementation! There is only one problem, which not comfortable for testing. After swap was created, we need to await about one hour to recover this swap because rpc returns next error:
[code]

[2022-08-03 10:30] artemii235 commented on #1346
@anarkiVan Thanks for the report! Checking.

[2022-08-03 11:25] artemii235 commented on #1346
@anarkiVan It should be fixed in https://github.com/KomodoPlatform/atomicDEX-API/tree/gen-recoverable-swap branch now as well. Please use this WASM module to test it http://195.201.0.6/gen-recoverable-swap/mm2-d5feb44d9-Linux-Wasm-Release.zip

[2022-08-03 14:01] tonymorony commented on #590
I assume this issue was resolved so closing (was assigned to me and cleaning my github assign/review list to keep important on radars)

[2022-08-03 14:01] #590 closed

[2022-08-04 05:31] anarkiVan commented on #1346
@artemii235  Thanks! it works perfect right now

[2022-08-04 07:35] artemii235 opened #1431 "Implement swap watcher nodes."
As of now, we require trading parties to always be online during swap process. Going offline is specifically dangerous for takers due to how swap protocol works. To help them refund their payments or spend maker's in time, we need to add "watcher nodes" that will track swap transactions statuses and trigger the required action if the trading party doesn't seem to do it itself. It will be a concept

[2022-08-04 07:39] artemii235 commented on #1431
For the beginning, I draw the diagram on how I envision this to work for *UTXO* case
![AtomicDEX architecture watcher nodes](https://user-images.githubusercontent.com/15745003/182791407-930f5750-bbd7-4bc9-b469-dc73f900918a.jpg)

cc @caglaryucekaya

[2022-08-04 07:44] artemii235 commented on #1431
For other protocols like ETH, simply generating a refund transaction won't work: adversary watcher node can broadcast it right away - it will fail due to lock time not expired burning taker ETH for gas fees. We will likely have to rework our swap smart contracts, allowing 3rd parties to call refund/spend fns for other nodes swaps. However, there should be a financial benefit or at least gas fees c

[2022-08-04 08:58] artemii235 opened #1432 "Cosmos integration."
Full Cosmos/Tendermint support in AtomicDEX.
Useful resources:
- Cosmos SDK documentation https://docs.cosmos.network/
- Tendermint RPC spec https://docs.tendermint.com/master/spec/rpc/
- Public RPC nodes and testnet faucet https://www.allthatnode.com/cosmos.dsrv
- Rust SDK https://github.com/cosmos/cosmos-rust
- Block explorer of Cosmos ecosystem https://www.mintscan.io
- Atom testnet block explo

[2022-08-05 11:50] shamardy opened #1434 "Update secp256k1 dependency to match latest rust-lightning release"
latest [rust-lightning](https://github.com/lightningdevkit/rust-lightning) and [rust-bitcoin](https://github.com/rust-bitcoin/rust-bitcoin) releases currently require secp256k1 version `0.22`, this might change in the future so we need to recheck which version to update to when implementing this issue.

Currently to use the latest [rust-lightning](https://github.com/lightningdevkit/rust-lightning)

[2022-08-07 11:41] Canialon opened #1437 "All swap failed on (my) Windows 10, need help/attention"
All swaps from my attempts failed on the `Negotiated` step. I used Windows 10 but on all other devices everything works fine.
I tried AirDEX at first, all browsers and incognito mod work similarly. Also as in PowerShell.
Besides this, I tried using VPN and turning off Firewall and didn't get any positive results.

In field moment console say: `07 09:13:19, lp_swap:998] ERROR No such swap with the

[2022-08-08 08:42] artemii235 commented on #1437
@Canialon Hi, thanks for the report. Please post the response of `my_swap_status` for at least one of the failed swaps https://developers.atomicdex.io/basic-docs/atomicdex-api-legacy/my_swap_status.html. Also, please attach logs of MM2/API binary itself in case of problems. The log in this issue only contains output of PowerShell, not MarketMaker. Also, please avoid revealing sensitive data such a

[2022-08-08 09:47] artemii235 commented on #1437
If all swaps fail, it's likely that the clock is not in sync. But I need to see at least one swap status to confirm this.

[2022-08-08 11:16] artemii235 commented on #1346
@anarkiVan The PR is merged, you can use `dev` branch for both generation and WASM module :slightly_smiling_face:

[2022-08-08 11:16] #1346 closed

[2022-08-08 11:32] artemii235 commented on #1292
@sergeyboyko0791 @anarkiVan What is the current status of this issue?

[2022-08-09 08:45] artemii235 commented on #1427
@smk762 It's done in https://github.com/KomodoPlatform/atomicDEX-API/tree/arrr-activation-hotfix branch. Example response of status with error:
[code]

[2022-08-09 08:48] smk762 commented on #1427
@artemii235 does it automatically recover from the temporary error on the way to activation? or is some user intervention required to resolve the db corruption?

[2022-08-09 10:45] sergeyboyko0791 commented on #1292
@artemii235 We decided to replace `error!` with `warn!` level. Will do in my branch, then will close the issue

[2022-08-09 11:00] Canialon commented on #1437
omg, I fixed the date and everything is working fine now. sorry for the false alarm :[

[2022-08-09 11:00] #1437 closed

[2022-08-09 11:26] artemii235 commented on #1427
@smk762 It sleeps for 10 seconds and then tries the failed operation again. In some cases, it may theoretically lead to endless `TemporaryError` status. If you notice it happening, please let me know. I will check if activation process can be aborted in case of specific unrecoverable errors.

[2022-08-10 11:12] shamardy commented on #1281
@cipig can you please check if this issue is fixed?

[2022-08-10 11:25] borngraced commented on #1299
@smk762, this is now ready for testing)

[2022-08-10 11:27] smk762 commented on #1299
Anything specific to test? or just general operation?

[2022-08-10 11:41] borngraced commented on #1299
`mm_metrics` should report metrics normally as it was before

you can test for...

- prometheus metrics report
- log metrics report

[2022-08-10 22:36] ozkanonur opened #1440 "memory ordering usages"
Most of the `Ordering` usages has `Relaxed` variant which may cause problems that are very hard to detect and debug.

One of the problem is in multi-threaded tasks, when you store a value as atomic operation with `Relaxed` order, the other threads might not be aware of that operation. In this case there is a chance that the stored value will be missed from the other threads.

Another problem is th

[2022-08-10 23:13] ozkanonur opened #1441 "`compare_exchange` and spinlock implementation"
`compare_exchange` is quite heavy operation which should never spin in a loop over and over like here [here](https://github.com/KomodoPlatform/atomicDEX-API/blob/dev/mm2src/common/duplex_mutex.rs#L61) on multi-threaded systems. Since it tries to have exclusive access to the desired memory location, the running threads have to try getting that access over and over. Which is obviously not an efficen

[2022-08-10 23:17] ozkanonur commented on #1441
PS: For x86 family(and probably some arm families specially modern ones if I am not mistaken) `compare_exchange` has single atomic instruction which reduces the overhead. But still heavier than just loading the value.

[2022-08-11 08:30] sergeyboyko0791 commented on #1440
I totally agree with you.
Let's think when we can work on this issue.

[2022-08-11 10:12] artemii235 commented on #1432
I've made a brief research on atomic swaps support on Cosmos, discovered the following:
1. Main Cosmos Hub ([ATOM](https://www.mintscan.io/cosmos)) chain doesn't seem to support HTLC and smart contracts at all (need to re-check it again).
2. HTLC is supported on [IRIS](https://www.mintscan.io/iris) docs: https://www.irisnet.org/docs/features/htlc.html#htlc.
3. [JUNO](https://www.mintscan.io/juno)

[2022-08-11 16:49] gcharang opened #1442 "When a txn disappears from the blockchain for any reason(invalidated/expiry?/chain reorg) mm2 continues to wait for it to be confirmed and tries to follow the normal swap steps"
**Describe the bug**
Saw this case with a user selling TKL for KMD

their takerpayment txn was created by mm2. but, for some reason wasn't included in the TKL blockchain. but, mm2 waited till the default time limit to declare the swap as failed:
![image](https://user-images.githubusercontent.com/21151592/184188839-0fe2bff6-4a60-4b94-bfd7-ab5e9bd4bcd6.png)

I think, in this particular case, mm2 cou

[2022-08-12 20:45] shamardy commented on #1442
I can see that when waiting for confirmation for UTXOs, if an error is returned while retrieving the transaction, we wait for 15 seconds and then check for the transaction again https://github.com/KomodoPlatform/atomicDEX-API/blob/0f6c7261579ad028b930593c1f2e8a94dca0fced/mm2src/coins/utxo/rpc_clients.rs#L153-L193 Instead we should check the error returned to see if it indicates that the transactio

[2022-08-18 06:27] smk762 opened #1448 "[BUG] ZHTLC coin activation stuck on "ActivatingCoin" when protocol error"
Currently when attempting to enable ZOMBIE, the RPC response from `init__coin_status` is stuck on `ActivatingCoin`.

Looking at the logs, reason is revealed as
`18 06:21:10, coins:z_rpc:410] ERROR Error z_rpc:296] status: Internal, message: "protocol error: received message with invalid compression flag: 60 (valid flags are 0 and 1) while receiving response with status: 502 Bad Gateway", details:

[2022-08-18 06:43] smk762 opened #1449 "[BUG] Older tx history entries have `null` value for coin in `fee_details`"
Yesterday I noticed an error in dekstop logs `[04:21:49] [error] [transaction.data.cpp:113] [2713542]: exception in fee_details: [json.exception.type_error.302] type must be string, but is null`

After some time trying to figure out where this was coming from, it appears to be due to `null` value for `coin` within `fee_details`.
[code]
The app does not derive the name of the coin from this value -

[2022-08-18 10:47] sergeyboyko0791 commented on #1448
Good enhancement, thank you! I think we can postpone it for a while.

[2022-08-23 06:24] smk762 opened #1450 "[BUG] NAV tx history throws errors for some tx"
error from logs:
[code]

This looks like the details we need are part of the response, but they are being thwarted by the presence of an invalid value `cold_staking` within the response. I'll reach out to NAV to get more info about this param.

[2022-08-24 20:01] aguycalled commented on #1450
The response to that transaction is this:

[code]

I think it just needs to accept the `cold_staking` type and consider the second element of the array `addresses` as the spending address. That output is spendable as a normal P2PKH script of that address.

[2022-08-26 10:57] cipig opened #1451 "mm2 crashes in log.rs"
mm2-ebb0e81e1 (latest from dev branch) crashes like this:
[code]

[2022-08-29 08:42] ozkanonur commented on #1342
Please consider reading [this comment](https://github.com/KomodoPlatform/atomicDEX-API/pull/1453#pullrequestreview-1088110103).

We could reduce overhead of locks, atomics and `SeqCst` ordering.

[2022-08-30 14:20] caglaryucekaya commented on #1449
Sure!

[2022-08-30 16:51] sergeyboyko0791 opened #1455 "Use `MutexGuard` properly."
As it's said in this [StackOverflow issue](https://stackoverflow.com/a/58975597)

I've prepared this example on how it can be dangerous to lock mutex in `if` or loop statements.
[code]

This example will print the following:
[code]

As you can see, the Mutex guard drops when the whole `if` or loop statement finishes.

## Solution (trait)

I have two ideas how how prevent holding a Mutex guard for

[2022-09-01 14:07] cipig opened #1456 "high RAM usage by swaps in progress"
swaps in progress are consuming a lot of memory
[code]
leads to maker node use of 2.5 GB before it crashed with OOM, the taker node uses 1.2 GB
a node without running swaps is using 150 MB

[2022-09-02 10:22] #1451 closed

[2022-09-02 11:10] sergeyboyko0791 opened #1458 "Validate all Swap parameters at the Negotiation stage"
* Validate [maker_coin_htlc_pub, taker_coin_htlc_pubkey](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/mm2_main/src/lp_swap/maker_swap.rs#L565-L566) on Maker side
* Validate [maker_coin_htlc_pubkey, taker_coin_htlc_pubkey](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/mm2_main/src/lp_swap/maker_swap.rs#L565-L566) and [secret_hash](https://github.com/KomodoPl

[2022-09-02 11:16] cipig commented on #1458
Can the contract address of the involved tokens be checked too? Making sure it's the same on maker and taker.
For UTXO coins "pubtype", "p2shtype" and "wiftype" from coins file could be used.

[2022-09-02 11:30] sergeyboyko0791 commented on #1458
We check the contract address already at the [negotiate_swap_contract_address](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/mm2_main/src/lp_swap/maker_swap.rs#L535) method.

Probably, we could validate them as well.

[2022-09-02 11:35] cipig commented on #1458
That is the swap contract address, not the contract address of the involved tokens. I meant to check if https://bscscan.com/token/0x8ac76a51cc950d9822d68b83fe1ad97b32cd580d for USDC-BEP20 is the same on maker and taker before starting a swap with USDC-BEP20 between the 2.

[2022-09-02 11:39] sergeyboyko0791 commented on #1458
Oh you're right. I think it would be great to check the contract addresses as well.

[2022-09-02 12:47] artemii235 commented on #1318
@anarkiVan @tonymorony Hey, can we consider this as done? 🙂

[2022-09-02 12:49] #1318 closed

[2022-09-02 12:49] artemii235 commented on #1299
@smk762 You can use this guide to test it https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-tutorials/atomicdex-metrics.html#setting-up-the-log-recording. For Prometheus, @SirSevenG can also help.

[2022-09-02 12:55] artemii235 commented on #1177
@tonymorony @borngraced any update on this? :)

[2022-09-02 12:56] artemii235 commented on #1338
@cipig Did you have a chance to test it?

[2022-09-02 13:14] artemii235 commented on #1314
@smk762 @yurii-khi This should work on production 7777 netid now. Could you confirm it, please?

[2022-09-02 13:15] artemii235 commented on #1220
@smk762 @caglaryucekaya Is documenting finished? If yes, please close this issue 🙂

[2022-09-02 13:23] caglaryucekaya commented on #1220
Yes it's done

[2022-09-02 13:25] smk762 commented on #1220
ref: https://developers.komodoplatform.com/basic-docs/atomicdex-api-20/message_signing.html :+1:

[2022-09-02 13:26] smk762 commented on #1338
ref doc: https://developers.komodoplatform.com/basic-docs/atomicdex-api-20-dev/get_current_mtp.html

[2022-09-02 15:57] sergeyboyko0791 opened #1459 "Add `UtxoCommonOps:: address_from_raw_pubkey`"
There are several places where we use `utxo_common::address_from_raw_pubkey` by passing address configurations as arguments.
For example,
https://github.com/KomodoPlatform/atomicDEX-API/blob/43deac0b665826e7433d271f20e541cafc1107df/mm2src/coins/utxo/utxo_common.rs#L1041-L1048

[2022-09-02 16:12] sergeyboyko0791 opened #1460 "Configure `NativeClient` conditionally for native platforms only"
Add `#[cfg(not(target_arch = "wasm32"))]` attribute to `NativeClient` structure, its implementation, and the other places where it's used.

[2022-09-02 16:53] cipig commented on #1338
works fine, checked couple coins, compared to block explorer and the values look fine

[2022-09-02 16:57] #1338 closed

[2022-09-03 06:58] yurii-khi commented on #1314
Can confirm, works just fine, thank you.

[2022-09-03 08:32] smk762 commented on #1314
all good :+1:

[2022-09-03 08:32] #1314 closed

[2022-09-03 12:26] smk762 commented on #1299
Confirmed function, and updates made to docs as required - https://github.com/KomodoPlatform/developer-docs/pull/393

[2022-09-03 12:26] #1299 closed

[2022-09-03 17:49] cipig commented on #1281
tried with NMC
[code]
and LBC
[code]
both were refunded properly and automatically

[2022-09-03 17:49] #1281 closed

[2022-09-04 11:04] borngraced commented on #1177
It's @tonymorony's turn to test it

[2022-09-05 09:37] sergeyboyko0791 commented on #927
In one of my PRs https://github.com/KomodoPlatform/atomicDEX-API/pull/1405, I changed the names of some methods including `init_zcoin`, `init_zcoin_status` and `init_zcoin_user_aciton`.
Basically, I just added namespaces to combine some methods into groups, especially `init_<METHOD><_ACTION>` into `task::<METHOD>::<ACTION>`.
Thus,
`init_zcoin` => `task::enable_zcoin::init`
`init_zcoin_status` => `

[2022-09-05 11:27] cipig opened #1461 "ZHTLC orders have `ismine:false`"
All orders with ZHTLC coins (ZOMBIE/ARRR) have `is_mine:false` set. This could be a problem for GUIs who use this to show the own orders in orderbook.

[2022-09-06 12:51] artemii235 commented on #1461
@laruh Could you take a look at it, please?

[2022-09-07 10:37] artemii235 commented on #1432
@ozkanonur

As you finished HTLC PoC for IRIS and tokens, we can proceed with further steps. For now, we can implement IRIS swaps and consider creating our own HTLC-enabled chain later (approved by @tonymorony and @ca333). It would be perfect to also demo IBC Atom swap in the coming two weeks, though I'm unsure if it's really feasible.

As per implementation, you can create a test similar to https

[2022-09-07 11:22] artemii235 opened #1464 "Port mm2.1-cross to Github."
- [x] Push branch
- [x] Configure CI (run mobile libs builds only on PRs and dev/mm2.1 branches). Upload mobile libs to nightly server.
- [x] Remove unused files
- [x] Notify GUIs about build links updates.

[2022-09-07 21:54] sergeyboyko0791 opened #1465 "Implement GUI storage"
Design and implement storage for GUI purposes, especially to store the list of accounts with activated coins.

[2022-09-08 15:09] caglaryucekaya commented on #1431
TODO List:

- [ ] Switch to the state machine pattern instead of using the same design as the existing swap implementation
- [ ] Add watcher refund functionality
- [ ] Before running a watcher, check if the maker payment is already spent by the taker or another watcher
- [ ] Use TimeCache to keep track of running watchers instead of a hashset
- [ ] Add a WatcherValidatesTakerPayment error

[2022-09-12 09:26] shamardy commented on #1450
@smk762 can you please check if NAV tx history is working correctly now in the dev branch?

[2022-09-12 15:39] smk762 commented on #1450
I dont have any of these `cold_staking` addresses in any of my wallets, but have contacted willoncio#5015 who reported the issue and will create a custom gui build for him to test it (or figure out how to get one of these tx in my wallet)

[2022-09-13 12:55] shamardy commented on #1442
@gcharang I believe it's hard to test if this issue is resolved with the merged PR or not since it rarely happens. I guess If you encounter a swap transaction disappearing again and the swap fails straight away we can consider the issue resolved, otherwise we can wait sometime and if no users reported this issue again we can also consider it resolved.

[2022-09-13 14:09] gcharang commented on #1442
@shamardy understood and agreed

[2022-09-14 10:55] sergeyboyko0791 commented on #1166
Closed as duplicate

[2022-09-14 10:55] #1166 closed

[2022-09-14 11:04] sergeyboyko0791 opened #1471 "Coins can't be activated in WASM if `enable_spv_proof` is true"
Almost all UTXO coins has `enable_spv_proof: true` flag in [coins config](https://github.com/KomodoPlatform/coins/blob/master/coins#L7622) by default.

[2022-09-14 14:57] shamardy commented on #1471
@tonymorony @artemii235 should spv proof be used in AirDEX/Mobile, or will AirDEX/Mobile only connect to trusted electrum servers?

True simple payment verification requires downloading and saving the block headers for every coin when activating for the first time, this will have big storage requirements to activate multiple coins. Also coin activation time will go up, I tested downloading and sav

[2022-09-15 05:07] anarkiVan commented on #1471
I think that we can remove flag for cosmos demo, but after we need a solution for WASM.

[2022-09-15 05:08] anarkiVan commented on #1084
It will be great, because we cannot implement a good solution without log in to our wallet.

[2022-09-17 08:01] artemii235 opened #1473 "UtxoRpcClientEnum::wait_for_confirmations fails with "not on chain" on the first attempt."
[code]

But the transaction is there, eventually: https://rick.explorer.dexstats.info/tx/fc4b0ec65417a3fd1e0e622983ef09453652917a1325669278cd82d21b8bb49b

Multiple attempts should be made before returning the error. cc @sergeyboyko0791 @shamardy

[2022-09-19 05:46] #1272 closed

[2022-09-19 05:51] #989 closed

[2022-09-19 09:29] artemii235 opened #1476 "Support NEX UTXO transaction format."
https://github.com/KomodoPlatform/coins/pull/483#issuecomment-1247266295

cc @smk762 @modenero

[2022-09-19 10:01] modenero commented on #1476
@artemii235
i've dedicated this week to working on this integration
i'm prepared to help in any way I can..

[2022-09-19 10:10] sergeyboyko0791 opened #1477 "Try to figure out why docker containers don't start in 60s on Mac CI"
Probably related to https://github.com/KomodoPlatform/atomicDEX-API/issues/1203

[2022-09-19 10:35] sergeyboyko0791 opened #1478 "Figure out how to integrate Trezor connect in a browser"
I recently found out that we can't use `trezord` daemon since it requires [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), i.e we can't send HTTP requests from atomicdex.io domain.

Currently, we use WebUSB API to interact with Trezor, but it doesn't work if [Trezor Suite](https://suite.trezor.io/) desktop app is already connected to the device.

Since we decided not to rely on any

[2022-09-19 10:37] artemii235 commented on #1432
Checklist for the future:
- [ ] Add sha256 secret hash support for QRC20

[2022-09-20 10:35] artemii235 commented on #927
@laruh Regarding dockerization:
1. Please use the following repo as komodod regtest Docker image example https://github.com/artemii235/komodo_regtest_docker.
2. You need to create an image containing the binary from https://github.com/KomodoPlatform/komodo/tree/ARRR-HTLC-debug branch.
3. The binary should be started *similarly* as for ZOMBIE chain, but the name of the coin should be different and

[2022-09-21 15:36] ozkanonur opened #1480 "optimize handling multiple rpcs"
To increase performance and reduce resource consumption on runtime, instead of iterating rpc urls for each request, save one(that works) of the http client to the related token/coin's context and use it without doing extra iterations on sending http requests. Only if current http client becomes broken/unavailable somehow, then start the iteration over rpc urls and find one(that works) and replace

[2022-09-22 08:41] caglaryucekaya commented on #1449
@smk762 A PR working on this is merged, can you test if this issue still exists? It's supposed to automatically remove the null coin valued UTXO history entries after the first run.

[2022-09-22 13:07] smk762 commented on #1449
Confirmed working here on latest dev in CLI.
Json file with null values successfully replaced with correct coin instead of null (as long as `"tx_history":true` when enabling).
Thanks :)

[2022-09-22 13:07] #1449 closed

[2022-09-25 11:34] smk762 opened #1481 "[FR] Logging enhancements"
Saw this in logs `25 11:25:23, coins:spv:46] ERROR Failed spv proof validation for transaction 4643ab2684ac6ab493cb6292c4f4d3892b97d95d87a55a894d45fdc85725e8d3 with error: rpc_clients:2019] rpc_clients:1951] InvalidHeight("Transaction block header is not found in storage"), retrying in 10 seconds.`
It would be good to include which coin this is referring to.

`25 11:24:21, coins:utxo_arc_builder:2

[2022-09-26 20:01] cipig opened #1482 "mm2 tries to fetch 2M block headers from electrum"
mm2 tries to request 2M block headers and gets error from electrumx servers because response is too large (over 2M bytes)
[code]
the doc for the `blockchain.block.headers` call: https://electrumx-spesmilo.readthedocs.io/en/latest/protocol-methods.html#blockchain-block-headers

[2022-09-27 09:37] sergeyboyko0791 commented on #1471
Close as completed

[2022-09-27 09:37] #1471 closed

[2022-09-27 10:09] sergeyboyko0791 commented on #1473
@cipig could you please check if the issue is fixed?

[2022-09-27 11:28] cipig commented on #1473
looks good:
[code]
10s later the tx was there and swap continued and finished

[2022-09-27 14:22] sergeyboyko0791 commented on #1473
Great, thank you!
Close as completed

[2022-09-27 14:22] #1473 closed

[2022-09-27 14:32] shamardy opened #1483 "Implement SPV with minimal storage requirements and fast block headers sync time"
This is important to enable spv in mobile and web DEXes. Ref. https://github.com/KomodoPlatform/atomicDEX-API/issues/1471#issuecomment-1246896477, https://github.com/KomodoPlatform/atomicDEX-API/pull/1339#discussion_r924726531

[2022-09-28 11:18] artemii235 commented on #1431
@caglaryucekaya @smk762 New `WatcherMessageSent` was added in the https://github.com/KomodoPlatform/atomicDEX-API/pull/1457 PR. The new event might be a breaking change for some GUIs, so it should be documented. Could you do it, please?

[2022-09-29 12:15] caglaryucekaya commented on #1431
`WatcherMessageSent` event is triggered when a taker node sends a `WatcherMessage` right after it sends the taker payment. For this to happen, a node must run with the `use_watchers` configuration set to true and it must start a taker swap. If the `WatcherMessage` cannot be sent due to an error, the `WatcherMessageSent` event is not triggered but the taker swap continues as usual.

[2022-09-30 06:57] borngraced commented on #1482
ok cool thanks for the info!

[2022-09-30 09:32] borngraced commented on #1458
@cipig we'll be postponing _validating token address_ as there are some other requirements that needs to be met before implementing this check...I'll update on the progress here

[2022-09-30 14:09] cipig opened #1485 "mm2 deadlocks if ARRR or ZOMBIE are enabled"
If ARRR is enabled, mm2 deadlocks the orderbook after couple hours of running. No new orders can be made and no old orders cancelled, `curl --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"cancel_all_orders\",\"cancel_by\":{\"type\":\"All\"}}"` does not return any more. Other API calls still work, eg `my_balance`.
I update all orders with my bot every ~10 minutes.
Wit

[2022-10-03 00:19] DeckerSU opened #1486 "mm2 zec nu5 upgrade support (zip 244, zip 252, etc.)"
Seems mm2 referenced from AtomicDEX-Desktop v0.5.6-beta still trying to create ZEC transactions with old version and branch id. When user tried to send send coins (withdraw to other address) he got error message like this:
[code]
This transaction obviously rejected by network, bcz of old-consensus-branch-id. Should be `NU5` (`0xc2d6d0b4`) instead of `Canopy` (`0xe9ff75a6`). Also as I see crate `ch

[2022-10-03 00:29] cipig commented on #1486
https://z.cash/upgrade/nu5
atm we have
[code]
consensus_branch_id needs to be updated... but what do we do with the version_group_id? the linked doc states
[code]
so the old tx format remains valid... should we keep version_group_id therefore?

[2022-10-03 00:37] cipig commented on #1486
will try a swap with https://github.com/cipig/coins/commit/8584919ad8b0ed7a9ebd05ab0d3f1d8bdda1affa when electrum3.cipig.net is synced

[2022-10-03 00:52] DeckerSU commented on #1486
@cipig The issue is bit deeper, seems `mm2` is not ready for NU5 at this moment. Let's see small example:

We have V5 tx - [26669db8c54964ca860e0a1f38baefb757a82c6ab64d930bbec85ae3f45d0a3a](https://zecblockexplorer.com/tx/26669db8c54964ca860e0a1f38baefb757a82c6ab64d930bbec85ae3f45d0a3a), which I just issued from my ZCash node. Electrum perfectly see this tx, balance change for address `t1W4c8V6WRX

[2022-10-03 01:51] borngraced opened #1487 "Negotiate version of NegotiationDataMsg packet at TakerRequest"

[2022-10-03 10:24] ozkanonur opened #1488 "implement value declaration via preprocessor (can replace `const` in most use cases)"
[code]

If we use the macro above as following:

[code]

We will able to achieve C style reusable value declaration like:
[code]

In this case, we can avoid thinking "how the compiler will behavie on those const values, will it put it on .rodata segment or simply use the value itself on the instructions", and have maximum possible optimized output at all.

[2022-10-03 12:55] cipig commented on #1486
could do a swap with changed consensus_id
![image](https://user-images.githubusercontent.com/32116761/193581344-fd8f595f-71f8-4e5c-aa87-4907a64dac45.png)
balance shows up too, but indeed tx is missing from tx_history
![image](https://user-images.githubusercontent.com/32116761/193581633-690b7a17-ce77-49b2-85d7-022cb047a3d0.png)

[2022-10-03 13:37] DeckerSU commented on #1486
@cipig Yes, I can confirm that with:
[code]
sending is work. So, for now seems we can continue use V4 transactions, but V5 implementation and mentioned ZIP changes will still be needed in the future.

Thank you for swap tests.

[2022-10-05 04:11] cipig commented on #1485
yes, the issue is in dev branch, latest commit, with the `task::enable_z_coin::init`

[2022-10-06 09:05] artemii235 opened #1491 "Port Ropsten-based integration tests to the new ETH testnet network."
Ropsten network is deprecated. Major RPC providers has started dropping its support, so some of our integration tests started failing (`test_search_for_swap_tx_spend_was_spent`, `test_search_for_swap_tx_spend_was_refunded`).

[2022-10-06 09:08] artemii235 opened #1492 "Deploy updated etomic swap to all supported networks."

[2022-10-06 11:56] sergeyboyko0791 opened #1493 "Deactivate tokens when platform coin is deactivated"
[SlpToken](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/coins/utxo/slp.rs#L79), [LightnigCoin](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/coins/lightning/ln_platform.rs#L196), [SplCoin](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/coins/solana/spl.rs#L58) have `Arc` pointer to its platform coins, so `disable_coin` doesn't work proper

[2022-10-06 15:20] artemii235 commented on #1493
Good issue, let's do it on the next sprint :)

[2022-10-07 12:03] artemii235 commented on #1464
Done.

[2022-10-07 12:03] #1464 closed

[2022-10-07 12:10] artemii235 commented on #1459
@sergeyboyko0791 Thanks for creating this issue! I have one note: we should do it carefully, maybe create separate smaller traits instead to avoid implementing unused boilerplate functionality: https://github.com/KomodoPlatform/atomicDEX-API/issues/1274. I think I will check on the next sprint what refactoring can be done, e.g. for `Zcoin` to avoid `impl GetUtxoListOps` for it.

[2022-10-07 14:04] artemii235 opened #1494 "Check that input transaction is calling ReceiverSpend in eth::extract_secret."
It will allow avoiding confusions like this: https://github.com/KomodoPlatform/atomicDEX-API/pull/1475#discussion_r989179993, and maybe also prevent a possible bug in the future.

[2022-10-11 20:15] sergeyboyko0791 commented on #1167
I did a little research on Metamask functionality and how it can be integrated into AtomicDEX.

Indeed, there is a way to sign transactions of other protocols based on ECDSA signing algorithm (secp256k1 curve) using [eth_sign](https://docs.metamask.io/guide/signing-data.html#a-brief-history). It works exactly the same way as [ethkey](https://github.com/artemii235/parity-ethereum/blob/master/ethkey

[2022-10-11 20:36] sergeyboyko0791 commented on #1167
Regarding Metamask integration steps, I want to highlight 3 steps:

1. MarketMaker is initialized with a default Iguana seed (as it's done in air_dex to connect Trezor from start page).
ETH works in Wallet only mode.
2. Refactor MarketMaker so the database, P2P are initialized with an extracted from Metamask public key.
3. Integrate SWAP functionality

[2022-10-12 02:36] rileymross opened #1498 "Compatibility for TNT-20 tokens"
Any plans to enable trading for Theta network tokens? WTHETA is finished now so it's fully compatible with its governance token as well!

[2022-10-12 11:19] ozkanonur commented on #1488
no longer needed

ref https://github.com/rust-lang/rust/issues/102955

[2022-10-12 11:19] #1488 closed

[2022-10-13 09:52] artemii235 opened #1499 "Possible bug in swap contract address negotiation."
There are failed swaps between `2.1.8264_dev_8e92b9dfd_Linux_Release` and `2.1.8043_iris-swap-poc_84349f2f8_Linux_Release`. Version from dev is likely using old address as main one without fallback, and `iris-swap-poc` uses old address as fallback. Error from swap status: `taker_swap:973] !maker_coin.negotiate_swap_contract_addr eth:1113] UnexpectedOtherAddr, addr supplied Bytes([237, 197, 184, 15

[2022-10-13 10:36] borngraced commented on #1304
@shamardy can this be closed now?

[2022-10-13 10:53] cipig commented on #1499
`2.1.8264_dev_8e92b9dfd_Linux_Release` (the maker) is me and i haven't changed anything regarding contract addresses, still `\"swap_contract_address\":\"0xeDc5b89Fe1f0382F9E4316069971D90a0951DB31\",\"fallback_swap_contract\":\"0xeDc5b89Fe1f0382F9E4316069971D90a0951DB31\"}"` for BEP20

[2022-10-13 11:11] ozkanonur opened #1500 "type casting helper for numbers"
Casting big number types to smaller ones are not efficient because the value might be changed.

Debug this simple program and see the problem:
[code]

We can provide helpers in `common` module like:

[code]

[2022-10-13 11:57] laruh commented on #1476
Hi @modenero
Could you please send some NEX to `nexa:qr8mh99l4nnjpfyhsmj8m65ksmgrlqygwgjh37ywez` address? It's mine.
I will be trying to send it back to `nexa:qqwnm809af5muc4cjua74d7ze3lwqt0utvmx7u8kyg` for testing.

[2022-10-13 12:05] artemii235 commented on #1500
@ozkanonur Thanks for creating the issue! I have one addition: we can use `TryFrom` from std without additional helpers as follows:
[code]

[2022-10-13 12:10] ozkanonur commented on #1500
Yeah, then we could have a simple functions that returns max value of target type in case of any error.

Like:

[code]

If we should handle the errors in different way then we can directly use `try_from` without any helper and handle the error.

[2022-10-13 17:34] shamardy opened #1501 "Refactor SwapOps/MarketCoinOps/TakerSwap/MakerSwap"
Not all trait methods of `SwapOps`, `MarketCoinOps` are used in new protocol integrations, an example that was discussed in the last dev meeting was that refunds are automatic for the ongoing integrations of both lightning and cosmos protocols. In addition to that some protocols require new methods implemented only for them.
This complicates the current implementation of `TakerSwap`/`MakerSwap` ad

[2022-10-13 20:25] ozkanonur commented on #1501
I have some design ideas about this. Let's talk about it all together in the next call.

[2022-10-14 10:37] sergeyboyko0791 commented on #1493
Call `coin.abortable_system.abort_all()` in the `disable_coin` RPC.
Ref https://github.com/KomodoPlatform/atomicDEX-API/pull/1490#issuecomment-1278191467

[2022-10-15 03:39] modenero commented on #1476
hi @laruh

so happy for your support :smile:

i've just sent 1,000.000.00 NEX to your address

https://explorer.nexa.org/tx/7f194970c7be9566d0a2df357cfa74fee95c292396f1c88ee10d61e2ae2542d1

and please let me know how I can help in any way

[2022-10-15 05:44] laruh commented on #1476
Very well, got it, thanks!
`{"coin":"NEX","balance":"1000000","unspendable_balance":"0","address":"nexa:qr8mh99l4nnjpfyhsmj8m65ksmgrlqygwgjh37ywez"}`
Of course! If there are questions, I will ping you in this conversation.

[2022-10-15 12:43] cipig commented on #1485
running with `2.1.8264_dev_8e92b9dfd_Linux_Release` for 24h without a deadlock

ARRR is using different electrums now

old: `curl --url "http://127.0.0.1:7783" --data "{\"userpass\": \"${userpass}\",\"method\": \"task::enable_z_coin::init\",\"mmrpc\": \"2.0\",\"params\": {\"ticker\": \"ARRR\",\"activation_params\": {\"mode\": {\"rpc\": \"Light\",\"rpc_data\": {\"electrum_servers\": [{\"url\":\"pir

[2022-10-17 09:26] sergeyboyko0791 commented on #1084
@anarkiVan @yurii-khi corresponding PR has been merged. Could you please check if you can restart mm2 instance immediately (in 300ms)? Every spawned work should stop right after `stop` RPC.

[2022-10-17 10:17] sergeyboyko0791 opened #1504 "Group `SwapOps` method arguments into new types"
We should consider to group arguments of those `SwapOps` methods, that have more than `too_many_arguments_threshold` params.
I'd also add new types for every `SwapOps` method as we are constantly adding new parameters to them.
An example:
https://github.com/KomodoPlatform/atomicDEX-API/blob/fb48668f4dc6b9645661551e1be683f93550e53d/mm2src/coins/lp_coins.rs#L447-L458

[2022-10-17 10:18] sergeyboyko0791 commented on #1504
https://github.com/KomodoPlatform/atomicDEX-API/pull/1468#discussion_r995558593
https://github.com/KomodoPlatform/atomicDEX-API/pull/1468#discussion_r995559238

[2022-10-17 11:28] sergeyboyko0791 opened #1505 "Return `NotSufficientPlatformBalanceForFee` on ERC20, QRC20, SPL, SLP (probably Lightning) coins withdraw"
https://github.com/KomodoPlatform/atomicDEX-API/pull/1468#discussion_r996797771

[2022-10-17 17:21] sergeyboyko0791 commented on #1482
@cipig could you please check if this error has gone?

[2022-10-17 17:24] sergeyboyko0791 commented on #1458
Close as solved

[2022-10-17 17:24] #1458 closed

[2022-10-17 17:27] sergeyboyko0791 commented on #1442
There were no problems for 2 months. I think this issue can be considered solved.

[2022-10-17 17:27] #1442 closed

[2022-10-17 17:36] sergeyboyko0791 commented on #1292
Still not solved. Forgot to include this...

[2022-10-17 17:39] sergeyboyko0791 commented on #1251
Solved partly as `log` is still used, but now it doesn't depend on `fomat` crate

[2022-10-17 17:39] #1251 closed

[2022-10-17 17:50] sergeyboyko0791 commented on #1500
What do you think about
[code]

[2022-10-17 21:15] ozkanonur commented on #1500
What about something like:
[code]

[2022-10-18 12:41] cipig commented on #1482
looks good... i reenabled spv_proof for KMD and it works
but i get this errors on one node
[code]
it shows up every 10s, but doesn't say which coin

[2022-10-18 13:03] sergeyboyko0791 commented on #1482
@borngraced could you please check what's going on?

[2022-10-18 13:38] borngraced commented on #1482
I guess this behaviour is expected as we are suppose to stop the requests if there's no more headers to fetch hence we call notify on permanent error `sync_status_loop_handle.notify_on_permanent_error(error.to_string())` but now we are trying to attempts the requests again in case of different errors but now we didn't know the error is going to be`No more headers available`. and I assume the full

[2022-10-18 15:05] ozkanonur commented on #1501
I see I talk mostly about `SwapOps`, but this is same for `MarketCoinOps` trait. There are some data-types which doesn't match with some of the platform's data-types and that forces us to write dirty workarounds. I believe we can have better infra with using generics which implements some traits to provide compatibility for all platforms.

[2022-10-18 18:00] artemii235 commented on #1167
But there are two critical flaws:

As an initial step, I propose starting with ETH coins support only, as they are native for Metamask. Considering "big red warning", UTXO and other protocols UX will be suboptimal anyway.

I doubt that it's worth doing it this way. For maker orders broadcast and sync, we require signing P2P messages periodically, which can be annoying (Metamask will show a pop-up

[2022-10-19 11:18] sergeyboyko0791 commented on #415
I think we should consider to switch from `rmp_serde` to either another binary protocol like protobuf or some human-readable text protocol like Json.
It becomes hard to add new fields to messages, and sometimes it requires the use of crutches like this https://github.com/KomodoPlatform/atomicDEX-API/issues/1487

cc: @artemii235

[2022-10-19 11:49] cipig commented on #1485
closing this issue, because i am running ARRR on 6 nodes for couple days in a row now and it didn't happen again... no idea though what fixed this... but will reopen if i encounter this again

[2022-10-19 11:49] #1485 closed

[2022-10-19 14:50] artemii235 commented on #1167
The pubkey is directly used, for example, in HTLC redeem script for UTXO
https://github.com/KomodoPlatform/atomicDEX-API/blob/28280d7a9dc912bbb10f908c52e61c3c457e9ccd/mm2src/coins/utxo/utxo_common.rs#L3644
As ETH address is a part of pubkey hash, the other side won't be able to get the pubkey itself, so the swap won't be possible.

[2022-10-19 15:18] artemii235 commented on #1167
As a workaround, we can request user to sign a message like `Login to AtomicDEX` using [signTypedData_v4](https://docs.metamask.io/guide/signing-data.html#sign-typed-data-v4) method, recover pubkey from resulting signature and store it in DB. There is a JS example at the end of the page demonstrating it.

[2022-10-19 15:24] artemii235 commented on #1167
One more question arose from my side: what are we going to do if a user switches Metamask active account when there is an ongoing swap? As I can see, there is no API allowing to forcefully change account back.

It's also important to note that user interaction will be required during swaps to sign and send transactions. Users will actually need to stay in front of the screen during the entire swap

[2022-10-19 16:07] tonymorony commented on #1167
Thats a good question, thanks for brining it up!

We can show warning popup in app (we have to do it on logout option lets say as well, right now we do have default popup when user trying to refresh page)

I've tried few swap interfaces where you have to confirm transactions with metamask - usually best practice is to kinda lock user in such case on swap without possibility to switch to another wi

[2022-10-19 16:20] sergeyboyko0791 commented on #1167
This is good idea!

This is not a problem more since we can extract the pubkey from `signTypedData_v4` response.
It's a problem if we'll activate UTXO coins via Metamask and sign UTXO transactions via `eth_sign`. But if we activated ETH coin with Metamask and want to but it, we can just send

Just adding in support of this

if we even buy ETH activated with Metamask and sell UTXO activated somehow

[2022-10-19 16:47] sergeyboyko0791 commented on #1167
This is good idea!

This is not a problem more since we can extract the pubkey from `signTypedData_v4` response.
It's a problem if we'll activate UTXO coins via Metamask and sign UTXO transactions via `eth_sign`. But if we activated ETH coin with Metamask and want to but it, we can just send

Just adding in support of this

If we buy ETH activated with Metamask and sell UTXO activated somehow anot

[2022-10-19 16:54] sergeyboyko0791 commented on #1167
Summarizing the above, the only reason to login to AtomicDEX via Metamask is to swap ETH based coins and their tokens cross-chain. For example, cross BNB and ETH mainnet.
The user experience will be questionable as we'll ask the user to switch the `chainId` every time we need to send Maker/Taker payment, spend the other Taker/Maker payment or to refund our funds. An example:
1. Ask the user to swi

[2022-10-19 17:24] gcharang commented on #1167
what if, we ask users to export/import metamask seed in atomicdex and deal with address derivation paths/accounts etc., the same way hardware wallets are going to be treated? Users can still access the same balances on metamask, but can trade on atomicdex

I understand this will not really be a metamask integration. but, if metamask makes switching networks, dealing with utxo chains hard, then thi

[2022-10-19 17:35] cipig commented on #1167
i do exactly this, pretty often... i can trade on all EVM DEXs and have the traded coins directly in my ADEX Desktop... but i did it the other way around, i imported privkey (of ETH or any other EVM token, since they are all the same) into Metamask

[2022-10-19 17:36] gcharang commented on #1167
Really, compared to AtomicDEX, there isn't much functionality in Metamask afaik. It is just a wallet and can send/receive coins/tokens to on chain contract addresses.

It can do on chain really well. and isn't designed to deal with anything cross chain

I feel that atomicdex can replicate all the functionality on metamask and can become the "key to all crypto" vs metamask's "key to EVM chains"

[2022-10-21 10:20] sergeyboyko0791 opened #1507 "Handle BIP49 purpose to support P2WPKH addresses with Trezor"
Currently, BIP44 purpose is hardcoded at the [Bip44DerivationPath](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/crypto/src/bip44.rs#L12). Perhaps it's worth to add a type like
[code]
where the `BipPurposeValue` is either 44 or 49 etc.

Ref: https://github.com/bitcoin/bips/blob/master/bip-0049.mediawiki

[2022-10-25 08:26] artemii235 commented on #1431
- [ ] https://github.com/KomodoPlatform/atomicDEX-API/pull/1496#discussion_r1004155572

[2022-10-25 13:23] reval12 opened #1508 "Swap Verus to Zcash Failed "makerpaymentspendfailed""
I swap verus coins to zcash, then an error appears in the swap process.
error description

taker_swap:1177] utxo_common:825] rpc_clients:1515] JsonRpcError { client_info: "coin: ZEC", request: JsonRpcRequest { jsonrpc: "2.0", id: "288", method: "blockchain.transaction.broadcast", params: [String("")] }, error: Response(electrum3.cipig.net:10058, Object({"code": Number(1), "message": String("the tr

[2022-10-25 13:28] cipig commented on #1508
update your coins file to latest: https://github.com/KomodoPlatform/coins/blob/master/coins

[2022-10-25 15:02] reval12 commented on #1508
i did swap from verus to zcash. my verus has decreased by 9 but an error appears and the swap failed. Where is my 9 verus coin..??

[2022-10-25 15:02] #1508 closed

[2022-10-25 15:04] reval12 commented on #1508
I've been using the latest app. the problem is that I swap from verus to zcash. my verus has decreased by 9 but an error appears and the swap failed. Where is my 9 verus coin..??
![Untitled](https://user-images.githubusercontent.com/8377439/197810533-bceff25d-2654-42b9-9a34-a6391aa53922.png)

[2022-10-25 15:07] cipig commented on #1508
if you are using the app (this is the API repo, so i assumed you are using the API) then update the app to latest (0.5.6a) from https://github.com/KomodoPlatform/atomicDEX-Desktop/releases and the swap will either continue or be refunded

[2022-10-25 15:15] reval12 commented on #1508
yes. after using the application version 0.5.6a-beta. I entered the application and then looked at the swap history, it turned out that the history was gone.
![Untitled](https://user-images.githubusercontent.com/8377439/197813121-5b9b2d79-8225-4e5e-99e8-29cbe18aebba.png)

[2022-10-25 17:26] cipig commented on #1508
swap history is saved locally, on the PC that started them
is that the same PC? have you deleted something?

[2022-10-25 17:38] reval12 commented on #1508
I removed old version of atomicdex using total uninstaller then I installed it with latest version then I restored my wallet using seed. but after logging in and viewing the history, the history is deleted. but i still have the shipping transaction url: https://explorer.verus.io/tx/c064ba82d9c6e43eeef3cdc71c3be4d6af72b442e9492eb731b3d7a56c52e6ca

sorry I ask many questions
![Untitled](https://user

[2022-10-25 17:43] cipig commented on #1508
i am not familiar with windows, but sounds like that uninstaller removed the directory with all the swap history
that is bad, since the data contained there is needed to continue the swap or refund it
so the deleted data needs to be reconstructed manually
you should come to discord

[2022-10-25 17:55] reval12 commented on #1508
Oh, I see. That means it can't be refunded. ok, thanks for the help

[2022-10-25 17:58] sergeyboyko0791 commented on #1508
@reval12 we can recreate the swap file, let me check please the status on the other swap side.

[2022-10-25 18:06] reval12 commented on #1508
How to..?

[2022-10-25 18:19] sergeyboyko0791 commented on #1508
@reval12 do you have a discord account?

[2022-10-25 18:42] reval12 commented on #1508
@sergeyboyko0791 I don't have a discord account. only telegram and whatsapp

[2022-10-25 20:03] sergeyboyko0791 commented on #1508
@reval12 could you please join our telegram group via this link: https://t.me/KomodoPlatform_Official
Then you can find me as `Sergey Boyko`

[2022-10-26 08:36] shamardy commented on #1482
We need to continue fetching headers because new headers appear onchain and we need these new headers to validate transactions against them, that's why we spawn this loop to continue running. `notify_on_permanent_error` is meant only for when an error happens when activating the coin you can see that this notification is received only here https://github.com/KomodoPlatform/atomicDEX-API/blob/4de3c

[2022-10-26 08:40] shamardy commented on #1482
I believe the attempts shouldn't be reduced if the error is `No headers available`, so we need to filter for this error too if we are gonna have a number of attempts. Also when `No headers available` appears we should call `notify_sync_finished` to continue the coin activation. I see there is a PR to fix this I will have a look at it @borngraced :)

[2022-10-26 11:36] sergeyboyko0791 opened #1509 "Fix executor::abortable_system tests that are unstable on MacOS CI"

[2022-10-26 12:35] borngraced commented on #1482
yes you should review it now.

[2022-10-26 12:49] sergeyboyko0791 opened #1510 "Activate `BCH` coin with `Trezor` hardware wallet"
Currently, a UTXO coin can be activated with `Trezor` hardware wallet using `task::enable_utxo::*` and `task::enable_qtum::*` RPCs. We need to consider adding `task::enable_bch_with_tokens::*` RPCs.

ref: https://github.com/KomodoPlatform/air_dex/pull/669

[2022-10-27 08:55] artemii235 commented on #1499
@cipig It was likely because `fallback_swap_contract` is not passed into `enable` request in WebDEX `atom-demo` branch. It is fixed in `0.4.0` branch.
Though, there might be another case when parties won't negotiate swap contract address while it can be in fact possible. I will fix it.

[2022-10-31 14:27] tonymorony opened #1520 "Add possibility to set primary and backup nodes during enabling"
It would be awesome to have a way to deterministically set primary node which will be used for connection and backup node(s) which should be used when connection to primary node can't be established.

(e.g. our case is self-hosted/quicknode infrastructure as primary and public nodes as a backup options https://github.com/KomodoPlatform/air_dex/pull/676#issuecomment-1295226874)

[2022-11-01 15:52] sergeyboyko0791 opened #1524 "Reduce the size of error enumerations"
We're forced to use [#[allow(clippy::result_large_err])](https://rust-lang.github.io/rust-clippy/master/#result_large_err) due to the large size of error enumerations as `WithdrawError`, `DelegationError` etc.
The main problem is the size of `BigDecimal`, `MmNumber`. We probably need to add a lightweight serializable analogs.

[2022-11-02 14:05] molecular commented on #701
Status?

[2022-11-03 12:35] artemii235 opened #1530 "Find a way to run WASM tests from integration tests dir."
https://github.com/KomodoPlatform/atomicDEX-API/pull/1516#discussion_r1012750527

[2022-11-03 15:12] artemii235 commented on #1476
@modenero Unfortunately, due to significant differences in NEX and BTC (and most of the forks) transaction format, we are not able to support it now. It will trigger too many changes in our UTXO coins handling code. Could you please provide an address to which we should send your coins back?

[2022-11-03 15:33] artemii235 commented on #701
@molecular API PR with SLP was merged and published few months ago. We will finally have a desktop release with SLP support in the coming week or two. Also, SLP will be likely included in the upcoming web version public alpha release.

[2022-11-03 15:39] laruh commented on #1476
@modenero Hi, sorry, can I just send you btc or usdt for your coins?
It will be much easier and faster since withdraw method doesn't work properly.
So provide me please the address and amount of preferable coin.
Also, is there a source where I can see the value of the NEX?

[2022-11-03 16:05] artemii235 opened #1531 "Possible TON integration."
Tracking issue for possible TON integration research.

[2022-11-04 13:20] smk762 commented on #701
Can you please recommend where I can trade to get some SLP tokens for testing? Everywhere I look seems to have "Smooth Love Potion", but I'm pretty sure that's not what I need.

[2022-11-04 23:07] modenero commented on #1476
@artemii235
@laruh

ahhhh... it's unfortunate that Nexa won't joining the Komodo family at this time. but i really, REALLY appreciate your time and efforts in trying to make it happen.

would you be kind enough to point me to the location of the "coins handling code" so that I may share this as a "challenge" for members of the Nexa developer community?
---

and there is certainly no need to return

[2022-11-06 01:48] WikiMin3R opened #1533 "Addition of PoSV2 UTXO Coins - POT + RDD"
Greetings!

Looking to add POT and RDD UTXO coins. They are both PoSV2 sub-type.
We are using POT as a test-case and seeing transaction version incompatibility ("Version 4" on POT side).
Tried various iterations with existing ADEX Tx Constructor, but that did not work.
Will need to evaluate Tx Construct Structure for PoSV2 in the context of creating coin-class-specific type on ADEX.
We have some o

[2022-11-06 12:20] sergeyboyko0791 opened #1535 "Unit tests within `mm2_main` crate aren't launched and even compiled"
Unit tests that no longer run:
* mm2_main/*
* mm2_main/lp_ordermatch_tests.rs
* mm2_main/lp_ordermatch/*
* mm2_main/lp_swap.rs
* ...

They seem to be broken on https://github.com/KomodoPlatform/atomicDEX-API/pull/1516
CI logs: https://dev.azure.com/ortgma/b005cf5c-ab2b-4dbd-af8f-69a926b84419/_apis/build/builds/8644/logs/96

[2022-11-08 12:17] artemii235 commented on #1535
@sergeyboyko0791 Thanks for noticing this! I will take a look shortly.

[2022-11-08 13:05] sergeyboyko0791 commented on #1167
As we decided to integrate MetaMask login just as PoC (till waiting for [MetaMask Snaps](https://metamask.io/snaps/)), I'd like to share my thoughts on how it can be implemented:

## Login to AtomicDEX with MetaMask

In this approach the user will be able to activate ETH/ERC20 coins *only*.

1. GUI runs mm2 without a passhrase, but specifies a flag like `metamask: true`.
2. mm2 initializes MetaMas

[2022-11-08 14:53] tonymorony opened #1536 "Tx fees are extra high for Atom transactions"
[ cc @ozkanonur ]

Adex:
<img width="459" alt="image" src="https://user-images.githubusercontent.com/24797699/200596944-6ce2cd8e-dca2-46c3-b388-dad3d2661c22.png">

Kelpr:
<img width="365" alt="image" src="https://user-images.githubusercontent.com/24797699/200596851-f96b542b-1837-4a96-922d-c940f338bfbe.png">

[2022-11-08 14:53] tonymorony opened #1847 "Tx fees are extra high for Atom transactions"
[ cc @ozkanonur ]

Adex:
<img width="459" alt="image" src="https://user-images.githubusercontent.com/24797699/200596944-6ce2cd8e-dca2-46c3-b388-dad3d2661c22.png">

Kelpr:
<img width="365" alt="image" src="https://user-images.githubusercontent.com/24797699/200596851-f96b542b-1837-4a96-922d-c940f338bfbe.png">

[2022-11-08 15:12] ozkanonur commented on #1536
Could you lower the gas price in coins config and try again? Fee calculation uses gas price from coins config.

[2022-11-09 09:13] artemii235 commented on #1167
I vote for `Login with Iguana/BIP39 passphrase`.

[2022-11-09 11:54] artemii235 commented on #1476
@modenero

There are a few important locations:
https://github.com/KomodoPlatform/atomicDEX-API/blob/dev/mm2src/mm2_bitcoin/chain/src/transaction.rs - Transaction struct, its de/serialization, etc.
https://github.com/KomodoPlatform/atomicDEX-API/blob/dev/mm2src/mm2_bitcoin/script/src/sign.rs - Sighash generation.
https://github.com/KomodoPlatform/atomicDEX-API/tree/dev/mm2src/coins/utxo_signer - U

[2022-11-09 20:17] sergeyboyko0791 commented on #1167
I've prepared an example MetaMask Snap that requests the private key and returns to the website.
So it seems that we'll be able to get secp256k1 private key to activate UTXO/QRC20/ETH/ERC20 and other coins.
I'm totally unsure if it will be allowed to reveal the user's private key.
Probably the MetaMask team will ban such Snaps that reveal the private keys, it's better to ask them.

[2022-11-09 20:19] tonymorony commented on #1167
agreed, it looks like a best option until they snap feature matures

[2022-11-11 00:26] ca333 commented on #1531
lets ask TON if they are interested in a collab / sponsoring ref. the TON rust SDK as a first step/milestone of the full integration?

[2022-11-11 01:26] modenero commented on #1476
@artemii235
thank you so much for all you and your team have done to help our community join yours. :pray: Nexa has a wealth of talented individuals that I'm hoping will be able to pickup from the point at which you've brought us and get us over the finish line. I'll take a lil time to summarize the links you've shared and then brief the Nexa community on what lies ahead.

i look forward to "trust

[2022-11-11 12:17] artemii235 commented on #1045
@shamardy
Thanks for very detailed research! 🙂

Yes, this seems acceptable. Though,

is a bit too much 🙂

We can try it - with such a long lock duration, even 1,5x will give taker enough time to act even if his payment is spent right before locktime.

Also, a couple of questions:
[examples](https://github.com/lightning/bolts/blob/master/07-routing-gossip.md#recommendations-for-routing) demonstrate

[2022-11-11 14:21] shamardy commented on #1045
First, Just adding a note about this to not forget :)
The maker has to make sure that the `final_cltv_expiry` (last hop cltv) is less than the taker swap locktime (Assumed 22 hours for now). I will add this info to the above [research comment](https://github.com/KomodoPlatform/atomicDEX-API/issues/1045#issuecomment-1310604403) to have a complete picture in one comment.

The 3 is related to the max

[2022-11-11 18:42] shamardy commented on #1045
final_cltv_expiry (last hop cltv) should be **more** than taker swap locktime (at least double like other swaps to give the taker enough time to claim the lightning payment), **not less**. I miscalculated this, will update this in both comments now. Taker swap locktime (for other non-lightning coins) when Maker is lightning can be just the current implemented swap locktimes in mm2, not 22 hours.

[2022-11-13 00:07] DeckerSU opened #1540 "mocktopus 0.7.11 build is failed with rustc 1.67.0-nightly (42325c525 2022-11-11)"
JFYI. On `x86_64-pc-windows-msvc` host with latest nightly toolchain `1.67.0-nightly (42325c525 2022-11-11)` it failes to compile `mocktopus` crate with the following error:
[code]
Solution is to use previous version of toolchain `1.67.0-nightly (1286ee23e 2022-11-05)`:
[code]

[2022-11-14 08:16] laruh commented on #927
If there is connection problem during Zcoin activation, tonic just propagate [connection errors](https://pastebin.com/JBw66N0F) and doesnt try to reconnect, if connection is stabilized.

[2022-11-14 10:41] artemii235 commented on #1535
Fixed.

[2022-11-14 10:41] #1535 closed

[2022-11-14 10:42] artemii235 commented on #1509
Fixed.

[2022-11-14 10:42] #1509 closed

[2022-11-14 10:46] artemii235 commented on #927
@laruh As I can see, the error happened during activation process, and it was not the thing to test 🙂

Could you please check that background sync process continues in case of connection problems *after* successful coin activation?

Please also post documentation example of Zcash params file path in request for @smk762.

[2022-11-14 10:59] laruh commented on #927
@artemii235

Oh, after successful coin activation other processes  go fine even if we have connection problems.

I sent an example in dm to smk, and it was added in [this pr](https://github.com/KomodoPlatform/developer-docs/pull/395/files#diff-6d7a4550118f9f7e178e921fec953c89aaf8ef3b9de4ffd2e69b426f8183643f)

[2022-11-14 13:17] artemii235 commented on #927
@laruh Great!
I have also added "checksum verification of Zcash params files." to the checklist. Could you do it this week, please?

[2022-11-15 09:22] tonymorony opened #1542 "Add TRON"
TRX20 USDT is quite popular for payments with crypto so people who using that might be find it's addition quite useful
It's EVM compatible, would be great to add if there is no additional hustle

[2022-11-15 09:33] sergeyboyko0791 commented on #1500
Solved

[2022-11-15 09:33] #1500 closed

[2022-11-15 10:15] artemii235 commented on #638
Not actual anymore since we have started using RPC tasks for this purpose.

[2022-11-15 10:15] #638 closed

[2022-11-15 10:52] artemii235 commented on #900
Related info
[EIP-721](https://eips.ethereum.org/EIPS/eip-721)
[EIP-1155](https://eips.ethereum.org/EIPS/eip-1155)

[2022-11-15 11:04] tonymorony opened #1543 "Make AtomicDEX compatible with wallet connect"
I think adding possibility to  pay with atomicdex in 3rd party web applications is essential feature to be really competitive in web3 ecosystem as a wallet because if user will not be able to use atomicdex in other web applications he will be forced to use another wallet as an alternative

this https://walletconnect.com/ protocol is the most popular as far as I can see (e.g. it's one of login opti

[2022-11-15 12:23] artemii235 commented on #900
So, after some research, I have discovered the following problems of implementing the support in a way described in the private doc:
1. To get ownership data, we need to know all NFT smart contract addresses in advance. They should be specified in the coins file and/or it should be possible for the user to add them manually.
2. Even if we know NFT addresses, it might be impossible to get token IDs

[2022-11-15 15:18] artemii235 commented on #823
As we have started initial research on ACO integration, I post useful resources:
https://www.investopedia.com/terms/o/option.asp
https://www.investopedia.com/terms/a/americanoption.asp
https://www.investopedia.com/terms/o/option-premium.asp

[2022-11-16 12:12] artemii235 opened #1545 "Panic on tendermint coins activation on mobile platforms."
`common:474] panicked at 'no CA certificates found', /home/azureagent/.cargo/registry/src/github.com-1ecc6299db9ec823/hyper-rustls-0.22.1/src/connector.rs:45:13`

[2022-11-17 10:24] artemii235 commented on #740
@sergeyboyko0791 Could you please post a comprehensive test plan on testing the global HD feature? It should contain reference wallets to check against, etc.

[2022-11-17 10:25] artemii235 commented on #1504
Done

[2022-11-17 10:25] #1504 closed

[2022-11-17 10:26] artemii235 commented on #1491
Done

[2022-11-17 10:26] #1491 closed

[2022-11-17 10:26] artemii235 commented on #1461
@cipig Could you test it with the latest dev, please? cc @smk762

[2022-11-17 10:28] artemii235 commented on #1278
@cipig @himu007 It has been done, could you test the latest dev, please? cc @smk762

[2022-11-17 10:29] artemii235 commented on #1126
@cipig @sergeyboyko0791 Can we close this?

[2022-11-17 10:30] artemii235 commented on #1158
@SirSevenG @sergeyboyko0791 What is the current status of this issue?

[2022-11-17 10:31] artemii235 commented on #1292
@sergeyboyko0791 What is the current status? 🙂

[2022-11-17 10:31] artemii235 commented on #1450
@smk762 Can we consider this as done?

[2022-11-17 10:36] artemii235 commented on #1545
Fixed.

[2022-11-17 10:36] #1545 closed

[2022-11-17 10:52] yurii-khi commented on #1084
Thanks @sergeyboyko0791 !
@anarkiVan Could you please try to implement logout using updated `stop` on GUI side as a POC for now, we have few issues related to that functionality: #216 #497

[2022-11-17 10:58] sergeyboyko0791 commented on #1126
I rechecked it, and this issue is not related to QRC20 protocol.

The only problem is that we stop the swap and try to refund payments if an RPC request fails (in this case Electrum timeout).
Probably we need to try multiple times to execute Electrum/HTTP requests during the swap.

[2022-11-17 11:02] sergeyboyko0791 commented on #1158
Should be fixed by https://github.com/KomodoPlatform/atomicDEX-API/pull/1490
@yurii-khi Have you had a chance to test how long mm2 stops after the PR mentioned above?

[2022-11-17 11:07] sergeyboyko0791 commented on #1292
This should fix the problem https://github.com/KomodoPlatform/atomicDEX-API/pull/1547

[2022-11-17 13:14] anarkiVan commented on #1084
@yurii-khi @sergeyboyko0791 it works as expected, i was able to log out and login in short time and many times and i did not catch any problem. Big thanks!
I have question. Is it possible to add FFI for stopping mm2? And is there any reason for this?For example rpc call does not work and FFI works

[2022-11-17 13:29] smk762 commented on #1450
User has not responded - we can close it. Will chase up again and they make contact I will let you know the outcome

[2022-11-17 14:55] sergeyboyko0791 commented on #1084
Yes we can do it, we've already added `mm2_stop` FFI for mobile GUI

[2022-11-17 17:53] cipig commented on #1278
works fine
to test i have set segwit:false for LTC, but could do this withdraw to `MWwPtcmY43HocmNhcXY7q5o18vvsrTNv5U`:
https://chainz.cryptoid.info/ltc/tx.dws?fe7b7acdd21d9e24c3dde2c953a6d39541fa96519446fe2aa0ee00f0d9031a18.htm

[2022-11-17 18:19] cipig commented on #1461
works fine, my orders have `"is_mine": true`, the others have `"is_mine": false`

[2022-11-17 18:19] #1461 closed

[2022-11-17 18:26] cipig commented on #1499
do we have any new swap contracts deployed that i can use to test? preferably on chains other than ERC20.

[2022-11-20 17:52] sergeyboyko0791 commented on #1167
I ran into several challenges while I worked on https://github.com/KomodoPlatform/atomicDEX-API/pull/1551:

### GuiAuthValidationGenerator

`GuiAuthValidationGenerator` takes a key-pair on ETH/ERC20 initialization in order to sign a proof. See an [example](https://github.com/KomodoPlatform/atomicDEX-API/blob/metamask-poc/mm2src/coins/eth/v2_activation.rs#L221-L227).
When we activate a coin with th

[2022-11-21 07:29] smk762 commented on #1065
@artemii235 we can probably close this issue

[2022-11-21 07:55] smk762 commented on #1278
Using same address as above in GUI was successful and explorer returns expected result
![image](https://user-images.githubusercontent.com/35845239/202994797-fa6e80f2-6c84-4225-b155-e9a04180a5a8.png)
https://blockchair.com/litecoin/transaction/42cae665742f2a3480daf44496490e1a0ff750b236bf3f6c1b38e541504c32ea

[2022-11-21 11:15] artemii235 commented on #1167
@sergeyboyko0791

### GuiAuthValidationGenerator

Use the built-in [MetaMask RPC provider](https://docs.metamask.io/guide/rpc-api.html#ethereum-json-rpc-methods)

I assumed we would use the built-in RPC provider - Metamask uses Infura with their own API key, so we don't have to bother using another RPC node.

It's likely that we don't need it - it's possible to add any chain manually, similarly to

[2022-11-21 11:52] sergeyboyko0791 commented on #1167
Ok, good.

Do I understand correctly, that you suggest the following activation scheme?
* User tries to activate BNB using `enable_eth_with_tokens`
* We tries to switch ChainId to 56 in order to check if MetaMask is able to work with BNB smart chain
* If it fails, we return an error, otherwise activate the coin successfully.
So if the user wants to also support BNB smart chain, he needs to add thi

[2022-11-21 14:13] artemii235 commented on #1167
Yes

Also yes 🙂 And to avoid adding one more RPC, it might be worth to figure out other possible solutions: like adding `broadcast_immediately: bool` flag to the existing `withdraw`.

[2022-11-21 14:45] sergeyboyko0791 commented on #740
Global HD account feature allows the user to use the BIP32/BIP44/BIP49/BIP84 derivation scheme at the following path:
`m/purpose'/coin'/0'/0/hd_account_id`, where `hd_account_id` is set globally at the mm2 config, and `purpose`, `coin` values vary and depend on a coin configuration.

For example, if the user wants to activate 3rd HD account (`m/purpose'/coin'/0'/0/3`), the config should look like:

[2022-11-21 15:40] tonymorony commented on #900
To me it looks like we'll need to use 3rd party service for this feature anyway: running cloud/dedicated server archive Ethereum node is estimating for almost 100k$/year (crazy hardware is needed atm, especially storage) + we'll need to maintain it and so on

https://moralis.io/nft-api/ - this solution seems to has widest blockchains coverage (covering all the blockchains we might need) and statin

[2022-11-22 11:15] artemii235 commented on #423
Done

[2022-11-22 11:15] #423 closed

[2022-11-22 11:15] artemii235 commented on #299
Fixed long time ago.

[2022-11-22 11:15] #299 closed

[2022-11-22 11:21] artemii235 commented on #1278
Great, thanks for testing!

[2022-11-22 11:21] #1278 closed

[2022-11-22 11:31] ozkanonur commented on #1115
We can calculate utc timestamp on user side and compare it with utc timestamp from the ntp servers. If diff is more than we expected, we can warn the user and disable operations which might cause problems.

And this should be performed in a loop with worker thread. We don't need to request ntp servers all the time for the comparison, one request on the mm2 initialization is enough. If the initial

[2022-11-22 11:39] artemii235 commented on #1499
@cipig You can use the following for BNBT:
[code]

And for mainnet BNB:
[code]

[2022-11-22 11:47] ozkanonur commented on #1115
Since we have a loop already, I believe it can be done without restart

[2022-11-22 14:38] artemii235 commented on #1427
@smk762 Did you encounter any cases of having a permanent `TemporaryError`?

[2022-11-22 14:43] artemii235 commented on #1065
Ok, thanks.

[2022-11-22 14:43] #1065 closed

[2022-11-22 14:44] #1292 closed

[2022-11-22 14:47] smk762 commented on #1427
No - I recall perhaps seeing that error temporarily a while ago when checking the task_id status for a coin I had initiated twice and it was building cache - one of the status responses returned that error until activation complete. Tried to replicate again locally but seems issue was patched

[2022-11-22 15:16] artemii235 commented on #1427
It's likely that Electrum is down during activation: `Failed to connect to at least 1 of [ElectrumRpcRequest { url: \"pirate.sirseven.me:10032\"`.

We need more electrums for production and ensure that they are not going down together at the same time. cc @SirSevenG @tonymorony

[2022-11-22 15:27] artemii235 commented on #1427
As I can see, we already use 3rd party electrums for ARRR: https://github.com/KomodoPlatform/coins/blob/master/electrums/ARRR. Are we going to add more?

[2022-11-22 18:54] smk762 commented on #1427
my bad - `pirate.sirseven.me:10032` has been shut down.

[2022-11-22 21:45] shamardy commented on #1115
We can do a check at the dispatcher level, this way we can decide which APIs should and shouldn't work when time is not in sync.

So to summarize, with the checks @artemii235 and @ozkanonur mentioned, there should be 3 checks:
1. When starting the app, if time is not in sync, we shouldn't kickstart orders/swaps until it's fixed.
2. If the time is changed while the app is running, this should be de