[2020-04-22 07:56] artemii235 commented on #406
Added long time ago.

[2020-04-22 07:56] #406 closed

[2020-04-22 08:00] artemii235 commented on #620
Already had same segfault on Debian 9 - https://github.com/KomodoPlatform/atomicDEX-API/issues/343

[2020-04-22 08:09] artemii235 commented on #581
Works fine with libtorrent 1.2.6
https://dev.azure.com/ortgma/Marketmaker/_build/results?buildId=1865&view=results

[2020-04-22 08:09] #581 closed

[2020-04-22 09:59] artemii235 opened #621 "QRC20 integration."
- [x] Enable QRC20, fetch balance
- [x] Implement withdraw
- [x] Deploy etomic-swap smart contract to QTUM testnet
- [x] Implement swap in AtomicDEX-API
- [x] Enable buy/sell/setprice. Check the QRC20 and QTUM balance.
- [x] Check QTUM balance on QRC20 withdraw. If QTUM balance is 0 MM2 just returns `Couldn't generate tx from empty utxos set` which is unclear.

[2020-04-22 10:00] artemii235 commented on #621
https://docs.qtum.site/en/QRC20-Token-Introduce.html

[2020-04-22 11:13] artemii235 commented on #612
Not yet, it requires additional DNS configuration, current electrum servers addresses maintained by cipi follow the `electrum1-3.cipig.net:PORT` pattern, it should be changed to e.g. `kmd.electrum1.cipig.net:80` etc.
@cipig is it possible to add such DNS for electrums keeping old addresses available too?

Ì'm not thinking that if I didn't heard about something it doesn't exist, I'm making an `assu

[2020-04-22 12:24] cipig commented on #612
That will not work, since all coins are running on the same server (or 3 of them), and each server has only one port 80.

[2020-04-22 14:09] Aimeelu668 commented on #618
楼主大大总结的很到位！不过自己开发的钱包都是热钱包机制，节点同步慢，归集非常麻烦，最重要的是这些私钥存在服务器上很危险，天天被黑客盯着。当时我们平台有50多万会员，为了解决钱包问题折腾了一年，最终放弃了，选择了优盾钱包（ https://www.uduncloud.com）。通过API直接接入就行，有独立客户端操作审核、归集等，私钥也是自己在客户端上管理，服务器上不存。用了快一年，没有出现安全问题，财务都反馈说体验很好。我们也终于可以专注于业务开发了。推荐试试

[2020-04-22 14:10] Aimeelu668 commented on #618
楼主大大总结的很到位！不过自己开发的钱包都是热钱包机制，节点同步慢，归集非常麻烦，最重要的是这些私钥存在服务器上很危险，天天被黑客盯着。当时我们平台有50多万会员，为了解决钱包问题折腾了一年，最终放弃了，选择了优盾钱包（ https://www.uduncloud.com）。
通过API直接接入就行，有独立客户端操作审核、归集等，私钥也是自己在客户端上管理，服务器上不存。用了快一年，没有出现安全问题，财务都反馈说体验很好。我们也终于可以专注于业务开发了。推荐试试

[2020-04-22 17:22] cipig commented on #617
thanks, it works
mm2 now uses 1 DOGE as txfee when `force_min_relay_fee` is true
https://blockchair.com/dogecoin/transaction/3e0d95edc224c9093a35e391bb270d67da2812ccf65f0b914b94d12d6a15249e
https://blockchair.com/dogecoin/transaction/e44859cf9b95dfb239423f33d52c13825c496cad07d2022a9e3044d6749f31ce

it still can happen that the maker is failing the swap, like this: https://dexapi.cipig.net/public/e

[2020-04-23 05:20] artemii235 opened #623 "80/443 ports for electrum servers."
There are "bad ISPs" that are known to have paranoid policies so they tend to block literally any ports except standard HTTP, e.g. https://wiki.vuze.com/w/Bad_ISPs (*Claro is choking access to TCP/UDP ports because of paranoid policies on their NAT. The discussion started in issue that is not directly related to this topic, so I'm creating new one for further discussions. https://github.com/Komodo

[2020-04-23 05:24] artemii235 commented on #623
@cipig is it possible to add such DNS for electrums keeping old addresses available too?

@cipig AFAIK you already use load balancers for electrums, is it possible to have them also proxy 80 port of specific domain name to specific port of electrum server, e.g. `kmd.electrum1.cipig.net:80` is proxied to `electrum1.cipig.net:10001`?

[2020-04-23 05:42] artemii235 commented on #612
@ArtemGr I think It's not a big issue if we fetch the history only when balance is changed.
Also there's a protocol idea to add method that will allow to fetch history from specific block height: https://electrumx.readthedocs.io/en/latest/protocol-ideas.html#blockchain-scripthash-history, so when this is implemented we will save the block number for which we have the history already and request on

[2020-04-23 07:48] artemii235 commented on #621
QTUM added custom electrum calls for EVM smart contracts interaction, usage example from their electrum wallet: https://github.com/qtumproject/qtum-electrum/blob/master/electrum/network.py#L1352

[2020-04-23 17:16] cipig commented on #623
I don't use a loadbalancer, there is just a backup IP for each DNS entry, in case the first one is unreachable. But load balancers would not work, since they operate on IPs, not on DNS entries. We would need to run a proxy on each server that can differentiate between queries to `kmd.electrum1.cipig.net` and `btc.electrum1.cipig.net`, even if they point to the same IP. afaik this is only possible

[2020-04-23 17:57] tonymorony opened #624 "Linux release build on older version worker for better compatibility"
It looks like that Ubuntu 18+ worker using for release binaries so it doesn't work on 16.04 machines:

`./mm2: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version `GLIBCXX_3.4.22' not found (required
 by ./mm2)`

I think it might be worth to build releases on 16.04 worker if it not too hard to switch because 16.04 LTS supporting by Ubuntu until 2024:
https://ubuntu.com/about/release-cycle

[2020-04-23 18:10] ArtemGr commented on #623
Blocking non-HTTP in order to avoid any troublesome traffic, in order to avoid legal repercussions, is only one of the angles.
Another angle is prioritizing such traffic, meaning that the reliability of non-HTTP communication might be suboptimal compared to the HTTP traffic.

I've seen Wi-Fi spots (in Italy in particular) that only passed HTTP traffic.

Yes, exactly, WSS is what I had in mind.
Not

[2020-04-23 18:12] BloodyNora commented on #623
If need be, a connection to the TOR network will be established via so-called bridges, some of which listen on standard https ports.

See https://tor.stackexchange.com/questions/13270/how-to-use-bridges-in-orbot for details.

[2020-04-23 18:16] ArtemGr commented on #623
Wow. Thanks @BloodyNora. Looks like Orbot is not really an option.

[2020-04-23 18:37] ArtemGr commented on #612
Good idea on collecting the metrics!
I think we can get them already by parsing the logs, such as
[code]
added to my list.

[2020-04-24 05:24] artemii235 commented on #624
Thanks for opening the issue!
You're right, current CI agent uses `Ubuntu 18.04.4 LTS`, going to install `16.04` instead.

[2020-04-24 05:43] artemii235 commented on #623
So I think we have a plan:
- [ ] Add WSS protocol support into MM2 Electrum client implementation.
- [ ] Start gradual reconfiguration of Electrum servers enabling WSS on all of them.
- [ ] Setup a proxy that will proxy Electrum traffic from e.g. `kmd.electrum1.cipig.net:443` to `electrum1.cipig.net:30001`
- [ ] External servers (BCH, LTC and others) that do not enable WSS will be a problem, howev

[2020-04-24 10:20] cipig commented on #623
Sounds like a plan. Point 2 is already done, all our electrum servers have wss enabled. They use the same port scheme as KMD `SERVICES = tcp://:10001,rpc://:8001,ssl://:20001,wss://:30001`, eg ZEC has `SERVICES = tcp://:10058,rpc://:8058,ssl://:20058,wss://:30058`.
The certificate is the same as the one for SSL and the same as on https://dexapi.cipig.net/public/ticker_24h.php.

[2020-04-24 11:28] BloodyNora commented on #623
fyi, all verus electrums as per https://github.com/KomodoPlatform/coins/blob/master/electrums/VRSC do support `WSS` on `tcp://17488`

[2020-04-24 11:41] cipig commented on #621
Made the same experience, so i replaced s1-3 with these in  our coins repo:
https://github.com/KomodoPlatform/coins/blob/master/electrums/QTUM

[2020-04-25 16:31] cipig commented on #545
Setting the threshold here
https://github.com/KomodoPlatform/atomicDEX-API/blob/e01d8acb0f05cf7ac6450f0956a2d69fda09a822/mm2src/lp_swap.rs#L329
to the value of relay_fee of the respective coin should solve the dust problem on DOGE https://github.com/KomodoPlatform/atomicDEX-API/issues/551
and QTUM https://github.com/KomodoPlatform/atomicDEX-API/issues/446

this is from the QTUM source code
[code]

[2020-04-25 17:57] cipig commented on #544
had a couple of `MakerPaymentRefundFailed` today, but on KMD, with `non-mandatory-script-verify-flag (Locktime requirement not satisfied)`
don't know if it is the same problem... here is a collection
[code]

[2020-04-26 23:33] cipig commented on #567
some new infos on the orderbook problem:
as soon as i increase the number of orders on the network, nodes start to loose connection to the seed nodes like this
[code]
if i cancel orders, the error rate is slowing done and after couple of minutes the errors stop completely

the bandwith on the seed nodes is not high and the number of connections is also low (under 300)
load and mem usage is low, so

[2020-04-27 00:15] ArtemGr commented on #567
FYI, going to detect the
[code]
errors in the UI MM logs and index this metrics with the caretakers.
So if a Maker has these errors then their liveliness rating will drop.
Plus we'll automatically have some database statistics.

[2020-04-27 13:08] cipig commented on #544
i can't recover any of the above funds... some of them are 3 days old, so waiting does not seem to help

[2020-04-27 13:18] artemii235 commented on #544
The bug appeared during refactoring, function sending maker refund transaction is using final sequence so locktime is ignored by coin daemon. Will fix asap.

[2020-04-27 13:38] artemii235 commented on #544
Should be fixed now, I've added the integration test covering this case so it will never happen again. Could you please update and retry recovering your KMD? Please keep this issue open afterwards because it's also related to another problem.

[2020-04-27 13:43] cipig commented on #544
that was fast :-)
thanks a lot, it works
[code]

[2020-04-28 10:01] cipig commented on #593
[code]
from https://dexapi.cipig.net/public/error.php?uuid=2caa5d3e-a830-4172-9dc6-3b7741ccdf32
and https://dexapi.cipig.net/public/error.php?uuid=ac9d9ae0-727d-419c-8872-fff5368ddf91

don't know if this is the same issue though

[2020-04-28 11:03] artemii235 opened #625 "Add historical balance data to my_tx_history."
https://discordapp.com/channels/@me/654271611268235274/704633494046900274
Requested by Slyris at Discord DM.

The idea is to add `resulting_balance` to every item of transaction history to display the balance value in the past when transaction was sent/received. E.g. address has 2 transactions: +1 KMD and -0,5 KMD, the my_tx_history response will look:
[code]

[2020-04-28 12:04] artemii235 opened #626 "Stop swaps on "stop" RPC call. Use lock files to prevent cross-process swap start."
https://github.com/ca333/komodoDEX/issues/740

[2020-04-30 10:29] cipig opened #627 "panic during swap"
Saw this panic in the logs of a maker node:
[code]

[2020-04-30 10:48] artemii235 commented on #627
Thanks for report!
I'm unsure if this is directly related to swap, the problem is MM2 tried to delete order file that was deleted previously and as this code section uses `unwrap!` instead of graceful error handling we get the panic. Will fix on this week.

[2020-04-30 11:21] sergeyboyko0791 commented on #612
@ArtemGr I want to do `// sort the tags while converting `&[&TagParam]` to `Vec<Tag>`.`
https://discordapp.com/channels/@me/687147433003974657/705371359307497513

This comment is two years old. Can you say is it important to keep tags unordering? if I added tags sorting, UI applications would work correctly?

[2020-04-30 22:03] ArtemGr commented on #612
Might affect https://github.com/ca333/komodoDEX/blob/e3a1d2ab39edb7719ee58f829d11a910277f1705/lib/services/mm_service.dart#L453, but it's NP as currently the UI is bundled with a specific version of MM, so we'll just update the UI code if the ordering of swap tags is flipped.

[2020-05-01 10:19] tonymorony commented on #573
@artemii235 This problem is actual on latest mm2 (I've tested on mm2-aee8d8431-Windows_NT-Release)

Logs:
https://paste.ubuntu.com/p/sFfsy3vkgh/

It looks like I'm starting to get an empty orderbook after this error:

[code]

Orderbook on start:

![image](https://user-images.githubusercontent.com/24797699/80799003-e4b85c00-8bcf-11ea-850d-f8a31c458ebf.png)

In 30-40 seconds after start and few requ

[2020-05-01 10:24] cipig commented on #573
i guess it is this issue: https://github.com/KomodoPlatform/atomicDEX-API/issues/567
the more orders there are on the network, the higher the chance that orderbook will disappear

[2020-05-01 10:34] tonymorony commented on #573
@cipig Yes, it seems you're right because same behaviour I can see on Ubuntu at the moment.
Looks like people started to create more orders and it causing similar state to what we've seen during the stress test.

[2020-05-01 10:52] cipig commented on #573
It is strange though that the traffic is low on the nodes and  on the seed nodes, so it could also be some deadlock that happens when number of orders is high.
@artemii235 is there a way to find potential deadlocks? does `gdb` help?

[2020-05-01 10:54] tonymorony commented on #573
https://drive.google.com/file/d/1V_7yo-_4kdZiI1HnMz92H0SdpBVw9OiZ/view situation visualisation via GUI :)

[2020-05-01 12:00] ArtemGr commented on #573
Note that, IIRC, there was a plan to fix #567 by reimplementing the orderbook (in a decentralized and mobile-friendly manner), so `gdb` and co are completely optional.

We have two alternative implementations coming.

I can vouch for https://gitlab.com/artemciy/mm-pubsub-db/-/blob/a9dd3529/src/orderbook.rs#L376, that loop shouldn't have deadlocks in it and it is compatible with the legacy TCP/IP s

[2020-05-02 23:21] cipig opened #629 "taker fails ERC20 swaps too early"
i think that taker is failing erc20 swaps too early with `MakerPaymentValidateFailed`, here are 2 examples from the last 24h:

https://dexapi.cipig.net/public/error.php?uuid=4e867a20-21ab-4acd-926d-2ad8ece847cb
[code]
1588454005776 = May 2, 2020 9:13:25
but tx https://etherscan.io/tx/0xe52419936ee458b7fa1203e811334f5cf1cc0ca997f5f7f7b971361f6d0e02ee mined 09:13:26

https://dexapi.cipig.net/public/

[2020-05-04 09:35] artemii235 commented on #629
Thanks for report!
Looks weird, MM2 makes 3 attempts to request transaction details from coin RPC: https://github.com/KomodoPlatform/atomicDEX-API/blob/aee8d8431a42447eb32b87d52aff42ab2efc9a24/mm2src/lp_swap/taker_swap.rs#L693
ETH nodes should sync pending transactions pool and return them from RPC too, but it looks like it's not always the case and we maybe have to wait longer until transaction i

[2020-05-04 12:36] artemii235 opened #630 "Investigate TakerPaymentTransactionFailed"
https://dexapi.cipig.net/public/error.php?uuid=ad1670ea-a05f-4df0-96e9-dfa01c3d55be

[2020-05-04 12:36] artemii235 commented on #630
https://discordapp.com/channels/412898016371015680/476025090627207168/703164177853841438

[2020-05-05 07:18] artemii235 commented on #624
Will use Ubuntu 16.04 docker image on existing server to avoid full OS reinstall, we have some other useful stuff there. Thanks to @ArtemGr for idea 🙂

[2020-05-06 23:16] cipig commented on #544
TakerPaymentRefundFailed on BTC with same `non-final` from a user
[code]
https://pastebin.com/raw/7as9iQ2L

calling `recover_funds_of_swap` later returned him his BTC

[2020-05-07 12:05] artemii235 opened #632 "XTZ integration."

[2020-05-07 12:20] artemii235 commented on #627
Should be fixed now, please reopen this issue if problem occurs again.

[2020-05-07 12:20] #627 closed

[2020-05-09 12:38] cipig opened #633 "panick on seed node after incoming connection"
saw this panic on both seed nodes after the same IP 93.242.216.127 connected... one panicked right after connect 12:25:12, the other one needed a bit longer 12:22:21 - 12:22:47
[code]

[code]

[2020-05-11 06:37] artemii235 commented on #633
Thanks for report! Checking right now.

[2020-05-11 07:13] artemii235 commented on #633
The panic is caused by debug assertion in tokio `read_line_internal` function. I suspect that the future is polled after it is finished and it might be the result of usage of different futures and executors versions with conversion between each other (compat03as01). I will try to run the TcpStreams processing loops on tokio 0.2 executor and see if it helps.

[2020-05-11 07:37] artemii235 commented on #633
Pushed update and updated my seednode.
@cipig Could you please update yours too and monitor them for couple of days?

[2020-05-11 07:42] artemii235 opened #634 "Use BigRational/MmNumber to track amounts virtually locked by swaps."
Inspired by cipi report at Discord DM
[code]

[2020-05-11 13:09] cipig commented on #633
[code]
saw this one on both seed nodes (same IP address and time)

[2020-05-12 06:12] artemii235 commented on #633
I see, so my initial assumption was wrong. The assertion is active only for debug builds, please rebuild with `--release` cargo flag and restart the seednodes, it will suppress the panic. I will keep debug build on my seednode and also try to reproduce the problem outside of MM2 context to submit an issue to tokio repo, it might be bug in tokio.

[2020-05-12 08:36] artemii235 commented on #633
Please also ensure to rebuild with latest commit, it contains important modifications not related to panic.

[2020-05-12 13:00] cipig commented on #633
rebuilt from latest `mm2-seednodes-optimisation`, but the last panic showed up on both seed nodes shortly after start.
but i found the issue... it is the kernel setting `net.ipv4.tcp_tw_reuse = 1`, after turning it off, the error did not happen again...
btw, that explains why the error happened only once, shortly after start... i guess it was trying to reuse an old `TIME_WAIT` connection, likely f

[2020-05-12 14:48] artemii235 commented on #633
I will recheck whether `tcp_tw_reuse` has effect on this, I saw same panic on my seednode occurred long time after start.

[2020-05-12 15:10] cipig commented on #633
indeed, looked again and i also have one panic, without `tcp_tw_reuse`, but only on one of the seeds

[2020-05-13 07:16] artemii235 opened #635 "Set price with cancel previous does not move orders to cancelled. Update order instead?"
Leads to cancelled message not being broadcast to other nodes so we might see duplicate orders sometimes.

We should possibly update order instead to keep it's uuid, duplicates won't be possible in such case.

[2020-05-13 07:21] artemii235 commented on #635
In case of `update_order` implementation we should think about case when order is about to be updated during order matching, what problems may happen in this case?

[2020-05-13 09:11] tonymorony opened #636 "Mutli-device DB sharing and DB cloud backup by ecnrypting with users seed"
Idea is:

- Encrypt DB with user privkey (mm2 seed) so only user who posses privkey for decryption can get access to it same as with funds
- Upload it to some cloud storage as backup (it even might be amazon S3 lets say or something like that). It might sync on some events or by user request

Then user can easily import it to another device and decrypt by seed or restore lets say if he suddenly de

[2020-05-13 09:20] artemii235 commented on #635
@cipig Could you please update your makers and then check if latest commit solves the problem with orders duplication?

[2020-05-13 11:48] artemii235 commented on #633
I was able to reproduce the panic on my local environment, will submit the report to tokio repo soon.
Also it looks like debug assertions remain enabled because we keep debug info for release builds, I've explicitly disabled them for release profile. Could you please rebuild your seednodes binaries using latest commit?

[2020-05-13 13:24] artemii235 commented on #633
Submitted the issue to tokio repo: https://github.com/tokio-rs/tokio/issues/2532

[2020-05-13 16:11] cipig commented on #635
looks very good, haven't seen duplicate orders any more

[2020-05-14 06:40] artemii235 opened #637 "Add batch requests support."
Will allow to reduce the number of concurrent HTTP requests to API e.g. when multiple *concurrent* coins activation is required. On iOS parallel execution of multiple HTTP requests drains open files limit very fast, making the calls sequential to mitigate the open fds issue affects UX badly because activation time for dozens of coins may easily take over minute.

[2020-05-14 06:48] artemii235 opened #638 ""Non-blocking" coin activation."
Add `enable_in_background` and `electrum_in_background` (naming is subject to change) methods that spawn coins activation requests in background and respond immediately. The callers of background activation will then periodically check activation status using separate endpoint.

[2020-05-14 08:48] Milerius commented on #638
This is what i do currently in atomicdex-top:

[code]

[code]

Spawning a thread (so it's non blocking) and send an event when the coin is enabled to start fetching data from it (such as coinpaprika price for example)

[2020-05-14 11:03] artemii235 commented on #637
Done.

[2020-05-14 11:03] #637 closed

[2020-05-14 11:52] ArtemGr commented on #638
Blocking request = HTTP connection = file descriptor, and we only have 256 file descriptors on iOS.
When we're out of file descriptors, all kinds of stuff stop to work properly.

[2020-05-14 12:57] Milerius commented on #638
Oh I see ! Yeah ok it's a mobile issue !

[2020-05-14 13:23] ArtemGr commented on #638
And the batch API doesn't cut it because if a single coin is delayed in a batch the we're stuck.

[2020-05-15 07:02] #626 closed

[2020-05-15 11:14] artemii235 commented on #621
QTUM seem to refund unspent gas using coinbase transactions, but these outputs can not be spent during 100 blocks after initial confirmation due to tx maturity rules. Daemon returns `ad-txns-premature-spend-of-coinbase, tried to spend coinbase at depth 11 (code 16)`, we should handle such situation and do not attempt to spend premature coinbase outputs. This is also actual for other UTXO coins, bu

[2020-05-18 08:19] artemii235 opened #639 "Save UTXO swap payments redeem script separately."
Maybe even stop using P2SH to reveal the redeem script right away.

[2020-05-18 08:59] artemii235 opened #640 "Feature toggle protocol changes activation using hardfork concept."
We require to make backwards-incompatible changes sometimes, it is quite hard to keep all nodes up to date, especially on mobile platforms when we need days (or even weeks) to integrate new API version and then publish GUIs to stores.

We can do such updates similar to how hardforks are done:
1. Set the date of new protocol activation.
1. New API version should support both old and new protocols (

[2020-05-19 06:19] Milerius commented on #541
Will be usefull for the GUI Atomic dextop !

[2020-05-19 06:45] artemii235 opened #641 "Use secret hash directly instead of hashing it on the fly in maker swap recover funds."
https://github.com/KomodoPlatform/atomicDEX-API/blob/a00c2863210ce9a262bb579a74249dbb04a94efc/mm2src/lp_swap/maker_swap.rs#L772

[2020-05-19 06:49] artemii235 commented on #624
@tonymorony Could you please check that both release and debug Linux builds https://github.com/KomodoPlatform/atomicDEX-API/releases/tag/beta-2.0.1966 run successfully on 16.04?

[2020-05-19 07:32] #641 closed

[2020-05-19 08:49] artemii235 commented on #624
Please approve https://github.com/KomodoPlatform/atomicDEX-API/pull/642 if testing is successful.

[2020-05-19 09:00] tonymorony commented on #466
Just a little bump - there is a demand for cash address format usage so it's better to switch to it if it's not hard

https://discordapp.com/channels/412898016371015680/584762059430821909/711788712694120460
https://discordapp.com/channels/412898016371015680/705374203972419616/712222902619078657

[2020-05-19 09:05] artemii235 commented on #466
We should also allow withdraw to addresses encoded in this format.

[2020-05-19 09:10] #608 closed

[2020-05-19 10:24] tonymorony commented on #624
Thank you very much - works like a charm #642 approved, closing this one.

[2020-05-19 10:24] #624 closed

[2020-05-19 17:33] DeckerSU commented on #593
i checked resulst of `kmd_interest` from rust and `_komodo_interestnew` from komodod for the tx from this [example](https://dexapi.cipig.net/public/error.php?uuid=1a6be1f2-0860-4bae-a9d8-4bec37eb4d9e):

_Rust:_
[code]
_C++:_
[code]
Looks like both return `616764`, seems issue somethere else. Will try to dig.

[2020-05-19 18:22] DeckerSU commented on #593
I guess (it's guess only) root of issue is in this:
https://github.com/KomodoPlatform/atomicDEX-API/blob/51dc0a78e2d1dedd1bf52b75823ae982060831ae/mm2src/coins/utxo.rs#L754
we assumed current time before `kmd_interest` call as now - 777, but may be we should try to set it to MTP (median time past), this will be more safe and should help to avoid such cases.

[2020-05-20 08:57] sergeyboyko0791 commented on #621
Qtum testnet explorer https://testnet.qtum.info/

[2020-05-20 09:16] tonymorony opened #643 "some of the TUSD withdrawals failing with out of gas"
txs examples:

https://etherscan.io/tx/0x97f82b3f6003c23605b84524d9f5340e1f4337e8a98c7715402d736395476aaa
https://etherscan.io/tx/0xe828e19a5c2c423324fd3a07095f97b89adc8345a00d10b1770f5c03da7a8889

their recommendations (quite high if compare with spent gas amount):
https://support.trusttoken.com/hc/en-us/articles/360032834251-What-is-the-recommended-Gas-Limit-for-TUSD-

[2020-05-20 10:56] tonymorony opened #644 "MM2 stop to response on rpc calls after valid ETH/ERC20 withdrawal call"
tried on `[MM2 v2.0.1928 active]` and https://github.com/KomodoPlatform/atomicDEX-API/releases/download/beta-2.0.1973/mm2-51dc0a78e-Linux-Release.zip

[code]

or

[code]

mm2 hangs after such call and stop to response on any other calls

Looks like it's actual for valid calls only: for call which not passed validation it printed
```{"error":"rpc:277] lp_coins:537] eth:359] The amount 1 to withdraw

[2020-05-20 12:18] artemii235 commented on #644
The nodes were returning different nonces because there was an unconfirmed transaction with very low gas price on `eth3.cipig.net` node. It returned different nonce for this reason, the solution is to broadcast the transaction using `eth1` or `eth2` node with normal gas price, the tx will be overwritten on eth3 and it will work fine after tx is mined.

I will add the timeout to avoid endless loop

[2020-05-20 12:44] artemii235 commented on #644
Added the 30s timeout to the `get_addr_nonce` operation. Please test that timeout triggers and then send any transaction from your address using eth1 and/or eth2 nodes. This should fix nonce inconsistency between nodes.

[2020-05-20 13:09] tonymorony commented on #644
worked as expected:

[code]

also was able to send funds with eth1 eth2 nodes enabled

closing this one

[2020-05-20 13:09] #644 closed

[2020-05-20 14:24] notooth1 opened #645 "Failed to build MM2"
Hello,

I failed to build MM2 with this error. Can anyone help?

[2020-05-20 14:42] tonymorony commented on #645
Hello @notooth1 !

By error message it looks like cmake is not installed in your system

[2020-05-21 07:02] artemii235 commented on #593
The timestamp of event is recorded to swap status, but seems to be not present in `dexapi.cipig.net` response. It is `1583161556023` (in millis) for https://dexapi.cipig.net/public/error.php?uuid=1a6be1f2-0860-4bae-a9d8-4bec37eb4d9e, I guess it is also possible to estimate the last tip height if timestamp is known.

[2020-05-21 07:46] artemii235 commented on #643
https://github.com/MyCryptoHQ/MyCrypto/issues/2377 - interesting finding, seems like MM2 has to supply the gasPrice to estimation which MM2 doesn't do now. Going to check returned values from RPC nodes with different gasPrice settings.

[2020-05-21 08:12] artemii235 commented on #643
Yep, gas estimation for failed transfer without gas price is 59659, but with gas price set to 39 gwei the estimation is 74923. Going to add now.

[2020-05-21 08:27] artemii235 commented on #643
Done, please test it when you have time.

[2020-05-21 09:06] artemii235 commented on #639
Non-standard scripts will be rejected by nodes so we're not able to stop using P2SH. Good article about different transaction validation rules: https://medium.com/summa-technology/the-bitcoin-non-standard-6103330af98c

Looks like recording redeem script or some of it's essential and hardly recoverable parts like lock time and especially secret hash is putting them to separate OP_RETURN output of s

[2020-05-21 09:20] DeckerSU commented on #593
it's not always true, especially for staked chains, where timestamps can be in the future, or in the past. For example:

| Block # | nTime |
------------| ---------|
| 100500 | 1590044982 |
| 100501 | 1590059382 |
| 100502 | 1590052182 |

You know that rejected tx was in 1590052100 ... what last block was at the moment, when user tried to broadcast it 😗 You can't know ... and as you can't know - y

[2020-05-21 11:15] artemii235 commented on #593
We can add current block height to such error log but it will take significant time to be distributed over network so we will start receiving reports in few weeks (or even months).

Could you please try to call the internal komodo interest calculation functions with different last tip heights and check whether some of these calls return 0 or something uncommon? I hope that this might do the trick.

[2020-05-21 11:23] #639 closed

[2020-05-21 13:42] notooth1 commented on #645
I've just installed cmake successfully built MM2. Thanks for your help.

[2020-05-21 13:48] tonymorony commented on #645
Glad to help! Closing this one

[2020-05-21 13:48] #645 closed

[2020-05-23 20:34] tonymorony commented on #643
was able to withdraw fraction and whole balance:
https://etherscan.io/tx/0xb09e57893647b1f9ff22835c13c3a82975bd8b93d704d82285c79c4f0f287558
https://etherscan.io/tx/0x0e420eed3785e44b4d8350e908d5c22d66fb02e3af8528e1c04972b3d3ab368d

[2020-05-23 20:34] #643 closed

[2020-05-25 07:45] artemii235 opened #646 "Add indication whether recover funds of swap may be called again."
https://github.com/KomodoPlatform/atomicDEX-Pro/issues/182#issuecomment-633430481

[2020-05-25 07:46] artemii235 opened #647 "Taker swap should not be recoverable when MakerPaymentWaitConfirmFailed."
There is no attempt to send the taker payment in such case so it makes no sense to mark the swap as recoverable.

[2020-05-25 07:48] artemii235 commented on #647
https://github.com/KomodoPlatform/atomicDEX-API/issues/647

[2020-05-25 07:54] artemii235 opened #648 "Reconsider the block range when requesting ETH traces from Parity."
I found out experimentally that it was fine to use 1000 block range when requesting traces from OpenEthereum (former Parity Ethereum) nodes. However as blockchain grows constantly such range might be too big so request may cause the RPC server to completely hang.

Need to check if range should be decreased, maybe it is also some bug in OpenEthereum client itself.

[2020-05-25 09:12] artemii235 commented on #648
https://github.com/openethereum/openethereum/issues/10132

[2020-05-25 09:19] artemii235 commented on #648
According to https://github.com/openethereum/openethereum/issues/9223 we should reduce the query size as expected and also try to tweak `--jsonrpc-threads` to improve the concurrency. I've not been able yet to find the mentions of default value for this param, but I suspect that it might be simply 1 which means that 1 long running requests might freeze JSON RPC server entirely.

[2020-05-25 10:16] artemii235 opened #649 "Add rational nums serde support in human readable form."
E.g. `10000/3`

[2020-05-25 12:07] artemii235 commented on #646
This turns out to be not that easy because errors are Strings everywhere so actually entire RPC server error handling part needs refactoring, postponing for a while.

[2020-05-25 12:14] tonymorony commented on #633
https://github.com/tokio-rs/tokio/issues/2532 looks like this issue was just resolved in tokio codebase

[2020-05-25 12:20] artemii235 commented on #633
Thanks for mentioning this! The fix was not yet published on `crates.io` so I prefer to wait for it before closing the issue.

[2020-05-25 14:54] ArtemGr commented on #646
One can add [tags](https://github.com/KomodoPlatform/atomicDEX-API/issues/550#issuecomment-600560419) to error strings while retaining the flexibility of joining Strings (e.g. stack traces and different error tags from different layers)

[2020-05-26 06:28] artemii235 commented on #646
I prefer to avoid using "String-only" error approach in the future, it leads to unclean and unobvious error handling code while it can be common `match ...` statement.
Also as some parts of the project will be moved to separate crates/lib it will be nice to follow the official Rust API guidelines: https://rust-lang.github.io/api-guidelines/interoperability.html#c-good-err
[code]

Also it became qu

[2020-05-26 06:29] #647 closed

[2020-05-26 06:43] ArtemGr commented on #646
That's quite an expected sentiment.
I'd like to offer a few concerns for you to consider in the error handling design:
1) Errors are passed usually through multiple layers, and unpacking a certain error code or a message after it has been wrapped in those layers not always pretty.
2) Pattern matching is tightly coupled (opposite of louse coupling): you need to have the exact version of the Rust li

[2020-05-27 10:20] cipig opened #651 "use ECONOMICAL for BTC estimatesmartfee"
can we please switch to using ECONOMICAL mode for estimatesmartfee on BTC?
the necessary change was merged in electrumx: https://github.com/kyuupichan/electrumx/pull/1001

electrumx-call:
[code]
old electrumx-call:
[code]

the native mode call is simply `bitcoin-cli estimatesmartfee 1 ECONOMICAL`

the biggest benefit is that ECONOMICAL is updated much more often, whereas the CONSERVATIVE mode stil

[2020-05-27 10:23] artemii235 commented on #651
Thanks for opening the issue! Sure, will try to find the time for it on this week.

[2020-05-27 10:53] artemii235 commented on #648
As also discussed in verbal conversation we may consider using indexers/explorers instead to fetch ETH transaction history (if there're open source ones). I will have a research on it a bit later. cc @tonymorony

[2020-05-27 10:58] artemii235 commented on #649
Done, docs PR: https://github.com/KomodoPlatform/developer-docs/pull/177, cc @Milerius

[2020-05-27 10:58] #649 closed

[2020-05-27 11:38] artemii235 commented on #648
https://ethereum.stackexchange.com/a/58897

[2020-05-27 12:13] cipig commented on #648
parity now runs with these settings
`/usr/local/bin/parity --refuse-service-transactions --min-gas-price=1000000000 --no-serve-light --jsonrpc-apis=safe --jsonrpc-interface=all --jsonrpc-port=8555 --no-persistent-txqueue --no-ancient-blocks --mode=active --tracing=on --pruning=fast --db-compaction=ssd --no-periodic-snapshot --no-ws --auto-update=none --no-download --cache-size=32000 --min-peers=32

[2020-05-27 12:16] artemii235 commented on #648
@cipig Thanks for mentioning it! I'm going to try now to fetch traces for https://etherscan.io/address/0xa453b444a5353c0ae1ae09addc2aecc2427a9d06 which has over 300k transactions using eth2. Should be good test to understand for how many blocks we can request the traces safely 🙂

[2020-05-28 07:16] artemii235 commented on #648
Looks like situation settled down after OpenEthereum client update and configuration params change.
Fetching traces for https://etherscan.io/address/0xa453b444a5353c0ae1ae09addc2aecc2427a9d06 did not cause node overload so we can leave the infrastructure as it is now and look for alternatives a bit later.
I've also noticed that nodes urls are shuffled in MM2: https://github.com/KomodoPlatform/atom

[2020-05-28 07:23] artemii235 commented on #612
Implemented, closing.

[2020-05-28 07:23] #612 closed

[2020-05-28 07:32] artemii235 commented on #593
Thanks! I guess I could misunderstood that comment at the beginning. I can actually check what MTP value *presumably* was at the time of transaction broadcast and check whether it is less than `now - 777` which will mean that komodod calculated less interest than MM2.

[2020-05-28 07:35] ArtemGr commented on #612
Any hints on how we can use the new measurement functionality to measure MM traffic?

[2020-05-28 07:44] artemii235 commented on #612
The documentation has been published recently, I think recommended way for GUIs is to call API and parse the metrics from JSON: https://developers.komodoplatform.com/basic-docs/atomicdex/atomicdex-tutorials/atomicdex-metrics.html#api-calling

[2020-05-28 07:57] ArtemGr commented on #612
Awesome, thanks!

[2020-05-28 08:04] sergeyboyko0791 commented on #612
@ArtemGr, I decided not to reorder the dashboard tags. I hope you haven't changed GUI's code.

[2020-05-28 08:07] ArtemGr commented on #612
@sergeyboyko0791, Nope, everything's intact. Appreciate the update.

[2020-05-28 08:51] artemii235 commented on #593
It turns out that there was almost 30 minutes gap between blocks 1773390 and 1773391:
https://kmdexplorer.io/block/000000007ac95ca77d37d6bb68d85eaa390c1609fbf565cf5395cc1f23bc3ed4 - `Mar 2, 2020 9:49:05 PM GMT +7`
https://kmdexplorer.io/block/00000000625ff7cc0b0a282aedfae59879f125450387b91fc9c8d60b4cf4a997 - `Mar 2, 2020 10:19:12 PM GMT +7`

The transaction broadcast attempt was at `March 2, 2020

[2020-05-29 21:04] tonymorony opened #652 "`my_tx_history` displaying `block_height' and 'confirmations' not correct for performed swap transactions until mm2 restart"
Tested so far on: `e1dac77d6 OSX`

When perform taker swap `my_tx_history` call return not correct values (zeroes) in "block_height" and "confirmations" fields until you restart mm2 for taker payment and maker payment transactions.

https://paste.ubuntu.com/p/J9YkSMwFtY/ example of `my_tx_history` output for such transaction
actually tx had 5 confirmations at this time, then I've tried to wait mor

[2020-05-29 21:13] cipig commented on #652
might be related to this: https://github.com/KomodoPlatform/atomicDEX-API/commit/4ea0847d57b93b543551380aa6dcfdeb43fb97ce
balance changes although tx has 0 confirmations, than tx_history is updated with the tx with 0 confs and never updated again because balance did not change again

[2020-05-30 00:50] cipig commented on #629
this problem is related to recent issues with parity... if parity with enabled tracing is under load, the syncing of chain slows down dramatically, can be slower than blocks are mined
closing the issue, not related to mm2

[2020-05-30 00:50] #629 closed

[2020-05-30 01:06] cipig commented on #603
@notooth1 can you please check if problem still persists? changes to seed nodes might have solved the issue

[2020-05-30 01:36] cipig commented on #567
running https://github.com/KomodoPlatform/atomicDEX-API/pull/631 on the seed nodes solved the issue, no `Broken pipe`s since then, even with increased number of pairs (at least 3x)

[2020-05-30 01:36] #567 closed

[2020-05-30 11:22] ca333 commented on #652
no, thats very bad from UX perspective - if i send you coins it should show up **instantly** (regardless of confirmation status). So we just tag the TX as unconfirmed like it should be - but we do not "ignore" 0 conf TXs.

And according to the above commit seems just a small condition typo

[2020-05-30 11:31] ca333 opened #653 "[feature request] unconfirmed_balance"
For GUI (UX) dev it would be great to have a `unconfirmed_balance` field in the `my_balance` response.

[2020-05-30 18:55] cipig commented on #566
pretty sure this is fixed by https://github.com/KomodoPlatform/atomicDEX-API/commit/3dd9de2ac4c5867eef7205b825c7fbf05d68b15d
@lilszi can you please repeat the same test?

[2020-05-30 18:57] lilszi commented on #566
yes. give me some time to set up a fresh install of mm2 and i'll spam rick/morty again.

[2020-05-30 19:12] cipig commented on #513
same as https://github.com/KomodoPlatform/atomicDEX-API/issues/640 ?

[2020-05-30 19:13] cipig commented on #477
collected couple of failed swaps with
`maker_swap:243] !check_i_have_enough_to_trade utxo:1421] KMD balance 47.3259713 is too low, required 47.3259813` from last days
https://dexapi.cipig.net/public/error.php?uuid=d9925163-904a-441f-8402-2a0354241a96
https://dexapi.cipig.net/public/error.php?uuid=ef4eb052-a43d-4143-92a4-e6fd20a02224
https://dexapi.cipig.net/public/error.php?uuid=9347dbc4-1c1d-436d

[2020-05-30 22:18] lilszi commented on #566
Tested. The electrum disconnect looks gone.

But I am not sure because out of 56 orders I started, only about 13 actually started.
The rest was failed to negotiate and got dropped.

Here's the log
[mm2_output.log](https://github.com/KomodoPlatform/atomicDEX-API/files/4706670/mm2_output.log)

and the swap DB
[swap_db.tar.gz](https://github.com/KomodoPlatform/atomicDEX-API/files/4706681/swap_db.tar.

[2020-05-30 22:31] cipig commented on #566
i have one up: `RB8yufv3YTfdzYnwz5paNnnDynGJG6WsqD`, but no swap was done with that node, all your swaps have `atomicDEX 0.2.16 Android; BT=1590273202` as maker
here are some failed ones:
https://dexapi.cipig.net/public/error.php?uuid=2c9f373a-ea97-40b9-b5f5-e4f6eba18644
https://dexapi.cipig.net/public/error.php?uuid=6164f0d8-7f39-4cb8-904c-ecd2ba27b3a7
https://dexapi.cipig.net/public/error.php?uu

[2020-05-30 22:36] lilszi commented on #566
`RB8yufv3YTfdzYnwz5paNnnDynGJG6WsqD `i couldn't get any to start with that maker.

[2020-05-30 22:45] cipig commented on #566
i will restart that node...
btw... look at the timestamps... the Android maker is simply saturated with 10 concurrent swaps and fails all the other ones
[code]

[2020-05-30 23:11] lilszi commented on #566
Ok your LP is working now, 80 orders lightning-fast swapping. No failed or disconnect.

[2020-05-30 23:50] cipig commented on #566
also started a second node on my home connection with RICK/MORTY and that one completed much more swaps than the VPS and without errors... VPS was showing some timeouts...
but that is also fixed in https://github.com/KomodoPlatform/atomicDEX-API/pull/631 (home node was running this version)

[2020-05-31 17:12] cipig commented on #621
QTUM added this doc to their electrumx repo about the qrc20 calls:
https://github.com/qtumproject/qtum-electrumx-server/blob/master/docs/qrc20-integration.md

[2020-05-31 18:39] cipig commented on #630
taker coin KMD, atomicDEX 0.2.16 iOS: https://dexapi.cipig.net/public/error.php?uuid=1db62af4-1542-4070-a069-bab661b06a19

[2020-05-31 18:49] tonymorony commented on #630
I was a taker in this swap.
Initially I had ~150 KMD on balance and started 153.4738 KMD <-> 10.294 DEX swap
then when first swap was already started but I've sent 42 KMD more to my addy and started 42 KMD swap (almost MAX balance) - before payment for a first started swap was sent. This one failed (1db62af4-1542-4070-a069-bab661b06a19), first one completed fine. Then I've re-initiated same 42 KMD

[2020-06-01 04:03] artemii235 commented on #652
Thanks for reporting this!

Yeah, transactions is refreshed on balance update only now, we need to refresh the transactions records when they have 0 confirmations, will fix promptly.

[2020-06-01 04:51] artemii235 commented on #652
Should be fixed now, new release will be published in about 20 minutes, please test.

[2020-06-01 05:04] artemii235 commented on #653
Thanks for opening the issue!
I would like to add the "confirmed_balance" field too then for transparency. But these fields can actually have a bit different meaning. I see 2 options:
1. Similar to Electrum response: `{"confirmed":"2.5","unconfirmed":"-1"}` so final available balance should be `confirmed + unconfirmed = 1.5`.
1. Return final values right away `{"confirmed":"2.5","unconfirmed":1.5}

[2020-06-01 05:07] artemii235 commented on #513
Actually yes, as of now we have to maintain backwards-compatibility, but once major update is required we will more likely use hardfork approach. I think this one can be closed as duplicate.

[2020-06-01 07:08] artemii235 commented on #630
Checked the swap status and your address history on block explorer and I can see that you had several UTXOs that were merged to `41.97227615` single output during `153.4738` payout. So it is quite clear that there's a problem related with available balance check upon order creation. It shouldn't have allowed you to create 42 KMD order because your address didn't have sufficient balance to fulfill

[2020-06-01 11:03] artemii235 commented on #651
Added the feature to set the estimate fee mode in config, e.g. `"estimate_fee_mode": "ECONOMICAL"`, possible values correspond to BTC docs:
`ECONOMICAL`
`CONSERVATIVE`
`UNSET`

Please try to test it and let me know if it works as expected.

[2020-06-01 11:33] tonymorony commented on #652
Fixed issue on my side, thanks! closing this one

[2020-06-01 11:33] #652 closed

[2020-06-01 12:37] cipig commented on #651
electrum works fine, but native is giving errors on coin activation for some coins:

[code]

others are working fine, like KMD and NAV

looks like the estimatesmartfee/estimatefee detection is now broken

[2020-06-02 06:38] artemii235 commented on #651
Yeah, I used null value internally if value is not set but it seems to be an error as native daemons seem to typecheck the value. Will fix now.

[2020-06-02 06:50] artemii235 commented on #651
Done, please retest.

[2020-06-02 08:50] tonymorony opened #654 "NN operators as Atomicdex protocol relay nodes network and trust keepers"
If to be short: I think we can utilize NN network operators for such a network of relay nodes and for overall network decentralization (which can be good in marketing perspective also) and source of trusted distributed data.

In general, it'll be relay functionality - relay mm2 nodes will store and index data locally (parsed information about swaps) locally and distribute to each other to provide

[2020-06-02 08:53] jl777 commented on #654
good idea

[2020-06-02 10:08] tonymorony commented on #616
@gcharang could you please help with this one?

[2020-06-02 10:46] gcharang commented on #616
@artemii235 I can add this info.
re:

- the RPC that should be updated are: `buy`, `sell` and `setprice`
- the argument: `volume` for each of these calls should be greater than or equal to 0.00777
- also, price * volume should also be greater than or equal to 0.00777

Is this correct?

[2020-06-02 10:47] gcharang commented on #616
the link at the end of the statement
[code]
is a 404

[2020-06-02 11:01] ca333 commented on #653
Thanks Artem! Option 2. sounds "better" and slightly more clear to me (although seems "its as broad as its long").

[2020-06-02 11:08] notooth1 opened #655 "BigInteger: What is the meaning of the brackets?"
Hi everyone,

I am new to BigInteger. Can anyone tell me how to read these BigIntegers:

      [1, [0, 1]],
      [1, [1]]
]

[2020-06-02 11:29] artemii235 commented on #616
the argument: volume for each of these calls should be greater than or equal to 0.00777
    also, price * volume should also be greater than or equal to 0.00777

Yeah, all true.

Oops, I meant the following text in the tip of `buy/sell`: `Therefore, you must pay an additional 1/777 fee`, should be changed to `1/777, but not lower than 0.0001 for any coin`. We may change this threshold in the futur

[2020-06-02 11:42] artemii235 commented on #655
Hi @notooth1!

It is arbitrary size precision integer representation format used by various Rust crates (num-bigint, num-rational etc.). The first number `1,` means sign and `[0, 1]` are u32 parts ordered in little-endian.

It's actually not so human-readable so we added additional `Fraction` representation of such numbers as following objects:
[code]
Which should be much easier to parse, the exam

[2020-06-02 12:03] cipig commented on #616
We really need to change it, because DOGE treats all transactions < 1 DOGE as dust.
A taker that uses DOGE and needs to pay 1/777 TakerFee needs to also swap at least 777 DOGE atm. If he tries to swap < 777 DOGE, the swap fails on TakerFeeSendFailed because of dust tx.

related issue: https://github.com/KomodoPlatform/atomicDEX-API/issues/545

[2020-06-02 14:03] artemii235 opened #656 "Allow to set dynamic fee in coins file."
BCH has incompatible estimate fee request params so our `estimate_fee` calls do not work. As BCH daemon always returns 1000 sat per Kbyte we can just set this number in config e.g. in form `{"fee_type":"Dynamic","sat_per_kb":1000}`. This will do the trick.

[NB](https://discordapp.com/channels/412898016371015680/476025090627207168/717340884688961608)

[2020-06-03 07:39] cipig commented on #651
thanks for the fix, working fine now

[2020-06-03 07:39] #651 closed

[2020-06-03 09:21] cipig opened #657 "remove ETOMIC from tests"
please remove ETOMIC from automated tests (can be replaced by RICK and MORTY)
i can than disable the ETOMIC electrums, which are currently running on the seed nodes and are only used by the tests

[2020-06-03 09:22] artemii235 commented on #657
Thanks for opening the issue! Will schedule on next week.

[2020-06-03 10:38] notooth1 commented on #655
I got it. Thank you.

[2020-06-03 10:46] artemii235 commented on #655
You're welcome! Please feel free to ask more questions when you have some 🙂

[2020-06-03 10:46] #655 closed

[2020-06-03 11:45] artemii235 commented on #651
@cipig Could you please also submit a PR to coins repo with this change?

[2020-06-03 12:12] cipig commented on #651
done: https://github.com/KomodoPlatform/coins/pull/12/commits/b6e7b12eb0f94819d8e726bf7268ebe15fb5e97d

[2020-06-04 06:51] artemii235 commented on #630
As of now I have 2 "suspects":
1. The amount virtually locked by swaps does not count transaction fees so it is possible to catch an edge case and try to trade the volume different from the amount available by tx fee (in case of KMD/DEX it is 2000 satoshis).
2. Also noticed: electrum needs some time to index that balance was changed after transaction is broadcast. E.g. I'm playing with RICK withdr

[2020-06-04 07:06] artemii235 commented on #630
And it might be also related to https://github.com/KomodoPlatform/atomicDEX-API/issues/634, tracking the locked amount using BigDecimal type might cause troubles because it usually simply can't represent the `amount / 777`.

[2020-06-04 10:50] artemii235 opened #659 "Add required_confs and require_nota to buy/sell/setprice"
Also display the data in orderbook if available.

[2020-06-04 10:56] artemii235 opened #660 "Sync required confs and require nota between traders and choose what is good for both."
For example taker may have setting to wait for 5 maker payment confirmations without nota, but maker has setting to wait for notarization of *his own* payment, in this case maker can relax his payment confirmation requirements to be in sync with taker.

Need to ensure that requirements are *not* relaxed for other side payment, e.g. if taker wants maker's payment to be notarized maker's notarizatio

[2020-06-05 07:09] cipig opened #661 "set client_name to electrum"
Please set `client_name` argument to electrumx `server.version` call:
https://electrumx-spesmilo.readthedocs.io/en/latest/protocol-methods.html#server-version

We can use something like "AtomicDEX": `{ "id": 1, "method": "server.version", "params": ["AtomicDEX", ["1.4", "2.0"]] }`, or

This will allow me to filter clients based on this string: https://electrumx-spesmilo.readthedocs.io/en/latest/en

[2020-06-05 07:13] artemii235 commented on #661
Thanks for creating the issue! I think we will schedule it on next week.

[2020-06-05 07:13] BloodyNora commented on #661
would be nice if it then was not a static value but would be settable via `MM2.json` or something.

[2020-06-05 07:15] artemii235 commented on #661
We can pass value of `gui` param there so sessions can be distinguished by specific GUI application.

[2020-06-05 07:25] cipig commented on #661
Ok, but please use a default value if `gui` is not set. I am also thinking about this: https://github.com/kyuupichan/electrumx/pull/1016
I just want to have this possibility in the future, in case we are flooded with requests from unknown apps.

[2020-06-05 07:28] BloodyNora commented on #661
definitely go with sane defaults, i.e. `AtomicDEX <version>/mm2 <version>`. i just want to be able to set it (maybe even append will be enough)

[2020-06-05 11:13] artemii235 commented on #648
As we also got some feedback that ETH/ERC20 history loading takes too long it's worth to consider switching to some open-source block explorer API running on our infrastructure.
@cipig @tonymorony Could you please cooperate and give a try to explorers mentioned in https://github.com/KomodoPlatform/atomicDEX-API/issues/648#issuecomment-634603139?
The help will be highly appreciated as we will need

[2020-06-06 03:48] notooth1 opened #662 "Coins available on MM2?"
Hello,

Can anyone give me a list of coins available to trade on MM2?

[2020-06-06 03:56] gcharang commented on #662
all the coins in this file https://github.com/KomodoPlatform/coins/blob/master/coins , with `mm2:1` are tested to work with mm2

[2020-06-06 03:59] notooth1 commented on #662
Thank you.

[2020-06-06 04:48] ArtemGr commented on #373
I have a solid understanding of how to proceed with decentralized stack for now (which happens to have use cases that are arguably even more important than ordermatching, but covers the latter as well). This discussion can be closed as such. The major takeaways has been the [evolution-oriented design](https://gitlab.com/artemciy/mm-pubsub-db/-/blob/master/373-p2p-order-matching.md#evolution-orient

[2020-06-06 04:48] #373 closed

[2020-06-07 05:25] notooth1 opened #663 "Failed to connect to some coin networks"
Hello,

I failed to connect to some coin networks. Can anyone help?

                {
                  "error": "rpc:303] lp_commands:75] lp_coins:605] eth:2154] invalid type: null, expected a sequence"
                }

                {
                  "error": "rpc:303] lp_commands:75] lp_coins:605] eth:2154] invalid type: null, expected a sequence"
                }

[2020-06-07 09:46] gcharang commented on #663
you have to use the `enable` method for ETH/ERC20 coins. see: https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api.html#enable

[2020-06-07 10:04] cipig commented on #663
for example:
`curl --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"enable\",\"coin\":\"ETH\",\"urls\":[\"http://eth1.cipig.net:8555\",\"http://eth2.cipig.net:8555\",\"http://eth3.cipig.net:8555\"],\"swap_contract_address\":\"0x8500AFc0bc5214728082163326C2FF0C73f4a871\",\"gas_station_url\":\"https://ethgasstation.info/json/ethgasAPI.json\"}"`

[2020-06-07 15:04] notooth1 commented on #663
I successfully enabled ETH, but I failed to enable the other coins:

07 15:02:52, rpc:334] RPC error response: rpc:303] lp_commands:93] lp_coins:603] utxo:1965] utxo:1899] Error parsing the native wallet configuration '/home/notooth/.dashcore/dash.conf': No such file or directory (os error 2)

07 14:53:52, rpc:334] RPC error response: rpc:303] lp_commands:93] lp_coins:603] utxo:1965] utxo:1899] Er

[2020-06-07 15:20] cipig commented on #663
for erc20 tokens you need to use `enable` like above, including the server urls, just replace ETH with another erc20 token symbol
but for UTXO coins `enable` tries to use the local wallet daemon, so if you don't have a wallet running locally and fully synced, use `electrum` instead of `enable`

[2020-06-07 16:38] notooth1 opened #664 "Fiat currencies supported on MM2?"
Hello,

Can anyone give me a list of fiat currencies supported on MM2?

How can I get the order book of BTC/USD?

[2020-06-07 17:10] dth88 opened #665 "[Discussion] Active/Non-active coins distinction."
Currently, both our products(adex-mob and pro) lack this functionality https://github.com/KomodoPlatform/atomicDEX-Pro/issues/210, would that be a good idea to suggest a fix on API side? for e.g. it would first return batches with coins that have balances or tx_history and only when there are none of those 'active' coins it starts sending 'non-active' ones. Or would it be a bad idea because API wo

[2020-06-08 10:07] cipig opened #667 "error in TakerPaymentSpent on ETH, funds stuck"
[2c99aaca-d28c-40cd-b40f-60ca957a59e3.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/4745245/2c99aaca-d28c-40cd-b40f-60ca957a59e3.txt)

The above swap shows as "Finished", but there was an error on `TakerPaymentSpent`: https://etherscan.io/tx/0x05b74b11b5876f01e33b06d735c2aedc05c5919a656e838b90adeb73298ce1be, so i (maker) never received the ETH. I think the error happened because it to

[2020-06-08 10:20] artemii235 commented on #667
Replied at Discord DM.

[2020-06-08 11:45] artemii235 commented on #667
Funds we recovered, we need to add something to value returned from gas station to make sure transactions are confirmed promptly if gas price rises, e.g. add 10%, but no less than 1 gwei.

[2020-06-08 13:30] gcharang commented on #664
there is no way to trustlessly atomic swap a fiat currency to a crypto currency. The substitute is a Stable coin pegged to a fiat currency. AtomicDEX supports many of those. Please take a look in the coins file https://github.com/KomodoPlatform/coins/blob/master/coins

[2020-06-08 13:40] artemii235 opened #668 "What metrics to collect during stress test v2?"
- [ ] number of connected peers to orderbook relayers nodes
- [ ] messages per second
- [ ] network traffic

[2020-06-08 15:25] artemii235 opened #669 "Add "is_mine" field to orderbook response."

[2020-06-08 17:58] tonymorony commented on #466
@sergeyboyko0791 I'm a little bit confused if I'm doing everything correct. is init == electrum call?. I've tried different combinations of format/network in electrum call but getting legacy address. I've tried to add `"address_format":{"format":"cashaddress","network":"bchtest"}` field for BCH to coins file also but such construction not parsing on startup

[code]

[code]

btw random phrase as ne

[2020-06-08 18:17] tonymorony commented on #466
It looks like address conversion works not correct/not as expected. In mm2 I'm getting

legacy format:

[code]

usual:

[code]

address which I'm getting for `1FjaqgbLPtiRMvrw1WuXrVpHyXo8sBg5Gq` legacy address not matching expected one (`bitcoincash:qzse774z2nww6zshjg9trs4v76vgg8m87c506ryhuw`) which I'm getting from https://bch.btc.com/tools/address-converter https://cashaddr.bitcoincash.org/ http

[2020-06-08 18:21] cipig commented on #466
hmmm, works for me so far

used this in coins file:
[code]

and electrum shows this:
`{"address":"bitcoincash:qrk4duh7hyze8z696tsqnmq54hgw05q4wg6xq0ssee","balance":"0","coin":"BCH","locked_by_swaps":"0","required_confirmations":1,"requires_notarization":false,"result":"success"}`, which is the correct bch-address of this node: https://blockchair.com/bitcoin-cash/address/1NdwJoQVLxj5kCHXKcaLxWrBydd

[2020-06-08 18:37] tonymorony commented on #466
wow, very interesting @cipig that it works correct for your address and not correct for mine
not sure if it makes any difference but I'm using KMD wif starting from `U`, not the seed

[2020-06-08 18:39] cipig commented on #466
you used `"network":"bchreg"`, i used `"network":"bitcoincash"`

[2020-06-08 18:47] tonymorony commented on #466
@cipig right, that was my confusion. I've thought by some reason that bchreg should mean something like regular, not regtest 😖 tyvm for help

[2020-06-08 19:36] cipig commented on #466
looks good, swaps working between old makers and new cashaddr and legacy takers, withdraw works too

withdraw with cashaddr to legacy addr gives error:
`"error" : "rpc:303] lp_coins:659] utxo:1403] cashaddress contains mixed upper and lowercase characters"`
and withdraw with legacy addr to cashaddr gives error:
`"error" : "rpc:303] lp_coins:659] utxo:1402] Invalid Address"`

[2020-06-08 20:07] cipig commented on #667
i think you were right and switching from `average` to `fast` setting on gas_station_url should do the same job... when i look at the values, they seem to be 10% diff most of the time, so maybe no need to calculate something ourselves, just switch the setting... and the case where gas_station_url was not passed or is not working should be covered by the fact that parity returns a higher fee anyway

[2020-06-08 20:59] tonymorony commented on #466
Swap with old maker, transactions and balance getting works fine too on my side 👍

Outstading things to deliever this feature to end users are PR information about these mods into docs, into coins file (with cashaddress as default option), and GUIs update then.
Opened related issues in GUIs repos

[2020-06-08 22:51] cipig commented on #568
a chronology of a failed swap due to low fees
20:16:06 Started
20:21:39 Taker says MakerPaymentValidateFailed, so swap failed for Taker
21:23:00 Maker says MakerPaymentSent (tx https://etherscan.io/tx/0x768a92f1f05d834cf9779fa53e9be0f38ea5298f2544dc6f4aa794484003611b is mined)
22:20:00 Maker still waiting for Taker: `(120:07) [swap uuid=4bfefa8b-9132-48e4-bb65-a49ce6edbe05] Maker payment sent...`

[2020-06-08 23:03] tonymorony commented on #573
this particular case was "hotfixed" (at least temoprary until much more activity in the network) by seednodes optimisation fix
fully this situation should be resolved by libp2p usage https://github.com/KomodoPlatform/atomicDEX-API/issues/602

[2020-06-08 23:03] #573 closed

[2020-06-09 00:00] tonymorony commented on #568
In some swaps "two circles" of notarization (nota of chain to KMD and nota of KMD to BTC) taking more than timeouts and locktime. In one of my recent swaps, full nota took 88 minutes for example and I've patiently waited for 78 minutes and failed with timeout then.

Since January almost 8% of all swaps amount failed with `"Waited too long"` text in error in status. In some cases for sure, it might

[2020-06-09 04:01] sergeyboyko0791 commented on #466
@cipig

I considered to not allow user uses legacy and cashaddress address formats at the same time. It was made to make the code more readable and to achieve unambiguous behavior according to the selected settings.

[2020-06-09 05:23] artemii235 commented on #665
I think it is good idea definitely. Such balance/history scan may be time and traffic consuming so it shouldn't be default behavior IMHO. We can give users choice whether to scan for all available coins when seed is imported and wait for full scan to be performed or just pick some coins manually later and get immediate application activation.

[2020-06-09 05:36] artemii235 commented on #667
<img width="1046" alt="Screenshot 2020-06-09 at 12 33 09" src="https://user-images.githubusercontent.com/15745003/84109670-69a75880-aa4d-11ea-9ee1-7b1a18943ba8.png">
The difference is over 50% right now 🙂 Let's try to increase the standard/average by 10% first and see if it helps. If it doesn't we will use fast option as default.

[2020-06-09 06:03] artemii235 commented on #298
It was supposed that we will rename `userpass` to `rpc_password` in all requests too, but it doesn't make much sense now. We will possibly have JSON-RPC V2 standard API some day and it will highly likely not include authentication information in requests body at all.

[2020-06-09 06:03] #298 closed

[2020-06-09 06:07] artemii235 commented on #493
Was fixed.

[2020-06-09 06:07] #493 closed

[2020-06-09 06:09] artemii235 commented on #496
Recommended source to download binaries is Github releases page now, the binaries are *not* getting replaced there once uploaded so hashes should be consistent, closing.

[2020-06-09 06:09] #496 closed

[2020-06-09 06:09] artemii235 commented on #513
Closing as duplicate.

[2020-06-09 06:09] #513 closed

[2020-06-09 06:10] artemii235 commented on #525
Was done long time ago.

[2020-06-09 06:10] #525 closed

[2020-06-09 06:11] artemii235 commented on #578
I hope the issue has been resolved, closing.

[2020-06-09 06:11] #578 closed

[2020-06-09 07:14] artemii235 commented on #664
@gcharang Thanks for reply! I guess the issue can be considered as resolved.

[2020-06-09 07:14] #664 closed

[2020-06-09 07:14] artemii235 commented on #663
Thanks for support! Issue should be resolved I guess.

[2020-06-09 07:14] #663 closed

[2020-06-09 07:15] #662 closed

[2020-06-09 07:50] artemii235 opened #670 "Allow to request orderbook without corresponding coins activation."

[2020-06-09 08:49] roderich74 commented on #578
Hi Artem,

unfortunately not yet.

We also had coins on DIGITALPRICE.IO which suddenly closed prematurely.

Any idea how these can be retrieved?

Regards
Rod

ᐧ

On Tue, 9 Jun 2020 at 14:11, Artem Pikulin <notifications@github.com> wrote:

[2020-06-09 09:41] gcharang commented on #578
@roderich74 didn't the Verus Desktop wallet work? re:digital price, please join their discord server https://discord.gg/ZeFMcge

If you weren't able to use the Verus Desktop wallet, please join the Komodo discord server at http://komodoplatform.com/discord and ask in the channel named `#support` for further support. This repository has no relation to the deprecated BarterDEX GUI

[2020-06-09 11:14] artemii235 commented on #593
Should be fixed now.

[2020-06-09 11:14] #593 closed

[2020-06-09 14:42] cipig commented on #474
saw that you made the changes to the contract here:
https://github.com/artemii235/etomic-swap/commit/ecdd84890f3f357b25a5741634055910c35ca078
so closing this issue

[2020-06-09 14:42] #474 closed

[2020-06-09 15:15] cipig commented on #667
is this related to this fee thing: https://github.com/KomodoPlatform/atomicDEX-API/issues/485 ?
or was it already changed?

[2020-06-10 04:41] artemii235 commented on #667
I think #485 is more about gas price limit on order creation, we discussed this some time ago. IIRC you asked whether it is possible to "temporary cancel" the order if fees are too high. We may also want to display the warning to users if transaction fees will be larger than e.g. 5% of trade amount.

[2020-06-10 11:27] artemii235 commented on #667
I've noticed that 1 gwei was actually added to average gas price from station, but it seemed to be not sufficient so MM2 will add 10%, but no less than 1 gwei from now on.

[2020-06-11 05:28] artemii235 commented on #667
Are you sure? I checked the `get_trade_fee` call using debugger and I can see that it requests the gas price from gas station.

[2020-06-11 08:00] cipig commented on #667
ahh, ok, that is it... i only saw the higher price and assumed it is from parity... but it is because of the gas limit... sorry for the confusion and thanks for the explanation

[2020-06-11 08:25] cipig opened #673 "error parsing getnetworkinfo if timeoffset -1"
saw some failed swaps with DOGE as maker coin, like this
https://dexapi.cipig.net/public/error.php?uuid=527b8300-3639-4639-9a6a-5734b9c1c4b0
tried it myself and it fails with same error... here is the part from the swap json:
[code]

`getnetworkinfo` on DOGE shows this:
[code]
the only -1 value is `timeoffset`

after restart of dogecoind (now showing `"timeoffset": 0`) swaps work again, so it is f

[2020-06-11 09:54] artemii235 commented on #673
Thanks for report! Should be fixed now, please rebuild and try again.

[2020-06-11 13:15] cipig commented on #668
i can contribute number of connected users to electrum-servers. like this:
![image](https://user-images.githubusercontent.com/32116761/84389382-7bbbff00-abe5-11ea-8bea-44e9de8c328c.png)
(ignore the warn/crit thingy, it is wrong)

[2020-06-11 13:29] SirSevenG commented on #648
Status update:
Need server with bigger storage for deployment:
Ethereum Mainnet archive node takes ~2 TB: https://openethereum.github.io/wiki/FAQ#what-are-the-parity-ethereum-disk-space-needs-and-overall-hardware-requirements

And ~4 TB more for blockscout DB: https://docs.blockscout.com/for-developers/information-and-settings/database-storage-requirements

[2020-06-11 13:50] cipig commented on #648
i am running the parity nodes with `--mode=active --tracing=on`, not archive, and they use 400 GB
do we need archive mode?

[2020-06-11 14:35] SirSevenG commented on #648
`BlockScout requires a full archive node in order to import every state change for every address on the target network. `
https://docs.blockscout.com/for-developers/manual-deployment

[2020-06-12 07:01] sergeyboyko0791 commented on #657
Please check the PR https://github.com/KomodoPlatform/atomicDEX-API/pull/674

[2020-06-12 07:56] cipig commented on #657
great, thanks a lot
i ran the tests and the connection attempts to ETOMIC are gone
some tests failed because i don't have a proper environment locally, `No BOB_PASSPHRASE` or `No ALICE_PASSPHRASE`, but nothing because of ETOMIC

[2020-06-12 07:56] #657 closed

[2020-06-12 08:02] cipig commented on #673
thanks for the fix
negative timeoffset does not seem to happen very often, so closing issue for now

[2020-06-12 08:02] #673 closed

[2020-06-12 10:58] tonymorony opened #675 "Mechanism to automagically return dex fee to taker if fail was not his fault"
Just something good to think about imo

Might be combined with NN relay nodes group idea https://github.com/KomodoPlatform/atomicDEX-API/issues/654

[2020-06-12 11:09] cipig commented on #675
problem is that on high fee chains (BTC, ETH), the txfee for returning dexfee to taker can be higher than the dexfee itself

[2020-06-12 11:38] tonymorony commented on #675
as an idea for high fee chains refunds can be paid in KMD probably
anyway relay nodes will be connected to API endpoints which fetch USD prices so it'll be possible to calculate such ratio

[2020-06-14 01:25] cipig commented on #660
saw this failed swap (only for taker) due to different confirmation settings on maker and taker

[d9f566ee-702a-4b85-af47-01e9ad9335a7.maker.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/4775717/d9f566ee-702a-4b85-af47-01e9ad9335a7.maker.txt)
[d9f566ee-702a-4b85-af47-01e9ad9335a7.taker.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/4775718/d9f566ee-702a-4b85-af47-01e9ad933

[2020-06-14 16:50] tonymorony opened #676 "More information about KMD rewards"
essential info for that: KMD utxos structure, locktimes presistance and expiration time.
Should simplify this infromation reflection in GUI and prevent the cases when rewards already stopped to accure (at the moment after 30 days) but user don't know about that, or when user don't have locktime on his UTXO(s) or when his balance is >10 but particular UTXOs size <10 so he is not accuring rewards

[2020-06-15 07:17] artemii235 commented on #676
Thanks for creating the issue! It is worth to implement for sure, let's discuss the time frame on meetup.

[2020-06-15 07:30] sergeyboyko0791 commented on #661
If I understood correctly the [client_name](https://electrumx-spesmilo.readthedocs.io/en/latest/protocol-methods.html#server.version) should consist of the pair `<gui>/MM2 <MM_VERSION>`.

There is a problem if the user builds MM2 from the sources, because he should set the `MM_VERSION` environment variable manually, else the version will be `UNKNOWN`.
I'm not sure if a GUI development team compile

[2020-06-15 07:43] artemii235 commented on #661
AFAIK desktop GUI devs use prebuilt binaries from Github releases page that have version properly set upon CI build.
Mobile version is built from source and version is set upon build too.
Even if version and gui is not set it will be ok to send it as `UNKNOWN GUI/MM2 UNKNOWN` to electrum server.

[2020-06-15 07:44] cipig commented on #661
`MM_VERSION` is not necessary, just some string that is different from other potential clients
a fixed one like `AtomicDEX` is also ok
i just want to have the possibility of using the `DROP_CLIENT_UNKNOWN` option in electrumx, in case we are hit by requests from alien clients in the future
the version that can be passed to `server.version` is not related to mm2 version anyway, it is the protocol v

[2020-06-16 15:53] tonymorony opened #677 "Trading bots integration"
Thats one of the essential functionalities to have in our dex layer.

As one more step in that direction we can open issue for hummiung bot <-> adex-api connector creation

example: https://github.com/CoinAlpha/hummingbot/issues/1875

[2020-06-16 16:02] tonymorony opened #678 "Price infromation for charts (and not only charts)"
Part of https://github.com/KomodoPlatform/atomicDEX-API/issues/654

After discussion with @yurii-khi @Milerius and @naezith we've decided that this endpoint is a good example of infromation which we'll need for candlestick graphs:

https://docs.cryptowat.ch/rest-api/markets/price#market-price
https://api.cryptowat.ch/markets/binance/kmdbtc/ohlc

example of desired response will be like a:

[code]

[2020-06-16 21:34] tonymorony commented on #668
wip

- approximate amount of orders in network
- approximate amount ongoing trades right now
- amount of trades completed for last X period of time

[2020-06-16 22:03] cipig commented on #656
i think i found a better solution for the problem: switch wallet to https://github.com/BitcoinUnlimited/BitcoinUnlimited
which supports estimatesmartfee
[code]
will test swaps with this wallet and if everything works, i will run own electrums with BitcoinUnlimited instead of bitcoin-abc

[2020-06-17 07:06] artemii235 commented on #656
Hi @cipig, thanks for finding the workaround!
I will keep this issue open because it might be still useful to have such option, but we can postpone the implementation for a while.

[2020-06-17 10:01] tonymorony opened #679 "Mechanism to pause trading for specific coins during fork events for users safety"
Something to think about (thanks for pointing @gcharang). Opening it here because it should be applicable to all GUIs on top of protocol

Since this data about fork/updates events is quite dynamic we can probably make "HF heights" API endpoint with blocks diapasons which considering as "unsafe / not-recommended for trading".

And it is better to get some consensus on that data to avoid cheating an

[2020-06-17 10:41] artemii235 commented on #679
Interesting idea, I think that it might be even best to fetch this data directly from corresponding coin RPC if possible (e.g. `upcoming_hf` similar to `softforks` and `upgrades` fields in `getblockchaininfo` response, not sure if all coins have or will have such data though). E.g. if coin daemon returns that hardfork is planned on some block we can stop operations for few hours before HF and afte

[2020-06-18 05:55] sergeyboyko0791 commented on #661
Do we have an electrum with protocol version less than 1.4? It should help me to cover the code with tests.

[2020-06-18 06:01] tonymorony commented on #661
@sergeyboyko0791 https://rocky-cove-80142.herokuapp.com/ ones with ElectrumX version < 1.15.0 might have older protocol version, however please note that such electrums operating not by our team (we updating infrastructre and should have same electrum version on all instances) so it might go offline any time or people control these electrums can update it one day what will break the tests

[2020-06-18 09:33] cipig commented on #661
i found one here: https://1209k.com/bitcoin-eye/ele.php?chain=mona
`electrum-mona.bitbank.cc 50001` has protocol version 1.2

[2020-06-18 11:56] tonymorony opened #680 "significant_amount param in coins config"
During the https://github.com/KomodoPlatform/atomicDEX-API/issues/659 feature discussion we've realized with @artemii235 that it'll be hard to update all GUIs (who use USD price providers) and makers who using CLIs without USD API providers to some consistent way. Also anyway it's very hard to determine what is the minimal asset amount rely only on USD value. You have also take on account cost of

[2020-06-18 13:07] ca333 commented on #680
`We can review this param value for all coins trading in GUIs on a monthly basis for now.` - it is maybe better if we do not set such values/tresholds and "leave it up to the user" - furthermore a factor like this one (using a coin amount) underlies the market fluctuations, high volatility et cetera and thus is out of our control to a certain degree. Accurate maintenance could be difficult. Also,

[2020-06-19 02:08] cipig opened #683 "get_trade_fee returns only rational numbers"
[code]
this breaks my marketmaker script, which uses decimal numbers and i think it will break some other tools too

[2020-06-19 02:41] tonymorony commented on #680
Thats a very valid points!

However there is a problem and paradox:

Two types of assets  possible to protect by notarzation: ACs and KMD (techincally it's quite the same, so we can call its just as Komodo assets) and most of the Komodo assets which require notarization got not very liquid markets (I believe its temporary point tho :) ) and there might be a problem with USD value determining (it e

[2020-06-19 06:34] artemii235 commented on #683
Thanks for opening the issue! Going to recheck and fix this ASAP.

[2020-06-19 07:11] artemii235 commented on #683
Should be fixed now, please update and test.

[2020-06-19 12:59] cipig commented on #683
fixed, thanks a lot

[2020-06-19 12:59] #683 closed

[2020-06-19 19:26] ca333 commented on #680
good point - i would say for ACs that have no available price data on our priceAPI endpoint and also no "significant" DEX orderbook entries we should return a "N/A" instead of our current "0" - this would mean such assets (if no_price_data && no_significant_vol) get only option to enable or disable confs settings but not value based threshold config. I believe thats a good path for such "low/no li

[2020-06-20 20:45] Milerius opened #684 "my_balance return only fraction number for `locked_by_swaps`"
**Describe the bug**
<img width="1680" alt="Capture d’écran 2020-06-20 à 22 43 32" src="https://user-images.githubusercontent.com/21139416/85211261-9dd12200-b347-11ea-97b2-05a861a95c92.png">

It's was a string field before

I think we should keep both format each time and introduce a new field `locked_by_swaps_frac_repr` instead of introducing brutal breaking change !

So i have time to do the t

[2020-06-20 20:54] tonymorony commented on #684
It's still documented as string here https://docs.komodoplatform.com/basic-docs/atomicdex/atomicdex-api.html#my-balance

But return object at the moment `"locked_by_swaps\":{\"denom\":\"1\",\"numer\":\"0\"}` what broke desktop GUI when we've tried to update the bin.

I propose to make new fields for such changes e.g. `locked_by_swaps_obj` for smoother deprecation / updating process

Also it seems

[2020-06-21 04:54] artemii235 commented on #684
This is an unintentional side effect of https://github.com/KomodoPlatform/atomicDEX-API/pull/671, please treat such events with understanding because these may happen sometimes if we perform major changes/refactoring. `bug` label is 100% correct here, in most cases such things will be fixed immediately with corresponding tests added to avoid future regressions similar to https://github.com/KomodoP

[2020-06-21 12:24] cipig opened #685 "Provided dex fee tx output value is less than expected 109999 110000"
https://dexapi.cipig.net/public/error.php?uuid=71e32cb8-cbab-42d1-bcc3-0f9a9ec76190
the maker (version `72073d391`) failed the swap with
`maker_swap:387] utxo:1196] Provided dex fee tx output value is less than expected 109999 110000`
never saw this error before, could be something new (or very rare)

[2020-06-21 23:46] SirSevenG commented on #648
Explorer and API:
https://explorer.sirseven.me:4001/
https://explorer.sirseven.me:4001/api_docs
ETH synchronisation is extremely slow, will take quite some time to write archive.

[2020-06-22 08:31] artemii235 commented on #685
Thanks for report! We will investigate it on this week, I suspect that it might be related to https://github.com/KomodoPlatform/atomicDEX-API/pull/671

[2020-06-22 08:52] sergeyboyko0791 opened #687 "Integrate Cargo Clippy and probably rustfmt into CI scripts"
Add the code automate checking into the azure pipeline to avoid common warnings and errors:
https://github.com/rust-lang/rust-clippy
Also consider to add the code formatting check
https://github.com/rust-lang/rustfmt

[2020-06-22 10:54] artemii235 commented on #661
This feature was implemented.

[2020-06-22 10:54] #661 closed

[2020-06-23 09:28] #669 closed

[2020-06-24 01:03] cipig commented on #446
saw it on LTC too:
https://dexapi.cipig.net/public/error.php?uuid=4cc23525-d477-4a37-95b1-8044947724f5
https://dexapi.cipig.net/public/error.php?uuid=b7f878cb-a276-40bd-b31f-5563221d71d4
would be good to simply add such small changes as miner fee

[2020-06-24 07:11] artemii235 commented on #446
The problem is MM2 is uses 1000 satoshi dust when constructing transaction and change that is lower of this amount goes to miner fee: https://github.com/KomodoPlatform/atomicDEX-API/blob/03d9a901d8f179cbf19b242d83f9b2fc782cfaea/mm2src/coins/utxo.rs#L641 and https://github.com/KomodoPlatform/atomicDEX-API/blob/03d9a901d8f179cbf19b242d83f9b2fc782cfaea/mm2src/coins/utxo.rs#L769
The created transactio

[2020-06-24 07:36] cipig commented on #446
from src/policy/policy.h of LTC wallet source:
[code]
most coins have this defined as 3 x relay_fee

[2020-06-24 07:41] artemii235 commented on #446
@cipig Thanks for info! Could you please also test it to be 100% sure that it is 3000 sat as of now by sending e.g. 2999 to yourself and then 3000?

[2020-06-24 08:01] cipig commented on #446
ok, seems it's all nonsense... i could send 0.00003000, 0.00002999 and even 0.00001000 without problems
https://live.blockcypher.com/ltc/tx/5261ac5bdd22bb0db2ec37cad80c91fe0ef44348daf52aa9f557375e87b858d4/

[2020-06-24 08:07] artemii235 commented on #446
Maybe the problem is 224 sat fee? Could you please try to send single input/single output tx to yourself so it will be that small?

[2020-06-29 07:34] artemii235 opened #689 "Remove "locked_by_swaps" from "my_balance" and "electrum/enables" calls responses."
It requires "estimate_fee" or gas station calls now and it is not used by GUIs. Worth to move it to another call later if required.

[2020-06-29 08:33] tonymorony commented on #648
hmm it looks like that it's possible to get into the state when blocks syncing slower than generating:
https://blog.slock.it/how-to-not-run-an-ethereum-archive-node-a-journey-d038b4da398b

[code]

@SirSevenG in parallel please research on alternative options

[2020-06-29 10:09] artemii235 commented on #684
The "locked_by_swaps" field was removed in https://github.com/KomodoPlatform/atomicDEX-API/commit/08d013c6a5983ccb590b246a5600387f9918a805 as it is not used anywhere as of now. We will move it to separate RPC call later if required.

[2020-06-29 10:09] #684 closed

[2020-06-29 11:05] #689 closed

[2020-07-02 07:24] tonymorony commented on #648
There is no good / easy to setup (thats insane to sync few months archieve node + explorer died twice for a last 3 days)  opensourced ETH blockexplorer which able to return last state of Ethereum blockchain so
it looks like we should give up with that idea (at least for now) and use 3rd party API for wallets (for example etherscan).

[2020-07-02 07:51] gcharang commented on #648
How about Quiknode Dedicated? https://www.quiknode.io/pricing

or infura or some other similar solution?

[2020-07-02 07:56] tonymorony commented on #648
It's not set in stone (even API usage in general) so feel free to make a comparative research on that :)

I've checked api calls of most popular ETH APIs, for infura I've not found how to get tx history by single call. Etherscan calls looks easiest to use for `wallet` (however I'm not sure on their pricing because prices aren't open-soruced :) )

[2020-07-02 08:33] gcharang commented on #648
I haven't tested it
But this looks like the thing we need
https://github.com/Adamant-im/ETH-transactions-storage
https://medium.com/adamant-im/indexer-for-ethereum-to-get-transaction-list-by-address-f5e5b38d5e8e

It doesn't mention archive node either. Just says `geth or parity (with currently synchronized chain)`

[2020-07-02 09:21] artemii235 commented on #648
https://github.com/Adamant-im/ETH-transactions-storage

Interesting, very compact implementation 🙂 It tracks only ETH transactions and no tokens (it might be not that hard to add though). Also I wonder if it tracks "internal" ETH transfers that were made during smart contracts calls.

[2020-07-02 09:32] gcharang commented on #648
The blog post says it tracks smart contract txns too. doesn't it mean tokens as well?

https://medium.com/adamant-im/indexer-for-ethereum-to-get-transaction-list-by-address-f5e5b38d5e8e

[2020-07-02 09:44] artemii235 commented on #648
I guess they mean "internal" ETH transfers that happen during smart contract calls as part of the main transaction. It doesn't mean ERC20 or other tokens transfers indexing.

[2020-07-03 07:57] tonymorony commented on #486
Little bump, I think we should add it to roadmap

[2020-07-05 23:16] SirSevenG commented on #648
`it looks like we should give up with that idea (at least for now) and use 3rd party API for wallets (for example etherscan).`
In the end, it looks like this.

On the `big three` mentioned above:
- EthVM - their codebase is still in rework, as well as docs. And their telegram channel seems to be dead for couple of month already.
- OST-view - only acts as explorer for common users, it does not prov

[2020-07-06 06:49] artemii235 opened #691 "Add validate_address API."

[2020-07-06 06:50] artemii235 opened #692 "Add bitcoin cash <-> legacy address conversion API."

[2020-07-06 06:50] artemii235 opened #693 "Add single case -> mixed checksum ETH address conversion API."

[2020-07-06 07:41] #687 closed

[2020-07-06 09:15] artemii235 commented on #659
Done, docs PR: https://github.com/KomodoPlatform/developer-docs/pull/184

[2020-07-06 09:16] artemii235 commented on #660
Done.

[2020-07-06 09:16] #660 closed

[2020-07-06 09:16] #659 closed

[2020-07-06 09:56] sergeyboyko0791 opened #694 "Add convertaddress RPC call that will allow convert addresses between UTXO address formats"

[2020-07-06 10:42] DaemonSnake opened #696 "Library release for Windows and Linux"
Hi,
Currently the library version of mm2 is only available for Darwin in the release assets.
Would it be possible to have the Windows and Linux version too?
Thanks

[2020-07-07 06:29] smk762 commented on #668
- swap success / fail rate
- fail event distribution
- UI usage (desktop vs mobile; android vs iOS, Linux vs Windows vs Mac)
- unique pubkey count
- average swaps per pubkey
- count of pubkeys being used on > 1 UI (and fail rate relative to control)

I understand that seed node data may be required for some of this, and due to this there may be issues related to data capture as occurred previously

[2020-07-07 06:57] artemii235 commented on #692
Duplicate of https://github.com/KomodoPlatform/atomicDEX-API/issues/694

[2020-07-07 06:57] #692 closed

[2020-07-07 07:01] tonymorony commented on #696
Hi @DaemonSnake !

On [releases](https://github.com/KomodoPlatform/atomicDEX-API/releases) page you can find atomicdex-api binaries for OSX/Linux/Windows. For example:

![image](https://user-images.githubusercontent.com/24797699/86732072-4b3b7980-c05a-11ea-9042-effa0f303ba7.png)

[2020-07-07 09:14] artemii235 commented on #691
Expected input:
[code]
Output:
[code]

[2020-07-07 09:29] artemii235 commented on #693
ETH has special mixed-case checksum address encoding format: https://eips.ethereum.org/EIPS/eip-55. MM2 enforces it for withdraw call, however not all wallets support/display addresses using this format. As of now users require to open e.g. Etherscan to see the mixed-case version of the address, conversion API will make the process a bit easier and also allow GUIs to avoid implementation of same s

[2020-07-07 10:11] DaemonSnake commented on #696
Hi @tonymorony,

I am aware of the presence of the pre build binaries.
What I was referring to is that Darwin is the only target for which the **library** version of mm2 is packaged.

![binaries](https://user-images.githubusercontent.com/11693483/86755544-03105d00-c042-11ea-80e5-ed7822ffbf9b.png)

As you can see none of Linux/Windows packages contains a library version of mm2

Whist both Release a

[2020-07-09 05:58] artemii235 commented on #696
The corresponding PR was merged, closing.

[2020-07-09 05:58] #696 closed

[2020-07-09 13:17] cipig commented on #446
https://dexapi.cipig.net/public/error.php?uuid=0de2d5e1-3a45-4cd0-9eda-dbab1446fa9f
[code]
0.00001743 change
0.00000255 fee

https://github.com/litecoin-project/litecoin/blob/master/src/policy/policy.cpp#L20 says dust threshold is 546... i can't see where the problem is

[2020-07-09 15:53] #691 closed

[2020-07-09 15:53] #693 closed

[2020-07-09 15:53] #694 closed

[2020-07-10 05:38] artemii235 commented on #446
Maybe the problem is OP_RETURN output with 0 value that records secret hash to blockchain? Do we have at least 1 successful swap with LTC after [this change](https://github.com/KomodoPlatform/atomicDEX-API/commit/cc20999bc5042331b5da6d7f6f94bfdf0c47f57e) was implemented?

[2020-07-10 07:32] tonymorony opened #698 "Panic on history cache file renaming"
OS: windows

[code]

cr: https://github.com/KomodoPlatform/atomicDEX-Pro/issues/350#issue-654565427

[2020-07-10 10:49] artemii235 commented on #698
The problem is MM2 uses coin address for history file name, but it now has `:` for BCH if it uses cash address format. Replacing a `:` to e.g. `_` should do the trick. There're other prohibited characters in Windows file names, but these are not used in any currently available address formats of MM2 supported coins.

[2020-07-10 11:06] tonymorony opened #700 "RPC call to get orderbook(s) depth"
In refactored p2p part of the protocol it'll be not effective (too much not-necessary data receiving) to subscribe on all orderbooks to get information like a https://github.com/KomodoPlatform/atomicDEX/issues/165 so would be great to have mechanism for that. It should be useful for different interfaces (network overivew / monitoring / trading GUIs and bots).

cr: https://github.com/KomodoPlatform

[2020-07-10 11:35] artemii235 commented on #698
Fixed, thanks for your report!

[2020-07-10 11:35] #698 closed

[2020-07-10 13:39] cipig commented on #446
Yes, there were many successfull LTC swaps. Just did one... takerpayment https://chainz.cryptoid.info/ltc/tx.dws?e71614e426abb1efb447dd2f42444a22cb4b36cc93a57ffb1ba8e9595f4bf013.htm has OP_RETURN (you can view the rawtx in explorer) and it worked fine... change was 0.00078175 though

[2020-07-11 04:05] damascene opened #701 "Add support for SLP tokens on the BCH network (Bitcoin colored coins)"
SLP tokens are Bitcoin colored coins on the BCH network. SLP stands for Simple Ledger Protocol.
SLP tokens are growing in popularity, [Tether is now available as a Standard Ledger Protocol token](https://cointelegraph.com/news/tether-launches-on-bitcoin-cash-network) on the Bitcoin Cash network.

![image](https://user-images.githubusercontent.com/411046/87216011-2f7af080-c344-11ea-99d0-b47e7035dfa

[2020-07-11 17:14] cipig commented on #446
another dust, from same
[code]
change was 1720
could it be that change below `1000 sats (relayfee) + 546 + 255 (txfee) = 1801` is considered dust, not only below 546?

[2020-07-11 19:20] cipig opened #702 "maker_data.payment_locktime not equal to expected"
these swaps failed with `taker_swap:651] maker_data.payment_locktime 1594516045 not equal to expected 1594469245`

https://dexapi.cipig.net/public/error.php?uuid=c70ed6ba-62e0-4ff5-909a-cd1265556828
https://dexapi.cipig.net/public/error.php?uuid=584f83e2-3081-4eca-a609-0f09fae24765
https://dexapi.cipig.net/public/error.php?uuid=067bc29b-0747-4a3c-b8f3-bfc9f65fef4d
https://dexapi.cipig.net/public/e

[2020-07-12 09:59] tonymorony commented on #702
https://dexapi.cipig.net/public/error.php?uuid=067bc29b-0747-4a3c-b8f3-bfc9f65fef4d that was a swap with me ( btw I can't match that order with my pubkey anymore because of ban it seems):

![image](https://user-images.githubusercontent.com/24797699/87243539-fa17f500-c460-11ea-9071-e5c36deb17b1.png)

[2020-07-12 12:09] cipig commented on #702
seems to always be the same maker... can this happen when clock is wrong?
since i haven't seen it with my own makers, the chance is high that the maker is simply crap

[2020-07-13 05:45] artemii235 commented on #702
Looks like there's a bug in locktime selection code, both nodes used the most recent version of MM2, but selected different payment lock duration, maker node selected 31200 seconds while taker selected 7800. Going to investigate and fix this ASAP.

[2020-07-13 06:32] artemii235 commented on #702
I believe following has happened:
1. Maker order was created with previous MM2 version so it doesn't have `conf_settings` field. It was saved to fs.
2. App has been updated, order was restored without `conf_settings` field.
3. As order doesn't have `conf_settings` the corresponding reserved message doesn't have this field too.
4. As reserved message doesn't have `conf_settings` taker node "thinks"

[2020-07-13 08:23] artemii235 commented on #702
Should be fixed now, reserved message will always contain `conf_settings` field now so nodes will properly sync their lock time settings. MM2 update is required, however it might be simpler to advice users to recreate their orders than to update all apps.

[2020-07-14 14:45] dathbezumniy opened #703 "Re-login hangs which is affecting auto-testing speed on GUI's"
I've been experiencing this right since I started writing integration tests for adex-mob - especially send/receive from one wallet to another on the same device (requires few re-logins back to back). Sometimes after you relog into different wallet it might be stuck on Loading..., sometimes it would be stuck on Loading... for a minute or two, and sometimes it is infinite, sometimes it would relog i

[2020-07-14 14:48] dathbezumniy commented on #703
sorry, wrong repo --> goes to adex-mob

[2020-07-14 14:48] #703 closed

[2020-07-14 23:16] ca333 commented on #701
thanks for opening this @damascene - we have additional protocol integrations on our post-RC roadmap (starting 2021) - however, there might be option to add SLP support as a 3rd party/community contribution before RC. Our core lead developer @artemii235 can provide you details/references ref. this topic. Thanks!

[2020-07-20 10:00] artemii235 commented on #702
Closing, should be fixed.

[2020-07-20 10:00] #702 closed

[2020-07-22 08:44] cipig commented on #633
https://github.com/tokio-rs/tokio/releases/tag/tokio-0.2.22 was released

[2020-07-22 11:29] artemii235 commented on #633
@cipig Thanks for info! I updated tokio version in https://github.com/KomodoPlatform/atomicDEX-API/pull/631, could you please update your seednodes, check if everything works well and then approve the PR? I will merge it afterwards.

[2020-07-22 19:08] cipig commented on #633
thanks. looks very good, both seed nodes are running this version without problems for many hours

[2020-07-23 06:31] #633 closed

[2020-07-23 06:32] artemii235 commented on #633
Thanks for testing!

[2020-07-23 15:38] gcharang opened #705 "Support OTC mode"
This feature as I imagine it, will bypass the current p2p network based order matching and replaces it with two people chatting with each other on any messaging platform.

The UX might look like the following. Two people discuss and come to an agreement on the coin names, prices and volumes they are both willing to trade at and exchange their pubkeys. Once done, they input these details into a GUI

[2020-07-24 22:11] notooth1 opened #706 "closed"
It's a duplicate post. Please delete this post.

[2020-07-24 22:14] tonymorony commented on #706
Hello @notooth1 !

By error message it looks like cmake is not installed in your system

[2020-07-25 01:16] #706 closed

[2020-07-25 02:47] notooth1 opened #707 "How to use the API from a remote computer?"
Hello,

I got an error when using the API from a remote computer. Can anyone help?

[code]

[2020-07-25 03:27] gcharang commented on #707
is the port 7783 open on the computer with mm2?
10.0.0.3 looks like a LAN IP, are you on the same network?

[2020-07-25 03:39] tonymorony commented on #707
@notooth1 to use API from remote computer you have to add the following into your configuration:

a) set `rpc_local_only` parameter  (https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2/mm2src/mm2.rs#L131) to `false`

b) set `rpcip` parameter (https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2/mm2src/mm2.rs#L128) to not loopback interface to bind to interface with connection possibility

[2020-07-25 12:38] notooth1 commented on #707
Thank you.

[2020-07-25 16:59] tonymorony commented on #707
We always glad to help! :) Closing this issue. Feel free to reopen if information above will be not enough to perform API calls from remote machine.

[2020-07-25 16:59] #707 closed

[2020-07-27 08:07] tonymorony commented on #676
https://github.com/VerusCoin/Agama/releases Verus Agama "Claim rewards" page can be used as a good ref. of what info GUI need for information displaying about:

a) amount of utxos
b) size of utxos
c) infomratrion on if locktime set
d) amount of accured rewards
e) timer for rewards accuring stop for given UTXO

[2020-07-27 08:12] artemii235 commented on #676
Expected API reference:
1. Method name `kmd_rewards_info`.
1. Works only when KMD is activated.
1. Input arguments: no.
1. Expected output (subject to change):
[code]

It might worth to add more info to output, let's discuss it.

[2020-07-27 23:10] tonymorony commented on #678
Documentation to make API for exchange listing on CMC/Coingecko/{tracker_name}:

CMC "Ideal API Endpoint Samples" : https://docs.google.com/document/d/1S4urpzUnO2t7DmS_1dc4EL4tgnnbTObPYXvDeBnukCg/edit

binance api ref:
https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md

cross-ref: https://github.com/KomodoPlatform/atomicDEX-API/issues/654

[2020-07-28 21:52] tolken1138 commented on #473
Been waiting for this since mm1 days. I think this would be an excellent feature. As they say, lots of things are 'easy' but of course it comes down to priorities. I hope you guys find time to implement this easy addition soon! :D Would be most appreciated!

[2020-07-30 10:13] sergeyboyko0791 commented on #676
@tonymorony please test the functional.

RPC method: "kmd_rewards_info",

RPC response: { "result": [
    {
        "tx_hash": String, // unspent output TX hash
        "height": Option<u64>, // if the transaction is mined already
        "amount": u64,
        "locktime": timestamp,
        "accrued_rewards": u64,
        "accrue_stop_at": Option<timestamp> // if the transaction is mined already

[2020-07-31 14:00] cipig commented on #544
Had a lot more of this errors in the last month... many with OOT, but also the usual ones with BCH... eg:
[code]
is this also dependant on the number of blocks mined between swap start and swap end/failed or recover_funds_of_swap call? OOT chain is not really active, so very few blocks there... if i make some blocks (by sending out txs, because on-demand-mining), i can also recover the funds, the

[2020-08-01 19:17] cipig commented on #667
new, but similar situation: KMD-USDC swap OK for maker:
[code]

but taker is missing the USDC sent and clicking the unlock funds button results in failed txes like this:
https://etherscan.io/tx/0xdc2c386fac16c8814c50eb4ebbd9eb947fe0231918624aa35805a181c50140dc
https://etherscan.io/tx/0xf37bb8fa7882d087bcbf046b96a13fe8cfba15fd223af77940ac8e90fc672798
https://etherscan.io/tx/0x82b1402bb759a668d034c9

[2020-08-03 06:36] artemii235 commented on #544
Hi, I guess the reason is MM2 sets locktime as `now - 3600` as recommended in https://github.com/bitcoin/bitcoin/blob/master/doc/release-notes/release-notes-0.11.2.md#bip113-mempool-only-locktime-enforcement-using-getmediantimepast
[code]
But this doesn't work sometimes as MTP can be behind `now - 3600` resulting into `non-final` errors. I'm going to fix this in MM2 on this week to ensure that `lo

[2020-08-03 07:43] artemii235 commented on #602
@sergeyboyko0791 Could you please research on following topic? The NetworkBehaviour in rust-libp2p returns NetworkBehaviourAction during polling that "instructs" the polling side to execute some command, e.g. DialAddress or DialPeer (https://github.com/libp2p/rust-libp2p/blob/master/swarm/src/behaviour.rs#L227). What is not clear for me now: is there a way to trigger a graceful peer disconnection

[2020-08-03 12:33] cipig commented on #667
closing the issue, as the original problem (txfee) is fixed and last one is fixed in the erc20 contract (after redeploy)

[2020-08-03 12:33] #667 closed

[2020-08-04 10:46] #676 closed

[2020-08-05 06:44] sergeyboyko0791 commented on #602
Hi @artemii235, I pushed the changes to [libp2p fork](https://github.com/KomodoPlatform/rust-libp2p/commit/a999a753fb70fc104d54f3801254bd17061646e8)

[2020-08-12 12:00] tonymorony opened #709 "Swap time raw estimate"
I think that to not reinvent similar functionality in each GUI it's better to add it right into API because it has all the needed info for such calculations. It should add a lot of utility and certainties for the end user and also as @cipig proposed we can add it into swap jsons to be able to analyse additional data.

We have two values: avg. block_time https://github.com/KomodoPlatform/coins/pull

[2020-08-13 10:26] cipig commented on #648
parity is slow again and i am looking for reasons... `netstat` output looks like this:
[code]
the questions is: why do clients open dozens of connections?
and why don't they close them properly when they are done? (not closing is likely not the cause of our problems though, but the number of connections could be)

will lower the amount of RAM parity is using, i have a feeling that it can't manage

[2020-08-13 10:34] artemii235 commented on #648
Are you sure that these connections are opened by MM2? Do you see same amount of connections opened from other IPs? To be sure please try to run the MM2 with few ETH/ERC20 coins activated with history and check how many connections will be opened.

[2020-08-13 10:50] cipig commented on #648
checked one IP:
[code]
and since the same IP is also connected to the electrums, it is a mm2 node
will write a script though that looks for IPs connected to parity, but not to any of the electrums... those must be non mm2 nodes and can be blocked... but i will first write output to logfiles before starting to block... want to know if our problems could be related to non mm2 nodes connecting to our

[2020-08-13 11:04] cipig commented on #648
ok, maybe the "TIME_WAIT" connections are not that important... looks like mm2 is opening connection, does some requests and then leaves the connection, so it gets into "TIME_WAIT"... and the next request opens a new connection... that would explain it... will count only connections in "ESTABLISHED" state

[2020-08-19 06:37] sergeyboyko0791 commented on #602
I've implemented a RequestResponseBehaviour that should fit to our purposes and tried to integrate this to process_order_keep_alive():
If an order was not found in the order container, first try to request the order from connected relay peers and if they doesn't have it, broadcast RepeatOrder to the network.

See the https://github.com/KomodoPlatform/atomicDEX-API/tree/libp2p-request-response bran

[2020-08-19 21:47] tonymorony opened #710 "BTC fees estimations displaying per kilobyte"
as a user faced no-go BTC<->X swaps problem, BTC tx fees from estimatesmartfee are way to high if compare with average tx fee:

[code]

[code]

![image](https://user-images.githubusercontent.com/24797699/90691429-88bc3500-e29d-11ea-8cfd-dc740cda17da.png)

What is 15$ per transaction, but according to https://bitinfocharts.com/comparison/bitcoin-transactionfees.html or https://txstreet.com/ avg. fe

[2020-08-19 22:02] tonymorony commented on #710
btw, fee I'm getting on withdrawal is 2.5$ atm what is ~6 times less than for trade (or from `bitcoin-cli estimatesmartfee 1 ECONOMICAL`). Is it calculating by electrumx?

![image](https://user-images.githubusercontent.com/24797699/90694068-2dd90c80-e2a2-11ea-985a-9510ddb7055b.png)

[2020-08-19 23:06] cipig commented on #710
some infos from me:
- for takers, BTC txfee shown is double the txfee from estimatesmartfee, because taker using BTC needs to make 2 transactions, dexfee tx in BTC and takerpayment tx, also in BTC
- electrum does not calculate fees, it simply passes the call to bitcoind, so estimatesmartfee should always be the same as what mm2 shows on get_trade_fee
- estimatesmartfee indeed shows a higher fee th

[2020-09-01 15:03] tonymorony opened #714 "Market makers rebate program"
just ideas sharing:

I think that possible makers rebate (negative maker fees) program for atomicdex might help to motivate users to place more maker orders = bring more liquidity

it might be a program without additional conditions such as Bitmex has:
![image](https://user-images.githubusercontent.com/24797699/91867283-ac1fb080-ec9d-11ea-8bab-6a6f6cbd9a05.png)

Or one connected to additional cond

[2020-09-01 15:10] tonymorony opened #715 "Possibility of taker fee payment in KMD"
just ideas sharing:

Situations like that https://github.com/KomodoPlatform/atomicDEX-API/issues/710 suggest - why am I supposed to pay taker fee in coin with high tx fee if I can pay it in coin for which tx fee costs less?

Lets say tx fee for `taker fee` tx in BTC is 3$ so to make actual value transfering in transaction `>=` than fee I should swap at least 3*777 = 2331 USD worth of BTC, similar

[2020-09-02 14:23] gcharang commented on #714
instead of just holding it, the condition could be to lock it till a minimum future time. Maybe increasing the locktime also gives more discount upto a certain point?  Example using [Timelocks](https://en.bitcoin.it/wiki/Timelock): https://coinb.in/#newTimeLocked

[code]

[2020-09-06 08:15] gruve-p commented on #460
@cipig Thanks for making me aware of this issue.

@artemii235 Transaction hashes are sha256 digests in Groestlcoin instead of sha256d digests as in Bitcoin.
Source: https://github.com/Groestlcoin/grs-dev-docs/blob/master/hashes.md

[2020-09-10 10:43] ca333 commented on #460
Thank you for the information @gruve-p - we will look into this soon and keep you posted.

[2020-09-14 05:44] artemii235 opened #718 "Build fails on latest catalina."
`clang: error: unknown argument: '-fcoalesce-templates'`

https://github.com/arvidn/libtorrent/issues/4662#issuecomment-630264529

[2020-09-14 09:23] #718 closed

[2020-09-14 19:16] damascene commented on #701
@artemii235 would like to hear your input on this, is it technically possible?

[2020-09-17 06:22] tonymorony commented on #710
So as we've found out in discussion with @artemii235 it's kind of UX bug - `estimatefee` returns approximate fee per kilobyte. However, actual swap transactions usually contains much lower amount of information. So visually it became a no go for user to start a swap.
It would be great to find a way to display actual swap txs estimates.

[2020-09-17 09:56] artemii235 commented on #710
@tonymorony Thanks for your comment!

To calculate the expected fee more precisely we need to know the amount to be traded so `get_trade_fee` should have 1 more argument. The call will look like `get_trade_fee("BTC", "1")`. This way we can generate atomic swap transactions preimages and calculate fee using it's size. The real fee can be different actually, but it shouldn't happen often, UTXO split

[2020-09-18 06:18] artemii235 opened #720 "Request balance and utxos for both P2KH and P2PKH script hashes from Electrum."
https://discordapp.com/channels/412898016371015680/449950331577565194/756147006237573150

https://github.com/kyuupichan/electrumx/issues/818#issuecomment-633497973

[2020-09-18 11:51] tonymorony opened #721 "QRC20 withdrawal with max flag returns zero amount values"
e.g.

[code]

my balance:

[code]

If input my whole balance manually it works fine:

[code]

ref: https://github.com/KomodoPlatform/atomicDEX-Pro/issues/464

[2020-09-18 13:09] cipig commented on #721
is `\"withdraw\0\"` (the `0`) in your first try just a typo in the GH issue posting?

[2020-09-18 13:19] tonymorony commented on #721
thanks for noticing! it's not in my actual call, some pasting issue probably

[2020-09-20 11:16] garnon opened #722 "Incoming Funds not available in the DEX section"
Repro:
- create a new, empty wallet in atomicDEX pro, all balances are zero
- activate KMD and BTC coins
- go to the dex tab. You can't exchange since you don't have funds.
- send BTC or KMD to the wallet and let it confirm

--> In the DEX section, the funds do not appear. So even though you have funds, you cannot start a swap or create an order. Only a restart of the app solves the problem.

[2020-09-20 11:36] smk762 commented on #722
which operating system are you using?

[2020-09-21 02:21] karasugoi opened #723 "Add support for Energy Web Network and EWT"
Energy Web Tokens (EWT) operate on their own network similar to Ethereum.  https://www.energyweb.org/technology/energy-web-chain/   The energy industry is likely to go forward with this in our future as it enables VPP (virtual power plants).
AtomicDEX should embrace the future and this will help it gain traction and relevancy.

[2020-09-21 05:03] artemii235 commented on #721
@sergeyboyko0791 Could you please check and fix this in separate branch from `qrc20-swap`? Such hot fix should be done separately from ongoing work so it's released asap.

[2020-09-21 05:16] artemii235 commented on #723
@karasugoi Hi! Thanks for opening the issue! As EWT seems to be Ethereum "fork" the task to integrate it might be quite simple: all we need is to deploy the [etomic swap smart contract](https://github.com/artemii235/etomic-swap) to their network and setup a RPC node (or use community provided). However I'm unsure if we have free resources for this right now, let me clarify it with team.

[2020-09-21 05:50] artemii235 commented on #701
@damascene Hi! It's unclear for me now whether it's possible to implement an [HTLC](https://en.bitcoin.it/wiki/Hash_Time_Locked_Contracts) for SLP so I'm not able to say if the integration is 100% possible. To answer this question we should do a research on this topic, but we don't have resources for it right now.

But community contributions are always welcome. I think that we possibly can assign

[2020-09-21 06:41] sergeyboyko0791 commented on #721
Indeed there is a bug with the transaction details if the `max` field is true. Note the result raw transaction is correct in this case.

[2020-09-21 09:33] tonymorony opened #724 "Dex fees usage for liqudity increasing on auto pilot"
Just idea sharing:

DEX fees in different assets just "sitting" in DEX address and not working (KMD generating 5% rewards tho :) ).

It might be interesting if make a mechanism for automatical orders creation for those funds sell into KMD with some margin to actual market price (some kind of autonomous market making) for some percentage of fees pool. That way all collected funds will work (create

[2020-09-22 07:10] artemii235 opened #725 "Buy/sell do not return order_type."
Reported by tolken at Discord DM.

[2020-09-23 06:17] artemii235 commented on #725
Fixed

[2020-09-23 06:17] #725 closed

[2020-09-25 05:40] #721 closed

[2020-09-28 06:28] kayabaNerve opened #728 "Proposal: Lower ETH gas fees by 5x using a new atomic swap protocol"
Currently, ETH trades on AtomicDEX charge ~11-12 USD in fees. This is due to the smart contracts executed, with a gas limit of roughly 350k. That said, it possible to reduce this to 42k.

https://github.com/h4sh3d/xmr-btc-atomic-swap proposes a new atomic swap protocol enabling BTC/XMR atomic swaps. That said, calling it a BTC/XMR atomic swap protocol is inaccurate. In reality, it is a way to cond

[2020-09-29 07:13] artemii235 commented on #728
Thanks for creating the issue!
Integrating such protocol can be really great enhancement for AtomicDEX. We will surely consider this after beta testing stage ends.

Is proof of concept code publicly available? If yes, could you please also post a link here?

[2020-09-29 07:41] kayabaNerve commented on #728
It both is and isn't.

The above protocol relies on two pieces of cryptography; DL EQ proofs and adaptor signatures. If we consider the ETH/BTC pair, the former isn't needed (it's used so secp256k1 keys can interact with Ed25519 keys). The latter is still needed, and a few implementations are around, with the notable one being [secp256kfun](https://github.com/LLFourn/secp256kfun) by a developer at

[2020-09-29 11:04] artemii235 commented on #728
Thanks for link!

It's ok to mention XMR and other coins as we would like to have the ability to support as many different coins as possible. So I consider "reducing ETH fees" just as positive side effect of suggested protocol. It is very interesting and more important that a coin might not have time locking capabilities or even scripting at all, but can be still atomically swapped with 4 transact

[2020-09-29 11:09] kayabaNerve commented on #728
2, actually, if the funds are already in a SegWit wallet. 3 if they're not, with a worse case of 4 (SW; lock; refund; claim).

[2020-09-30 10:33] michelvankessel opened #729 "Blackcoin (BLK) new wallet parameters."
The new Blackcoin More wallet https://gitlab.com/blackcoin/blackcoin-more/-/releases/v2.13.2.6 is the new stable wallet we want people to use.

This means that the datadir and names have changed. In the current mm2 branch I see some code in the coins files

  {
    "coin": "BLK",
    "name": "lore",
    "fname": "Blackcoin",
    "isPoS": 1,
    "rpcport": 15715,
    "pubtype": 25,
    "p2shtype":

[2020-09-30 10:51] cipig commented on #729
the settings for the different coins are taken from this repo (eg for the different GUIs like AtomicDEX-Pro): https://github.com/KomodoPlatform/coins
BLK was already successfully tested with AtomicDEX-API with this settings: https://github.com/KomodoPlatform/coins/blob/master/coins#L305
they assume the conf file is located in ~/.blackmore/blackmore.conf (~/.$name/$name.conf), which was the case wh

[2020-09-30 12:26] michelvankessel commented on #729
Thanks for the information. The settings from https://github.com/KomodoPlatform/coins/blob/master/coins#L305  are correct!

Also the conf file is located in ~/.blackmore/blackmore.conf (~/.$name/$name.conf) , thus is correct for the Blackcoin More client software.

I have altered my comment with the correct $name variable (blackmore).

With that out of the way, I have another question. how/when ar

[2020-09-30 13:43] cipig commented on #729
the coins file in this repo (AtomicDEX-API) is not updated, you should always fetch the latest one from https://raw.githubusercontent.com/KomodoPlatform/coins/master/coins
all other infos about specific coins (icon, explorer, electrum servers) are collected there too

[2020-09-30 13:53] michelvankessel commented on #729
thanks! all clear now!

[2020-09-30 13:53] #729 closed

[2020-10-03 16:15] artemii235 commented on #701
I'm glad to announce that HTLC proof of concept for SLP on Rust is eligible for 1000 KMD bounty!
The requirements to receive it are as follows:
1. The proof of concept must be implemented on pure Rust with pure Rust dependencies.
1. The PoC should contain tests demonstrating creation of HTLC transaction for SLP of BCH testnet and then redeeming using secret and refunding the HTLC when time lock is

[2020-10-03 19:52] karasugoi commented on #723
I am willing to pay KMD as a bounty to get this integrated.  Please advise what the team thinks.  Supporting this may well help the future of our planet.  It rewards we will reap can not be overestimated.

[2020-10-04 07:25] molecular commented on #701
I'll throw in another 560 USD worth of BCH to whoever gets this bounty.

[2020-10-07 07:43] damascene commented on #701
These resources could be useful for developers:

Rust libraries
https://crates.io/crates/bitcoin-cash
https://crates.io/crates/bitcoin-cash-slp

SLP Rust project
Onchain trading console written in Rust that allows users to auction SLP tokens for bitcoin cash
https://github.com/EyeOfPython/slpagora

More SLP resources:
https://simpleledger.cash/get-started/
https://slp.dev/get-started/

Mint tokens

[2020-10-07 14:57] cipig commented on #473
https://etherscan.io/tx/0x26cf66a44f38134433231cee3ba2a0e0beda5ab08903c2926cfbab9817b9e542
claiming the 5 USDC sent by the taker costs 2$ txfee
we need this feature...

[2020-10-12 14:32] cipig commented on #715
we could also use external prices for the start, eg
https://api.coinpaprika.com/v1/price-converter?base_currency_id=bch-bitcoin-cash&quote_currency_id=kmd-komodo&amount=0.001
so if 0.001 BCH is the 1/777 dexfee calculated for a BCH/whatever swap, the above call shows how much KMD that is (key `price`)
we can add the ids to the coins config, something like `coinpaprika_id` and `coingecko_id`
for co

[2020-10-13 08:03] artemii235 opened #731 "Give a try to faux mock library."
It's said that it support mocking async fns so it might be good choice to replace the mocktopus lib which lacks such functionality.
https://github.com/nrxus/faux
https://docs.rs/faux/0.0.6/faux/

[2020-10-15 12:27] artemii235 commented on #473
The feature is implemented and will be released along with major ordermatching protocol update prior to stress test v2.

[2020-10-15 13:03] cipig opened #732 "swap StartFailed because total required amount is larger than available"
found 3 failed swaps with

`maker_swap:254] !check_balance_for_maker_swap maker_swap:1346] The total required KMD amount 6.162357815 is larger than available 0.31337041, balance: 0.31337041, locked by swaps: 0`

https://dexapi.cipig.net/public/error.php?uuid=ed261d00-8035-4dc9-86d2-34ba2a552b7a
https://dexapi.cipig.net/public/error.php?uuid=d30827cb-dcc5-4629-ba52-800c7ff9fcbd
https://dexapi.cipig

[2020-10-17 05:08] smk762 opened #733 "Using max_taker_vol values to initiate trade sometimes results in "req funds larger than available""
In some cases, using the values returned from `max_taker_vol` to submit a trade returns "req amount is larger than balance.

Issue first encountered during AtomicDEX-Desktop testing, then checked using CLI directly with mm2 to confirm. Console output below -

[code]
I've seen this with ZEC and BCH.

With BCH, after doing a swap that was half of total, doing a subsequent trade with the remainder wa

[2020-10-21 06:56] artemii235 commented on #723
@karasugoi Thanks for your suggestion!

I've discussed this topic with team and happy to announce that we assign 500 KMD bounty for this task!
The requirements are as follows:
1. Deploy the 1.0 release of EtomicSwap contract to EWT mainnet: https://github.com/artemii235/etomic-swap/releases/tag/1.0.
2. Setup the EWT full node with public RPC API enabled. Provide detailed instructions how to setup

[2020-10-21 16:18] imylomylo commented on #715
the aur would cover many fees just from holding in wallet too, effectively lowering the fees to 0 maybe

[2020-10-21 20:48] tonymorony commented on #715
what is aur and how can it help with swaps taker fees?

[2020-10-22 06:09] gcharang commented on #715
I think aur refers to the 5% reward, as in "active user rewards"

[2020-10-22 07:35] tonymorony commented on #715
oh, got it :) thanks! yeah that might be win/win for user

[2020-10-23 05:01] artemii235 commented on #733
Thanks for report! Checking now.

[2020-10-23 06:37] artemii235 commented on #733
The problem is `max_taker_vol` does not take the `0.0001` min fee threshold into account so it returns larger number that can be actually used. I'm going to fix this now.

[2020-10-26 12:31] smk762 commented on #733
Results of latest test on `fix_max_taker_vol` branch:

 curl --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"version\"}"
`{"result":"31d1803b0","datetime":"2020-10-23T20:35:23+07:00"}`

curl --url "http://127.0.0.1:7783" --data "{\"method\":\"max_taker_vol\",\"coin\":\"ZEC\",\"userpass\":\"$userpass\",\"mm2\":1}"
`{"result":{"numer":"1059691","denom":"20000000"}}`

c

[2020-10-27 13:39] cipig commented on #485
failed BAT/KMD swap on maker side, because maker ETH balance is not enough to spend BAT TakerPayment
[code]
would be good to show an error on order creation instead

[2020-10-28 12:59] dathbezumniy opened #737 "state: NotEnabled ===> tx_history_state: NotEnabled"
I propose a very little change in the my_tx_history RPC call, which would make it a bit more verbose for newcomers like me. I spent some time digging around on how to look at tx_history because I mistakenly thought it should be enabled by default and I just was using the wrong parameters, and this little change would have immediately told me to look into enable/electrum RPC calls for the 'enabler'

[2020-10-29 07:33] artemii235 commented on #737
Thanks for creating the issue!
I agree that proposed change looks more clear, but it will break backwards compatibility. We can deprecate the old field and add new one so there will be 2 fields for some time. Will do on next week.

Please also pay attention to official documentation :slightly_smiling_face: It clearly states that `The coin that is used must have tx_history set to true in its enable

[2020-10-30 07:59] artemii235 opened #738 "Clarify the get_trade_fee meaning and calculate it differenty."
During DM discussions with @sergeyboyko0791 we figured out that `get_trade_fee` RPC seems to work a bit incorrectly as of now:
It returns fee per 1 swap transaction and GUI devs are advised to multiply this number by 2 and then deduct from balance to get the maximum available trade amount. It's wrong for UTXO case for example because even if refund will be required the fee will be deducted from P2

[2020-10-31 16:46] dathbezumniy commented on #737
@artemii235 ouch, now I see this line and feel a bit stupid ha-ha :) probably I'm too used to python docs which usually are too intuitive and I was looking for a solution in RPC call args and response params.
If it breaks the backwards compatibility, then I understand, probably we can just modify the docs to ease the search for others like me :)

Either we can add some additional explanation to th

[2020-11-02 12:27] dathbezumniy commented on #723
@karasugoi @artemii235 thanks for the awesome task.
I'll make it work and in the meantime will do some research on what those virtual power plants are :)

[2020-11-05 16:47] dathbezumniy commented on #723
@artemii235 So... currently, since I do not have any EWT to actually deploy to mainnet, I decided to try all the process on Volta-testnet first (ticker - VT) provided by EWF team (https://github.com/energywebfoundation).
1. here's deployed smart contract on Volta: https://explorer.anyblock.tools/ethereum/ewf/volta/address/0x6DA66BAEE9aaCE12b9E31F0949a1429f8f70FF6E

2. This is in the process, parit

[2020-11-06 09:35] dathbezumniy commented on #723
@karasugoi hi! is there anyway you can share some little amount of EWT for contract deployment?

[2020-11-06 17:28] karasugoi commented on #723
I can, sure.  Address?

On Fri, Nov 6, 2020 at 1:36 AM Yaroslav <notifications@github.com> wrote:

[2020-11-08 08:05] dathbezumniy commented on #723
@karasugoi awesome, thanks! here's the address: 0xa6f5b46bD6543447FcCBCC41D87B3dba73B8FF3e

[2020-11-09 12:45] ca333 opened #740 "HD Wallet (multi-account)"
Multi Account wallet [BIP44](https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki) integration alongside [BIP39](https://github.com/bitcoin/bips/blob/master/bip-0039.mediawiki) will be nice enhancement - GUI developers and CLI users would not worry about key-management anymore. Furthermore we can extend this beyond wallet into the DEX - will increase user/dev experience. I envision it on

[2020-11-09 12:48] artemii235 commented on #740
@ca333 Thanks for creating the issue, it will be nice enhancement indeed!

[2020-11-11 21:38] blockparty-sh commented on #701
The SLP Foundation would like to add another $1000 in Bitcoin Cash to the bounty for a HTLC proof of concept for SLP.

We are also happy to assist in any questions related to SLP in building this POC. You can contact me directly on Telegram @blockparty_sh or tag me on GitHub.

[2020-11-12 17:12] dathbezumniy commented on #485
seems like this case as well f02cd5c1-c1aa-4acd-ad28-8a975c1268fc

[2020-11-12 17:42] sergeyboyko0791 commented on #485
@dathbezumniy I think it's other case. Taker has sent [TakerPayment](https://etherscan.io/tx/0xb7063361d93ffd97f4cdb412a3a6014ebc5902640f7a84edfce127a60761ac90) in this swap, but Maker didn't receive it through the network

[2020-11-12 17:44] tonymorony commented on #485
https://iln.explorer.dexstats.info/address/bG9XWM8YAASrmAskRDJa87qtpmBbjUs7XM taker never claimed maker's payment - most probably he is just went offline if I understand correct

[2020-11-12 17:49] dathbezumniy commented on #485
@sergeyboyko0791 @tonymorony just wanted to delete the msg :D yea another case indeed.

[2020-11-12 18:36] dathbezumniy opened #741 "online/offline indication of your swap partner"
Would be cool to add it to the GUI apps in the future.

[2020-11-12 18:52] tonymorony commented on #741
Thats good idea, thanks for the issue opening. We might display "Last seen X seconds ago" in orderbook also probably lets say (in detailed order info)

[2020-11-13 03:18] dathbezumniy commented on #723
@artemii235 Finally found a public node for EWC.

By the time of writing their main explorer seems to be down so transactions might appear in a "pending" state, I found an alternative one which seems to display everything correctly, will add the corresponding links below.

1) Contract address: https://explorer.energyweb.org/address/0x6DA66BAEE9aaCE12b9E31F0949a1429f8f70FF6E/transactions
alt: https

[2020-11-13 08:00] artemii235 commented on #723
It is mandatory requirement to learn how to setup such node and teach someone else from team too.

I recommend to play with node startup arguments, as I understand the EWT network is based on OpenEthereum client that should support warp sync so initial sync should be very fast.  It might be that EWT doesn't support warp at all or maybe there're just some startup args that prevent the node from war

[2020-11-16 01:10] dathbezumniy commented on #723
@artemii235 was playing around with arguments for a while last week, I should be able to get it done this week as soon as some free time comes along. FYI, just general observation, the installation script is really weird, to say the least, they seem to try to block users from syncing full nodes. Here's the docker-Nginx setup for example which basically was limiting my sync process with 128kbps, ma

[2020-11-16 09:11] artemii235 commented on #723
@dathbezumniy The Nginx config shouldn't be related to syncing process, it works as proxy for node RPC API. The separate network connection is used for sync and other P2P communications.

[2020-11-16 09:53] #621 closed

[2020-11-16 16:42] dathbezumniy commented on #723
@artemii235 nevermind :) I was way off base with my conclusions before. Turns out just another rookie networking mistake, forgot to forward 30303 xD
with `warp = true`, sync is pretty fast, should be ready soon.

[2020-11-19 09:35] dathbezumniy commented on #723
@artemii235 ok, done. So... warp does not work on this network in an expected way. Alternatively, they just publish DB snapshots which you can extract to an empty node and sync in about 10-15 minutes.
https://energyweb.atlassian.net/wiki/spaces/EWF/pages/1013153839/How+to+use+ready-to-go+chain+backup

I have uploaded such DB backup to google cloud (eu-west, Netherlands) and incorporated it into th

[2020-11-20 10:28] Milerius opened #745 "Batch answer are hanging in case of error (electrum/enable)"
**Describe the bug**

Hello, since I have updated to the latest version of atomicdex-api (https://github.com/KomodoPlatform/atomicDEX-API/releases/tag/beta-2.0.2668)

We have a strange behavior when a coin cannot be activated, instead of receiving a response from the batch as before from mm2, it seems that the response never arrives and therefore impossible to detect errors on the side of the GUI.

[2020-11-20 12:20] artemii235 commented on #745
The problem is with updated RVN Electrum servers. As `server.version` is not sent first the server disconnects MM2 which in turn leads to dead lock in electrum connection loop so MM2 never responds to request. I'm going to push a hot fix ASAP.

[2020-11-20 12:21] artemii235 commented on #745
As MM2 update for all apps will take quite a long time the RVN electrums should be rolled back to previous version.

[2020-11-20 12:22] artemii235 commented on #745
cc: @cipig

[2020-11-20 12:30] artemii235 opened #746 "Refactor Electrum client implementation to make it simpler and less vulnerable to possible deadlocks."
- [ ] make connect_loop transport agnostic (use the same version for wasm and non-wasm targets)

[2020-11-20 13:02] cipig commented on #745
restarted the RVN electrums, looks like i forgot to do it
i enabled this option `DROP_CLIENT_UNKNOWN = true` on the NINJA electrums, for testing purposes: https://github.com/KomodoPlatform/coins/blob/master/electrums/NINJA
it simulates the behavior that will be enforced in the coming version (`server.version` needs to be the first call)

[2020-11-20 13:18] artemii235 commented on #745
Are we sure that NINJA is not used in any of GUIs now? If NINJA is added to user app it will hang on activation attempt.
IMHO the testing Electrums should be setup separately from production ones (mentioned in coins repo). And only after these separate Electrums are confirmed fully working with MM2 the update can be propagated to production servers.

[2020-11-20 13:21] cipig commented on #745
i am 100% sure they are not used, because NINJA is not even in the coins file

[2020-11-20 14:21] artemii235 commented on #745
Ok, thank you!

[2020-11-22 08:16] Milerius opened #747 "[tQTUM]: broadcast (send_raw_transaction) fail"
**Describe the bug**

bug in GUI: https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/582

logs:

[code]

short:

[code]
coins file: https://github.com/KomodoPlatform/coins/blob/master/coins#L1171

**Please answer following questions and attach requested info - it'll help to solve issue faster**

- OS: Happens on every OS
- MM2 version: https://github.com/KomodoPlatform/atomicDEX-API/releas

[2020-11-22 08:52] cipig commented on #747
`min relay fee not met, 374 < 149600`
`estimatesmartfee 1` does not work on tQTUM, it shows this:
[code]
this means that txfee in coins file need to be set to something > 0 and since getinfo shows `"relayfee": 0.00400000`, i would try with 400000

[2020-11-22 09:44] sergeyboyko0791 opened #748 "[Android] Failed to relogin the wallet with Mm2Status.not_running error"
[code]

It seems [env_logger initialization](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/mm2.rs#L59)  error on mm2 restart.

Thanks @yurii-khi for the report

[2020-11-22 09:49] sergeyboyko0791 commented on #748
The bug is reproduced in the [mm2.1](https://github.com/KomodoPlatform/atomicDEX-API/tree/mm2.1) branch

[2020-11-22 12:27] tonymorony opened #750 "Add seed nodes domains"
Creating issue to not forget :)

domains are:

seed1.kmd.io
seed2.kmd.io
seed3.kmd.io

[2020-11-22 12:32] tonymorony opened #751 "Deploy QRC20 swap contract to mainnet"
Creating issue to not forget

After that it might be good to add information about mainnet/testnet QTUM swap contracts to documentation

[2020-11-23 09:21] artemii235 opened #752 "Add QRC20 activation examples to docs."

[2020-11-23 09:22] artemii235 commented on #752
Please also mention that new `swap_contract_address` arg is added to `electrum` call.

[2020-11-23 12:47] artemii235 commented on #752
https://qtum.info/contract/2f754733acd6d753731c00fee32cb484551cc15d - the swap smart contract deployed to mainnet.

[2020-11-23 13:09] sergeyboyko0791 commented on #752
I added mainnet and testnet swap contract addresses, thanks
cc @artemii235

[2020-11-23 14:04] #751 closed

[2020-11-24 07:12] artemii235 commented on #750
It might be better to use similar approach that is used for Bitcoin: https://developer.bitcoin.org/devguide/p2p_network.html#peer-discovery, example:
[code]
E.g. we will have the DNS `7777.seed.kmd.io` that will return multiple A records of available seed nodes IPs for 7777 netid, it seems to be more clear than using simply `seed1...seed3`.

[2020-11-24 11:12] ca333 commented on #750
yes, we can and certainly will use a atomicdex DNS seeder - however, we do not have such required implementation yet. Such a seeder implementation crawls the ADEX network and basically revisit seed nodes it has in the registry to ensure they still alive/up and also explore new ones to add to the list.

BTC for example uses the one provided by sipa: https://github.com/sipa/bitcoin-seeder

We can ma

[2020-11-24 11:26] cipig commented on #750
are the IPs exchanged between the existing seed nodes? if so, we only need couple of working IPs in xxxx.seed.kmd.io to start with, all the others will then be exchanged

[2020-11-26 12:39] artemii235 opened #754 "Redirect all logs to file when MM_LOG is set."
There're some deps now that use `log` crate for logging and this output is not forwarded to log file. We need to find a way to forward them too because they can contain very important information about what's going on in libp2p behaviours.

[2020-11-27 11:10] dagurval commented on #701
Do these tests for HTLC transaction creation + refunding of any other UTXO-based coins exist? Something like “we want this, but it needs to support SLP”.

SLP tokens are client-validated. To know if we’re working with a valid token UTXO using electrum, we need to traverse its transaction DAG back to the token genesis transaction. To solve this issue, is this validation required, or can we assume w

[2020-11-27 11:57] #752 closed

[2020-11-30 11:43] artemii235 commented on #701
@dagurval

There are tests using komodod daemon in Docker: https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2/mm2src/docker_tests.rs#L351. The common code building HTLC transactions for UTXO-based coins can be found at https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2/mm2src/coins/utxo/utxo_common.rs#L537

We can assume that we're working with valid SLP utxo, I think that we can omit

[2020-12-01 08:03] sergeyboyko0791 commented on #754
Changes were pushed into mm2.1 branch.
I think we can keep this issue opened until the features is tested

[2020-12-01 09:46] artemii235 commented on #754
Well done! I like a lot that we now have both log level and location of a print, e.g.
[code]

I have a question ref this: is it possible to cut path segments from log, e.g print `behaviour.rs` instead of `mm2src/gossipsub/src/behaviour.rs` etc?

[2020-12-01 11:09] artemii235 opened #755 "Take a look at https://crates.io/crates/inferno to see if it is helpful for profiling."

[2020-12-01 13:06] sergeyboyko0791 commented on #754
Yes, we can do this using the `std::path::Path` or a regex.

[2020-12-01 13:23] artemii235 commented on #747
@cipig Thanks for pointing this out! I will implement it tomorrow.

[2020-12-02 11:03] artemii235 commented on #750
Yes, the IPs are exchanged, but in current setup we have only 3 seed/bootstrap nodes which DNS have to be managed manually. The automated DNS seed seems to be not hard to implement and this approach will help to save our time on DNS management and speed up initial bootstrap because there will be more MM2 nodes addresses known immediately.

[2020-12-02 14:53] cipig opened #756 "use settings from parent chain for QRC20 tokens"
Would be nice if mm2 would inherit the following settings
[code]
from the parent chain for QRC20 tokens

[code]
from `"coin": "QTUM",`

[code]
from `"coin": "tQTUM",`

[2020-12-03 07:29] tonymorony opened #757 "Actualize swap statuses JSON structure"
Structure of some events is not actual (at least for payments).

E.g.:
![](https://cdn.discordapp.com/attachments/722485972524204122/783679233938554941/unknown.png)

but actually it's inside of "transaction" key now

e.g.

[code]

thanks to @yurii-khi for reporting!

[2020-12-03 07:42] artemii235 commented on #757
Thanks for reporting this! Yeah, from taker side the `TakerPaymentSpent` event has separate `transaction` field for tx data so docs should be updated.

[2020-12-03 12:04] artemii235 opened #758 "Add buy/sell alternatives that match selected maker order calculating price internall."
User story:
1. User chooses an order in orderbook, e.g. following bid:
[code]
2. User sends RPC request to MM2:
[code]
3. The response will contain the full payload that should be sent to `buy/sell` RPC to guarantee the match with selected order.

It will ease the price calculation handling on GUIs side, playing with rational numbers might be quite tricky so it might be better to handle it interna

[2020-12-04 03:48] damascene commented on #701
@EyeOfPython have offered to do it in for $4000. We have successfully added $2000 to the bounty in this Flipstarter https://flipstarter.googol.cash/
Hopefully we can get this done very soon :)

[2020-12-04 09:14] artemii235 opened #759 "Document Qrc20Gas withdraw fee."
During a call with Tony and Yurii ref the QRC20 integration I found out that [withdraw docs](https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api.html#withdraw) are missing examples for Qrc20Gas custom fee setting. @sergeyboyko0791 Could you add it please?

[2020-12-04 22:24] EyeOfPython commented on #701
Hey, I can do it. I'm the author of the above mentioned libraries.

[2020-12-04 22:27] EyeOfPython commented on #701
@artemii235 One question. I‘m using the secp256k1 library on Rust, which links to the libsecp256k1 library written in C. I have feature flags to switch over to the pure-Rust equivalent written by Parity, but I don't trust it as much regarding side channel attacks etc.

Would using secp256k1 defy your "pure Rust dependencies" requirement?

[2020-12-04 23:19] EyeOfPython commented on #701
Also, could you provide a link to an Electrum client for Rust?

[2020-12-06 07:59] molecular commented on #701
that site doesn't load for me.

What about the 560 USD I pleged above? Should I "cancel" that pledge and "move" it to this flipstarter?

[2020-12-06 08:10] damascene commented on #701
@molecular  page is archived now. https://archive.is/O9HXr
Don't cancel your pledge. The Flipstarter was to get extra fund for the project.

[2020-12-06 08:33] molecular commented on #701
@damascene I see, thanks. Ping me when I should pay.

Thanks @EyeOfPython for offering to do this.

[2020-12-06 17:00] dathbezumniy commented on #701
ouch, I was actually working on this past week, almost ready...

[2020-12-07 10:04] EyeOfPython commented on #701
Great news! I was able to finish the HTLC SLP PoC in Rust.

You can find the code here:

https://github.com/EyeOfPython/slp-htlc

# SLP Hash Timelock Contract

Nomenclature and (modified) script taken from https://github.com/bitcoin/bips/blob/master/bip-0199.mediawiki.

## Usage

### Setup

Note: Apart from the RPC configuration, the below commands for the setup can also be done in the GUI. They a

[2020-12-07 10:30] artemii235 commented on #701
Hi @EyeOfPython, please excuse me for long response, I was offline on weekend.

It is fine to use the libsecp256k1 written in C, we were using the pure Rust version from Parity too, but already switched back some MM2 subcrates back to secp256k1 C bindings.

The code is here: https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/coins/utxo/rpc_clients.rs, it is planned to publish it as

[2020-12-07 20:09] cipig opened #761 ""missing field ismine" on validateaddress in mm2.1"
seen on LTC https://dexapi.cipig.net/public/error.php?uuid=86001ab4-7888-449d-b085-b64cce11de76
and QTUM https://dexapi.cipig.net/public/error.php?uuid=69df73ab-86ba-4fb0-bb50-808761cc8c17

[2020-12-07 21:11] dathbezumniy opened #762 "USDC's ETH fees display as satoshis * 1000"
Noticed on both GUI's on netid 7777.

<img width="604" alt="Screenshot 2020-12-08 at 00 09 30" src="https://user-images.githubusercontent.com/11756768/101405845-c8a93580-38e9-11eb-99ae-91b01c227a6f.png">

https://etherscan.io/tx/0x2ff84db3b59aeedf4a1849619c3f9f2ec6eb3ac4cf32883539c936884fa2334f

[2020-12-07 21:59] cipig opened #763 "get_trade_fee shows 3 * higher fee for QRC20"
[code]
and is the same the Desktop GUI is showing as expected fee for a KMD/QC swap, but the real fee was 0.04299162 QTUM
https://explorer.qtum.org/tx/ff02939b5ef536b1f56cfa550db60fe0b3eafc827d8ae10b2d19090826f66b95

[2020-12-07 23:18] cipig commented on #763
a QC/KMD swap on the other hand costed indeed
0.08375592: https://explorer.qtum.org/tx/e0a95fa709b891f200defdf816e0650ea7a9f60e2dca15d4215d738cc2d24dbd +
0.04164428: https://explorer.qtum.org/tx/ab242469dd54242e24f853a0a7d6fcb812c5fb68b5401ec838f68f90fc549e65
= 0.1254002 QTUM txfee (the GUI was showing 0.251 though)

[2020-12-08 05:10] cipig commented on #473
tested `min_volume` on KMD/DOGE, basically to prevent takers from trying to sell < 777 DOGE (which results in dust error on taker fee send because dust on DOGE is 1 and taker fee is 1/777)

used `{"userpass":"xxx","method":"setprice","base":"KMD","rel":"DOGE","price":186.50205043,"max":true,"min_volume":5}`
 because 5 KMD is ~ 900 DOGE

orderbook entry looks like this
[code]

on taker side when tr

[2020-12-08 05:44] artemii235 commented on #761
Hi @cipig, thanks for report! `validateaddress` is now called during a swap to check whether swap payment address was imported to daemon, which means that payment was made already. This helps to prevent double sending in case of MM2 during restart.
Some daemons do not return `ismine` in `validateaddress`, so it results into error during call and swap is aborted. I'm going to implement a workaround

[2020-12-08 05:49] artemii235 commented on #761
P.S. `validateaddress` was not called in previous versions: `listreceivedbyaddress` was called every time. `listreceivedbyaddress` is very heavy, it took 300-500ms to run blocking all other requests to the daemon disallowing to run many concurrent swaps. So `validateaddress` is called first to determine whether it makes sense to call `listreceivedbyaddress`.

[2020-12-08 07:16] artemii235 commented on #761
@cipig I've just pushed a hot fix to mm2.1 branch. Could you test it please?

[2020-12-08 08:28] cipig commented on #761
works fine now, tested with LTC and QTUM
thanks for the fix

[2020-12-08 08:28] #761 closed

[2020-12-08 09:18] artemii235 commented on #762
@dathbezumniy Could you please provide more info on this? To what MM2 call is it related? Is it considered as MM2 bug or maybe there's just a problem in how GUIs handle specific MM2 response?

[2020-12-08 09:25] cipig commented on #500
replaced with libp2p in mm2.1

[2020-12-08 09:25] #500 closed

[2020-12-08 09:26] cipig commented on #570
replaced with libp2p in mm2.1

[2020-12-08 09:26] #570 closed

[2020-12-08 11:02] dathbezumniy commented on #762
@artemii235 I actually forgot ERC20 history has been moved to an API-endpoint,
`https://komodo.live:3334/api/v1/erc_tx_history/USDC/0xD46B40c100Edb02940c6B1852B5c81AA85abAbe2`
so the problem appears to be on that API endpoint.

[2020-12-08 11:18] artemii235 commented on #762
So I guess we can close this issue then?

[2020-12-08 11:23] artemii235 commented on #701
@EyeOfPython Hi! I've started checking the PoC and noticed that I don't know any SLP token on BCH testnet. Could you please send some to following addresses and give the corresponding token_id?
`qr7rn5l339y50hy8ls0hx5czz6jxuhpmss6mmqp3wh`
`qp572pj0nhfvrsau8493cl9vzxt50atr5ca0lm42pf`

Could you please also provide info on how I can convert the above addresses to the `bchtest`? Would be best if you

[2020-12-08 11:28] EyeOfPython commented on #701
I send 10 Fake USD to each of those addresses! Token ID is `bb309e48930671582bea508f9a1d9b491e49b69be3d6f372dc08da2ac6e90eb7`.

Btw, minting SLP tokens is really easy in Electron Cash SLP, but overkill for here.

Tell me if you need more tokens, they're literally worthless.

[2020-12-08 11:31] #762 closed

[2020-12-08 11:55] artemii235 commented on #701
Thanks a lot!

Could you please also provide info on how I can convert the addresses to `bchtest:` prefixed addresses? I guess SLP has a different address generation algorithm and it is not quite clear to me now how I can convert them without digging too much into the code.

[2020-12-08 12:03] dathbezumniy commented on #701
@artemii235 you can try https://trest.bitcoin.com/#/slp/convert

[2020-12-08 12:40] artemii235 commented on #701
@dathbezumniy Thanks! That's what I was looking for :slightly_smiling_face:

[2020-12-08 12:45] artemii235 commented on #701
Well, Electron cache wallet also allows this conversion, I used this in CLI mode only so didn't notice it.

[2020-12-08 13:19] artemii235 commented on #701
Can someone send me some tBCH to following addresses please?
`bchtest:qr7rn5l339y50hy8ls0hx5czz6jxuhpmssp0ummxu2`
`bchtest:qp572pj0nhfvrsau8493cl9vzxt50atr5cxmcq0an5`

I was able to find a working faucet, but it sent too low amount which seems to be not sufficient to test the HTLC transactions.

[2020-12-08 13:28] EyeOfPython commented on #701
I sent 3 tBCH to each address. Should be enough for tens of thousands of txs. If you think you don't need them anymore, you can send it to a child in need or back to me: `bchtest:qpxe6keqxxeuucquep58yread0ljyglefszmpm70tu`

[2020-12-08 13:35] artemii235 commented on #701
Perfect, thanks a lot! I have everything set up now, will continue a test tomorrow and get back here.

[2020-12-08 14:16] EyeOfPython commented on #701
Awesome. If there are any errors or something wrong let me know. The slpvalidate command can be a bit unreliable at times, we might need to switch at some point.

[2020-12-09 12:13] artemii235 opened #764 "Refactor docker_tests module structure after QRC20 native integration."
There is the `docker_tests` module with test inside the docker_tests.rs file. Looks like it messes up CLion name resolving so we have to restructure the code for more convenient development.

[2020-12-09 13:41] artemii235 commented on #701
Good news, I have been able to successfully send SLP HTLC transactions using the provided PoC code!

HTLC 1: https://explorer.bitcoin.com/tbch/tx/26adf2466d270cb02118d6bf62db52ed98f5822cdbdb9bbe6a74aea1cfcd3113
HTLC 1 Refund (timeout): https://explorer.bitcoin.com/tbch/tx/5e958d2c9f6ed594085d33e898a32ff394640c211b1e050c233ffd49111f62a2

HTLC 2: https://explorer.bitcoin.com/tbch/tx/475e97da892a6ffb

[2020-12-09 22:56] EyeOfPython commented on #701
That‘s great to hear! I thought about adding comments, as especially the contract code requires some knowledge of how the `bitcoin-cash` crate works, but unfortunately I‘m quite busy this week. I‘ll answer all the questions you have though.

[2020-12-10 05:09] Cryptovato1 commented on #701
Hello guys, in case you wanna try RFND token (SLP token) for testing, let me know at @Cryptovato1 on Telegram or Twitter. Whatever we can do for you, let me know.

[2020-12-10 20:57] cipig commented on #446
I did a couple of QTUM/KMD swaps (taker sells QTUM) to see which ones are failing with dust error on TakerFeeSendFailed and which ones are not... i selected 2 of each...  `Qf2gZhDX9SBavJRxhar3kvS8krZ1h5YT3k` is the dexfee address
to me it looks like both vouts are important in regards to dust, not only the change output

FAILED: https://dexapi.cipig.net/public/error.php?uuid=01c207f7-2c37-41a1-aa2

[2020-12-11 12:48] artemii235 opened #765 "Cut numbers to coin decimals in error responses."
Will help to fix glitches in UI/UX like following.

![image](https://user-images.githubusercontent.com/15745003/101905293-cac10c00-3be9-11eb-8a02-8bc1a0c813fc.png)

[2020-12-12 08:06] cipig commented on #656
you were right keeping the issue open
unfortunately the estimatesmartfee method in BitcoinUnlimited is broken, after a while it starts showing weird values
start with 0.00001000, couple minutes later it is 0.00005021, than 0.00149997 and back to 0.00002202
that can't be, since all BCH txes are done with 1 sat/byte: https://blockchair.com/bitcoin-cash
and https://gitlab.com/bitcoin-cash-node/bitcoi

[2020-12-12 09:20] Milerius opened #767 "MM2 Log growth fast with big orderbooks, rotating would be nice !"
**Describe the bug**

During the stress test the MM2 logs grow very quickly
Mainly due to the logs of the rick and morty orderbooks which are huge

**Please answer following questions and attach requested info - it'll help to solve issue faster**
- What OS do you use? -> Every os
- What marketmaker version do you run? -> Stress test one
- Attach your coins.json config. -> No need
- Provide your en

[2020-12-12 09:22] dathbezumniy commented on #723
@artemii235 btw, still unclear here, should I leave it on? are we going to move this forward? and most importantly, the bounty? would very much like that 5% interest ;)

[2020-12-12 09:49] cipig commented on #767
could mm2 filter out messages that are not related to the node? atm it shows every `Processing request TakerRequest`, many `Our node doesn't have the order with uuid` messages and every new orderbook entry `Inserting order OrderbookItem`

[2020-12-12 13:26] cipig opened #768 "invalid length failure on recover_funds_of_swap call"
i get this error when calling recover_funds_of_swap
`"error" : "rpc:233] lp_swap:970] invalid length: expected one of [36, 32], found 35"`

on this failed swap
[55f08820-ed29-469f-9ae4-3e033a946c11.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/5683137/55f08820-ed29-469f-9ae4-3e033a946c11.txt)

[2020-12-12 13:55] cipig commented on #656
[code]
same result on all 3 electrums...
a possibility to set `"estimate_fee_blocks": 2` just like `"estimate_fee_mode": "ECONOMICAL"` (for BTC) would also solve the problem

[2020-12-12 13:59] artemii235 commented on #768
Please ensure that you pass a valid uuid as is. Looks like there is a whitespace in request.

[2020-12-12 14:00] artemii235 commented on #768
Or maybe a symbol missing.

[2020-12-12 14:14] cipig commented on #768
sorry, my bad, one character was missing, just copy & paste problem

[2020-12-12 14:14] #768 closed

[2020-12-12 19:35] artemii235 opened #769 "Buy/sell RPC timeout"
[code]

There is only 1 asynchronous mutex locked during this call (taker orders) so maybe there're a lot of concurrent matches that are fighting the lock, need to recheck in isolated environment.

[2020-12-12 19:37] artemii235 commented on #769
A helpful comment also from @Milerius:

[2020-12-12 19:43] artemii235 opened #770 "Possible null items in my_recent_swaps?"
[code]

[2020-12-13 06:06] artemii235 opened #771 "Clean up finished swaps subscription topics."
After swap finishes the subscription topic record stays on relay forever which results into minor mem leak.

[2020-12-13 17:46] artemii235 opened #772 "Add FIRO transactions format support."
This tx data fails to deserialize when requested from electrum: https://explorer.firo.org/tx/d4b9f5a01a43b1d592999f9fd6fe64aa8f63ac42abab43090938321064c1ec1f

[2020-12-13 17:53] artemii235 opened #773 "Allow passing dbdir and userhome as cmd arguments and support non-utf8 chars in these paths."

[2020-12-14 12:37] cipig opened #774 "MakerPaymentRefundFailed while TakerPayment unspent and stuck"
I was maker in this swap:
[196df059-2be3-42cb-9ff6-e74c3f5e053d.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/5688738/196df059-2be3-42cb-9ff6-e74c3f5e053d.txt)

swap failed because maker couldn't spend TakerPayment (https://kmdexplorer.io/tx/0a47ed8b299aa2a41f5bb0824ac342760a4b57de041291ed13334c209e3030a2)
`Waited too long until 1607911775 for transaction to be confirmed 1 times`

but

[2020-12-14 17:14] sergeyboyko0791 commented on #774
Hi @cipig,
I think that the maker is better to try to refund his payment automatically when the timeout is up.
At first, Maker can refund our payment before it's spent by Taker.
Secondly, the situation when a transaction is not included into a block is quite unusual.

And I offer to add an RPC call like `spend_other_payment` for these purposes.

[2020-12-14 17:29] sergeyboyko0791 commented on #767
I think it will be easy to do with `log4rs` crate. I guess it's time to replace our internal implementation of the log with it :)
cc @artemii235

[2020-12-14 17:40] artemii235 commented on #774
There's a `recover_funds_of_swap` (https://developers.komodoplatform.com/basic-docs/atomicdex/atomicdex-api.html#recover-funds-of-swap) call to handle such situation. But it seems to work incorrectly in this particular case, according to the report from a user in Telegram in fails with `Taker payment is spent, swap is not recoverable error`. It happens because swap has `TakerPaymentSpent` event so

[2020-12-14 17:44] cipig commented on #774
same error `"error" : "rpc:233] lp_swap:979] lp_swap:660] maker_swap:835] Taker payment is spent, swap is not recoverable"` on recover_funds_of_swap call here... sorry, forgot to mention that

[2020-12-14 17:47] sergeyboyko0791 commented on #774
As I can see in `maker_swap.rs`, `recover_funds_of_swap` is used to refund our funds, not spend other.

[2020-12-14 17:57] artemii235 commented on #774
https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/lp_swap/taker_swap.rs#L1240 - but in taker swap it does attempt to spend the other payment.

The `recover_funds` in maker swap doesn't take into account that `TakerPaymentSpend` transaction can simply disappear and it is the problem.

Also if we add `spend_other_payment` RPC then how GUI devs and CLI users know which method they sho

[2020-12-14 18:01] sergeyboyko0791 commented on #774
It makes sense, thanks!

[2020-12-15 06:35] sergeyboyko0791 commented on #774
Now we do not waiting for MakerPyamentRefund transaction confirmations at all. And we may face with the similar problem when the transaction is not mined. But in this case we will change our swap state to not-recoverable. I think, we should not set the state to it, even if the user will call `recover_funds_of_swap`, we will find the MakerPaymentRefund transaction on blockchain and will return the

[2020-12-15 09:37] cipig commented on #544
this `non-final` errors on MakerPaymentRefund are happening on KMD smartchains that are almost not advancing, like MGW and BOTS (last block 17h ago)
here are 2 examples from a user
[code]
[code]
if i do some transactions and advance the chain, the MakerPaymentRefund works
@artemii235 did you implement the change mentioned in your last post? would it help in this cases too or are they different?
ho

[2020-12-17 08:43] cipig commented on #774
refund works fine now, thanks for the fix
thought i also show you what happens when i try to refund this same swap a second time:
[code]
the older refund cases show something like this
[code]
no idea if it's possible to do the same pretty error message for this new case or if it's worth the effort since they are extremely rare

[2020-12-17 09:54] artemii235 commented on #723
@dathbezumniy All conditions are met, thanks a lot for working on this! Please DM me your KMD address and I will send you the bounty ASAP.
Could you please also submit a PR adding EWT to the coins repo?

@cipig Could you please add EWT nodes following the guides provided by @dathbezumniy?

[2020-12-17 09:57] artemii235 commented on #723
Ah, and 1 more request: @dathbezumniy please verify the swap smart contract on EWT explorer: https://explorer.energyweb.org/address/0x6DA66BAEE9aaCE12b9E31F0949a1429f8f70FF6E/contract_verifications/new.

[2020-12-17 10:03] artemii235 commented on #774
@sergeyboyko0791 Could you please add the above? It's worth searching for maker payment spend before sending a transaction to provide more clear error when recovery is not possible anymore.

[2020-12-17 12:46] artemii235 commented on #773
It turns out that we don't need such refactoring. The problem was in the `OS_ensure_directory` C function which was processing some characters incorrectly at least on Windows. The fix is pushed already, I will give it a try soon.

[2020-12-17 13:24] artemii235 commented on #767
The logs were too verbose, I have moved some of them to debug level. So the file should not grow that much after the change is released.

[2020-12-17 14:11] dathbezumniy commented on #723
@cipig I recently removed the bootstrap of EWT mainnet from my gcloud since it's a bit outdated already, let me update it so you could deploy it without a hassle.
@artemii235 will verify the contract and then submit PR into the coins repo, thanks!

[2020-12-18 11:31] dathbezumniy opened #777 "Hate to say this, but emojis should go..."
Here's an error which points to the emoji:
[code]
Essentially blocks me from launching adex-mob in debug mode on Android, thus I cant regression test, thus I cant ci/cd, etc.
And in many cases blocks users with god-forsaken phones like mine (Android 5.1 and less?) from using mobile GUI.
I have to either buy a newer phone or ask you to remove emojis.

@artemii235 I understand that emojis can mean a

[2020-12-18 11:34] gcharang commented on #777
If it isn't too much work, a flag or config option to turn emojis to ascii versions can provide the best of both

[2020-12-18 13:14] artemii235 commented on #777
I think that removing the emojis is the simplest way and I don't mind it personally. However, someone might have arguments against the removal so let's wait a bit for more comments :slightly_smiling_face:

[2020-12-18 14:31] dathbezumniy commented on #777
<<<(((;....;)))>>>
I'm sure we will be able to find a substitute for any emoji with ascii :D

[2020-12-18 14:42] sergeyboyko0791 commented on #777
As far as I know, mobile app doesn't depend on log parsing, so we can get rid of tagged logs including emoji. What about the desktop app?

[2020-12-18 15:47] sergeyboyko0791 commented on #763
Sorry for the long answer. As I said [there](https://github.com/ca333/komodoDEX/pull/962):

To send UTXO payment, you only need to pay one transaction fee.
To send QRC20 payment in the worst case you need do 3 smart contract calls: approve to 0, approve to current balance, erc20Payment.
We even do these calls within one UTXO tx to pay less fees, but we have to use 3x gas_limit.

[2020-12-20 10:26] cipig opened #778 "dust on LTC"
We have a psoblem with dust tx, especially on LTC. Here are 4 examples from the last 24h:
https://dexapi.cipig.net/public/error.php?uuid=57ea5bbc-1ece-4701-b85b-eca26d97f24d
https://dexapi.cipig.net/public/error.php?uuid=772124c1-1be8-4c0d-9ff7-cf37cdd1166f
https://dexapi.cipig.net/public/error.php?uuid=a6faae98-58ba-4de7-9916-6baafa9c9df8
https://dexapi.cipig.net/public/error.php?uuid=69179a27-2a

[2020-12-20 22:15] EyeOfPython commented on #701
Hey @artemii235 any updates? Any way I can help?

[2020-12-21 05:42] sergeyboyko0791 commented on #774
Unfortunately, we cannot return the pretty error message in such case.
First we call [search_for_swap_tx_spend_my](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/lp_swap/maker_swap.rs#L903), and if our payment is spent already, then we call [search_for_swap_tx_spend_other](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/lp_swap/maker_swap.rs#L844), and only if

[2020-12-21 12:12] cipig commented on #774
@sergeyboyko0791 the error is the same when i call it now... but it's totally OK for me

[2020-12-21 15:46] artemii235 commented on #701
Hi @EyeOfPython, please excuse me for the delay, we had a major AtomicDEX stress test event 1 week ago, so I have been busy with preparations for it. I had some rest afterward on the previous week. I will continue with the PoC code review tomorrow and get back to you. Thanks for following up!

[2020-12-22 06:38] artemii235 commented on #774
@cipig Could you please check if you will get the same error in Electrum mode? I think it might be a problem specific to native mode - according to code it should properly detect that payment was spent, but it doesn't for some reason.

[2020-12-22 07:13] artemii235 commented on #778
@cipig Hi, thanks for creating the issue and posting the link to the dust LTC explanation! According to doc LTC has a 5460 litoshis dust threshold, all transactions from failed swaps have change output below this threshold. Could you please check that transactions with outputs below 5460 litoshis are rejected and transactions with output above 5460 are accepted?

[2020-12-22 08:38] sergeyboyko0791 commented on #774
I tried to call `search_for_swap_tx_spend_other` using Electrum and params from `196df059-2be3-42cb-9ff6-e74c3f5e053d` swap, and it returned [this transaction](https://pastebin.ubuntu.com/p/Z36tsf6vBP/).
@cipig is `3b0327bda5974345de63c2efe014c915bd0726fc553c3de5feac0ff3f6093da6` your `TakerPaymentSpend` transaction?

Perhaps it really is

[2020-12-22 09:18] cipig commented on #774
yes, `3b0327bda5974345de63c2efe014c915bd0726fc553c3de5feac0ff3f6093da6` is my tx
and yes, in electrum mode it works, i get this when trying to recover a second time
[code]

[2020-12-22 09:26] artemii235 commented on #774
It's worth to investigate why it doesn't work properly in native mode then. I guess there might be other problems in native mode if MM2 is not able to recognize the swap transaction spend. @sergeyboyko0791 can you do it this week, please?

[2020-12-22 09:35] artemii235 commented on #745
@cipig Could you please give MM2 a final test with NINJA? I will close the issue if it works fine.

[2020-12-22 09:43] cipig commented on #778
Don't know how to create such a tx to test, so i had a look at some LTC swaps on AtomicDEX from the last 7 days.
This here were all successful and change output is > 5460 on TakerFee and TakerPayment (taker_coin is LTC):
cce171a7-8311-4d1c-85bd-400649bf985d
c4045daa-7af1-4270-8334-6118565f0a06
2f8ee544-cf1d-4cf3-a670-de8ab37a744d
6eea10cf-b104-4cdb-b764-7b23f8163461
da6b6c9d-5a20-427d-bada-b06d37d

[2020-12-22 09:56] cipig commented on #745
I could enable NINJA both in normal mode and also in batch mode, together with some other coins, so it is working fine now.

[2020-12-22 10:07] artemii235 commented on #738
Allow passing my_coin and other_coin to provide more precise fee to spend other payment in case of other coin is ETH/ERC20/QRC20.

[2020-12-22 10:09] tonymorony commented on #738
cross-reference: https://github.com/KomodoPlatform/atomicDEX-API/issues/710 to keep in mind the possibility of this one resolving during the refactoring

[2020-12-22 10:19] artemii235 commented on #745
Thanks a lot for testing!

[2020-12-22 10:19] #745 closed

[2020-12-22 10:25] artemii235 commented on #778
You can try to call MM2 `withdraw` to your own address using the `0.00005459` amount, it will create a transaction with an output of 5459 litoshis.

[2020-12-22 10:48] cipig commented on #778
ok, withdraw of 0.00005459 leads to dust error on broadcast:
[code]
this are the outputs of the failed tx:
[code]

and withdraw of 5460 shows no error and the tx is broadcasted: https://blockchair.com/litecoin/transaction/c70f1c2b1dea0a5ab9524ea8877b0de4cb01d80478085961d652186bfd4f4dee

[2020-12-22 11:33] artemii235 commented on #778
I see, we need to handle this 5460 dust threshold separately for LTC then. I plan to add the `dust_amount` to the coins config for this purpose. The MM2 structs for UTXO coins have this field already, but it is hardcoded as of now, we need to take it from config instead.

[2020-12-22 11:46] ca333 commented on #777
liked the emojis a lot - maybe we can just replace with ascii equivalents

[2020-12-22 11:59] BloodyNora commented on #777
remember there may be people (like me, coincidentally) whose terminals cannot for whatever reason display 8 or 16 byte long multibyte characters. i agree with ca333 on using ascii emoji representations.

[2020-12-22 16:13] artemii235 commented on #701
Everything looks good and quite clear! I have only 1 question: for `send_htlc` you make requests to Electron cash API to generate and sign a transaction, https://github.com/EyeOfPython/slp-htlc/blob/master/src/send_htlc.rs#L50. For `redeem_htlc` and `timeout_htlc` you generate and sign a transaction using `TxBuilder` without additional calls to Electron cash. Do I understand correctly that the sam

[2020-12-23 05:22] EyeOfPython commented on #701
Yes, that is correct. I’m using `payto_slp` because it’s quite a bit shorter, and it adds the inputs for me already.

For redeeming the HTLC, I have to use `TxBuilder`, since Electron Cash SLP doesn’t have that built-in, so I have to build the transaction manually. For `send_htlc`, I don’t have to do that, since it’s just a P2SH output, which Electron Cash SLP knows how to handle.

[2020-12-23 10:36] artemii235 commented on #701
@EyeOfPython

Thanks for the explanation! We can consider the proof of concept as done, thanks for your work on this! Could you please provide your KMD address to send you the 1000 KMD bounty? You can DM it to me at Komodo Discord (https://discord.com/invite/VG7uDgAhwa), my Discord tag is `artem.pikulin#0794`.

@damascene @molecular @blockparty-sh You can release the Flipstarter and other addition

[2020-12-23 11:30] cipig commented on #701
I have 2 questions:
- what is the repo of the parity code?
- how much ressources does it use? (parity for ETH with setting `--cache-size=12000` uses 100GB RAM, so i hope this one dos not use that much)

[2020-12-23 11:32] molecular commented on #701
@EyeOfPython looks like you're receiving the bounty. Thanks for you awesome work.

As per my promise above I owe you 560 USD worth of BCH. Please give me an address (either publicly or privately. In case you do it privately can you please acknowledge reception of the funds here publically?)

[2020-12-23 11:32] cipig commented on #723
I have 2 questions:
- what is the repo of the parity code?
- how much ressources does it use? (parity for ETH with setting --cache-size=12000 uses 100GB RAM, so i hope this one dos not use that much)

[2020-12-23 14:02] dathbezumniy commented on #723
@cipig
Parity version is PARITY_VERSION="parity/parity:v2.5.13-stable"
I suppose you can change it as you prefer, currently in the installation script `cache_size = 4092`

Here's the script that I've used https://github.com/dathbezumniy/ewc-rpc-node
but have not yet uploaded db bootstrap up to gcloud, so you can wait a bit or follow this guide:
https://energyweb.atlassian.net/wiki/spaces/EWF/pages

[2020-12-24 05:41] damascene commented on #701
@artemii235 Thank you and thanks to your team for your efforts. We are looking forward to your response.
@EyeOfPython thank you for doing the PoC. I've contacted you on Telegram to get your BCH address.

[2020-12-24 07:34] dathbezumniy commented on #723
updated db bootstrap, please use https://github.com/dathbezumniy/ewc-rpc-node
just tested on fresh install of ubuntu 18.04, should works without any problem, deploy of one instance takes around 1 hour.

[2020-12-24 10:26] dathbezumniy commented on #723
redeployed and verified contract: 0x304896fc2F242f13dd852b412E7B60C5F495B79c
transactions: https://explorer.energyweb.org/address/0x304896fc2F242f13dd852b412E7B60C5F495B79c/transactions
will submit PR now.

[2020-12-25 01:09] EyeOfPython commented on #701
@artemii235 I sent you my KMD address on Discord. My handle is Tobi#5433.

[2020-12-25 05:41] sergeyboyko0791 commented on #710
Could someone tell me, when the `get_trade_fee` used in GUI? On the swap start page?
If we add a swap transaction generation on `get_trade_fee`, we should return and intelligible error, or return for example `estimatefee` result.

[2020-12-25 09:30] artemii235 commented on #710
GUIs call the `get_trade_fee` before buy/sell to display the expected miner fee to be paid during a swap.

If an address has an insufficient balance, then we should return an error. It will be quite unclear to return the `estimatefee` result in case of lacking funds - it can create the impression that the provided amount can be used to buy/sell, which is wrong.

I think we can add the `trade_preim

[2020-12-25 10:03] artemii235 opened #780 "Add page_number for my_recent_swaps and my_tx_history."
The from_uuid approach is good for infinite scrolling implementation. But it's hard to implement pagination because the users of API don't know in advance what UUID will be on what page. Adding page_number params will ease the pagination implementation significantly. If both from_uuid and page_number are supplied, the MM2 will ignore page_number.

[2020-12-25 10:07] artemii235 commented on #780
PS. Thanks to @Milerius for this request!

[2020-12-25 10:41] artemii235 opened #781 "Add active_swaps RPC, which returns UUIDs of currently running swaps."
Also, return the swap statuses of the running swaps optionally.
cc @Milerius

[2020-12-25 11:15] dathbezumniy commented on #723
Bounty received, tyvm!

[2020-12-25 20:52] EyeOfPython commented on #701
Got the coins. Thanks @artemii235  and @damascene!

@molecular  could you send me your telegram handle so I can send you the address?

[2020-12-28 08:16] molecular commented on #701
@EyeOfPython my tg handle: "@moleccc"

[2020-12-28 08:40] molecular commented on #701
@EyeOfPython I fail to find you on tg, can't DM you on twitter or here. So I wrote an email to your be.cash contact address, hoping it's going to be *you* reading that.

[2020-12-28 08:53] sergeyboyko0791 opened #782 "Add the type field to the fee_details"
Make the `FeeDetails` tagged to make it easier to parse `fee_details`.

[2020-12-28 13:03] molecular commented on #701
@EyeOfPython i got an address via tg. I hope it's you. If not, please reply here.

[2020-12-28 21:19] EyeOfPython commented on #701
Yep! That’s me

[2020-12-28 21:54] molecular commented on #701
@EyeOfPython thanks, I sent 540 USD in BCH to the address you gave me via telegram.

[2020-12-28 22:18] EyeOfPython commented on #701
Thanks to @blockparty-sh and @molecular. Got all promised payments now. Merry Christmas everyone and a happy new year!

[2020-12-29 07:07] Milerius opened #784 "[Feature Request]: Filtering support for my_recent_swaps"
**Is your feature request related to a problem? Please describe.**

Since KomodoPlatform/atomicDEX-API#780 and KomodoPlatform/atomicDEX-API#781 we page pagination support ! 🎊

However it includes other problems, like filtering, indeed filtering only applies on the result of the pagination that based on the initial request `my_recent_swaps`.

The problem is that if we have for example `220` swaps,

[2020-12-29 07:27] Milerius opened #785 "[Feature Request]: New rpc call export_swaps_csv"
**Is your feature request related to a problem? Please describe.**

Related to #784

In the same idea since the pagination is from mm2 side now, the swaps export is no longer correct for `atomicdex-desktop`.

**Describe the solution you'd like**

I would like to have a rpc call `export_swaps_csv` that can take same filtering parameters as #784 + a path for saving the file.

[code]

I don't know ho

[2021-01-05 12:28] cipig commented on #473
works as expected, thanks a lot for implementing this
closing the issue

[2021-01-05 12:28] #473 closed

[2021-01-07 17:40] tonymorony commented on #715
I think with the current market price of BTC and ETH this idea became even more actual.

If to use KMD (or any other cheap tx fee asset) for taker fee payments right now it might help to save 10$ on every BTC or ETH swap tx fee.

[2021-01-11 10:38] #334 closed

[2021-01-11 10:38] #304 closed

[2021-01-11 10:38] #365 closed

[2021-01-11 10:51] artemii235 opened #787 "Sync swap smart contract address between nodes on swap negotiation."
It will help to avoid sending transactions, which will not ever pass validation due to misconfiguration of another node.

[2021-01-11 10:54] cipig commented on #787
is https://github.com/KomodoPlatform/atomicDEX-API/issues/329 not the same issue as this?

[2021-01-11 11:06] artemii235 commented on #787
Yeah, this one is a subset of #329. I will keep it open because the previous one is too far away on the list :slightly_smiling_face:

[2021-01-12 04:56] artemii235 commented on #782
@sergeyboyko0791 Could you please update the docs too?

[2021-01-12 05:01] artemii235 commented on #602
MM2 order matching and swap messages exchange protocols fully work on top of libp2p now. Closing the issue.

[2021-01-12 05:01] #602 closed

[2021-01-12 12:30] BloodyNora opened #788 "funding from other wallets that use `-pubkey` pointed to the mm2 address does not show up"
if you use the `-pubkey=` option of either `komodod` or `verusd` (and thus probably other ACs too), and said pubkey points to your `mm2` address, this balance will not be visible to neither `mm2` or the `atomicdex GUI`
i.e. komodo minining or interest, or verus staking or mining.

n.b. that mm2 in both cases, GUI and CLI, is running in full lite mode in my case.

i'll DM an illustrative TXid toget

[2021-01-12 12:34] BloodyNora commented on #788
ok, i can't DM. thus: if you're interested, DM me on discord, `@0x03#8822`

[2021-01-13 08:03] artemii235 opened #789 "Test issue."
Test

[2021-01-13 10:11] artemii235 commented on #789
Closing.

[2021-01-13 10:11] #789 closed

[2021-01-13 10:16] artemii235 commented on #788
Solved in DM: the address has `pubkey` type instead of `pubkeyhash`, which is not supported by MM2 at the moment. We plan to add support later, [NB](https://github.com/KomodoPlatform/atomicDEX-API/issues/720).

[2021-01-13 10:16] #788 closed

[2021-01-13 10:17] artemii235 commented on #720
We should also consider implementing the same for Native mode.

[2021-01-13 10:44] artemii235 opened #790 "Add virustotal analisys to AtomicDEX-API releases."

[2021-01-14 13:08] tonymorony opened #791 "Connect to only one coin electrum at the time"
Noticed that atomicDEX-API keeping connections to all electrums from electrum RPC call params.

Since connection operation is very fast I think it might be worth to keep a connection to single electrum only and connect to another only in case of connectivity issues to the active one.
It'll reduce the number of connections to electrums multiple times (what can reduce the number of file descriptors

[2021-01-19 10:22] artemii235 opened #792 "Taker -> Maker GTC order conversion is stuck on iOS."

[2021-01-19 10:41] artemii235 commented on #792
Application restart is required for this to happen.

[2021-01-20 18:07] gruve-p commented on #460
Any updates on this @artemii235 ?

[2021-01-21 08:48] artemii235 opened #793 "Recheck WASM build status and fix it."

[2021-01-22 05:25] artemii235 commented on #460
@gruve-p Thanks for following up! I added this issue to my next week's task list.

[2021-01-23 20:23] cipig opened #794 "error on `setprice` doesn't cancel previous order"
Errors on `setprice` calls like
`rpc:237] lp_ordermatch:2949] Max base vol 99.863649868869216 is below min base vol`
`rpc:237] lp_ordermatch:2949] Max base vol 0 is too low, required: 0.00777`
should still cancel previous order for the pair when `cancel_previous` is `true` (default)

[2021-01-25 07:59] artemii235 commented on #794
Hi @cipig, thanks for opening the issue! It might worth making this optional. I think, in some cases, users might want to keep the previous order active in case of errors.

[2021-01-25 09:42] tonymorony opened #795 "QRC20 tx informative error message"
At the moment when you have not enough QTUM for QRC20 transfer API saying that there is not enough balance but not saying how much QTUM more is needed what isn't user-friendly.
As discussed with @sergeyboyko0791 and @artemii235 it's possible to show the user this amount in error message by delta calculating between desired outputs and available inputs.

One more thing is that in some cases (I know

[2021-01-25 12:57] cipig commented on #794
wouldn't that be with `cancel_previous` set to `false`? Problem is also that it can lead to orders remaining in orderbook that are not swappeable anyway, eg when balance remaining after previous swap in < 0.0077 (new `setprice` call fails with error in this case and order with volume < 0.0077 remains in orderbook including old price).

[2021-01-27 08:18] sergeyboyko0791 commented on #782
Docs were updated, the changes are on the [website](https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api.html#withdraw) already

[2021-01-27 08:18] #782 closed

[2021-01-27 09:31] sergeyboyko0791 commented on #759
Done

[2021-01-27 09:31] #759 closed

[2021-01-27 10:14] artemii235 commented on #757
Fixed, docs PR: https://github.com/KomodoPlatform/developer-docs/pull/235

[2021-01-27 10:14] #757 closed

[2021-01-27 10:16] artemii235 commented on #773
The fix worked out, closing.

[2021-01-27 10:16] #773 closed

[2021-01-27 11:06] sergeyboyko0791 commented on #754
@artemii235 I've tried to figure out how to cut the path like `behaviour.rs` instead of `mm2src/gossipsub/src/behaviour.rs`. Seems to be easiest to fork `log4rs` crate (i'd like to avoid this way) or rewrite the pretty useful `log4rs` [pattern encoder](https://docs.rs/log4rs/1.0.0/log4rs/encode/pattern/index.html). The second way deprives us of the ability to easily customize the log formats.
Is i

[2021-01-27 11:40] sergeyboyko0791 commented on #738
Related [PR](https://github.com/KomodoPlatform/atomicDEX-API/pull/797)

[2021-01-27 14:57] cipig opened #798 "add bech32 address_format for different coins"
currently we only support
[code]
for BCH addresses starting with “q*”

can we also support other formats, like XEP starting with "ep1"? or LTC starting with “ltc1″?
can it be made configurable? used this settings for XEP:
[code]

[2021-01-28 10:41] artemii235 commented on #794
We can consider this specific behavior as a bug. We need to cancel an order in such a case - I will fix it next week.

In regards to the initial comment, I meant that one might want to keep the previous order active in case of error even with `cancel_previous: true`. It is quite controversial though, so I will just move the canceling code so it will be called before balance checks.

[2021-01-28 10:49] artemii235 commented on #798
Looks like it is a more general request to support the bech32 address format. It is surely possible, but I think we will implement it a bit later. I will clarify the priorities and get back to this issue.

[2021-01-28 11:03] artemii235 commented on #791
Thanks for opening the issue! It is a nice enhancement indeed. We can mix it with the general Electrum client refactoring: https://github.com/KomodoPlatform/atomicDEX-API/issues/746. I guess we will find the time to implement this next month.

[2021-01-28 11:37] artemii235 commented on #754
Yeah, I'd like to avoid this too :slightly_smiling_face:

It is ok to have the `mm2src/gossipsub/src/behaviour.rs:543]` path as it is quite short. But we get the full absolute path to a cargo dependency source, e.g. `~/.cargo/git/checkouts/rust-libp2p-7e56a40c55e2681f/6a5600f/protocols/ping/src/protocol.rs:108]`, which looks excessive.

I guess we can copy the `pattern encoder` and slightly custom

[2021-01-28 11:39] artemii235 commented on #544
@cipig I have not implemented the mentioned change yet, the task got lost in a flow. I have scheduled it for next week.

[2021-01-28 11:44] artemii235 commented on #784
I have implemented the filtering: the params are passed a bit differently than requested, but I think it looks a bit more straight-forward this way. The corresponding PR has been just merged, the [docs update PR](https://github.com/KomodoPlatform/developer-docs/pull/235) will be merged soon and published on the website.

[2021-01-28 11:44] #784 closed

[2021-01-28 11:45] artemii235 commented on #784
The Github release has been just published: https://github.com/KomodoPlatform/atomicDEX-API/releases/tag/beta-2.1.2978. All OS builds will be uploaded from CI quite soon.

[2021-01-28 15:13] cipig commented on #794
if can also change my bot, so it always calls `cancel_all_orders` first for each pair before setting new price, else it would not update the price in case of error on `setprice`call... but this is one additional call for each order

[2021-01-29 06:03] artemii235 commented on #785
Thanks for opening the issue!
I think different GUIs can have different export formats, and it might be hard for MM2 to support all of them. So I prefer to implement the following solution:
1. Add `all_swaps_uuids_by_filter` RPC, which returns all UUIDs of swaps that match selected filters (request format will be the same as for my_recent_swaps).
2. GUIs can retrieve all the UUIDs and then call `m

[2021-01-29 07:43] tonymorony opened #799 "Add filtering for not mine (STATS) swaps"
It would be wonderful to use DB and filtration/pagination functionality not only for `my_orders` swap statuses but also for collected swap statuses on seed nodes

ref: https://github.com/KomodoPlatform/atomicDEX-API/issues/33

[2021-01-29 09:19] artemii235 commented on #799
@tonymorony Thanks for creating the issue! Could you please provide more details about the expected SQLite table data/schema? I guess we need the following columns: UUID, maker_coin, taker_coin, maker_amount, taker_amount, started_at (maybe separate for maker and taker too), but maybe something else is required?

[2021-01-29 10:13] tonymorony commented on #799
yeah, that looks like enough data. also separation between successful and failed would be helpful

just rechecked data from the swap status structure we using:

[code]

The most tricky matter we got in our stats tool so far is to determine the list of pairs with >0 swaps - we should scan all possible permutations. Is it possible to create such an "alive pairs" list during import into DB? it'll hel

[2021-01-29 10:26] artemii235 commented on #799
Sure, just one question: should we add both `RICK/MORTY` and `MORTY/RICK` there? Or will it be sufficient to order tickers alphabetically and insert just `MORTY/RICK`?

[2021-01-29 11:10] tonymorony commented on #799
counting logic using both ways now (according to dexstats.info not only we counting both ways) - so would be great to include it as RICK/MORTY + MORTY/RICK if there are both directions trades (if it's not a huge complication to list creation logic)

[2021-01-29 12:25] #785 closed

[2021-01-29 12:27] artemii235 commented on #785
I've added the new RPC, docs diff: https://github.com/KomodoPlatform/developer-docs/pull/235/commits/542c76876226b0248a73a4d0adef7727628ec4d9. Release will be published from CI soon.

[2021-01-29 12:28] #772 closed

[2021-02-01 07:31] Milerius opened #801 "[Protocol Integration]: BEP20 support"
I propose to add the BEP20 smart chain binance protocol to be able to afford suitable and low costs in AtomicDEX

Benefits:

* Low fees
* Lot of pegged tokens such as `XRP`, `ADA`, `DOT`, `BTC-BEP` [click here to see the list](https://bscscan.com/tokens)
* Lot of pegged stable coins such as  `DAI`, `BUSD` also with low fees
* Binance gateway you can send BEP20 tokens directly to binance and then w

[2021-02-01 07:40] Milerius opened #802 "[Feature Request]: Offline staking"
**Is your feature request related to a problem? Please describe.**

My feature is not related to a problem but rather to get more users to use AtomicDEX.

As explained [here](https://atomicwallet.io/staking) it would be great to have equivalent features in AtomicDEX core to be able to offline staking on Mobile, Computer and Web

**Describe the solution you'd like**

The possibility via an rpc call

[2021-02-01 07:46] artemii235 commented on #656
I will focus on this specific topic this week.

[2021-02-01 07:50] artemii235 opened #803 "Pass coin dust to `dex_fee_amount` and use it as min threshold for the dex fee."
Some coins have a higher dust amount than our dex fee minimum (`0.0001`) -  so if the swap amount is low enough, it fails with `TakerFeeTransactionFailed`.

[2021-02-01 08:42] artemii235 commented on #656
It's done. @cipig could you test the https://github.com/KomodoPlatform/atomicDEX-API/pull/804, please?

[2021-02-01 09:45] cipig commented on #656
works perfect, thanks a lot
patched node: `get_trade_fee` shows `0.00001`
unpatched node: `get_trade_fee` shows `0.00002834`
not a big difference this time, but it could have been (the more time passes since last block, the higher the fee gets)
tried a swap too and it worked fine... started one with both nodes (patched and unpatched) and both BCH transactions were included in the next block
i thin

[2021-02-01 09:50] artemii235 commented on #656
Thanks for testing!

[2021-02-01 09:50] #656 closed

[2021-02-01 12:52] #763 closed

[2021-02-02 08:02] artemii235 opened #805 "Add best_orders RPC."
The new RPC will return all the best orders for the selected coin.
Request example:
[code]
Response:
[code]

cc @tonymorony @Milerius

[2021-02-02 08:35] artemii235 commented on #710
@sergeyboyko0791 Could you please document the new `trade_preimage` RPC?

[2021-02-02 08:38] sergeyboyko0791 commented on #710
I'm working on it already :)

[2021-02-02 08:38] artemii235 commented on #710
Nice! Please also add the deprecation warning to the `get_trade_fee` in docs with a recommendation to use `trade_preimage` instead.

[2021-02-02 12:29] Milerius commented on #802
QTUM Offline staking documentation: https://docs.qtum.site/en/OfflineStaking.html

[2021-02-02 19:41] cipig opened #806 "add option to coins file to force SegWit tx signing"
XEP signs every tx with SegWit, even for legacy addresses:
https://github.com/ElectraProtocol/XEP-Core/commit/96b6fd239cec554d3fb02e2af00688952c87b039

Can we add an option to coins file to force this for the coins that do that?

[2021-02-03 05:20] artemii235 opened #807 "Investigate pubkey keep alive warnings."
Following logs are reported by alright and webworker01 at Discord:
`01 11:29:18, mm2src/lp_ordermatch.rs:328] WARN Warning: couldn't find [0, 0, 0, 0, 0, 0, 0, 0] hash root in memory_db`

It looks like some nodes broadcast invalid orders trie root - we should prevent it.

[2021-02-03 08:40] artemii235 commented on #794
@cipig I've just pushed the commit with code change. Could you test it, please?

[2021-02-03 10:18] artemii235 commented on #778
@cipig Sergey added `dust` param to coins config along with another task. Can you test it, please?

[2021-02-03 10:39] #457 closed

[2021-02-03 10:41] artemii235 commented on #806
We don't have full SegWit support yet, but it's possible when we implement SegWit in MM2.

[2021-02-03 19:04] cipig commented on #778
I tested it with EMC2 and it works fine. Dust is set to `54600`, txfee is fixed to `100000` and this is the MakerPayment tx
https://chainz.cryptoid.info/emc2/tx.dws?0ee05f96ec482c64ee7581de6c6e8aa5d6798b211ae37146d167d2e1631b48a2.htm
The buy call was with `\"volume\":0.00777010`, the balance of the Maker was `0.009316`.
Before the fix, it would have failed because `0.009316 - 0.0077701 - 0.001 = 0

[2021-02-03 19:04] #778 closed

[2021-02-04 07:13] artemii235 commented on #778
Great, thanks for testing!

[2021-02-04 09:39] Alrighttt opened #808 "3 party "ABC swaps""
I would like some peer review on this. I call this an "ABC swap". The basic premise is a three party atomic swap implemented via bitcoin script. There is a good chance there is a fatal flaw in the logic, so please do not get overly excited. I am asking you to please find flaws in it.

assuming market conditions of roughly 2 TOKEN == 1 KMD == 10 COIN

- bob places a limit order - selling his 10 COI

[2021-02-04 09:41] Alrighttt commented on #808
I should note that this does seem extensible to "ABCD(...EFDG)" swaps. Would there be any practical use for such a thing?

[2021-02-04 12:31] artemii235 commented on #799
@tonymorony I have implemented the indexing of swaps statistics to the SQLite DB. You can use the build from <http://195.201.0.6/mm2.1-stats-swaps-index-filter/> until the corresponding PR is merged. The SQLite file path is `%MM2_DB_DIR%/MM2.db`. The table name with statistics is `stats_swaps`.

You can now get them using the `SELECT DISTINCT maker_coin, taker_coin FROM stats_swaps;` query.

[2021-02-04 15:46] theblackmallard commented on #808
Alrighttt, I really like this idea and it got me thinking about my own twist on it. I think the 3rd party Charlie facilitating a swap makes a lot of sense, especially for coin pairs where there isn't sufficient liquidity, or even liquidity at all. I don't think I have the expertise to peer review your work. I would however like to propose an additional idea that fits under this topic and is based

[2021-02-04 16:13] Alrighttt commented on #808
I appreciate the response. I've written this concept of an "ABC swap" with the idea being that it allows Alice to atomically swap on a pair with no direct volume. This is to facilitate UX similar to uniswap's or sushiswap's AMMs in which a user simply says "I have coin X; I want coin Y" and it can work without any volume on this X/Y pair. With this UX in mind, it would be unacceptable for a user t

[2021-02-04 17:28] cipig opened #810 "panick on DOGE swap start with dust amount set"
Saw this panick on one of my nodes... DOGE has `"dust": 100000000,` set in coins file (1 DOGE)... the mm2 version is 45f3a7ad04c37c452e862fb0bd0099152089c420
[code]

[2021-02-04 17:42] cipig commented on #794
sent RVN to another node, now i get `Max base vol 0.00469226 is too low, required: 0.00777` and the order from orderbook is gone, so it works fine
thanks for the fix

[2021-02-04 17:42] #794 closed

[2021-02-05 05:25] artemii235 commented on #810
Hi, @cipig, thanks for the report! I'm checking right now.

[2021-02-05 06:17] artemii235 commented on #810
I've pushed the fix. @cipig Could you please update your MM2 and restart? The swap should properly fail afterward with the `StartFailed` event instead of panic.

[2021-02-05 06:19] artemii235 opened #811 "Refactor swaps commands to return `Option<...SwapCommand>, Vec<...SwapEvent>`."
It will allow avoiding occasional usage of `try_s!` or `?`, which can lead to panic, e.g. https://github.com/KomodoPlatform/atomicDEX-API/issues/810

[2021-02-05 08:12] #738 closed

[2021-02-05 08:30] #710 closed

[2021-02-05 08:32] cipig commented on #810
thanks for the fix
it now looks like this, no more panick
[code]

error in swap JSON is simply "StartFailed":
`"maker_swap:266] !maker_coin.get_sender_trade_fee utxo_common:1812] Output value 90000000 less than dust amount 100000000"`

the buy call was with volume 0.9

[2021-02-05 08:32] #810 closed

[2021-02-08 08:15] artemii235 commented on #460
@cipig Could you please try to withdraw and swap GRS using the https://github.com/KomodoPlatform/atomicDEX-API/tree/mm2.1-grs-fix branch?

[2021-02-08 11:00] #780 closed

[2021-02-08 11:00] #781 closed

[2021-02-08 11:12] artemii235 commented on #792
The problem was in parity-util-mem dependency: there is an unreachable! that was reached on iOS. I've opened PR to the parity-common repo that fixes it. The mobile apps rely on patched dependency from KomodoPlatform fork temporary.

[2021-02-08 11:56] artemii235 commented on #808
Hi, @Alrighttt, thanks for opening the issue!

We can implement it for any ABC pairs. I guess it will increase the liquidity on AtomicDEX in general.

I need to think about it. As of now, Alice is obliged to send the dex fee before the swap payments. So in the proposed protocol, she is at risk of both losing the dex fee and locking her funds for a significant time if Bob and Charlie do not partici

[2021-02-08 13:19] cipig commented on #460
Tried a swap, but doesn't work as expected. It started and maker sent MakerPayment:
[code]
but the tx hash is wrong and he can't find it
[code]
in the debug.log of groestlcoind there is this entry:
[code]
so mm2 thinks the tx hash is `225565cd43e49065a6c3d11ababe8a34fd9f273a632d4435fbc2173199576730`, but in reality it is `3c2aa49e7ecd19e21277b056fcf93467116b2122e42dcc5985d32c5ec1c9a0d3`
the block

[2021-02-08 19:06] Alrighttt commented on #808
Yes, the question assumes that KMD would be the "bridge", but it could be any coin. This is actually why Charlies must "send offers" to an Alice. It could be that there are significantly cheaper(from Alice perspective) paths depending on which coin the offering Charlie starts with.

I hadn't really considered a dex fee in this. It could be that I am missing something here, but it seems there is no

[2021-02-09 07:42] artemii235 opened #814 "Add update_maker_order RPC."
Request:
[code]

Response (same as setprice):
[code]

[2021-02-09 08:07] artemii235 commented on #460
Thanks for testing! GRS also uses single sha256 for transaction hash, which makes things a bit more complicated for MM2. I'm going this fix this now.

[2021-02-09 09:07] tonymorony commented on #799
Works like a charm, thank you!

Parser (WIP) with this DB usage https://github.com/tonymorony/dexstats_sqlite_py

[2021-02-09 09:07] #799 closed

[2021-02-09 14:10] artemii235 commented on #460
@cipig Could you recheck it 1 more time using the same branch, please?

[2021-02-09 14:54] cipig commented on #460
Worked perfect this time. See https://github.com/KomodoPlatform/coins/blob/master/swaps/GRS-KMD.md for the swap transactions.

[2021-02-10 07:45] artemii235 commented on #460
@cipig Could you please test it a bit more? There are quite many minor code changes in various places so it's worth checking different swap scenarios: both taker and maker sides, refunds, recovery of stuck swaps, etc.

[2021-02-10 08:09] artemii235 opened #816 "Refactor UTXO tx deserialization, hash generation, etc."
My initial goal of UTXO support implementation was having the Transaction de/serialization, signing, and hashing self-contained and "stateless". However, even the tx hash calculation algorithm can be different (e.g. GRS: https://github.com/Groestlcoin/grs-dev-docs/blob/master/hashes.md). So we need to have the possibility to easily implement such customizations without too much refactoring.

One o

[2021-02-10 10:59] cipig commented on #460
sure, i will do more tests

Refund worked, i could refund the swap that failed before your last fix
[code]

[2021-02-11 11:45] artemii235 commented on #460
I have merged the PR with a fix to mm2.1. It will be included in the upcoming GUIs release.

[2021-02-11 11:45] #460 closed

[2021-02-11 12:20] artemii235 commented on #808
Alice is a taker here, so she must pay the dex fee - it is a core requirement of the protocol.

I assume that both Bob and Charlie have maker orders, which means they should not pay additional fees. Zero trading fee is an important advantage of market making on AtomicDEX, and we also want to create more incentives for them (https://github.com/KomodoPlatform/atomicDEX-API/issues/714).

It does not

[2021-02-11 12:33] #803 closed

[2021-02-11 12:33] #670 closed

[2021-02-11 12:40] Alrighttt commented on #808
It does not make sense for Alice to pay the dex fee in this situation.  The technical reason for having Alice pay a dex fee in a typical swap is to prevent Alice from spamming the network and locking up all available bob volume. It must cost something to tell a bob to lock his coins otherwise any alice could tell every bob to lock up all of their available coins.  In the same vein, it must cost Ch

[2021-02-11 14:07] artemii235 commented on #808
Because the protocol is not just an abstract technical entity, but a thing that is used in the real trading application. It is quite common on exchanges that market participants *taking* the liquidity from the market have to pay higher fees for that. The opposite - market participants, who *provide (make)* the liquidity pay less or no fees at all. I personally consider this a much more important U

[2021-02-11 15:16] Alrighttt commented on #808
Charlie does not have passive orders like Bob. Charlie is waiting for Alices to announce "I want to trade TOKEN for COIN". Charlie then calculates the cheapest path to do this, and responds to Alice with his "offer".

[2021-02-11 15:17] Alrighttt commented on #808
To be clear, it is not simply "anti-spam". It is anti-robbery, anti-dos as well.

[2021-02-11 17:31] cipig commented on #460
btw, works in latest Desktop GUI build:
![image](https://user-images.githubusercontent.com/32116761/107674502-f23a6080-6c8e-11eb-8e3d-3b662a3e6444.png)

[2021-02-12 08:25] artemii235 commented on #808
The tricky part is it looks *very* similar to me as having a maker order. If I envision it correctly, Charlie should have some record for which pairs he would like to receive such offers. And know the price and volume at which he will accept them. So, even if it's not visible in the order book, it still exists on the Charlie node in a form of "hidden" liquidity.

And again - it will be used in GUI

[2021-02-12 10:02] artemii235 commented on #668
The stress test passed some time ago so this issue seems to be not actual anymore.

[2021-02-12 10:02] #668 closed

[2021-02-12 10:03] artemii235 commented on #620
We have removed libtorrent in favor of libp2p, so this issue is not actual.

[2021-02-12 10:03] #620 closed

[2021-02-12 10:04] artemii235 commented on #598
Doesn't happen anymore.

[2021-02-12 10:04] #598 closed

[2021-02-12 10:04] artemii235 commented on #603
The issue seems to be stale.

[2021-02-12 10:04] #603 closed

[2021-02-12 10:07] artemii235 commented on #545
The dex fee threshold is also using coin's dust now, so we can close this.

[2021-02-12 10:07] #545 closed

[2021-02-12 10:09] artemii235 commented on #733
@smk762 Could you please confirm that it works fine now?

[2021-02-12 13:16] Alrighttt commented on #808
I don't think it quite matters who exactly you term the "maker". At least for the order of events that I have proposed, there is a clear technical requirement for Charlie to pay a fee or otherwise lose something if he decides to maliciously tell Alice and Bob to lock their coins. Alice and Bob do nothing if Charlie does not first make a commitment.

In a traditional two party swap, this concept of

[2021-02-14 08:12] smk762 commented on #733
Tested a few times, did not encounter the "required {coin} amount {amount} is larger than available {balance}" error.
Appears to be operating as intended, thanks!

[2021-02-14 08:12] #733 closed

[2021-02-14 14:57] CHMEX commented on #808
I do love the concept of this ABC swap and I believe it can increase the usage of AtomicDex significantly. 
Maybe not on the top 50 coins pair but specially in the ERC20 world or for small cap coins. If you lock at current defi swaps and it's very common to hope via another token.

As an example: On atomicdex we have buy orders on THC KMD and BTC KMD but nothing on THC BTC. Somebodys perfectly hap

[2021-02-14 15:18] cipig commented on #808
the reason why THC/BTC is missing is because the price is 0.00000025 BTC as of https://www.coingecko.com/en/coins/hempcoin-thc... i simply don't post orders on such coins against BTC any more because every 1 sat change is 5% and more... and there are much worse coins out there...  they should all do a reverse split 1000:1 through a new chain or burn 99.9% of their supply to fix the problem :-)

[2021-02-14 17:47] CHMEX commented on #808
this kind of low sats coin "problem" will just increase if BTC goes to 300k (or whatever number) yes a burn in theory would "fix" that in a rational system.

[2021-02-15 06:35] tonymorony opened #818 "SQLite panic/crash"
encountered panic on the seednode where we testing SQLite DB

https://paste.ubuntu.com/p/mvscG6kwCW/

[2021-02-15 06:56] artemii235 commented on #818
Thanks for the report! I'm checking this now.

[2021-02-15 07:33] tonymorony opened #819 "Add index by timestamps by default"
After such index adding:

`sql_coursor.execute("CREATE INDEX timestamp_index ON stats_swaps (started_at);")`

performance such select

[code]

works 5 times faster, so it might be good to index by timestamp by default

[2021-02-15 09:10] tonymorony opened #820 "Swap statuses sync between seeds"
Let's say I want to spin my own seed node with stats endpoint or some different usage os swap statuses info.
It'll start to collect swap statuses since starting point.

The question is - how to gather historical data (previous swaps statuses) and how to sync up if the seed node was down for some time?

The only way at the moment is manual file copying - probably it's possible to implement such sta