[2021-02-15 09:19] artemii235 commented on #818
@tonymorony I've pushed the possible fix, please retest.

[2021-02-15 10:14] tonymorony commented on #818
thanks for a prompt fix!
updated test seed to this version - will monitor it and try to break by multiple swaps in the same block

[2021-02-15 11:53] artemii235 commented on #819
@tonymorony Done, please try to remove the index you added manually and then update MM2.

[2021-02-15 15:31] Alrighttt opened #821 "Whitelabel incentives and other liquidity increasing incentives"
With the focus of increasing liquidity and providing better overall UX via lowered spreads in mind, I believe we could make a strong push towards offering a clear and simple path on whitelabeling( in an open source matter, not consulting ) atomicdex applications and mm2.1 itself.

The simplest of incentives here may be to offer a mechanism to change the DEX fee address while still sharing liquidit

[2021-02-16 10:26] artemii235 commented on #544
@cipig Could you please test the refunds on https://github.com/KomodoPlatform/atomicDEX-API/tree/mm2.1-fix-refund-non-final branch? If you need help to trigger a refund condition please let me know.

It is still a big problem for non-advancing (on-demand) chains because median time past is not advancing as well.

6 blocks with `timestamp > payment lock` in case coin use 11 blocks to calculate MTP.

[2021-02-16 10:47] #819 closed

[2021-02-16 17:37] cipig commented on #544
tested with BCH and it works fine... had 2 BCH refunds that were failing
[code]
after update both were refunded correctly
[code]

[2021-02-16 18:38] Alrighttt opened #823 "leverage HLTCs are options contracts"
Jason shares on discord the concept of leveraging HLTCs as a special type of options contract:

`Not too long ago, @Alright brought up a problem that occurs in the atomic swap process that would allow the taker to tie up maker liquidity for the period of locktime and determine whether or not it was advantageous to swap.   For a currency exchange style value proposition,  this is not workable in th

[2021-02-16 18:45] Alrighttt commented on #823
This is in practice what we have now, but it's hard coded to always be 4 hours.

I think it would be an interesting experiment if we implemented "halt" switches for individual swaps in each of our UIs. Make it a feature to allow Alice or Bob to not immediately go through with their next step of the swap. How would this impact the behavior of Bobs or Alices?

I think there is also a clear issue wit

[2021-02-16 19:49] polycryptoblog commented on #823
an idea for the sequence:

Alice and Bob negotiate a price and timeframe and premium
Alice sends Dexfee
Bob locks his coins
Alice locks her coins
Alice locks premium
Bob spends coins/premium
Alice spends coins

This way Bob would not be able to get paid the premium without enabling Alice to spend the coins.

[2021-02-16 20:46] polycryptoblog commented on #823
https://eprint.iacr.org/2019/896.pdf

@Alrighttt   Starting at Bottom of page 8 describes a way of implementing the premium  for both option and currency exchange modes

[2021-02-17 06:00] tonymorony commented on #715
for ref: https://discord.com/channels/412898016371015680/798984553355411486/803274482311233558

[2021-02-17 06:03] artemii235 commented on #544
@cipig Thanks for testing! Could you please also start a new BCH swap and force a refund for it? We need to be sure that MM2 now correctly waits for MTP to advance during the swap.

[2021-02-17 06:06] tonymorony commented on #792
jfyi: as I can see PR was merged so probably we can close this one  :)

[2021-02-17 06:08] #568 closed

[2021-02-17 06:09] tonymorony commented on #551
( #545 )

[2021-02-17 06:09] #551 closed

[2021-02-17 06:10] artemii235 commented on #792
Thanks for following up! Parity has not released the fix on crates.io yet (https://crates.io/crates/parity-util-mem). We have to wait for it, update the dependency, and only then we can close the issue.

[2021-02-17 11:04] Milerius opened #825 "[Feature Request]: Buy/Sell rpc call with min trading_amount"
It's already available for `setprice` would like to also have it fo `buy` and `sell`.

Use case:

I do want to do a taker order but if i didn't match the order i would like to have a minimum trading amount on my maker order.

[2021-02-17 14:04] artemii235 commented on #240
Closing this to create a separate issue for full SegWit support.

[2021-02-17 14:04] #240 closed

[2021-02-17 14:10] artemii235 opened #826 "Full SegWit support."
- [ ] Add `full_segwit` param to enable/electrum, which forces MM2 to generate SegWit address instead of legacy. The SegWit address is returned in response
- [ ] Implement SegWit tx signing. Changes are possibly required in parity-bitcoin dependency: https://github.com/artemii235/parity-bitcoin
- [ ] Integrate SegWit signing to withdraw and atomic swaps transactions generation.
- [ ] If the coin i

[2021-02-18 13:11] artemii235 commented on #446
The QTUM now has dust configured, so this should be fixed.

[2021-02-18 13:11] #446 closed

[2021-02-18 19:07] cipig commented on #544
looks good... i killed mm2 on taker after MakerPayment (BCH) was sent and the refund on maker worked without error automatically on the specified time

console on maker
[code]
JSON
[code]
https://blockchair.com/bitcoin-cash/transaction/88495ffd23b0203a59539a35274ef9650d7c9babad803d7a3bcc2c678467c0c2

[2021-02-18 22:01] Cryptosaurus89 commented on #801
Should have some priority as BSC is getting lots of attention..

[2021-02-19 08:25] artemii235 commented on #544
@cipig Thanks a lot for testing!

[2021-02-19 08:25] #544 closed

[2021-02-21 13:15] cipig opened #828 "Block not found error on Maker payment wait refund"
[code]
while `[swap uuid=5bb29ece-cba3-4e2a-b059-91bb5fcbb450] Maker payment wait refund till 1613769580 started...`

the block `347565` mentioned in the error is already mined, error is likely because `getblock` accepts only a hash, not a height
[code]
[code]

[2021-02-22 10:03] artemii235 opened #829 "Implement custom fee calculation for DOGE."

[2021-02-22 11:34] artemii235 commented on #828
@cipig Thanks for opening the issue! Could you test the https://github.com/KomodoPlatform/atomicDEX-API/tree/mm2.1-getblock-hash-only branch, please?

[2021-02-22 14:09] cipig commented on #828
Gettings this now
[code]

`error: Parse(http://127.0.0.1:8888, "jsonrpc_client:183] error Error(\"invalid type: integer `43516489`, expected a string\", line: 0, column: 0)`

[2021-02-22 15:17] artemii235 commented on #828
Arghh, let me fix this too 🙂

[2021-02-22 16:03] artemii235 commented on #828
@cipig Could you retest now, please? I've just pushed the fix.

[2021-02-22 16:17] cipig commented on #828
works now, thanks for the fix
[code]
https://explorer.firo.org/tx/d70702994e69d4608cd4b5dcfbadad221c8af3f53fdc047dafb061d779ad9e9f

[2021-02-23 09:45] artemii235 commented on #828
Thanks for testing!

[2021-02-23 09:45] #828 closed

[2021-02-23 09:55] artemii235 commented on #829
Done.

[2021-02-23 09:55] #829 closed

[2021-02-25 08:50] artemii235 opened #833 "Add my_order_uuid to the swap status response."
It will allow tracking of what order initiated the swap - actual for makers because UUID is selected by a taker.

[2021-02-26 09:38] artemii235 opened #835 "Speed up tests"
The full test run started to take too much time so we should find a way to reduce it.
- [ ] Allow configuring taker order (and other) timeouts. Use reduced timeouts in tests.

[2021-02-26 20:12] paperballs commented on #801
I could really use something like this right now.

KMD deposit times are 1-2 hours on Binance which is very inconvenient at times and still has to go through BTC first. I would use this pairing almost on a daily basis.

[2021-02-27 22:31] ptyx11 commented on #801
let's get KMD also on BEP20

[2021-02-27 22:50] paperballs commented on #801
Brilliant idea

On Sat, Feb 27, 2021, 4:31 PM PTYX11 <notifications@github.com> wrote:

[2021-02-27 23:32] phm87 commented on #801
I agree, it is a good idea, it was discussed today on discord but tokenize KMD on BSC is not related to AtomicDEX.

It seems that LTC and BCH are tokenized on BSC, I didn't find all details yet, here are some links I found.

https://www.binance.org/en/blog/anyswap-crosschain-dex-on-bsc/

https://lightrains.com/blogs/how-create-binance-token

Article is from 2019 so I hope that the 800 BNB listing

[2021-03-01 11:31] artemii235 opened #838 "Add both base and rel volumes to orderbook RPC response."
As of now, asks contain max and min volume for base coin whereas bids contain volumes for rel coin. Calculation of a proper volume to sell the base coin is confusing - extra fields in response will be very useful.

[2021-03-01 12:17] artemii235 opened #839 "Remove unwrap macro."
It is not actual anymore since the `track_caller` feature was added to Rust.

[2021-03-02 23:17] michelvankessel commented on #720
I can confirm this happens with Coinstakes too. (Blackcoin, PoSv3)

[2021-03-03 08:29] tonymorony commented on #818
looks good so far, closing on this point

[2021-03-03 08:29] #818 closed

[2021-03-03 11:32] #839 closed

[2021-03-03 18:39] samurai321 commented on #503
There is another case.

- We have some coin and want to buy, say KMD and others. all orders are close to max, then i create a taker order and buy a few KMD, hiting partialy a maker order of another user.  it executes the swap, but the other orders are NOT changed. Now this orders became misleading orders that will either fail or never be sucesfully filled until i cancel them.

So there needs to be

[2021-03-04 04:48] cipig opened #843 "Maker payment wait refund 2 days overdue"
after a failed swap (TakerPaymentValidateFailed), maker waits for maker payment refund forever (looks like)
console shows this, which is 2 days ago:
`| (3526:26) [swap uuid=c246d768-d951-4827-8e07-12ac8a73ea2d] Maker payment wait refund till 1614622051 started...`

after restarting mm2, maker payment is refunded immediately:
[code]

makerpayment DOGE: https://blockchair.com/dogecoin/transaction/73

[2021-03-04 04:50] artemii235 commented on #843
Thanks for opening the issue! I will investigate it.

[2021-03-04 07:55] artemii235 commented on #843
@cipig Could you please request a block from the DOGE daemon that was close to the swap's start time and share the result?

[2021-03-04 10:17] artemii235 commented on #843
The problem is Doge has a custom AuxPOW block header format. It leads to MM2 reading a random sequence of bytes as a block timestamp so it can get a number like `1977568965` as MTP. Due to recent changes, MM2 waits for `MTP - payment locktime` before a refund attempt so it could take years literally :slightly_smiling_face: I'm adding support of AuxPOW block header now and will also add a reasonabl

[2021-03-04 13:09] artemii235 commented on #843
@cipig Could you please trigger the Doge refund in Electrum mode using the MM2 from linked PR? It should be fixed now.

[2021-03-04 19:04] cipig commented on #843
works good now, thanks for the fix
[code]
https://blockchair.com/dogecoin/transaction/f7a7c2a7c5f961cb260ec9f6285b99e6df1b1d4d2511c778cbd7514be8dd495b

[2021-03-05 07:52] artemii235 commented on #843
Thanks for the report and testing 🙂

[2021-03-06 06:13] Milerius opened #846 "[Bug]: MM2 disconnect valid client"
**Describe the bug**

short:

- MM2 disconnect connection in case of external API timeout/error
- Batch request are blocking until all of them are processed
- I would like a timeout through an environment variable for all request in order to unblock batch request < 10sec, the specific request in the batch that is blocking could be processed as an error

long:
we hit this error yesterday with @cipi

[2021-03-06 06:17] Milerius opened #847 "[P2P Reading]: Interesting reading articles where you can share your thought regarding p2p"
[Cross rollup dex](https://ethresear.ch/t/cross-rollup-dex-with-smart-contracts-only-on-the-destination-side/8778)
[vacp2p-rln-relay](https://vac.dev/rln-relay)
[xmr-btc-swap-github](https://github.com/comit-network/xmr-btc-swap)

[2021-03-07 16:37] cipig opened #849 "set min_volume to dust in orders"
Currently mm2 sets min_volume to 0.00777 as default if nothing else is passed. Can it be set to the setting of `dust` from coins file instead, in case the dust setting is higher than 0.00777 (or always use the dust setting as min_volume)?
DOGE has 100000000 sats (1 DOGE): https://github.com/Komodoplatform/coins/blob/master/coins#L546
This would prevent buys of < 1 DOGE by takers from starting and

[2021-03-08 08:26] #847 closed

[2021-03-08 08:42] artemii235 commented on #849
Thanks for creating the issue! It's easy to add, doing now.

[2021-03-08 15:51] cipig opened #851 "orders with min_volume < 0.00777 in orderbook"
`curl -s --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"orderbook\",\"base\":\"FTC\",\"rel\":\"BTC\"}"`
shows some orders with a min_volume < 0.00777 and question is how can it be? the asks have all `"min_volume": "0.00777"`
[code]

[2021-03-08 19:38] cipig commented on #849
i fear min_volume needs to be set even higher, 2 * dust, because the swap `1ee3ee1b-e034-40c9-a877-b7aba4849694` with
[code]
was successful on maker side (spent takerpayment), but failed on taker side: https://dexapi.cipig.net/public/error.php?uuid=1ee3ee1b-e034-40c9-a877-b7aba4849694
[code]
 "value": 0.00000000 is not good, should be at least 1 :-)

[2021-03-09 07:38] artemii235 commented on #849
Yeah, the miner fee is deducted from the payment output upon spending attempt. I guess the `min_volume = 2 x dust` is too low in this case - the user will receive just 1 DOGE instead of 2, which might be quite unexpected. Maybe we should set `min_volume = 100 x dust` so the dust/fee is not more than 1% of trading volume?

[2021-03-09 08:08] ComputerCraftr commented on #806
The segwit TX signature hash is generated in the same way as the bitcoin cash forkid sighash, in case you already have code to support that.
https://github.com/bitcoincashorg/bitcoincash.org/blob/master/spec/replay-protected-sighash.md

[2021-03-09 21:40] cipig opened #852 "MakerPaymentRefundFailed on KMD because of komodo_validate_interest failed"
I have a couple of swaps with MakerPaymentRefundFailed, all on KMD. The error when calling `recover_funds_of_swap` looks like this in electrum mode:
[code]
and like this in native mode
[code]
but all produce the same error in debug.log of komodod
[code]

[2021-03-09 22:06] cipig opened #853 "trade_preimage shows too high fee for ERC20"
the swap [7df52cbe-4123-4414-8fec-3e51e6916533.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/6111635/7df52cbe-4123-4414-8fec-3e51e6916533.txt) payed 0.0103168912 Ether for TakerPayment https://etherscan.io/tx/0x4a8726d0de70cb17ff7c979ab3dd432e4d42b29b133482e663d246908e7b78a8 of 55 UNI with gas price 107.8 Gwei

but when i call `curl -s --url "http://127.0.0.1:7783" --data "{\"userpass

[2021-03-10 03:44] sergeyboyko0791 commented on #853
@cipig thank you for creating the issue!
To send the ETH/ERC20 payment in the worst case you need do 3 smart contract calls: `approve`, `ethPayment/erc20Payment`, `senderRefund`. The `trade_preimage` reserves 150000 gas for `ethPayment/erc20Payment`, `senderRefund` and 50000 gas for `approve`.
If it's possible to approximate the gas more accurately, as we did for the `transfer` contract call (usin

[2021-03-10 07:26] artemii235 opened #854 "Check whether gas usage of ETH/ERC20 swaps can be optimized."
@cipig Shared this link at Keybase: https://blog.soliditylang.org/2021/03/02/saving-gas-with-simple-inliner/
It's worth updating the Solidity version used by the etomic-swap smart contract and also checking whether we can apply other optimizations.

[2021-03-10 10:07] Alrighttt opened #855 "[feature request] "CC on one side" HLTCs"
This is a long term vision and would require significant effort to create an extensible protocol. I shared this in a private chat, and I was told it belonged here as a feature request.

right now we use this script for our atomic swaps:
[code]

we could instead do something like:
[code]
or
[code]
with "cond_hash" being some condition(an NFT, tokens, etc)

It would not take too much time to create

[2021-03-10 10:11] Alrighttt commented on #855
I should note that if we build this we should not pigeon-hole ourselves into the "it's for NFTs" or "it's for tokens" mindset. If we do it correctly, we could apply arbitrary conditions to the UTXOs one party receives.

Another example of this may be an ICO where coins are sold for BTC, but the received coins are time locked for some arbitrary amount of times. The conditions applied to it could be

[2021-03-10 12:04] cipig commented on #853
Haven't thought about `approve` and a possible refund, that explains it. Btw, the above TakerPayment has
[code]
at least that's what etherscan says: https://etherscan.io/tx/0x42cb2b7ef835c977dce32fcd2bf01cd4c630714d1ad59c8b996bbcf0c987c0ab

[2021-03-11 03:33] cipig commented on #852
i could refund the stucked MakerPayments on one node by going back to beta-2.1.3082
leaving the other node untouched for tests

[2021-03-11 08:38] artemii235 commented on #852
Hmm, that's quite an old version. I guess the problem could have occurred in this PR: https://github.com/KomodoPlatform/atomicDEX-API/pull/822 that was released right after `beta-2.1.3082`. I'm checking what changed now.

[2021-03-11 09:25] Milerius opened #856 "[bug]: best orders doesn't take into account the volume input (shows value that we cannot afford)"
**Describe the bug**

With the following input:

[code]
I got the following answer, as you can see i cannot afford such an offer with 10 KMD
[code]

**Please answer following questions and attach requested info - it'll help to solve issue faster**
- Linux, OSX, Windows
- Last one

[2021-03-11 10:41] #793 closed

[2021-03-11 18:36] cipig opened #857 "TakerFeeValidateFailed with Unexpected opcode OP_PUSHBYTES_70 on BCH"
Maker failed this swap https://dexapi.cipig.net/public/error.php?uuid=88bba8e2-dd8d-40e9-9fb3-49752c5d7e5e with
[code]
Takercoin is BCH, maker is using electrum and is on commit 54eb039bf1a212a98d93b60dad32adcfc5d259a2, taker is using older version 2.1.2793, but sent TakerFee just fine:
[code]
https://blockchair.com/bitcoin-cash/transaction/ccee05a6b5bbc6f50d2a65a5a3a04690d3e2d81082ad57d3ab471189f

[2021-03-12 04:28] artemii235 commented on #857
Thanks for opening the issue, I'm checking it right now.

[2021-03-12 05:11] artemii235 commented on #857
Please update your makers with the latest commit, the problem is related to recent changes of dex fee validation code. It didn't take the possibility of 70 bytes length DER signature, and now it does.

[2021-03-12 12:37] artemii235 opened #859 "Add more fields to orderbook response to make charts rendering in mobile GUI easier."
According to @yurii-khi, we have performance problems with many items in the orderbook because each orderbook item in the GUI list is actually stateful: to display "stairs" charts, e.g.:

<img src="https://user-images.githubusercontent.com/15745003/112959764-f6064180-916d-11eb-9764-44422a27db13.png" width="250" />

GUIs have to calculate the aggregated volume at each order and divide it by total v

[2021-03-12 12:46] artemii235 opened #860 "ETH/ERC20 withdraw always return hardcoded ETH in fee_details."

[2021-03-12 14:14] cipig commented on #857
Done, thanks for the fix. I don't know how to reproduce/test it though, because it wasn't failing all the time, many BCH swaps went fine before too. Did some new swaps with BCH as takercoin and new makers and they worked fine, so i think you can close the issue.

[2021-03-12 15:36] artemii235 commented on #857
Ok, please feel free to reopen the issue if the problem reoccurs. Thanks again for the report!

[2021-03-12 15:37] #857 closed

[2021-03-12 15:39] artemii235 commented on #846
I've been able to recreate the problem locally and made a possible fix. Could you please try to use the builds from http://195.201.0.6/mm2.1-fix-api-deadlock/ and let me know if it solves the issue?

cc @tonymorony

[2021-03-13 03:01] artemii235 commented on #860
This can actually be a part of https://github.com/KomodoPlatform/atomicDEX-API/issues/801. Checklist:
- [ ] Get BNB on Binance smart chain testnet.
- [ ] Deploy a BEP20(ERC20) token.
- [ ] Add the Binance smart chain BNB (BSCBNBT - T stands for testnet) and deployed BEP20 to coins config.
- [ ] Fix the withdraw RPC for BSCBNBT and BEP20 so it displays BSCBNBT coin in fee_details.

Withdraw docs: h

[2021-03-14 12:13] ca333 commented on #801
https://bscscan.com/token/0x2003f7ba57ea956b05b85c60b4b2ceea9b111256 - BEP20 KMD Token

[2021-03-14 13:14] phm87 commented on #801
😍
https://bscscan.com/address/0x24b9b6c7b3b2c1a9c1f783228edf7d241091384a - PancakeSwap: KMD-BUSD
I hope that it will be added soon to the Main Staking Contract of PancakeSwap

[2021-03-14 17:32] cipig opened #862 "best_orders with sell uses wrong orderbook side"
`\"coin\":\"KMD\",\"volume\":100,\"action\":\"sell\"` shows this entry
[code]
which is wrong, there is no such order in the orderbook, only a bid (buy KOIN with KMD, price 0.085, max 20 KMD)

`\"coin\":\"KMD\",\"volume\":100,\"action\":\"buy\"` is correct though
[code]
there is a maker who buys DASH and has 11662 KMD balance

so `best_orders` with `sell` simply looks on the wrong side of the order

[2021-03-15 06:04] artemii235 commented on #862
Hi, thanks for the report! I'm checking this right now.

[2021-03-15 09:28] ca333 opened #864 "[feature request] wallet-only mode"
Will be nice to have wallet-only mode for coins non-supported by DEX API.

[2021-03-15 09:59] artemii235 commented on #864
Thanks for opening the issue! We have a starting point for this already: https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/coins/lp_coins.rs#L512, need to extend it to be configurable through coin file.

[2021-03-15 10:19] tonymorony commented on #846
thanks for the fix @artemii235 !
so far looks great, I was able to enable all coins on desktop (wasn't possible on my side b4)
at the moment tracking orderbook hangs and other bad things which happened in case of batch request missing reply

[2021-03-15 11:05] artemii235 commented on #862
@cipig Could you retest using the latest MM2, please?

[2021-03-15 12:06] cipig commented on #862
thanks for the fix, works good now

[2021-03-15 12:06] #862 closed

[2021-03-15 13:25] cipig commented on #852
i could successfully refund all KMD with `recover_funds_of_swap`, native mode and electrum

[2021-03-16 07:37] artemii235 commented on #856
It is the same bug actually as https://github.com/KomodoPlatform/atomicDEX-API/issues/862. @Milerius Could you recheck with the latest MM, please?

[2021-03-16 08:02] sergeyboyko0791 opened #867 "[bug] trade_preimage has to use (volume * price) when swap_method is buy"
`swap_method` has to take rel coin `price` or `rel_volume`.
As we discussed with @yurii-khi, it's better to take `price` instead of `rel_volume`.

[2021-03-16 08:41] artemii235 commented on #867
Please also consider adding the `total_fees` (or similarly named field) to the response calculating e.g. the sum of all fees required to be paid in ETH.

[2021-03-16 09:36] artemii235 commented on #851
The validation was missing for min_volume on `buy/sell`, which is now in place. Could you test please that min_volume validation works correctly for buy/sell/setprice?

[2021-03-16 11:41] artemii235 opened #868 "Consider not returning an error from trade_preimage and withdraw if balance is not sufficient."
Just display all the data about fees like the order can be created. It will require allowing the creation of invalid transactions that will fail upon send attempt.

[2021-03-16 11:43] artemii235 commented on #795
Might be related https://github.com/KomodoPlatform/atomicDEX-API/issues/868

[2021-03-16 12:05] cipig commented on #852
automatic refunds worked too, closing

[2021-03-16 12:05] #852 closed

[2021-03-16 17:55] cipig commented on #851
tested with base DOGE and min_volume is set correctly to 10 DOGE for both bid and asks with buy, sell and setprice when no min_volume is passed

check works when volume passed is too low:
[code]

when min_volume is passed check on buy/sell/setprice works too:
[code]
orderbook entries from my mm nodes have min_volume 0.00777 or higher

[2021-03-16 21:02] #851 closed

[2021-03-17 11:51] artemii235 commented on #846
@tonymorony Thanks!
The deadlock was in Electrum client balance requests implementation - if several requests are made at once we send only 1 to Electrum and all callers get the same response once received. I've removed it on the first try, but I put back a refactored version in the latest commit. Could you retest it, please?

[2021-03-17 11:52] artemii235 commented on #846
It is available on http://195.201.0.6/mm2.1-fix-api-deadlock/, but the revision is `f4c6f6ec3`.

[2021-03-18 09:36] damascene commented on #701
"AtomicDEX SLP integration" flipstarter have been fully funded!

https://slp.flipstarter.atomicdex.cash/
Archived copy: https://archive.is/pZ8yi

[2021-03-18 09:45] artemii235 commented on #701
Yeah, we have noticed it too, thanks! We will make a development plan for the full SLP integration next week and start working on this no later than April 1st (hopefully earlier). I will keep everyone posted about the progress.

[2021-03-18 11:22] tonymorony opened #870 "Suspicious prints on mm2 startup"
Might be an inefficiency (excessive activity) from the API side as discussed with Artem during debug session

[code]

[2021-03-19 07:56] artemii235 commented on #801
https://docs.binance.org/smart-chain/developer/rpc.html - BSC RPC urls.

[2021-03-19 08:28] sergeyboyko0791 opened #871 "Mm2 returns TransactionDetails with an empty `from` if the script type is WitnessKey"
The bug occurs in the [extract_destination](https://github.com/artemii235/parity-bitcoin/blob/master/script/src/script.rs#L468) function.

[2021-03-19 09:39] #867 closed

[2021-03-19 09:44] artemii235 commented on #868
Due to we will get RPC error on a gas estimation of impossible ERC20 transfer, and the error returned is not specific and hard to be determined from other types of error this doesn't seem worth implementing.

This requirement also looks a bit unsound.

[2021-03-19 09:44] #868 closed

[2021-03-21 17:01] cipig commented on #849
Tested min_volume cases and it works as expected when i operate with base DOGE, both bid and asks (buy/sell DOGE) have base/rel min_volume to 10 DOGE (10x dust).
When i place same orders by operating with base KMD and rel DOGE, the min_volume is set in regards to KMD, because that is the base coin.
orderbook base DOGE, rel KMD:
[code]
base_min_volume = 0.191919 DOGE
as long as the taker operates w

[2021-03-22 07:16] artemii235 opened #872 "Add the UTXO fee to spend other payment to trade_preimage response."
As of now, we don't display the UTXO miner fee that is required to spend other side payments. It can lead to a very unsurprising outcome in case the fee is a significant portion of the volume. E.g. in the case of a 2.5 DOGE trade, the taker will receive only 1.5 DOGE due to 1 DOGE miner fee. We should add this fee to the response and display it in GUIs for 100% transparency.

[2021-03-22 11:17] artemii235 commented on #801
@Milerius You can now test it using the latest build from http://195.201.0.6/mm2.1-bsc/

Coins config for BNB and ADEX (test BEP20) testnet and mainnet:
[code]

Enabling on testnet:
[code]

Enabling on mainnet:
[code]

[2021-03-22 11:26] artemii235 commented on #801
@Milerius Please note that builds from http://195.201.0.6/mm2.1-bsc/ are not production ready and we also need this PR to be merged for proper fee ticker display: https://github.com/KomodoPlatform/atomicDEX-API/pull/861

[2021-03-22 12:45] cipig commented on #843
Unfortunately this happened again, but this time with FIRO as makercoin:
[code]
this are the makerpayments:
https://explorer.firo.org/tx/37036036b179c9e6c4a7d97f89294667dc24257ed13805f70cc0f779dbe9dd19
https://explorer.firo.org/tx/42034efc62ba6c8c6744c7f8c6b418bc0c03ebb9797180b1f2eb7f3bfdd43643

[2021-03-22 13:07] cipig opened #873 "remove the fixed 0.00777 min_volume"
Would be good if the 0.00777 fixed min_volume would be removed from code because it leads to situations like this from VRSC/BCH orderbook:

[code]

0.00777 BCH rel_min_volume results in base_min_volume of 5.79 VRSC (1 VRSC is almost 1$) and there is actually no reason for it on this pair, because the txfees are low on BCH and VRSC.
The other reason for min_volume was the dust on some chains, but t

[2021-03-22 13:46] artemii235 commented on #873
Thanks for opening the issue! We will still need some reasonable min_volume because it can't be zero. Should we use 10 x dust for all UTXOs?

The other question is ETH: there is no dust at all for ETH, but we might possibly rely on the current gas price during calculations. However, it would be not clear how to handle the min_volume of ERC20 as we don't always have info about their price in relati

[2021-03-22 14:01] artemii235 commented on #860
Hardcode is fixed, BNB/BEP20 integration is tracked in another issue, closing.

[2021-03-22 14:01] #860 closed

[2021-03-22 20:02] cipig commented on #732
a new example using latest mm2:
[code]
i was maker and this is my DASH address: https://chainz.cryptoid.info/dash/address.dws?XtZ1a6kWyiwjc4pwjS6cwoDSr6vm6hWmiy.htm

console on maker showed this:
[code]

[2021-03-23 07:00] yurii-khi opened #874 "Return KMD rewards amount for all KMD txs"
For now tx fee for KMD transactions includes KMD rewards, and as a result some transactions (e.g. rewards claiming) have negative tx fee (https://github.com/KomodoPlatform/AtomicDEX-mobile/issues/428).
It would be nice to have a separate field for KMD rewards, and actual tx fee in `fee_details` field.

[2021-03-23 08:47] Milerius commented on #856
Confirm that best orders now work as expected

[2021-03-23 08:47] #856 closed

[2021-03-23 08:52] dathbezumniy opened #875 "MakerPaymentSpent event for maker-swaps? if possible :)"
I was assigned a task to provide _EVERY_ swap TxID on swap detail screen in our mobile GUI, apparently for full transparency. And eventually found that Maker Swap does not have this field, I can of course skip this status for maker-swap details, but maybe there's a chance its a piece of cake kind of work for you guys :)
Anyway I already did the version without this field for maker payment, but lea

[2021-03-23 11:57] artemii235 commented on #843
@cipig Could you please retest FIRO using the https://github.com/KomodoPlatform/atomicDEX-API/tree/mm2.1-fix-firo-refund branch?

[2021-03-23 20:30] cipig commented on #843
the 2 swaps were refunded right after restart
a newly created refund situation was refunded 1 hour after the specified time
[code]
1616527306 is 19:21:46

this is the relevant part from swap json:
[code]

[2021-03-24 07:16] artemii235 commented on #843
Thanks for testing!

The specified time can be considered as approximate because we should wait for more for MTP to advance, and this time can not be calculated with 100% precision. I'm closing this issue, please feel free to reopen if you discover more of such coins.

[2021-03-24 08:18] artemii235 commented on #732
The problem with DASH can be it uses a dynamic fee - if it increases between order creation and swap start it can lead to this error. I'm unsure if we can eliminate this error completely but will check what we can do to at least reduce the possibility.

[2021-03-24 09:37] artemii235 commented on #874
I think it's possible, scheduling for next week.

[2021-03-24 09:45] artemii235 commented on #875
Thanks for creating the issue!

In some cases waiting for maker payment spend to happen can take quite a lot of time (if, for example, the taker went offline and not spending). If we add this event to swap status the maker swap will be treated as not finished during this waiting - it can cause some confusion.

Maybe we can just relax the initial *EVERY swap TxID* requirement a bit? :slightly_smili

[2021-03-24 09:46] artemii235 commented on #873
@tonymorony Could you please advise on this? Maybe you will have a better idea :slightly_smiling_face:

[2021-03-24 10:13] tonymorony commented on #875
by every swap txid meant every txid from maker events for maker and every txid from taker events for taker (https://github.com/KomodoPlatform/AtomicDEX-mobile/issues/1073#issuecomment-804692665)

[2021-03-24 10:27] artemii235 commented on #875
Just to confirm: so this does not imply that we should add a new MakerPaymentSpent event and we can close this issue? :slightly_smiling_face:

[2021-03-24 10:33] tonymorony commented on #875
I think that there is no practical reason for such event adding, I wonder we can close this one if you think the same :)

[2021-03-24 10:41] cipig commented on #873
The UTXO coins have the lowest txfees (except BTC), so we could set min_volume to 10 x dust for all UTXO coins and keep the fixed 0.00777 for all other coins/tokens.
A simpler solution (also from GUI perspective, since i believe they use the fixed setting) would be to lower the fixed 0.00777 to a fixed 0.001 or so... at the current price this means a min_volume of 50$ for BTC pairs and 0.50$ for B

[2021-03-24 10:48] artemii235 commented on #875
Ok, since the initial intention was to display all *existing* events I'm closing this, thanks for the clarification!

[2021-03-24 10:48] #875 closed

[2021-03-24 10:53] cipig commented on #685
i haven't seen this error again, so i guess this issue can be closed

[2021-03-25 07:49] Milerius commented on #801
Implemented in #876

[2021-03-25 07:49] #801 closed

[2021-03-26 00:29] #685 closed

[2021-03-26 04:44] cipig opened #878 "BEP20 replacement transaction underpriced"
had a failed KMD/ADA-BEP20 swap on maker side
[code]
maker was ADA-BEP20, contract address `0x3EE2200Efb3400fAbB9AacF31297cBdD1d435D47`

[2021-03-26 04:47] artemii235 commented on #878
Thanks for the report! Did you have another BNB/BEP20 swaps running concurrently with this one?

[2021-03-26 04:52] cipig commented on #878
a QTUM/DOGE swap was running at the same time, no other BEP20

[2021-03-26 04:57] cipig commented on #878
console:
[code]
a4cd01c4-c270-4992-b71c-52820fec9f26 is the QTUM/DOGE swap, 0e05e08f-4c93-4388-9a8a-3fdfafdfb5c0 the failed BEP20... it failed very quick

[2021-03-26 04:59] artemii235 commented on #878
It is very strange then - this error happens when there are 2 or more transactions with the same nonce broadcast attempt. Did you withdraw BNB or BEP20 during this swap?
`QTUM/DOGE` has no relation to this. Could you please also DM me the logs covering 1-2 minutes before the swap?

[2021-03-26 05:10] artemii235 commented on #878
There was ADA "approve" call to allow etomic-swap smart contract transfer tokens from your address. The payment tx tried to use the same nonce then. I will investigate how to prevent this.

[2021-03-26 06:51] Milerius opened #879 "[Feature Request]: When placing an order, add an option to tag it"
**Is your feature request related to a problem? Please describe.**

When I place an order, I would like to be able to tag it with an `auto_update` tag, this tag that I could retrieve via the response of my_orders will allow me to know if it is an order that I want to update automatically according to the market price and a slippage defined by the user.

What is interesting if we have this possibil

[2021-03-26 06:59] Milerius commented on #879
nvm i can do everything from user settings in GUI.

[2021-03-26 06:59] #879 closed

[2021-03-26 07:44] cipig commented on #873
We now have BTC-BEP20 too, which has a low txfee compared to BTC. Would be nice if we could swap < 0.00777 BTC-BEP20. Lowering the fixed 0.00777 to a fixed 0.000777 or even lower would be the easiest solution i guess and it would cover BTC-BEP20 too, which is not a UTXO coin with dust.

[2021-03-26 07:54] tonymorony opened #880 "QRC20 swap failed on maker payment spending"
`the transaction was rejected by network rules.\\n\\ndust`

manual refund attempt failing as well (with the same error)

mobile mm2lib version `8dc9a3b37`

[dex (11).log.gz](https://github.com/KomodoPlatform/atomicDEX-API/files/6210154/dex.11.log.gz)

![image](https://user-images.githubusercontent.com/24797699/112600025-3b133680-8e43-11eb-8034-2f00f83826c6.png)

![image](https://user-images.github

[2021-03-26 08:09] tonymorony commented on #873
the only idea I have is to make a separate `min_volume` field in the `coins` file and maintain it manually depends on common sense and market conditions but it potentially can create a bit of mess (e.g. mobile GUI reparse this file so can miss the update and etc.)

[2021-03-26 08:20] cipig commented on #880
tx has a vout with `"value": 0.00064481`, which is below the 72800 dust setting for QTUM: https://github.com/KomodoPlatform/coins/blob/master/coins#L1797
@tonymorony do you have this setting in your coins file too?
@artemii235 do we need the same dust setting for all QRC20 tokens in coins file? if so, maybe you could take the settings from parent chain https://github.com/KomodoPlatform/atomicDEX-A

[2021-03-26 08:29] tonymorony commented on #880
yup, I have this setting for `QTUM` in my coins file

[2021-03-26 08:30] sergeyboyko0791 commented on #880
Unfortunately, as of now, QRC20 tokens don't inherit the settings from QTUM parent chain... At some point, it would be nice to implement it.

[2021-03-26 08:41] cipig commented on #880
they do... i don't 100% understand it either, but sounds like mm2 uses the settings from the token
you can try by adding the dust setting from QTUM to QC too and retry a refund, i guess it will work then
i will add it to the coins file for all QRC20 tokens

[2021-03-26 08:51] tonymorony commented on #880
successfully unlocked after adding `"dust": 72800` param locally for cash [ CC @sergeyboyko0791 ]

![image](https://user-images.githubusercontent.com/24797699/112606390-ea9fd700-8e4a-11eb-9300-2604679e81e5.png)

`i don't 100% understand it either, but sounds like mm2 uses the settings from the token`

yep, Sergey just explained verbally that there are internal specifics of QRC20 treating atm (almo

[2021-03-26 08:56] cipig commented on #880
added to all other tokens too: https://github.com/KomodoPlatform/coins/commit/e8d5b71e7de7ba743ae09dc293907d38bd56c77a

[2021-03-27 00:45] smk762 opened #882 "Ravencoin addresses starting with lowercase 'r' returns validation error"
A user in Discord (Grinny) reported that they were unable to send to the address `r8yYuNtqGkrFtpe1PGiFNt7iKrKGJoMDX4` in AtomicDEX.

Error message returned as `[{"error":"rpc:241] lp_coins:1007] utxo_common:1336] Address r8yYuNtqGkrFtpe1PGiFNt7iKrKGJoMDX4 has invalid format"}]`

I tried the same with a sample of addresses in the https://www.ravencoin.network/rich-list which also started with a low

[2021-03-28 07:26] Milerius commented on #846
https://user-images.githubusercontent.com/21139416/112745267-5c8d3300-8fa7-11eb-9717-4a08661a07ab.mov

[code]

With the recent trading bot that i've made i'm able to trigger the deadlock almost all the time on mm2 side.

<img width="1792" alt="Capture d’écran 2021-03-27 à 13 01 02" src="https://user-images.githubusercontent.com/21139416/112745291-7b8bc500-8fa7-11eb-8308-e84ec7e942ea.png">

![ima

[2021-03-29 07:21] tonymorony commented on #853
It definitely would be great to improve gas calculation estimations. Raw calculations with Artem shown that it's probably possible to reduce it ~3 times

[2021-03-29 09:26] tonymorony commented on #846
![Screenshot 2021-03-29 at 16 23 37](https://user-images.githubusercontent.com/24797699/112816074-3355cb00-90ab-11eb-9937-2a1bbab67306.png)

I've caught same errors on osx when left a laptop with a closed lid for an hour or so. After few minutes GUI started to operate normally

[2021-03-30 01:35] cipig commented on #853
the BEP20 tx also spend less Gas than the limit... from a taker that spent BTC-BEP20 MakerPayment:
[code]
https://bscscan.com/tx/0x729275e04c8e81b67ec2ab883632f769d10d8ffc89f0a2ffd2170c65ac020c1b

[2021-03-30 11:35] cipig opened #884 "remove fixed 0.0001 min treshold for TakerFee"
Non-UTXO coins still have a fixed threshold of 0.0001 for TakerFee. That is more than 5$ in BTC: https://bscscan.com/tx/0x2e07a377df3139f60c639e260b34c2dbc21b0e57436f00430991d28bc8184eea
For UTXO coins this was removed/set to dust: https://github.com/KomodoPlatform/atomicDEX-API/issues/545#issuecomment-778101934, but BEP20 still has it (and i assume ERC20 too). Would be good if that can be removed

[2021-03-31 07:31] artemii235 opened #885 "Increase QTUM/QRC20 mature_confirmations to 2000 in coins repo before hard fork."
QTUM hard fork scheduled on block 845000 (~30 April) decreases block time but increases coinbase maturity to 2000 (https://github.com/qtumproject/qtum/blob/dbc108d66be413e42476470c738b26e7153604ee/src/chainparams.cpp#L186 - nBlocktimeDownscaleFactor is 4). The hard fork is already activated on the test net.

[2021-03-31 07:44] artemii235 commented on #885
Need to also set `"avg_blocktime": 0.53` (32 seconds).

[2021-03-31 18:08] cipig opened #886 "changes in banning behaviour"
Currently, mm2 bans other pubkeys on failed swaps, also on `NegotiateFailed` and `StartFailed`. This was added to also cover the case when there are outdated makers with the best price failing all the swaps. The problem is, that errors like "time diff > 60" are also failing in this stage and maker bans the taker. If there are long running makers, taker will never have the chance to try again (even

[2021-04-01 09:04] artemii235 commented on #882
Hi @smk762! MM2 allows withdrawal to SegWit addresses if `"segwit": true,` flag is set in the config, e.g: https://github.com/KomodoPlatform/coins/blob/master/coins#L1574. Could you please submit a PR to coins repo with RVN config update?

[2021-04-01 18:45] cipig commented on #886
one example where the banning does not achieve what is desired: https://dexapi.cipig.net/public/error.php?uuid=6b610d8b-8355-4f66-951d-618aed1d9d2c
i was the taker in this swap trying to sell VRSC for KMD... the maker had an error, the swap failed, he banned me... but his order is still visible for me in orderbook, it just doesn't match any more... any normal users would not know why, there is no

[2021-04-01 23:13] ptyx11 commented on #808
uniswap often does this. routes through multiple pairs to find the liquidity

[2021-04-01 23:15] ptyx11 commented on #808
definitely, alice initiates the swap.

[2021-04-01 23:18] ptyx11 commented on #808
This would be similar to the Uniswap router contract, only that it's for utxo coins.
KMD Router
- User has Dogecoin Balance
- User wants to swap Doge -> LTC
- There is no liquidity for Doge/LTC but there’s liquidity for Doge/KMD and KMD/LTC
- User initiates swap for Doge -> LTC
- Router Swaps Doge -> KMD
- Router Swaps KMD -> LTC
- User receives LTC

[2021-04-02 02:30] Alrighttt commented on #808
From an end-user perspective it could feel no different than AMMs. However, you might think of it as 3 people standing in a circle all agreeing to simultaneously hand the object they are holding to the person to their left.

[2021-04-02 05:06] artemii235 commented on #701
Here is the development plan for April:
- [ ] Set up a dockerized BCH regtest daemon and integrate it into our tests.
- [ ] Add tests enabling SLP and displaying balance.
- [ ] Add tests withdrawing SLP to another address.
- [ ] Refactor current implementation that treats every token as a separate coin. Make SLP tokens a subset of BCH.

[2021-04-02 05:14] artemii235 opened #888 "Using max_taker_vol with sell resulted into StartFailed swap on balance check."
I tried to trade using this combination and the swap failed. Need to check and fix it.

[2021-04-02 09:59] artemii235 commented on #886
Hi @cipig, thanks for opening the issue!
Yeah, I agree, the banning seems to be too strict for now and it's worth relaxing its conditions a bit.

In regards to this swap - `StartFailed` is not a bannable event, so the maker shouldn't have banned you. But your node was supposed to ban him due to `NegotiateFailed`. Are you sure that the maker banned you in this case?

[2021-04-02 10:08] artemii235 commented on #884
Thanks for creating the issue! There is a backward compatibility problem in this change - outdated makers will still use the `0.0001` threshold and reject the takers paying less (also banning them). We will discuss it next week.

[2021-04-02 11:04] cipig commented on #886
No, not sure he banned me, i deducted it from the fact that my taker order didn't match his any more after the failed swap.

[2021-04-02 11:18] artemii235 commented on #888
Could not reproduce, will check again.

[2021-04-02 11:25] artemii235 commented on #886
There is also a bug that exists for a long time (since we switched the networking stack to libp2p) - if pubkey is banned its orders will be still displayed in the orderbook, but won't match. Will fix along with changing the banning behavior.

[2021-04-02 14:12] cipig commented on #884
maybe it's time for a "hard fork" :-)
but also sounds like another case for https://github.com/KomodoPlatform/atomicDEX-API/issues/329

[2021-04-04 22:18] samurai321 commented on #888
possibly after adding the fees the amount required is larger than the amount available.
a rounding or lack of it error.

[2021-04-04 22:44] samurai321 commented on #873
it's fine as is. obviusly i wish i can trade any amount but we are talking onchain trading.
i sure don't want people spamming 50$ btc trades that are going to cost a 20% or more in fees.
dogecoin is for that.

[2021-04-05 09:50] artemii235 opened #891 "max_taker_vol calculation imrovements for dynamic fee coins."
Check when max_taker_vol returned volume can lead to >0 balance left after the trade and try to reduce the chance of such a case.

[2021-04-05 09:59] artemii235 opened #892 "Consider returning 0x prefixed hashes from tx history and swap status RPCs."

[2021-04-05 10:13] artemii235 commented on #550
We're going to start improving the error structure with `trade_preimage` RPC. @sergeyboyko0791 is on it right now.

[2021-04-05 10:21] tonymorony opened #893 "Swap history restore from seednodes"
probably it might be implemented elegant way by special adex-api RPC call e.g. "sync_swap_history" which syncing swap statuses with seednode(s) for pubkey (user might prove possession of privkey by some msg signing)

so flow in GUIs like a:

- fresh installation
- "do you want to sync swaps history for your pub key with the DEX network?"
- then "sync_swap_history" and swap_statuses for his pub key

[2021-04-06 09:06] artemii235 commented on #888
@samurai321 Thanks for your comment. The problem was different a bit - balance check at swap start didn't use the 10% dex fee discount when maker coin is KMD. I have fixed it.

Incredibly long numbers are fine as we use rational numbers, and some of these can't be represented as finite decimal (e.g. 1/3).

[2021-04-07 00:57] cipig commented on #873
BTC-BEP20 does not have such a high fee and is affected too... all coins with low fee and high USD price

[2021-04-07 07:12] artemii235 commented on #846
Fixed by the linked PR. Thanks, @Milerius for the report and everyone for the help with troubleshooting and testing :slightly_smiling_face:

[2021-04-07 07:12] #846 closed

[2021-04-07 10:11] artemii235 opened #895 "Filter out orders with too low volume from rebroadcast."
According to https://discord.com/channels/412898016371015680/705374203972419616/829270465171685446, there are many "dust" orders that can't be ever matched (likely from outdated nodes). We should filter them out from rebroadcasting.

[2021-04-07 12:54] artemii235 commented on #888
Fixed

[2021-04-07 12:54] #888 closed

[2021-04-09 04:48] Milerius opened #897 "[FEATURE REQUEST]: Consider L2 layer for BTC and ERC20"

[2021-04-09 05:19] Milerius commented on #825
Implemented in #832

[2021-04-09 05:19] #825 closed

[2021-04-09 05:19] Milerius commented on #767
Solved in #776

[2021-04-09 05:19] #767 closed

[2021-04-09 05:19] Milerius commented on #747
Not sure but i believe this can be closed or not yet @artemii235 ?

[2021-04-09 06:56] artemii235 commented on #886
@cipig Could you test the linked PR, please?

[2021-04-09 07:00] #897 closed

[2021-04-09 08:25] #880 closed

[2021-04-09 08:28] #616 closed

[2021-04-09 08:29] #700 closed

[2021-04-09 09:40] #886 closed

[2021-04-09 14:57] artemii235 commented on #873
@cipig Could you please test changes from the linked PR? 🙂

[2021-04-09 15:51] cipig commented on #873
works fine, i can now swap BUSD-BEP20 to BTC-BEP20 with min_volume 0.05$

[2021-04-09 15:56] cipig commented on #849
last case covered in above PR, all orders in DOGE/KMD have `"base_min_volume": "10"` DOGE, bids and asks, and `"rel_min_volume": "0.14xxx` KMD, which is the same as 10 DOGE

[2021-04-09 15:56] #849 closed

[2021-04-10 10:52] phm87 commented on #897
A while ago, I discussed with jl777 about how to add submarine swaps into AtomicDEX. jl777 was against it bue due to his open mindset, he continued the tech discussion.

A submarine swap is an atomic swap between Lightning Network and onchain. The p2sh/HTLC is onchain and script is identical to what is implemented into AtomicDEX. When the LN invoice is paid, a secret is revealed allowing the payer

[2021-04-10 11:22] phm87 opened #899 "[Feature Request] UTXO Coin - withdraw - Request for sendmany equivalent"
Now, **withdraw** allows to send coins to a single address, I'd like to be able to make one single transaction to withdraw to several address (equivalent of sendmany). The aim is to lower transaction fees in case of withdraw to several addresses.

**Why this feature request ?**
- I'm developing a Discord Faucet Bot using AtomicDEX-API as lightwallet in the back-end, a test/demo should begin soon.

[2021-04-12 06:42] tonymorony opened #900 "ERC721/ERC1155 adding on ETH/BSC"
NFT tokens adding should increase protocol usage possibilities. Let's research/brainstorm on these assets wallet/trading features integration @artemii235

[2021-04-12 06:50] artemii235 commented on #900
Thanks for creating the issue!

I had a bit of an overview of various NFT marketplaces on ETH and BSC recently and they are completely different from exchanges :slightly_smiling_face: Our current UI with order books won't match it for sure, so I propose to consider starting with some UI mock ups first taking existing products into account. This will also help us realize what endpoints we need from

[2021-04-12 07:34] tonymorony opened #901 "Static tx fee might be not enough for large tx fast mining"
Example of such EMC2 swap:
https://paste.ubuntu.com/p/62r4dSfxcv/
https://chainz.cryptoid.info/emc2/tx.dws?dde185f60b11ebfb32f22c6ee4c78902044f75e0536bceb92fa0dc412de8f82e.htm

taker payment with multiple inputs was in a mempool for 8+ hours what caused the swap to fail

We've also discovered similar behavior during stress test preparation that looks like the same/similar problem

[2021-04-12 09:51] artemii235 opened #902 "Ensure that trade_preimage will not succeed on input that will fail on buy/sell/setprice."

[2021-04-12 17:22] cipig opened #903 "orders from long running nodes disappear from orderbook"
I sometimes have the effect that orders from a maker are disappearing from orderbook. They are still visible in the orderbook of that maker node, but not on any other node.
The orders come back after a while, but it's several minutes... and they disappear again later... and come back... and so on.
EDIT: my script calls `setprice` for all pairs every 3-5 minutes, so order reappearing might be cause

[2021-04-13 07:59] artemii235 commented on #873
Done

[2021-04-13 07:59] #873 closed

[2021-04-14 02:41] Milerius opened #904 "[Feature Request]: Accept min_volume in base coin for `Buy`"
Hey, it's would be nice to accept min_volume in base coin for Buy, it's would simplify the UI/UX implementation since we are using a double unique slider from `base_min_taker_vol` to `base_max_taker_vol`.

[2021-04-15 09:37] artemii235 opened #905 "Make SIGHASH_FORKID configurable through the coins file."
It's hardcoded for BCH as of now: https://github.com/KomodoPlatform/atomicDEX-API/blob/8ca4d743a5799b949a6a036705b1b528caded160/mm2src/coins/utxo.rs#L919, but there are more coins using the SIGHASH_FORKID.

[2021-04-15 10:31] gcharang opened #906 "mm2 returns an error when trying to parse a transaction that has script type as `cryptocondition`"
Example address with the issue: https://vrsc.explorer.dexstats.info/address/RPKdgTvkn8uvmweyBNMa8e97ioA4xDxz8L

Example error I found in mm2 log:  https://gist.githubusercontent.com/gcharang/6b90f1301d07ec8da9b1a83950f3b6e9/raw/39aabfe1383e41eb7df894c119d44c2e503f4b6c/verus-miner-mm2.log

there were many other similar lines of errors in the mm2 log of the user who owns the address. These errors ha

[2021-04-16 14:08] tonymorony opened #909 "Unite swaps DB data for <ticker>-<protocol_name> into <ticker> with <protocol_name> as a separate field"
it'll make data providing for cex-aggregators much easier since the pairs on atomicdex are unique atm

[2021-04-16 14:52] artemii235 commented on #843
Verus had similar problem, fixed in https://github.com/KomodoPlatform/atomicDEX-API/commit/335c96024620fe47bdcbc65021df821af6e6f54c

[2021-04-16 15:03] Milerius opened #910 "[Bug]: Possible deadlock with requesting orderbook request when P2P node got disconnected"
**Describe the bug**

As discussed with artem we maybe have a possible deadlock, see the logs:

[2021-04-16-14-13-55.log](https://github.com/KomodoPlatform/atomicDEX-API/files/6326063/2021-04-16-14-13-55.log)
[2021-04-16-14-14-06.mm2.log](https://github.com/KomodoPlatform/atomicDEX-API/files/6326064/2021-04-16-14-14-06.mm2.log)

**Screenshots**

![image](https://user-images.githubusercontent.com/2

[2021-04-19 05:53] artemii235 commented on #892
Turns out to be too complicated, better to handle it on the GUIs side.

[2021-04-19 05:53] #892 closed

[2021-04-19 06:31] artemii235 commented on #910
Thanks for the report, checking now.

[2021-04-19 10:51] artemii235 commented on #859
Done, docs are updated: https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api.html#response-49
cc @yurii-khi

[2021-04-19 10:51] #859 closed

[2021-04-19 10:52] artemii235 commented on #872
Done, docs are updated.

[2021-04-19 10:52] #872 closed

[2021-04-19 10:53] artemii235 commented on #838
Done, docs are updated.

[2021-04-19 10:53] #838 closed

[2021-04-19 10:54] artemii235 commented on #882
I guess it should be solved now, please feel free to reopen if it's not.

[2021-04-19 10:54] #882 closed

[2021-04-19 11:19] artemii235 commented on #805
Done, docs updated.

[2021-04-19 11:19] #805 closed

[2021-04-19 11:23] artemii235 commented on #833
Done, docs PR: https://github.com/KomodoPlatform/developer-docs/pull/250

[2021-04-19 11:23] #833 closed

[2021-04-19 11:57] artemii235 commented on #769
Most likely duplicate of https://github.com/KomodoPlatform/atomicDEX-API/issues/846 and or https://github.com/KomodoPlatform/atomicDEX-API/issues/910.

[2021-04-19 11:57] #769 closed

[2021-04-19 12:03] artemii235 commented on #754
@sergeyboyko0791 Thanks for implementing this :slightly_smiling_face:

[2021-04-19 12:03] #754 closed

[2021-04-19 12:20] artemii235 commented on #864
Checklist
- [ ] Ensure that orderbook RPC returns an error if the base and/or rel are wallet only.
- [ ] best_orders should not accept the wallet-only coin as param.
- [ ] best_orders should filter out wallet-only coins orders from the response.
- [ ] Recheck that buy/sell/setprice returns an error if the base and/or rel are wallet only.
- [ ] trade_preimage should return an error if the base and/

[2021-04-19 13:26] smk762 commented on #882
confirmed working on latest AtomicDEX desktop dev build

[2021-04-19 15:37] shamardy commented on #864
@artemii235 I don't think we can use https://github.com/KomodoPlatform/atomicDEX-API/blob/335c96024620fe47bdcbc65021df821af6e6f54c/mm2src/coins/lp_coins.rs#L516 for orders since the orders methods referenced in the checklist don't use the coin implementations directly. I will be getting the `wallet_only` key straight from config for the above checklist. I will also implement the  `wallet_only` met

[2021-04-19 17:17] dathbezumniy commented on #741
@artemii235 maybe we can just start with latency measurements? maybe I even should continue learning rust to accomplish it and eventually submit a PR... would that be a good first issue? I envision that it should not touch existing codebase too much for me to get confused at some point... but please correct me if I'm wrong @artemii235 , I might not see this clearly :)

[2021-04-20 03:38] artemii235 commented on #864
True, I missed that we don't require coins to be activated in some RPCs 🙂 Yes, please use the key from config directly wherever `fn wallet_only(&self) -> bool;` is not available.

[2021-04-20 03:50] artemii235 commented on #910
Should be fixed now, please try testing with the latest MM2 release - it should be published in a few minutes.

[2021-04-20 05:25] TheComputerGenie commented on #910
Seems to have fixed it and a related crash that I didn't post yet because I was fairly certain it was tied to it :+1:

[2021-04-20 05:53] yurii-khi commented on #859
Thanks for this feature, it should help to improve performance indeed.

[2021-04-20 06:23] TheComputerGenie commented on #910
That change does lessen the frequency of it happening, but doesn't seem to totally fix it
[2021-04-20-05-40-45.log](https://github.com/KomodoPlatform/atomicDEX-API/files/6341081/2021-04-20-05-40-45.log)
[2021-04-20-05-40-58.mm2.log](https://github.com/KomodoPlatform/atomicDEX-API/files/6341082/2021-04-20-05-40-58.mm2.log)

[2021-04-20 07:43] ciumete commented on #833
the my_order_uuid is implemented into my_recent_swaps too? for tracking orders based on history of swaps!

[2021-04-20 11:17] cipig opened #913 "mm2 does not always reconnect electrums"
Sometimes mm2 looses connection to all electrums and does not reconnect (electrums need to be restarted regularly and this happens on tuesday with cron).
I then get errors like this:
`20 10:21:33, rpc:300] ERROR RPC error response: rpc:253] lp_ordermatch:3202] utxo_common:1999] utxo_common:175] JsonRpcError { client_info: "coin: DOGE", request: JsonRpcRequest { jsonrpc: "2.0", id: "768629", method

[2021-04-20 11:56] artemii235 commented on #913
@cipig Thanks for opening the issue! Do you still have MM2 logs related to this problem? It's interesting to see what happens before and after the
`
20 10:21:33, rpc:300] ERROR RPC error response: rpc:253] lp_ordermatch:3202] utxo_common:1999] utxo_common:175] JsonRpcError { client_info: "coin: DOGE", request: JsonRpcRequest { jsonrpc: "2.0", id: "768629", method: "blockchain.relayfee", params: []

[2021-04-20 12:21] cipig commented on #913
yes, i still have the logs... this is how it started
[code]
after this point in time there are no more `Connection refused` errors, only the `All electrums are currently disconnected`
the DOGE electrums are restarted like this
electrum1 tuesday 04:00 UTC
electrum2 tuesday 12:00 UTC
electrum3 tuesday 20:00 UTC
the restart takes couple minutes with DOGE...

[2021-04-20 13:32] cipig opened #914 "add hostname or IP to error message from RPC nodes"
i started to get "403 Forbidden" errors from some BEP20 RPC nodes, but i can't see from which one, the error message on mm2 does not contain the hostname or IP:
[code]
can it be added to the error message, so i can replace the "faulty" server?

i use `\"urls\":[\"https://bsc-dataseed.binance.org\",\"https://bsc-dataseed1.defibit.io\",\"https://bsc-dataseed1.ninicoin.io\"]`

[2021-04-20 13:53] artemii235 commented on #910
@TheComputerGenie Should be something different now. GUI log previously had `Failed to read HTTP status line from: batch_balance_and_tx` and `Failed to read HTTP status line from: process_orderbook`, now it has only `batch_balance_and_tx` messages.

I see that MM2 is getting frequently disconnected from `SPACE` electrums. Could you please try to disable `SPACE` and check if there is any difference

[2021-04-20 14:44] cipig commented on #914
collected more possible errors from BEP20 RPC nodes:
[code]

[code]

[2021-04-20 14:58] lightspeed393 commented on #910
@TheComputerGenie if there's a *SPACE* electrum server issue please lmk. They appear okay on my end though.

[2021-04-20 15:14] cipig commented on #914
found this: https://community.binance.org/topic/4556/change-the-public-node-if-you-meet-issues-of-accessing-bsc
some nodes are overloaded as of Binance 15 minutes ago

[2021-04-20 16:26] cipig opened #916 "setprice with max:true does not work if UTXO coin has < 8 decimals"
LCC has `"decimals": 6` in coins file and swaps work fine, but `setprice` with `max:true` shows this error:

[code]

[2021-04-20 16:53] cipig commented on #916
`send_raw_transaction` fails too with `HTTP status code 500 Internal Server Error, response body: {\\\"result\\\":null,\\\"error\\\":{\\\"code\\\":-26,\\\"message\\\":\\\"256: absurdly-high-fee\\\"},\\\"id\\\":\\\"639\\\"}\\n\") }"}`

[2021-04-20 18:14] TheComputerGenie commented on #910
the `batch_balance_and_tx` messages seem to come from having "normal" DSL and not being situated in an urban area with super speed

I've gotten several
`· 2021-04-20 12:30:22 -0500 [tx_history THC] utxo_common:1513] Error "utxo_common:1231] JsonRpcError { client_info: \"coin: THC\", request: JsonRpcRequest { jsonrpc: \"2.0\", id: \"2455\", method: \"blockchain.scripthash.get_balance\", params: [St

[2021-04-20 19:03] cipig commented on #916
sorry, my fault, used the wrong decimals, 6 instead of 7

[2021-04-20 19:03] #916 closed

[2021-04-21 03:44] artemii235 commented on #910
I see, it now looks like a network congestion problem that might be caused by excessive data usage. Will check how we can optimize MM2 for this case.
Changing the priority of the issue since the deadlock seems to be fixed and the current problem is a bit different.

[2021-04-21 04:34] #905 closed

[2021-04-21 06:56] artemii235 commented on #451
Bumping the issue, having order history is quite important. Worth implementing sooner than later.

[2021-04-23 08:20] SirSevenG opened #919 "[BUG] Incorrect behaviour of coins with mm2:0 parameter"
**Describe the bug**
It is possible to enable coins with `"mm2":0` parameter in coins file.

**Please answer following questions and attach requested info - it'll help to solve issue faster**

- Ubuntu bionic 18.04
- Tested on commit `2985c7cb6`
- See below for coins file entry to test

(Pretty much any coin with `"mm2":0`)

[code]

- Provide your enable script with response.

[code]
response:
[co

[2021-04-23 11:26] #864 closed

[2021-04-23 11:30] artemii235 commented on #864
@ca333 @tonymorony Omar has just implemented it, we can now proceed to use it in GUIs.

[2021-04-23 19:50] cipig opened #920 "Could not get sat from amount during swap"
i saw this error on console during a swap with DOGE on maker side
[code]
the swap went fine, but i thought i mention it anyway
the `-19016.56379199`are DOGE and it looks like the error shows up right after `Waiting for tx` switches from `0` to `1` confirmations

[2021-04-25 07:12] cipig opened #921 "non-final on MakerPaymentRefundFailed with BTC"
automatic refund failed:
[code]

~1h later i refunded manually with `recover_funds_of_swap` and it worked fine: https://blockchair.com/bitcoin/transaction/6c3d20ecd9264b7e264611e8e90844d5167500728adb1076901222751d94f14c

-----

second example from another node:
[code]

manual refund 1h later worked here too: https://blockchair.com/bitcoin/transaction/cc7cbd760de22b2d7d4f8eb28fbc3d51ee1401d2ce834b1

[2021-04-25 13:21] cipig opened #922 "setprice should not set prices < 0.00000001"
`setprice` lets me set such an order
[code]
with `price` < 0.00000001, but taker gives error when he tries to fill the order
`[{"error":"rpc:253] lp_ordermatch:2729] lp_ordermatch:2807] Price is too low, minimum is 0.00000001"}]`

[2021-04-27 10:42] tonymorony commented on #909
thanks!

[2021-04-27 10:42] #909 closed

[2021-04-27 22:48] cipig commented on #913
new insights... mm2 does reconnect to the electrums, but some of them, like DOGE and DGB (related to size of chain) take longer to be fully responsive after a restart, so this happens:

[code]

so after electrumx server was stopped and later restarted, mm2 reconnected but `future timed out` 60s later because the server was not yet fully ready... and when it does this for all 3 electrums (they are

[2021-04-28 08:59] shamardy commented on #913
this is related to this https://github.com/KomodoPlatform/atomicDEX-API/blob/4fbe21e74d20ed197e51d8d080377b7623092162/mm2src/coins/utxo/rpc_clients.rs#L1824
so when mm2 doesn't receive data from the electrum for 60s it shuts down the connection. An easy solution is to change the value to be a little bit longer like you suggested or even make the value configurable depending on the electrum. I don'

[2021-04-28 09:10] shamardy commented on #913
It has been changed from 10s to 60s before here https://github.com/KomodoPlatform/atomicDEX-API/issues/286 with consideration that it can be increased later.

[2021-04-29 10:39] artemii235 commented on #922
It looks like you set the price for the reversed pair initially. If you try to directly supply `0.000000009...` you will get `{"error":"rpc:253] lp_ordermatch:3277] Price 0.000000009... is too low, required: 0.00000001"}`. Looks like we need to check that both `price` and `1 / price` are above the threshold. The only question: what reasonable price threshold should we set instead of `0.00000001`?

[2021-04-29 10:41] artemii235 commented on #921
Might be some miscalculations of the MTP, will check next week.

[2021-04-29 10:46] artemii235 commented on #920
The error came from the set price called with `max:true` during the swap. @sergeyboyko0791 please check it, we shouldn't allow using negative amounts anywhere just in case.

[2021-04-29 10:50] artemii235 commented on #913
The most important log is `27 20:04:16, utxo:1263] Electrum electrum3.cipig.net:10060 server.version error "JsonRpcError { client_info: "coin: DOGE", request: JsonRpcRequest { jsonrpc: "2.0", id: "73452", method: "server.version", params: [String("mpm GUI/MM2 1e08d3d9b"), Array([String("1.2"), String("1.4")])] }, error: Transport("rpc_clients:1253] rpc_clients:2027] common:1411] future timed out")

[2021-04-29 10:56] artemii235 commented on #919
I've checked the code - it just checks that `mm2` is not null, no matter what value does it have. I will fix it along with my ongoing SLP integration work.

[2021-04-29 10:58] cipig commented on #922
i was also thinking about removing the threshold entirely... it will allow sub 1 sat prices and there is actually need for that for that coins like this https://www.coingecko.com/en/coins/electra... atm i need to disable BTC pair for such coins

[2021-04-29 11:05] artemii235 commented on #922
@tonymorony Pointed that GUIs might be potentially broken by getting extremely low prices from MM2. @Milerius @yurii-khi Are you ready for the `0.000000000000000000000000001` price in your code? :slightly_smiling_face:

[2021-04-29 11:06] cipig commented on #913
You are right, it is actually a bug in electrumx because it starts listening on the port too early after a start/restart. This problem will go away indirectly after https://github.com/spesmilo/electrumx/pull/101 is merged and we update, because then i will not need to restart the electrums once a week any more

[2021-04-29 11:10] cipig commented on #922
does not have to be so many decimals, 10-12 are more than enough, i guess... don't think BTC price will go to $50M anytime soon :-)

[2021-04-29 11:12] artemii235 commented on #922
@cipig What if we have a token that costs just 1 Wei of ETH? It is 10^-18 :slightly_smiling_face:

[2021-04-29 11:16] cipig commented on #922
haven't seen it with my own eyes yet, but possible, sure
btw, this is how ECA/BTC looks on a CEX... in this case they have 11 decimals
![image](https://user-images.githubusercontent.com/32116761/116542510-3aefd600-a8dc-11eb-8d59-d05a24648cd6.png)

[2021-04-29 11:26] artemii235 commented on #899
Thanks for creating the issue! We will implement this soon, hopefully.

[2021-04-29 11:27] artemii235 commented on #902
@sergeyboyko0791 Please implement it next week :slightly_smiling_face:

[2021-04-30 05:14] artemii235 opened #927 "ARRR integration."

[2021-04-30 05:16] artemii235 opened #928 "Web browser support (WASM)."

[2021-04-30 05:18] artemii235 commented on #353
Duplicate of https://github.com/KomodoPlatform/atomicDEX-API/issues/451

[2021-04-30 05:18] #353 closed

[2021-04-30 06:07] yurii-khi commented on #922
We have this statement inside our formatting helper:
[code]
So we're not able to properly represent prices like ECA/BTC in the example above atm.

[2021-05-01 16:17] cipig commented on #885
done: https://github.com/KomodoPlatform/coins/commit/f221f415d9721285f34a2d0717a0c08c8638ac2e

[2021-05-01 16:29] cipig opened #929 "TakerPaymentTransactionFailed with Couldn't collect enough value from utxos"
User failed 2 swaps DOGE/KMD with
[code]
https://dexapi.cipig.net/public/error.php?uuid=1494acf3-7aad-47df-b00c-3ca0d38c9b15
https://dexapi.cipig.net/public/error.php?uuid=c2c66731-282c-4cb9-b843-d3eb3ff22b78

DOGE does not use dynamic fee any more, so it can't be because of fee change after swap started.

[2021-05-01 16:46] cipig commented on #929
i have to correct myself, this TakerFee https://blockchair.com/dogecoin/transaction/260165db5331f8d85975707e95f7db8ccb15c3b7a00472d20ff469399f50bbb0 was using 1.98872398 DOGE txfee, this can't be, so the mm2 in `DogeDEX 0.4.1 Android; BT=1616305785` (March 21, 2021) is likely outdated and still uses the old dynamic fee for DOGE

still, this issue must be addressed for the dynamic fee coins

[2021-05-02 11:35] cipig commented on #843
found another coin where this is still present: SYS
`| (1493:40) [swap uuid=11bc6684-41e2-4afb-8f67-eaf3a63b64b2] Maker payment wait refund till 1619884720 started...`
which as of now is 20 hours ago

[2021-05-03 05:26] artemii235 commented on #701
Report about integration progress in April.
The implementation start was delayed as I had to finish other planned tasks prior to the SLP.
1. Researched the SLP documentation.
1. Setup local regtest BCH node (not dockerized yet). Added unit test minting the token on it (GENESIS transaction).
1. Started implementation of the SLP OP_RETURN script parser to get the balance of the token.
1. WIP PR merg

[2021-05-03 05:31] artemii235 commented on #843
Thanks for the report, I reopen the issue until SYS is fixed.

[2021-05-03 07:08] artemii235 commented on #921
I set the `max(htlc_locktime, now - 3600)` as tx locktime so when `htlc_locktime < MTP && htlc_locktime < now - 3600 && now - 3600 > MTP` we can still catch the non-final error. Should be fixed in the linked PR, however, it might be a bit hard to recreate this case during testing :slightly_smiling_face:

[2021-05-03 07:08] artemii235 commented on #843
@cipig Should be fixed now, could you please test the linked PR?

[2021-05-03 07:16] artemii235 commented on #550
@sergeyboyko0791 The PR is merged, please document the changes in the API :slightly_smiling_face:

[2021-05-03 17:12] cipig commented on #843
the refund worked fine this time, thanks for the fix
[code]

[2021-05-03 17:35] cipig commented on #451
one metric that could be relevant here: i have 9 base coins and almost 100 coins on one node...  2 orders per side (bid/ask)... that makes ~4000 orders (assuming all coins have balance) updated every 3 minutes

[2021-05-04 09:08] sergeyboyko0791 commented on #902
Ok, I'll do it

[2021-05-04 09:52] artemii235 commented on #922
@yurii-khi @tonymorony @Milerius  Can you arrange a solution for displaying and setting the `< 0.00000001` prices in GUIs, please? We won't make any changes in the API until we are sure that it will be properly handled/not break anything.

[2021-05-04 10:10] Milerius commented on #922
This will require lot of works, would be nice if orderbook can earn a decimals field in this case, so we can set dynamically the possibility - will take a bit of time to be honest but atleast we can do a smooth transition. For the moment hardcoded 8 as precision everywhere, can go up to 50 digits in my code in the future.

[2021-05-04 10:12] tonymorony opened #931 "Add version p2p request"
part of: https://github.com/KomodoPlatform/atomicDEX-API/issues/654 idea implementation
should allow us to make a s5 scoring-crawler that will check ops mm2 version from time to time via p2p port

[2021-05-04 11:25] artemii235 commented on #903
@cipig Thanks for opening the issue! Do you notice some patterns on this maybe? Like it's starting when 1 of the orders is matched or the balance of some coin is increased/decreased for any reason?

[2021-05-04 11:29] artemii235 commented on #843
Great, closing until we discover a new coin with such behavior:slightly_smiling_face:

[2021-05-04 11:29] #843 closed

[2021-05-04 11:33] cipig commented on #903
I haven't seen this again since i last reported, was thinking about closing issue again in the last days. I guess we can do that, i have no new infos and error disappeared.

[2021-05-04 11:39] artemii235 commented on #922
Even if we add `decimals/precision` there will be additional fields in the `orderbook` response, something like `price_rounded/volume_rounded`, and users will need to be aware this is not a precise number. Also as cipi already mentioned `0.000000009...` price - if someone sets e.g. 4 decimals doesn't it get rounded too much? There is a way too big difference between `0.0001` and `0.000000009`.

[2021-05-04 11:43] artemii235 commented on #903
I see, please feel to reopen if the issue occurs again. It's also planned to improve the P2P layer soon, this problem can be automatically fixed along with these improvements.

[2021-05-04 11:43] #903 closed

[2021-05-05 07:47] artemii235 opened #932 "Failure on DB migration when updating MM2 from old versions."
Got a report at Discord DM about this. When the previous version is too old DB migration can fail on `migration_2` as it attempts to insert the `maker_coin_ticker` and other columns that do not exist in the table yet (these are added in the later migration). It prevents MM2 from being started at all, needs to be fixed ASAP.

[2021-05-05 09:30] #932 closed

[2021-05-05 13:27] artemii235 commented on #932
@tonymorony @yurii-khi @Milerius This fix is very important to be included in GUIs. I have synced the mobile version code. For desktop, please ensure to use https://github.com/KomodoPlatform/atomicDEX-API/releases/tag/beta-2.1.3445 or later.

[2021-05-07 05:58] artemii235 opened #935 "Port my_recent_swaps to mmrpc:2.0"

[2021-05-07 06:11] artemii235 commented on #929
Thanks for opening the issue - it looks like a bug, will investigate.

[2021-05-07 15:39] bstr156 opened #938 "Add support for Syscoin Platform Tokens (UTXO)"
Would be great to have atomic swaps for tokens that exist on the Syscoin token platform.  Going further, the ability for a swap to be conducted with minimal interaction between the parties for auction-type functionality.  Extreme example: Seller sets their listing, walks away. Returns to find buyer has bought, deal is done, and assets have already been swapped, _all conducted in a non-custodial ma

[2021-05-08 08:19] himu007 commented on #932
@artemii235 Thank you very much. The fix worked like a charm.

[2021-05-10 07:46] artemii235 commented on #885
@cipig Thanks!

[2021-05-10 07:46] #885 closed

[2021-05-11 14:22] cipig opened #941 "memory leak in mm2"
I saw mm2 instances use up to 10GB RAM. After restarting the node, memory usage drops to 50MB.

[2021-05-11 19:46] cryptozoidberg opened #942 "Zano integration"
Here is the documentation on HTLC API usage: https://github.com/hyle-team/atomic_swap_example

[2021-05-13 20:45] cipig opened #943 "BEP20: only replay-protected (EIP-155) transactions allowed over RPC"
from the changelog of bsc 1.10:
BREAKING CHANGE: Non-EIP155 transactions (i.e. transactions which are not replay-protected) are now rejected by the RPC API.

now BEP20 txes are showing this error:
`maker_swap:561] eth:1270] eth:1274] RPC error: Error { code: ServerError(-32000), message: \"only replay-protected (EIP-155) transactions allowed over RPC\", data: None }"`

[2021-05-14 03:16] artemii235 commented on #943
@cipig Please start your nodes with `--rpc.allow-unprotected-txs` param, we will implement the EIP155 transactions signing soon but there will be outdated nodes for some time anyway.

[2021-05-14 05:28] artemii235 commented on #942
Thanks for opening the issue! Our roadmap is quite set for upcoming months but I will clarify the possibility of integration with the team.

[2021-05-14 05:28] artemii235 commented on #938
Thanks for opening the issue! Our roadmap is quite set for upcoming months but I will clarify the possibility of integration with the team.

[2021-05-14 06:44] artemii235 opened #944 "Implement a mechanism for smooth swap smart contract migration/update."
We may sometimes require to update the swap contract and redeploy it, changing the address everywhere will take time so we need to support the old address for a while till everyone is updated.

[2021-05-14 22:45] cipig opened #947 "BEP20: MakerPaymentRefundFailed for swap failed couple days ago"
- DOGE/USDT-BEP20 swap failed while waiting for MakerPayment (USDT-BEP20)
- automatic MakerPaymentRefundFailed with following error:
[code]
the reason of the swap failure is not that important (there were some problems with out of sync nodes and too low fee on BSC, solved in the meantime)

but the real problem is this on calling `recover_funds_of_swap`:
[code]
i guess that `eth_getLogs` for such a

[2021-05-17 03:34] artemii235 commented on #947
Thanks for opening the issue! Sure, we can reduce the block range for `eth_getLogs` - will do this week.

[2021-05-17 03:44] artemii235 commented on #303
The issue is outdated.

[2021-05-17 03:44] #303 closed

[2021-05-17 10:01] cipig commented on #929
Has the error message changed in last API releases, or is this a different error?
2.1.3355: https://dexapi.cipig.net/public/error.php?uuid=69259aac-e865-45c3-85a6-50a29d52f656
2.1.3445: https://dexapi.cipig.net/public/error.php?uuid=6945e3e0-f82a-4ca4-a4b2-67cf0507c33b
`taker_swap:1026] utxo:1636] utxo_common:449] Sum of input values 20748296 is too small, required no less than 20767736`
both swap

[2021-05-17 13:33] Gigabyted commented on #942
Anything we can do to help you guys toward that?

[2021-05-18 05:55] sergeyboyko0791 commented on #928
- [x] UTXO coins support (WASM Electrum client)
- [ ] Transaction history (IndexedDB integration)

[2021-05-19 13:57] cipig commented on #947
started the BSC node on bsc3.cipig.net with `--rangelimit` 2 days ago and it makes a huge difference
![image](https://user-images.githubusercontent.com/32116761/118824225-326e3800-b8a9-11eb-823e-dbe20ea55019.png)
![image](https://user-images.githubusercontent.com/32116761/118824257-3ac67300-b8a9-11eb-8319-3cafa20e3cbd.png)
![image](https://user-images.githubusercontent.com/32116761/118824294-431ea

[2021-05-19 15:46] cipig commented on #947
had to restart the other BSC nodes too with `--rangelimit`, after load increase and they dropped out of sync
![image](https://user-images.githubusercontent.com/32116761/118843253-68b3b380-b8b9-11eb-9e3b-987ff44db50f.png)

[2021-05-22 23:25] cipig opened #949 "BEP20: Couldn't get nonce after 5 errored attempts, aborting"
https://dexapi.cipig.net/public/error.php?uuid=f31d229d-3e25-46d4-b62d-3c4db96bdf22 failed with
[code]
maker coin BUSD-BEP20

this is from log
[code]
one of the 3 BSC RPC nodes is off for maintenance, the other 2 are up and working fine and `my_balance` is also showing up fine for BUSD-BEP20

[2021-05-24 11:25] artemii235 commented on #949
To ensure the correct transaction nonce usage MM2 requests it from all ETH nodes and *ignores* the errored requests so if there's at least 1 success it will be used.

https://github.com/KomodoPlatform/atomicDEX-API/blob/419f36ef5c4b0a3a971759036dbe80f230ce516b/mm2src/coins/eth.rs#L3096-L3100

Are you sure that all 5 nodes were accessible at the time of the error? Also, when posting logs please inc

[2021-05-24 11:44] cipig commented on #949
It was the BSC nodes, and not all 3 were accessible at the time, one was offline, returning "connection refused" when trying to connect. That is normal when it is shutdown, but i guess mm2 should work even if one of 3 BSC nodes is off. My impression was that it tried 5 times with the off node, failed and failed the swap. The off node was online at the time mm2 was started and went offline afterwar

[2021-05-24 12:07] artemii235 commented on #949
There is a [test_nonce_several_urls](https://github.com/KomodoPlatform/atomicDEX-API/blob/419f36ef5c4b0a3a971759036dbe80f230ce516b/mm2src/coins/eth/eth_tests.rs#L307) test that checks the exact same case. It is ignored now, but I have tried to run it locally and it was successful with the following log:

[code]

So `get_addr_nonce` works as expected. It could be that coin was using only 1 node add

[2021-05-24 12:52] cipig commented on #949
Thanks for checking this.

Checked the alerts in nagios for the times when BSC nodes went back online:
[code]
swap failed 2021-05-22 22:41:37, but can't say which node mm2 was trying to use, could be it was running only on one BSC node by the time swap failed
closing the issue, if possible, please add hostnames/IPs to those error messages from ETH/BSC nodes: https://github.com/KomodoPlatform/atomi

[2021-05-24 12:52] #949 closed

[2021-05-26 07:22] cipig opened #951 "MakerPaymentRefundFailed on LYNX with non-final"
LYNX has a 20 minute blocktime and a refund from a failed swap failed with:
[code]
same error is shown when i try recover_funds_of_swap days later

link from DM: https://github.com/KomodoPlatform/atomicDEX-API/blob/419f36ef5c4b0a3a971759036dbe80f230ce516b/mm2src/coins/utxo/utxo_common.rs#L2645

[2021-05-27 06:42] artemii235 commented on #420
Duplicate of #927

[2021-05-27 06:42] #420 closed

[2021-05-27 09:22] artemii235 commented on #943
@cipig Could you please test the following scenario using the https://github.com/KomodoPlatform/atomicDEX-API/tree/mm2.1-various-fixes branch?
1. Start BSC testnet node without `--rpc.allow-unprotected-txs`.
2. Add `"chain_id": 97` to the testnet BNB in coins config.
3. Enable the testnet BNB using the only node with enforced EIP155 signing.
4. Try to withdraw and swap the testnet BNB.

[2021-05-27 09:27] artemii235 commented on #944
There is one problem as of now: if there is no updated smart contract on the network old and new nodes will fail on the swap negotiation stage with `!maker_coin.negotiate_swap_contract_addr eth:1026] NoOtherAddrAndNoFallback`. I have to figure out a workaround for this.

[2021-05-27 09:37] artemii235 commented on #944
Looks like setting the same address as a fallback will be the best option for this case, will advise this to GUI developers and users.

[2021-05-27 14:09] cipig commented on #943
Thing is, i have no testnet nodes, only mainnet. Playing with the config on mainnet is not a good idea, i think.

[2021-05-28 08:22] artemii235 commented on #943
I think there is a way to do it safely even on the mainnet: you can temporarily run the node without `--rpc.allow-unprotected-txs` on a different port so it's not used by existing MM2 instances and run your tests on it. It will be quite safe because if there is an error in implementation or config your transaction won't be broadcast with signature check failure.

[2021-05-28 08:45] artemii235 commented on #947
Could you please try to refund the same swap using the https://github.com/KomodoPlatform/atomicDEX-API/tree/mm2.1-various-fixes branch?

[2021-05-28 09:47] cipig commented on #947
i get `"error" : "rpc:173] dispatcher_legacy:155] lp_swap:1136] lp_swap:737] maker_swap:1044] Error eth:2550] eth:415] RPC error: Error { code: ServerError(-32000), message: \"exceed maximum block range: 5000\", data: None } when trying to find maker payment spend"` from the BSC nodes when trying to refund

[2021-05-28 09:50] artemii235 commented on #947
Yeah, I have an error there, will push the fix soon.

[2021-05-28 10:27] artemii235 commented on #947
@cipig Could you please pull the changes and retry?

[2021-05-28 10:28] artemii235 commented on #951
@cipig Please try recovering the swap using https://github.com/KomodoPlatform/atomicDEX-API/tree/mm2.1-various-fixes

[2021-05-28 10:34] artemii235 commented on #951
@cipig Please note that I rebased and force-pushed the branch so it's worth checking out from scratch or using `git reset --hard origin/mm2.1-various-fixes`

[2021-05-28 11:42] cipig commented on #951
it worked, thanks for the fix
[code]

[2021-05-28 11:42] #951 closed

[2021-05-28 11:43] cipig commented on #947
now it works, thanks for the fix
[code]
https://bscscan.com/tx/0x5d3f72e8b537663b58b659833ec76717d9714f8f0677a85eed567945d02b964c

[2021-05-28 14:48] cipig commented on #943
getting the same error when i try to withdraw USDT-BEP20:
[code]
then
[code]
gives error:
[code]
i am on
[code]

[2021-05-28 15:30] cipig commented on #943
after setting `"chain_id": 56,` to BNB and USDT-BEP20, i could successfully withdraw 1 USDT-BEP20: https://bscscan.com/tx/0x6a00fffe07ab87e92f05e19b3e63e279609dca42ae24eb8c3cc8f5da1b3b966b

KMD/USDT-BEP20 swap works too
TakerFee: https://bscscan.com/tx/0xf1406d2e8ad67822ea510d7cc4b438f5b1df476d5bd8501ded51629840fc4a84
TakerPayment: https://bscscan.com/tx/0x6c5484e3b0ff3501907d147553d5a2dea536edee2

[2021-05-28 16:49] Milerius opened #956 "[XMR]: Integration"
#728 was open long time ago, and today XMR announced the officiel release of XMR<->BTC swap on mainnet:

- https://github.com/comit-network/xmr-btc-swap
- https://twitter.com/xmroutreach/status/1398267935458697219

Maybe we can reconsider implementation of XMR swaps since they seems to be stable now

[2021-05-29 04:24] CHMEX opened #957 "Funky order matching bestorder doesnt match"
I have noticed several times now that order matching doesn't match the bestorder in the orderbook but the one which is close to what ones enters this is not a gui issue but is from mm2.
Attached you find all the Info present at swap time

[orderbook_KMD_DGB.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/6564021/orderbook_KMD_DGB.txt)
[orderbook_DGB_KMD.txt](https://github.com/KomodoPla

[2021-05-29 04:31] CHMEX commented on #941
@cipig
Did you run by chance **my_recent_swaps** with 10000+ swaps on a heavy used node?
I noticed also a memory leak a while back convo starts around here: https://discord.com/channels/412898016371015680/449950331577565194/787933669288312832

 12/14/2020
executed my_recent_swaps and it used 500MB
executed a second time it uses 1100MB
executed again and than it used 1600MB
Interesting, what do you

[2021-05-29 08:13] cipig commented on #941
@CHMEX No, the mm nodes do only `setprice` all the time and on the 2 seed nodes i don't do any RPC calls, but the memory leak is there too. I guess it is related to the number of orders in general. We now have much more orders than couple months ago.

[2021-05-31 07:59] artemii235 opened #958 "P2P messages backwards compatibilty broken in `update_maker_order` PR."
I've not noticed it on the review, the `conf_settings` field added in the middle of the `MakerOrderUpdated` struct (https://github.com/KomodoPlatform/atomicDEX-API/pull/926/files#diff-0ae60f6965c551b5346cbb5602722fc4f59850c124ceb8ad489a6aee83b9d5a5R146) breaks the compatibility: old node can't deserialize message from the new one and vice versa. The error is `29 08:14:52, lp_ordermatch:392] ERROR

[2021-05-31 08:20] artemii235 commented on #943
Yes, all the BEP20 coins require the edit, please also set the appropriate chain_id for ETH and ERC20 tokens.

[2021-05-31 08:51] cipig commented on #943
done https://github.com/KomodoPlatform/coins/commit/5346e7501b54667e97ad9a0d5b4023643d4bb878

[2021-06-01 05:56] sergeyboyko0791 opened #961 "GUI need to be able to stop mm2 using FFI"
I prefer to add `mm2_stop` instead of changing the `mm2_main` function.
* First, the interface has to be backward compatible. If we add a parameter like `stop_if_running: bool`, everyone using this function will have to pass this additional argument.
* It requires some time to stop MarketMaker, but the `mm2_main` function is non-blocking by design. I see only one way for the GUI: first, call `mm2_

[2021-06-01 06:00] sergeyboyko0791 commented on #961
Related issue: https://github.com/KomodoPlatform/AtomicDEX-mobile/issues/1216

[2021-06-01 06:44] sergeyboyko0791 commented on #550
I guess we can close this issue?

[2021-06-01 08:22] artemii235 commented on #957
@CHMEX Hi, thanks for opening the issue!
It is expected that MM2 can match another order, but it should always have a better or equal price. Are you sure that you matched with a worse price? Could you please provide the request that was made to match the order?

[2021-06-01 10:10] artemii235 commented on #958
@cipig Could you please test that MM2 nodes built from the mm2.1 branch and the dev branch are compatible with each other? They should order match and swap successfully, partially matched maker orders should be properly updated on the network.

[2021-06-02 09:14] artemii235 commented on #944
Implemented, notified everyone in the dev->mm2.1 PR.

[2021-06-02 09:15] artemii235 commented on #943
This task seems to be finished, thanks!

[2021-06-02 09:15] #943 closed

[2021-06-02 09:16] artemii235 commented on #902
Done

[2021-06-02 09:16] #902 closed

[2021-06-02 09:18] artemii235 commented on #798
This is part of the bigger task, for which we already have the issue: https://github.com/KomodoPlatform/atomicDEX-API/issues/826, closing as a duplicate.

[2021-06-02 09:18] #798 closed

[2021-06-03 11:59] tonymorony opened #964 "Hardware wallets support"
It would be a huge booster to add hardware wallets (Trezor/Ledger) support into
- step1 adex-api wallet functionality
- step2 adex-api swaps functionality

[2021-06-03 17:40] tonymorony commented on #391
Windows 7 EOL happened, probably we can close this one

![image](https://user-images.githubusercontent.com/24797699/120688451-46cb4b00-c4cd-11eb-91cd-5525ac29da4f.png)

[2021-06-03 17:45] tonymorony commented on #33
Now swaps storing in SQLite DB (MM2.db by default) so this one probably can be closed

[2021-06-03 17:50] tonymorony commented on #492
Looks resolved

[2021-06-03 17:50] #492 closed

[2021-06-03 18:17] tonymorony commented on #922
Sorry for the delay with the response, created issues in GUIs repos with ways of such prices displaying proposals:

https://github.com/KomodoPlatform/AtomicDEX-mobile/issues/1226
https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/955

my opinion on rounding/price limiting in interfaces (if summarise - don't think it's good to round/limit price and sacrifice precision/limit denomination pos

[2021-06-04 07:56] #391 closed

[2021-06-04 07:56] #33 closed

[2021-06-04 07:59] tonymorony commented on #748
Should be resolved by https://github.com/KomodoPlatform/atomicDEX-API/pull/749

[2021-06-04 07:59] #748 closed

[2021-06-04 08:05] tonymorony commented on #417
Found quite confusing (and received report from the user) that orders not updating on balance change, also cases when you place orders of coin X vs A,B,C - if order X<->A is partially matched X<->B,C orders amounts not updating ( this case looks more related to it https://github.com/KomodoPlatform/atomicDEX-API/issues/503 so added both issues to discussion backlog)

[2021-06-04 08:15] artemii235 commented on #701
I have just sent and spent USDF HTLC on BCH testnet using MM2 code only:
1. Payment - https://explorer.bitcoin.com/tbch/tx/afa7785fdb0e49e649aa9b6467fa183c8185c398095baac2c11df50175a7f92b
2. Spend using secret - https://explorer.bitcoin.com/tbch/tx/06f38595a2d5d23df8a81a0d744ac3a70c3e46a01efa64a4be862b9d582167b0

I'm focusing now on the RICK/USDF order matching and swap demo. Will provide a more d

[2021-06-04 08:17] artemii235 commented on #701
PS link to the code:  https://github.com/KomodoPlatform/atomicDEX-API/commit/a000c1c377cc943607743df233c31c37f5e27622

[2021-06-04 14:19] cipig commented on #901
We need a way to configure a fixed fee, but per kb, not per whole tx. It will solve/workaround some other problems too, eg coins with unreliable or bugged `estimatefee` call. Can we have a `txfee_kb` setting in the coins file that works as a replacement for the value returned by `estimatefee`?

[2021-06-04 17:14] cipig opened #966 "invalid value: integer 2575874549, expected i32 on parsing txes"
i get the following error when trying to swap KMD/ZER using dev branch
[code]

[2021-06-05 07:11] damascene commented on #701
@artemii235 thank you for keep us updated on the progress. I'm happy to see successful tests.

[2021-06-05 09:28] tonymorony opened #967 "TakerPaymentTransactionFailed: Sum of input values too small"
AtomicDEX MarketMaker 2.1.3445_mm2.1_419f36ef5_Windows_NT_Release
GUI v0.4.3

![image](https://user-images.githubusercontent.com/24797699/120886753-c403d680-c619-11eb-8a2c-758be6a54bfd.png)

`"error": "taker_swap:1026] utxo:1636] utxo_common:449] Sum of input values 2040452 is too small, required no less than 2040753"`

The user was a taker, tried to swap BTC to KMD. Logs from the user's PC can pr

[2021-06-05 12:40] cipig commented on #966
seen on QTUM too, same error:
[code]

[2021-06-06 05:32] sergeyboyko0791 commented on #966
Hi @cipig, thanks for opening the issue!
We can fix it easily, I'll do it next week.

[2021-06-06 06:33] molecular commented on #701
Does this mean we can assume this will work? At what point would we be able to list SLP token/BCH pairs and what are the conditions for "listing"?

[2021-06-07 07:59] artemii235 commented on #967
It is most likely that the user tried to trade the max amount and the BTC fee increased significantly during the swap. Max case with dynamic fee coins is quite tricky, if the fee increases we can't use the lower settings that we used on swap start as it may lead to the transaction stuck in the mempool. Let's brainstorm on it a bit - maybe we will figure out some solution.

[2021-06-07 12:03] cipig opened #968 "add option to disable order history"
I just deleted 24GB of order history. It took ~10 minutes just to delete the directory:
[code]
Tried some other tricks, like linking HISTORY to /dev/null, but that didn't work because mm2 checks that it's a directory at start.

So can we please add an option to disable the recording of order history entirely?

[2021-06-07 12:07] artemii235 commented on #968
@shamardy Hi, please implement it this week :slightly_smiling_face:

[2021-06-07 18:53] tonymorony commented on #968
as an idea - maybe we can add a rotation option? e.g. store X last orders

[2021-06-07 19:03] cipig commented on #968
don't think the problem is that big with normal usage... i have the problem because of ~1000 orders per minute (100 coins * 10 base coins * 4 orders per pair updated every 4-6 minutes)

[2021-06-08 09:24] artemii235 commented on #966
@cipig Where do these transactions come from? The locktime is very big, if these are generated by MM2 we have an additional bug somewhere.

[2021-06-08 11:13] tonymorony commented on #967
Maybe we can try to send tx with a not dynamic fee (closest possible amount to dynamic fee before swap start) if we detected that dynamic fee increased during the swap and the amount of inputs is not enough?
There is a good probability that tx will be mined anyway since the difference between fees not significant in few blocks  timeframe and it's should be better than swap fail after takerfee send

[2021-06-08 12:18] cipig commented on #966
tried with https://github.com/KomodoPlatform/atomicDEX-API/pull/970 and the problem is fixed, no error on parsing this ZER tx https://insight.zerocurrency.io/insight/tx/c8cf68edc1967fb0eddd759331423d5bf542690e5f9a21fe701c3a1f832cbb7b, which is the same (Takerpaymentspend) as the above ZER tx that failed parsing
also did QTUM/KMD swaps (buy and sell) and it worked too, no error on parsing tx

[2021-06-08 13:41] cipig commented on #966
locktimes of the ZER txes involved in the swap:
Takerpayment: https://insight.zerocurrency.io/insight/tx/3204d7b949c217c61c16a60c120adba73e23addc32545207059ee0f6d48cf025
locktime 1623152646 =  June 8, 2021 11:44:06
Takerpaymentspent: https://insight.zerocurrency.io/insight/tx/c8cf68edc1967fb0eddd759331423d5bf542690e5f9a21fe701c3a1f832cbb7b
locktime 2346399813 = May 9, 2044 9:43:33

[2021-06-09 06:54] artemii235 commented on #968
storage is quite critical matter on mobile devices

Yeah, we can consider adding this too a bit later, maybe in the coming week or two.

[2021-06-09 07:04] artemii235 commented on #967
Yes, it can be mined anyway, but if it's mined too slow the swap will be aborted and takers can lose even more as they will have to refund the payment then. I've already seen a couple of cases with ETH when it takes few hours for tx to be confirmed even when MM2 used the actual gas price from the station.

Maybe the alternative solution can be as follows:
1. For dynamic fee coins we determine the

[2021-06-09 07:19] artemii235 commented on #967
We can also add a setting like "slippage tolerance" for this case, if the fee grows too high during the swap users might prefer to abort it.

[2021-06-09 07:40] artemii235 commented on #966
There is still another bug that leads to MM2 setting that high locktime, which I will fix shortly.

[2021-06-09 08:47] tonymorony commented on #967
according to the https://bitcoinfees.earn.com/ current difference in fees for 0 blocks delay on tx including to a block is around 10% (101-102 vs 111+ sat/byte), bad cases (but even such case shouldn't fail swap on timeout I wonder) like a 2+ blocks delay happening with 20%+ fee difference so it looks like the amount on which fee changing (usually <<1%) during the swap is not significant for swap

[2021-06-09 09:14] artemii235 commented on #967
Yeah, good argument, I schedule the implementation of this for next week, thanks! :slightly_smiling_face:

[2021-06-10 01:19] cipig opened #973 "after restart old order is posted again although balance 0"
this ask in BSTY/RICK orderbook was reposted after AtomicDEX Desktop restart, although balance of BSTY is 0:
[code]

it results in failed swaps
https://dexapi.cipig.net/public/error.php?uuid=43a885a8-26a6-407b-8dd4-d4ba4503724b
https://dexapi.cipig.net/public/error.php?uuid=97d07be2-06dd-4dcf-b08b-61c2839c2c27
`maker_swap:298] !maker_coin.get_sender_trade_fee utxo_common:1953] utxo_common:322] Not

[2021-06-10 09:10] artemii235 opened #974 "Add execute_rpcs_after_start arg to MM2.json."
This field will allow GUIs and users to set the predefined set of commands that will be run immediately after MM2 startup. The main purpose is immediate coin reactivation on GUIs restart on iOS, but there can be other use cases.

[2021-06-10 09:24] artemii235 commented on #973
Thanks for the report, looks like a bug indeed, will check next week.

[2021-06-10 13:06] artemii235 opened #978 "Add RPC call to get raw transaction encoded in hex."
It will be useful for manual swap file generation for funds recovery.

[2021-06-12 01:26] cipig opened #979 "Hedera Hashgraph (HBAR) support"
Would be nice to add support for HBAR to mm2.

API documentation: https://docs.hedera.com/guides/docs/hedera-api
some SDKs: https://docs.hedera.com/guides/docs/sdks
public nodes: https://docs.hedera.com/guides/mainnet/mainnet-nodes

[2021-06-12 07:38] Milerius commented on #974
This is an excellent news, i'm looking forward this one, a real banger - just out of curiosity, how an app like desktop will know once the rpc has been executed ?

[2021-06-12 13:26] cipig commented on #967
seen in the wild: https://dexapi.cipig.net/public/error.php?uuid=3cad7bae-18fd-41d1-838e-2cbec2e6c71f
`taker_swap:1026] utxo:1636] utxo_common:449] Sum of input values 4299688625513 is too small, required no less than 4700000001000` on sending MCL, which is a KMD assetchain, so uses a fixed fee
maker and taker were both `atomicDEX 0.4.2 iOS`

[2021-06-13 17:55] cipig opened #980 "QRC20: MakerPaymentWaitConfirmFailed (Revert), refund fails too"
[9852fc8d-dcac-4fb2-adc8-f5b9a028e67d.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/6644390/9852fc8d-dcac-4fb2-adc8-f5b9a028e67d.txt)

The attached KMD/QC swap failed with
[code]
MakerPayment was sent though: https://qtum.info/tx/7a92ec4f26dd2b8ed14e754b251c8c3d02d93a623aff9aa2800e6ff89402fe09
and is now stucked in the contract: https://qtum.info/contract/2f754733acd6d753731c00fee32cb

[2021-06-14 09:37] sergeyboyko0791 opened #981 "'disable_coin' doesn't release the coin's file descriptors if it was enabled with the transaction history"
There is a bug spawning the transaction history:
[lp_spawn_tx_history](https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/coins/lp_coins.rs#L1193) has to take a weak pointer to the coin.

[2021-06-15 08:16] artemii235 commented on #980
The payment seems to be reverted and not sent, some QC balance on the smart contract should be from other swaps. It looks like the transaction ran out of gas, checking now.

[2021-06-15 09:45] sergeyboyko0791 commented on #981
It seems there is no bug in mm2. The file descriptors are released 30 seconds after the `disable_coin` RPC call.

[2021-06-15 09:45] #981 closed

[2021-06-15 09:54] artemii235 commented on #931
- [ ] Add P2P request that returns the version of the MM2 node. Please take https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/lp_ordermatch.rs#L399 as an example.

[2021-06-15 09:58] sergeyboyko0791 opened #982 "MmCtx is not released on 'mm2_stop' FFI call"
This causes the file descriptors to hang infinitely.

[2021-06-15 10:22] artemii235 commented on #974
Good question that's hard to answer :slightly_smiling_face: I'm going to close this issue for now - as per @yurii-khi it's not required anymore in mobile GUI and we have higher priority tasks.

[2021-06-15 10:22] #974 closed

[2021-06-15 10:30] artemii235 commented on #980
According to https://qtum.info/tx/7a92ec4f26dd2b8ed14e754b251c8c3d02d93a623aff9aa2800e6ff89402fe09 tx receipt, it was about to use almost 180k gas that exceeds the existing 100k limit set by MM2. Looks like we have to increase the HTLC specific limit to 200k for such cases. The best solution would be to use gas estimation, but QTUM ElectrumX doesn't seem to have such an RPC call.

[2021-06-15 10:41] sergeyboyko0791 commented on #961
Merged

[2021-06-15 10:41] #961 closed

[2021-06-15 10:42] artemii235 commented on #961
It's done, there are some problems with a stop that are solved in the context of another issue: https://github.com/KomodoPlatform/atomicDEX-API/issues/982

[2021-06-15 10:45] artemii235 commented on #968
@cipig Could you please test the new parameter in the dev branch.

[2021-06-15 14:31] cipig commented on #968
here is an example of how i used the new param: `{"userpass":"xxxx","method":"setprice","save_in_history":false,"base":"ABY","rel":"KMD","price":0.0003705799,"volume":512086.773883784}`
but it still creates files in `DB/c3f710deb7320b0efa6edb14e3ebeeb9155fa90d/ORDERS/MY/HISTORY/`

[2021-06-15 15:59] Milerius opened #983 "Handle lelantus tx for firo"
**Describe the bug**

A user send 800 FIRO to his atomicdex wallet using a lelantus tx and he is not able to spend them

similar to #772

new format:

[code]

https://explorer.firo.org/tx/06ed4b75010edcf404a315be70903473f44050c978bc37fbcee90e0b49114ba8
https://explorer.firo.org/address/aEPzWDTwDvSs5YtE3GndLj3odjz4YHFxS3

[2021-06-15 22:45] shamardy commented on #968
@cipig it should be fixed in the latest PR #984

[2021-06-15 23:44] cipig commented on #968
yes, fixed, thanks a lot

[2021-06-16 10:57] artemii235 commented on #978
A bit more details
1. It's fine to add it only to mmrpc 2.0 protocol: https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api-20/mmrpc-20.html
2. Examples that can be also used as test cases:
Request
[code]

Response
[code]

Request (TX from Ethereum Ropsten network)
[code]

Response
[code]

[2021-06-16 11:29] artemii235 opened #987 "Display cancellation reason if order is cancelled."
As of now, `order_status` RPC doesn't contain this info.

[2021-06-16 11:54] #982 closed

[2021-06-16 15:36] SylEze opened #989 "[BUG]: Order in best orders gets duplicated after calling `update_maker_order`"
**Describe the bug**

We were updating some orders to test the simple trading view on atomicDEX-Desktop with @Milerius and smk.
After few updates we got duplicates in `best_orders` answer.
Duplicates might have the same price or not.

To reproduce:

- Launch mm2
- Create a maker order
- Update it
- From another machine with mm2 instance: call `best_orders`
- See the bug

Sample command:
[code]

Re

[2021-06-16 16:24] Milerius commented on #989
![image](https://user-images.githubusercontent.com/21139416/122257210-15d91600-ced0-11eb-8761-64022efede82.png)

 an example of how it looks visually

[2021-06-17 09:14] artemii235 commented on #989
We will investigate this, thanks for the report!

[2021-06-17 11:11] artemii235 commented on #989
@SylEze @Milerius @smk762 Please share the RPC command that you used to update the order. Neither I nor Omar has been able to recreate the problem yet.

[2021-06-17 11:16] artemii235 commented on #980
Done, merged to dev, please reopen the issue if the problem occurs again after the update.

[2021-06-17 11:16] #980 closed

[2021-06-17 11:17] artemii235 commented on #983
@Milerius Should be fixed now, please retry with the latest dev branch build.

[2021-06-17 11:35] Milerius commented on #989
[code]

It's was order like that

[2021-06-17 11:43] smk762 commented on #989
[code]

[2021-06-17 12:50] Milerius commented on #983
everything works well for me except the fee_details in tx_history:

[code]

[2021-06-17 13:16] Milerius commented on #989
I managed to reproduce it:

[code]

request:

[code]

(using the above request few times)

[2021-06-17 13:32] artemii235 commented on #989
How many times and how often did you send it? :slightly_smiling_face:

[2021-06-17 13:33] artemii235 commented on #973
@cipig Could you please check whether the problem is solved in the https://github.com/KomodoPlatform/atomicDEX-API/tree/zero-balance-order-kickstart branch?

[2021-06-17 13:34] Milerius commented on #989
<img width="1904" alt="Capture d’écran 2021-06-17 à 15 32 46" src="https://user-images.githubusercontent.com/21139416/122406901-7f652d00-cf81-11eb-9241-887357a57390.png">

I did few update in 10 seconds, 3 time with the same price, 7 time with different price, then i start calling best_orders as the above screen ^

[2021-06-17 13:35] artemii235 commented on #983
I will fix this too tomorrow, thanks for testing :slightly_smiling_face:

[2021-06-18 07:45] artemii235 commented on #989
I see, let me try to recreate it this way as I sent the update request only once.

[2021-06-18 08:23] artemii235 commented on #989
I was able to recreate the problem finally :slightly_smiling_face: Figuring out how to fix it now.

[2021-06-19 13:34] cipig commented on #973
works fine, thanks for the fix
an example:
[code]

[2021-06-20 19:52] Milerius opened #991 "[Feature request]: add `coin` in max_taker_vol answer"
**Describe the bug**

Sometimes i change orderbook really quick, and i get many max_taker_vol answer, and i'm unable to determine from where they come:

<img width="1904" alt="Capture d’écran 2021-06-20 à 21 49 48" src="https://user-images.githubusercontent.com/21139416/122686510-a89bec80-d211-11eb-9a36-b67ee8041e3d.png">

In the above screen i did in order:

max_taker_vol KMD

then few millisec

[2021-06-21 11:25] artemii235 commented on #983
@Milerius Could you please test with the build from http://195.201.0.6/firo-tx-details/? It should update the existing transaction details in history in about 1 minute after coin activation, DB clean-up is *not* required.

[2021-06-21 17:21] #973 closed

[2021-06-21 17:22] #968 closed

[2021-06-22 10:31] Milerius commented on #983
It's works now !

[2021-06-22 11:52] artemii235 commented on #944
Reopening to support one more compatibility case.

[2021-06-24 15:21] artemii235 commented on #701
I have done the first RICK/FUSD swap today!
Taker fee - https://testnet.simpleledger.info/tx/c5f46ccc5431687154335d5b6526f1b9cfa961c44b97956b7bec77f884f56c73
Maker payment - https://rick.explorer.dexstats.info/tx/24f8f79a71c9b608c05876ff0bd32f1c3466e6caf6fa93ab8104d3933631812e
Taker payment - https://testnet.simpleledger.info/tx/e935160bfb5b45007a0fc6f8fbe8da618f28df6573731f1ffb54d9560abb49b2
Take

[2021-06-26 05:58] Milerius opened #998 "[Feature request]: add desktop library support in ci"
Hello, i was trying to add desktop support for mm2 in dart and get the following result:

[code]

using `https://gitlab.com/KomodoPlatform/supernet/-/jobs/`

I realized after reading the jobs that was targeting only mobile platform would be nice to add static library for MacOS, DLL for Windows and static library for linux (maybe shared too for linux)

[2021-06-29 08:52] #874 closed

[2021-06-29 08:53] sergeyboyko0791 commented on #874
Documentation has been merged into master: https://github.com/KomodoPlatform/developer-docs/commit/b3ab35567c3933ebc0d9c282a6ae3f912b26df95

[2021-06-30 13:12] cipig opened #999 "XEP: MakerPaymentSpendFailed with mandatory-script-verify-flag-failed"
Tried a swap with segwit after https://github.com/KomodoPlatform/atomicDEX-API/pull/971 was merged with this coins settings:
[code]

MakerPayment with XEP worked fine https://electraprotocol.network/tx/3026711bcceeac2c3ba52713667ec8bc2df98150959b74693de289d01a1da32d
but taker failed the swap on MakerPaymentSpendFailed:
[code]

@shamardy is this a coin specific issue or a bug in mm2 segwit?

[2021-06-30 14:00] cipig commented on #999
issue is related to XEP, see https://github.com/KomodoPlatform/atomicDEX-API/issues/806
closing this issue

[2021-07-01 08:41] artemii235 commented on #999
Reopening this one as it is more recent. @shamardy Could you please estimate how much effort it will take to support XEP?

[2021-07-01 09:08] artemii235 commented on #999
PS it's fine to check it next week to not interrupt the current work :slightly_smiling_face:

[2021-07-02 14:07] shamardy commented on #931
@tonymorony I think we would need the NN operators mm2 nodes addresses/IPs and PeerIds to add to the mm2 config

[2021-07-04 10:15] Milerius opened #1001 "[BUG]: Enabling all coins is too long sometimes"
**Describe the bug**

Running the attached batch, it takes more than 1min to have an answer to batch request on MacOS, is it possible to force an answer < 10sec or so ? or atleast make it configurable ?

Video:
https://user-images.githubusercontent.com/21139416/124381152-3d4a2400-dcc1-11eb-89f6-fa5d5ce7bdd6.mov

ps: It's seems that the long time to enable occured only if tx_history is set to true

[2021-07-05 22:11] cipig opened #1002 "mm2 queries ERC20 nodes during BEP20 swap"
This 2 KMD to XVC-BEP20 swaps failed while i was restarting the ERC20 nodes (eth1-3.cipig.net):
https://dexapi.cipig.net/public/error.php?uuid=ac991ee9-e12a-4311-926e-f7597c934a17
https://dexapi.cipig.net/public/error.php?uuid=85962b13-5305-4078-9e9e-5f28cad0647d
Does mm2 query the ERC20 nodes during a BEP20 swap?

[2021-07-06 07:59] Milerius opened #1003 "[Feature Request]: Atomic Swaps with Fiat using oasis"
It's seems that Oasis is out of the beta now

- https://www.nimiq.com/oasis/
- [How it works](https://youtu.be/yURX6FMky-A)
- https://www.nimiq.com/oasis/integrate/
- [api doc](https://docs.nimiqoasis.com/)
- [sandbox](https://docs.nimiqoasis.com/swagger/)
- Works only with SEPA account that support direct transfer

Possibility to have an hybrid mode:

- Single order orderbook with liquidity provi

[2021-07-06 11:57] artemii235 commented on #1002
@cipig Hi, did you restart all three nodes at once?

[2021-07-06 12:06] cipig commented on #1002
No, one after the other. Maybe it was just coincidence that it happened while i was playing with the ETH nodes and the real problem is a simple networking issue (client couldn't connect to the BSC nodes).

[2021-07-06 14:47] tonymorony commented on #931
sure, we'll start this information collecting shortly

[2021-07-07 05:42] gcharang commented on #705
Now that p2p ordermatching works pretty well, can pubkey whitelisting and the above "OTC mode" be supported so that many other kinds of users may find value in AtomicDEX?

cc: @tonymorony @artemii235

[2021-07-07 07:21] artemii235 commented on #705
We already have a starting point for such OTC mode - there is a `match_by` argument for `buy/sell` RPCs: https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api.html#arguments-6 that allows picking a specific pubkey. We can add the same for `setprice` and also the argument to not broadcast the OTC order to the network. GUIs can use it then to build the QRs or API can generate them.
Late

[2021-07-07 08:14] artemii235 commented on #1002
Yes, looks like a coincidence. According to https://stackoverflow.com/a/18079954, GUI/MM2 could make too many requests at one time so OS ran out of ports. Have you performed these swaps yourself or these were reported by someone else? I need to know how many coins were activated at the time of the swaps.

[2021-07-07 08:44] artemii235 commented on #1001
IIRC, GUIs use the custom endpoint to fetch ETH/BEP history. Please ensure that `"tx_history": false` is set for them upon coin activation in MM2 - it starts a heavy background process that eats a lot of resources.

I also plan to refactor coin activation during my work on SLP - there will be `with_tokens` arg for the `enable` call. It will be possible to activate ETH with all ERC20 tokens in a si

[2021-07-07 10:50] cipig commented on #1002
They were reported by someone else and he had ~50 coins activated at that time.

[2021-07-07 12:12] artemii235 opened #1006 "Enable/electrum 2.0 specification/ideas."
- [ ] Add `with_tokens` arg to activate BNB/ETH/BCH with all tokens at once batching the requests to coin RPCs.
- [ ] Return multiple addresses in the response. E.g. both legacy/segwit for UTXO at the same time. It will be also useful for HD wallet support.
- [ ] Leave only `enable` call and add `mode` argument whenever applicable (native/electrum/zlite/etc.).

@Milerius @sergeyboyko0791 @yurii-kh

[2021-07-07 12:28] Milerius commented on #1006
I would like an option to integrate balance answer too, would be nice for GUI (right now i enable first and then i call my_balance for each coin)

[2021-07-07 12:34] artemii235 commented on #1006
@Milerius Sure, will add the same for my_balance 2.0 too, thanks!

[2021-07-07 13:04] shamardy commented on #1006
@Milerius @artemii235 I think in my_balance 2.0 for multiple address coins E.g. legacy/segwit it's good to have every address balance separately in addition to the total balance in the response.

[2021-07-07 14:10] Milerius commented on #1006
Yeah but i was thinking about having the balance in the enable answer in order to have faster bootstrap in GUI (through an option let's say)

[2021-07-07 14:18] cipig commented on #1006
is what i get when i enable XRP-BEP20... the balance is there
`{"result":"success","address":"0x98298409c949135eeD89233D04C2cFef984baFF5","balance":"100.834683010699375075","unspendable_balance":"0","coin":"XRP-BEP20","required_confirmations":3,"requires_notarization":false}`

[2021-07-07 14:25] Milerius commented on #1006
Oh yes you are right, i think i can rly adjust my code when i enable then... will rework that when i've sometimes

[2021-07-07 20:21] Milerius opened #1008 "[Bug]: Validateaddress doesn't work for segwit input"
**Describe the bug**

[code]

For GUI we need validate address to pass on this one otherwise we cannot send funds to our segwit address due to several checks that are not skippable

[2021-07-08 06:19] artemii235 commented on #1008
@shamardy Could you hotfix this, please?

[2021-07-08 07:34] artemii235 commented on #1001
Closing in favor of https://github.com/KomodoPlatform/atomicDEX-API/issues/1006

[2021-07-08 07:34] #1001 closed

[2021-07-08 15:40] Milerius opened #1010 "[Bug]: Convert Address Segwit -> Legacy doesn't work"
**Describe the bug**

[code]

[2021-07-09 06:22] artemii235 commented on #1010
@shamardy One more hotfix, please :slightly_smiling_face:

[2021-07-09 08:28] Milerius opened #1011 "[Feature request]: Websocket to handle TX incoming/outgoing"
Recently with segwit integration i hit again: https://github.com/KomodoPlatform/atomicDEX-Desktop/pull/1063#issuecomment-877000418

But also my approach by tracking balance change is not that great due to UTXO operations, i would prefer to have a way to receive such a notification from MM2 somehow in order to really show when a transaction arrive or it's received, tracking all the TX history from

[2021-07-09 13:50] cipig opened #1012 "reduce volume of open orders after match"
A maker can post multiple orders with an aggregated volume that is higher than his balance, eg if his balance of KOIN is 10, he can post one sell order with volume 5, and a second one with volume 9.
If a taker matches the first order with volume 5 and tries to match the second one too shortly after, the second swap will fail with `maker_swap:321] !check_balance_for_maker_swap check_balance:76] Not

[2021-07-10 04:10] cipig opened #1013 "ETH send_raw_transaction fails when using no-unfamiliar-locals"
started one of the openethereum nodes with the param `--tx-queue-no-unfamiliar-locals`
from https://openethereum.github.io/Transactions-Queue.html

`send_raw_transaction` of the following ETH withdraw
[code]

then shows error
[code]
although there is no other tx in the queue from this address https://etherscan.io/address/0x4e623b150b847da59f064f7c7fcc9f787dae2229
https://ethgasstation.info/json/et

[2021-07-12 08:39] artemii235 commented on #1012
Thanks for creating the issue!
Yes, it's possible, I think we will do this in the near future.

[2021-07-13 16:45] Milerius commented on #1010
work now with #1008

[2021-07-13 16:45] #1010 closed

[2021-07-13 16:45] Milerius commented on #1008
work now with #1008

[2021-07-13 16:45] #1008 closed

[2021-07-14 09:59] artemii235 commented on #1013
I've checked the `parity_allTransactions` from `eth1.cipig.net` and it contains 8192 transactions, which means that the queue is full. The default queue size is 8192 - https://openethereum.github.io/Configuring-OpenEthereum

It mostly contains 2-3 transactions per address so it doesn't seem like spam from a specific address.

I have the following plan to work around the issue with `--tx-queue-no-u

[2021-07-15 08:34] SirSevenG opened #1015 "[bug] best_orders returns incorrect is_mine"
best_orders rpc returns `is_mine: false` for own orders.

Tested on
[code]

To reproduce:
- create maker order
- Find your order in best_orders rpc
- is_mine is set to false

AE: my_orders response: https://pastebin.ubuntu.com/p/Jn8bQdpH67/
best orders response: https://pastebin.ubuntu.com/p/bFhwTqGyJj/

[2021-07-19 01:25] tonymorony commented on #1006
I think some "scan" mode of activation might be helpful [ https://github.com/KomodoPlatform/AtomicDEX-mobile/issues/785 ] when API trying to activate coins from the list and remain active if the balance is greater than 0

Real UX problem for me to find coins I have balances for after seed restore. If implement such functionality it would be great to return scan progress (e.g. 1/100 coins checked 1

[2021-07-19 08:38] artemii235 opened #1016 ""Scan for non-zero balances" RPC."

[2021-07-19 08:39] artemii235 commented on #1006
@tonymorony thanks for your comment! The "scan" mode is possible surely - I think it should be made as an additional RPC call because "enable" can become over-complicated. I've created the new issue for this: https://github.com/KomodoPlatform/atomicDEX-API/issues/1016

[2021-07-19 08:43] tonymorony commented on #665
closing in favor of fresher one https://github.com/KomodoPlatform/atomicDEX-API/issues/1016 :)

[2021-07-19 08:43] #665 closed

[2021-07-25 17:00] Milerius opened #1019 "[Feature request]: Add some shortcuts rpc for being integrated into CCXT Api"
I open this issue following the discussion on Keybase in the development channel, indeed the integration for projects like CCXT requires some requirements:

https://github.com/ccxt/ccxt/wiki/Requirements

This will allow us to track down what remains to be done for a possible integration into this kind of tool.

[2021-07-27 05:42] sergeyboyko0791 opened #1020 "[WASM bug] Relogin leads to transaction history error"
![unknown](https://user-images.githubusercontent.com/58207208/127101651-14aaebb5-3df6-4b64-86f4-d5d94c4f1a2e.png)

[2021-07-27 06:03] sergeyboyko0791 opened #1021 "Swap failed with the error `min relay fee not met, 1000 < 120000`"
Maker version - `wasm-swap/3f35df20d`, WASM build
Order was posted using [mm2-client](https://github.com/Milerius/mm2-client/tree/c19c572db6c56abb0ac5703946d5254caa6d8b2c)

Taker version - `wasm-swap/3f35df20d`, Darwin build
Swap uuid - 9d0c28bc-cdd4-4a7c-9a33-40922f512f66

Error event:
`{
            "timestamp": 1627286697397,
            "event": {
                "type": "TakerPaymentSpendFail

[2021-07-27 07:22] sergeyboyko0791 commented on #1021
This issue seems to be related to this [one](https://github.com/KomodoPlatform/atomicDEX-API/issues/747).

[2021-07-27 07:52] tonymorony opened #1022 "Not able to import failed swap"
https://paste.ubuntu.com/p/Ymhhw9bCQt/

receiving such error from "import_swaps" RPC (even when moving swap history from one device to another):
![image](https://user-images.githubusercontent.com/24797699/127116895-e0c21e34-7a8f-4bc1-a25d-37f4d3dfe8c0.png)

[2021-07-27 08:07] artemii235 commented on #1022
The following command worked well in CLI mode: https://gist.github.com/artemii235/fed56ca7d7016c5e1ce9e5c67340c834. I guess GUI deserializes the status and serializes it back so the `wait_until` field of the `TakerPaymentWaitRefundStarted` event is lost.

[2021-07-27 08:14] tonymorony commented on #1022
Thank you very much for the help with issue isolation! @artemii235
Closing this one since it seems to be not API related

[2021-07-27 08:14] #1022 closed

[2021-07-27 08:15] artemii235 commented on #1021
QTUM doesn't have a `force_min_relay_fee:true` setting (https://github.com/KomodoPlatform/coins/blob/master/coins#L2805) that should help in this case.
https://github.com/KomodoPlatform/atomicDEX-API/blob/e98c61217451f38f54ae5d60f3d3b012ab2ac962/mm2src/coins/utxo/utxo_common.rs#L159-L177

[2021-07-29 15:56] Milerius opened #1023 "[bug]: trade_preimage with max is sometimes not working"
![image](https://user-images.githubusercontent.com/21139416/127524819-20fc9dc5-59ea-46c8-8c8c-bfdfe039f1c4.png)

[code]

Sometimes on big balance (here 2800$+ of FIRO) unable to call trade_preimage for each answer of my_orders with max=true (orders.AvailableAmount as volume instead of max also fail)

The same code with a different balance may work (here 30 firo instead of 575):

![image](https://u

[2021-07-30 12:40] tonymorony opened #1024 "Max nonce X != Y min nonce. "Out of gas" on approve."
@artemii235 Received report about ERC20 failing swaps with such errors in logs (shared full log in DM)

[code]

[2021-07-30 13:07] Milerius opened #1025 "[bug]: best orders inconsistent behavior"
**Describe the bug**

Here is a best orders i've setup on my bot:

![image](https://user-images.githubusercontent.com/21139416/127657159-ced72891-106d-4fbc-a176-b4f25a7cb325.png)

as you can see there is 750 available KMD to sell for this orders, however if i put 300 KMD as my wish to sell:

![image](https://user-images.githubusercontent.com/21139416/127657290-b4172cdb-31c1-4d90-8a78-f04d1eecba63.

[2021-07-30 14:15] SirSevenG commented on #1025
Reminder to self: recheck relation between orderbooks and best orders

[2021-08-02 07:58] artemii235 commented on #941
The main suspect for the mem leak is https://github.com/KomodoPlatform/atomicDEX-API/blob/56c645817e790a842056c52543012e1fa39430fe/mm2src/lp_ordermatch.rs#L1996. The orderbook updates history is stored indefinitely per node per pair - it may eat RAM pretty fast.

The `TimeCache` that is currently used in Gossipsub may solve the problem. I think that reasonable TTL for these records is few hours.
h

[2021-08-02 08:04] artemii235 commented on #1024
The `Max nonce != min nonce` msg is fine if it doesn't last for a long time. The problem is USDC approve call is failing with "out of gas": https://etherscan.io/tx/0x056373e1a4a0d9f3ab16961d2fb45bab12d9eaaab0b155b52a6ba9e8100e450d so the swap payment can't be completed too. Will fix on this week by using gas estimation instead of a hardcoded 50k gas limit.

[2021-08-02 08:15] artemii235 commented on #1025
Interesting case, the `best_orders` should already prioritize the price, no volume base ordering is applied. I will recheck it this week and let you know, it looks like a bug.

[2021-08-02 10:00] artemii235 commented on #941
To notice the mem leak more easily please start your node with `i_am_seed:true`.

[2021-08-02 10:19] artemii235 opened #1027 "Withdraw to P2SH sends to P2PKH script pubkey instead."
The problem is `output_script` unconditionally builds the P2PKH script not taking address prefix into account
https://github.com/KomodoPlatform/atomicDEX-API/blob/56c645817e790a842056c52543012e1fa39430fe/mm2src/coins/utxo.rs#L1996

And it turns out that this case is not covered by tests. Could you please also add the test case that parses the transaction returned by withdraw call and validates tha

[2021-08-02 10:24] artemii235 opened #1028 "Withdraw doesn't work for non-BCH coin with fork_id set."
https://discord.com/channels/412898016371015680/429676282196787200/871692461674745856

[2021-08-04 05:10] sergeyboyko0791 opened #1030 "Fallen Electrum services cause integration tests to fail"
Electrums that crash most often:
* QTUM testnet: wss://electrum<ID>.cipig.net:30071 and tcp://electrum<ID>.cipig.net:10071
* RICK and MORTY: wss://electrum<ID>.cipig.net:30017 wss://electrum<ID>.cipig.net:30018 and tcp://electrum<ID>.cipig.net:10017 tcp://electrum<ID>.cipig.net:10018

As @cipig mentioned, QTUM restarts the complete testnet chain from time to time, and we need to rebuild the entire

[2021-08-04 06:01] Milerius opened #1031 "[Bug]: Some swaps are not broadcasted"
**Describe the bug**

| MYCOIN  |    MYAMOUNT    |                  | OTHERAMOUNT | OTHERCOIN  |       DATE        |                 UUID                 |            STATUS             |
|---------|----------------|------------------|-------------|------------|-------------------|--------------------------------------|-------------------------------|
| LTC     |       1.083022 |

[2021-08-04 07:35] sergeyboyko0791 opened #1032 "Improve 'import_swaps' UX"
Currently, if the swaps passed to the `import_swaps` RPC payload have not finished yet, they will be kick-started on the next MarketMaker restart.
I would suggest starting them immediately on `import_swaps` RPC call.

[2021-08-04 09:43] sergeyboyko0791 commented on #928
RPC calls integration process
- [x] active_swaps
- [x] all_swaps_uuids_by_filter
- [x] ban_pubkey
- [x] best_orders
- [x] buy
- [ ] cancel_all_orders (works partly)
- [ ] cancel_order (works partly)
- [x] coins_needed_for_kick_start
- [x] convertaddress
- [x] convert_utxo_address
- [x] disable_coin
- [x] electrum
- [x] enable (ETH, Binance etc)
- [x] get_enabled_coins
- [x] get_gossip_mesh
- [x] g

[2021-08-09 08:43] artemii235 commented on #701
The SLP integration is now ready for alpha testing on the BCH testnet in CLI mode. I've also opened the issue in the desktop GUI repo, the alpha should be released by the end of August or early September (https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/1168). I will post a message here when it is ready.

Please note that the following features are unavailable for now:
1. Transaction his

[2021-08-09 08:58] artemii235 commented on #1023
@sergeyboyko0791 Could you please clarify the details and fix this if the fix is required?

[2021-08-09 08:59] artemii235 commented on #1024
@sergeyboyko0791 Could you please fix it this week?

[2021-08-09 09:02] artemii235 commented on #1031
@shamardy Could you please investigate it this week? I guess there is something special with these swap statuses - maybe if you try to broadcast them to your local seed node you may experience the same error.

[2021-08-09 09:03] #1027 closed

[2021-08-09 11:18] artemii235 commented on #941
Found quite interesting "Performance book" - https://nnethercote.github.io/perf-book/title-page.html. It seems that the heaptrack tool mentioned here https://nnethercote.github.io/perf-book/profiling.html might help to see the exact reason if our guessing about TimeCache doesn't work out.

[2021-08-09 13:07] Milerius opened #1033 "[BUG]: Batch + enable coins doesn't take into account the order of enabling (tBCH + USDF)"
**Describe the bug**

With the following batch request:

[code]

MM2 Still says that tBCH need to be enabled before enabling USDF, but the order of the batch enable tBCH before USDF

expected: no error since tBCH enabling order is prioritized in the batch.
branch: mm2-slp-swaps

cpp code used to prioritize:

[code]

[2021-08-10 00:47] Milerius opened #1034 "[BUG]: batch balance timeout / never get answer with slp tokens"
**Describe the bug**

the following batch produce error: `pplx task error: Operation canceled from: batch_balance_and_tx, request:`:

[code]

Will always get "operation cancelled" - the same batch without USDF + tBCH doesn't seems to timeout and i'm able to get an answer.

[2021-08-10 00:52] Milerius commented on #1033
I've managed to solve it locally by using 2 different batch, one for the parent coins and one for the child seems to work now.

[2021-08-10 06:08] #1033 closed

[2021-08-10 06:10] Milerius opened #1035 "[Bug]: Validate address don't work for SLP tokens"
**Describe the bug**

It's seems that all SLP tokens expect a `bchtest:` address instaed of `slptest:`

validate address without the prefix doesn't work too.

eg:

`bchtest:qrhdt5adye8lc68upfj9fctfdgcd3aq9hctf8ft6md` will be a valid address for USDF
`slptest:qrhdt5adye8lc68upfj9fctfdgcd3aq9hcsaqj3dfs` will be rejected
`qrhdt5adye8lc68upfj9fctfdgcd3aq9hcsaqj3dfs` will be rejected

[2021-08-10 08:46] artemii235 commented on #1035
Thanks for the report, I will fix it shortly.

[2021-08-10 09:00] artemii235 commented on #1034
Thanks for the report, checking.

[2021-08-10 09:36] artemii235 commented on #1035
@Milerius
Request
[code]
Response
[code]

It seems that you tried to validate the `slptest:`-prefixed address using a tBCH coin that is not intended to work.
The prefix is mandatory for tokens so `qrhdt5adye8lc68upfj9fctfdgcd3aq9hcsaqj3dfs` won't pass the validation.

[2021-08-10 10:01] Milerius commented on #1035
Fixed on my side thanks !

[2021-08-10 10:01] #1035 closed

[2021-08-10 12:23] artemii235 commented on #1034
@Milerius It should be fixed now, could you recheck, please?

[2021-08-10 12:50] artemii235 commented on #941
@shamardy There is another leak discovered by @Alrighttt: it looks like the memory is not cleaned up properly when the "light" peer disconnects. Could you please try to connect the light peer to the seed node, subscribe to a significant amount of topics, and then check if memory consumption properly lowers after the disconnection?

[2021-08-10 18:02] Milerius commented on #701
The desktop integrations seems to work

available [here](https://github.com/KomodoPlatform/atomicDEX-Desktop/actions/runs/1117466949)

- Require a Github Account & to be logged in order to see the artifacts.
- If you already used a 0.5.0 build before please reset the assets configuration in the settings

Screen of a swap:
<img width="1838" alt="Capture d’écran 2021-08-10 à 19 24 30 (1)" src="htt

[2021-08-11 05:21] Milerius commented on #1034
solved !

[2021-08-11 05:21] #1034 closed

[2021-08-11 06:48] artemii235 commented on #931
The PR with this feature is merged to dev. @shamardy Could you please provide new RPC examples and testing instructions to @tonymorony?

[2021-08-11 08:40] tonymorony opened #1036 "Remove excessive warning logs"
[code]

causing ~1Gb of log per 24h

[2021-08-11 10:50] shamardy commented on #931
There are 3 new RPCs, these are `add_node_to_version_stat`, `remove_node_from_version_stat` and `start_version_stat_collection`.

we typically start with `add_node_to_version_stat` to add the mm2 node info. that are required to collect stats about it to the sqlite database, this info. can be found in a table called `nodes`. An example of this would be:
[code]

after adding all the nodes' that we w

[2021-08-12 10:17] sergeyboyko0791 opened #1037 "[Bug] trade_preimage fails with NotSufficientBalance error"
The `trade_preimage` RPC fails if `base: QTUM` `swap_method: setprice`, and `max:true.
The error response:
`{"mmrpc":"2.0","error":"Not enough QTUM for swap: available 2.97555599, required at least 2.97776495, locked by swaps None","error_path":"maker_swap.utxo_common","error_trace":"maker_swap:1594] utxo_common:2165] utxo_common:456]","error_type":"NotSufficientBalance","error_data":{"coin":"QTUM

[2021-08-13 12:27] artemii235 commented on #964
- [ ] Search for Rust libs that support HW wallets. Hopefully, such libs do exist.
- [ ] Implement a PoC of generating e.g. KMD address and receiving some funds to it.
- [ ] Implement a PoC of activating the coin using MM2 + HW wallet. Display balance.

[2021-08-15 01:53] Milerius opened #1041 "[Bug]: ETH-BEP20 maker oders using setprice with + max are not always startable"
**Describe the bug**

<img width="454" alt="Capture d’écran 2021-08-15 à 03 51 21" src="https://user-images.githubusercontent.com/21139416/129464465-421d42ef-2190-4d57-a54e-137998009d87.png">

[code]

[code]

I don't understand how the taker could technically start the swap with `required at least 0.29292` since i only have `0.292893` ETH-BEP20

[2021-08-16 04:14] sergeyboyko0791 opened #1042 "[Bug] Cyclic package dependency: package `wasm-bindgen v0.2.74` depends on itself"
A cyclic package dependency first appeared in https://github.com/KomodoPlatform/atomicDEX-API/commit/815366544fe31a3bcf5095cddbdaa4edc7bf5005 after the `hyper`package was updated to `0.14.11`.

[code]

[2021-08-16 04:42] sergeyboyko0791 commented on #1042
It seems, `h2 0.3.3` updated the version of `indexmap` to the newest (currently it's `indexmap 1.7.0`), that depends on `wasm-bindgen` as on the chaining above.
To remove the cyclic package dependency, we can downgrade the version of `indexmap` to `indexmap 1.6.0` that breaks the chain of dependencies that lead to the error.

Please note it may occur again if any dependency will update the version

[2021-08-16 10:41] cipig opened #1044 "orders disappear from orderbook"
Orders posted with mm2 built from latest dev branch disappear from orderbook and reappear, but most of the time they are missing. They are posted with `setprice` and the option `save_in_history:false`. Every 3-5 minutes they are removed and recreated with new price/volume.
2.1.3731 does not have this problem.

[2021-08-16 11:05] shamardy commented on #1044
Does this happen with all orders or just a subset of them? If it's only some orders could you please provide some info. about the disappearing orders from both maker and taker side?

[2021-08-16 11:07] cipig commented on #1044
It happens with all orders. The mm2 version on taker or seed nodes does not matter, only the version on the maker side (the one that posts those orders).

[2021-08-16 11:31] artemii235 opened #1045 "Lightning integration"
- [x] Look for Rust libs/crates to work with Lightning.
- [x] Research whether HTLCs are possible.
- [x] Implement coin activation and balance display in MM2.
- [x] Implement external backup for lightning channels.
- [ ] Cloud/Telegram/IPFS channels backup research.
- [x] Implement payments and channels History.
- [x] Add SPV validation before confirming transactions in electrum mode.
- [x] Move B

[2021-08-17 05:48] artemii235 commented on #792
@tonymorony @sergeyboyko0791 Due to the recent dependency update our patch might stop working. Please recheck this on mobile app update and reapply the patch accordingly in https://github.com/KomodoPlatform/parity-common, commit: https://github.com/KomodoPlatform/parity-common/commit/72702ef9adb24ba2936a03612d5ae62354e0b8b3

[2021-08-17 11:19] shamardy commented on #1044
@cipig could you please check if the above PR fixes the problem

[2021-08-17 12:21] cipig commented on #1044
problem solved, thanks for the fix

[2021-08-19 06:16] sergeyboyko0791 commented on #1021
I think we can close this issue since `force_min_relay_fee` was set [here](https://github.com/KomodoPlatform/coins/commit/367558e12e5df63bcffa3a21f030a2dbc97c3c9e).

[2021-08-19 06:16] #1021 closed

[2021-08-19 06:24] sergeyboyko0791 commented on #792
[PR](https://github.com/paritytech/parity-common/pull/522) with your changes was merged recently and was included to the `parity-util-mem 0.10.0` release.
Unfortunately, `sp-trie 0.3.0` (latest current to date) depends on `parity-util-mem 0.9.0` so I had to update https://github.com/KomodoPlatform/parity-common to `0.9.0`.

Update commit: https://github.com/KomodoPlatform/parity-common/commit/d087

[2021-08-19 07:42] sergeyboyko0791 commented on #1041
It seems the issue is related to https://github.com/KomodoPlatform/atomicDEX-API/issues/967

`gas_price` could have been changed while the orders were matching.
`trade_preimage` returns the closest to the max volume that you can trade, given that the fee may increase.

The code responsible for estimating the gas limit in accordance with the moment at which it was called:
https://github.com/KomodoP

[2021-08-19 08:00] sergeyboyko0791 commented on #1041
It can take a long time from the moment `setprice` is called until the moment the swap is started, and the `gas_price`/`dynamic_fee` may increase significantly.
So I'd suggest estimating `gas_price`/`dynamic_fee` more aggressively for the Maker orders.

[2021-08-19 12:12] sergeyboyko0791 commented on #1041
Everything I wrote above doesn't relate to this issue!
The max volume of KMD-BEP20 is independent of the gas limit and gas price. After all, the fee is paid in BNB.
It means that the max volume of KMD-BEP20 hadn't been changed between `setprice`/`update_maker_order` calls and the swap is started.

So I suspect there are two reasons:
1) `max_base_vol` within your Maker order was correct `0.29288268

[2021-08-20 17:48] tonymorony commented on #1031
most probably it was related to seed/swap node different versions (since we've had an issue when orders from new peers weren't visible on seeds)

[2021-08-22 05:58] sergeyboyko0791 commented on #1031
I couldn't reproduce this issue locally.

What I tried:
1) Since the swap status is broadcasted when a swap is finished, I modified the code of the light node to broadcast the `85764c78-6b45-4408-89e0-c4846a057134` swap status on start;
2) Run a seednode and the modified light node. The swap status reached the seednode and was seen using `stats_swap_status` on the seednode.

Also I checked if the

[2021-08-22 06:17] sergeyboyko0791 commented on #1025
It's not entirely correct, because of these facts:

1) For some reason, seednode considered the `555a048d-968b-4297-b748-d9ae8d98d9df` order
as a best option for the `KMD` coin, although the price is worse than the `e6227242-0952-47a6-8598-5645c5d80648` order offers;
2) The `555a048d-968b-4297-b748-d9ae8d98d9df` order has `base_min_volume: 74.475437457`, so when @Milerius passes the base volume eq

[2021-08-23 10:14] sergeyboyko0791 opened #1050 "Unexpected KMD rewards amount"
Copied from https://github.com/KomodoPlatform/atomicDEX-API/pull/1004#issuecomment-897502814
Description:

Do have concerns in some cases, e.g. :

[code]

rewards amount is `"amount":"0.00187866"` but it doesn't look like in this payment spending tx were claimed any rewards
https://www.kmdexplorer.io/tx/72a679bc75c4f3691e9733e5074c08c35aec9d068817dccb2bf514694788b062

tx details from full KMD node

[2021-08-23 19:43] CHMEX commented on #957
https://github.com/KomodoPlatform/atomicDEX-API/issues/1025 should be the fix for this

[2021-08-23 19:43] #957 closed

[2021-08-24 10:43] tonymorony opened #1053 "Random order matching on buy call with not best price"
from one node placed different price orders (both nodes on mm2.1 latest commit):

[code]

from the second node (GUI), matching not best order, and it's matching not best price order but some random from the middle of the order book (you can see on the video) :

https://user-images.githubusercontent.com/24797699/130603038-047555e7-4220-43f1-9daf-4bf969e4bf90.mov

example of one of the buy rpc calls

[2021-08-25 08:53] sergeyboyko0791 commented on #1050
There is another issue related to the incorrect calculation of `kmd_rewards`.
KMD explorer shows the fee of the [b039f2005c5dbe86b6b236b55358b9e8be903962073dc75e76980040105fcf56](https://kmdev.kmdexplorer.ru/tx/b039f2005c5dbe86b6b236b55358b9e8be903962073dc75e76980040105fcf56) transaction as `-0.00384046`. If we assume the fee was `1000` satoshis, then the actual KMD rewards will be `0.00385046`.

[2021-08-31 09:31] artemii235 commented on #1044
@cipig @shamardy @sergeyboyko0791 Please close this issue if this is confirmed as fixed.

[2021-08-31 09:32] artemii235 commented on #1041
@sergeyboyko0791 @Milerius Please close this issue if the problem is resolved.

[2021-08-31 09:32] artemii235 commented on #1036
Done

[2021-08-31 09:32] #1036 closed

[2021-08-31 09:36] artemii235 commented on #1028
@shamardy Could you please close this issue if it's resolved?

[2021-08-31 09:36] artemii235 commented on #1037
@sergeyboyko0791 Please close this if resolved.

[2021-08-31 09:56] Milerius commented on #1041
Thanks for the fix ! I didn't have the problem since the fix.

[2021-08-31 09:56] #1041 closed

[2021-08-31 10:53] #1044 closed

[2021-08-31 10:54] shamardy commented on #1028
Done

[2021-08-31 10:54] #1028 closed

[2021-08-31 11:43] shamardy commented on #1045
[LDK/Rust-Lightning](https://github.com/rust-bitcoin/rust-lightning ) is the only good rust lightning network library/crate that exists, there are other libraries that implement LN in Rust but only partially. It also states in the [about section](https://github.com/rust-bitcoin/rust-lightning#about) that it's designed for integrating lightning with custom features such as our own chain sync/key ma

[2021-08-31 15:22] cipig commented on #1013
my observations so far:
- i have setup monitoring for the number of transactions in the queue and the number is near the limit set by `--tx-queue-size` all the time
- `parity_setMinGasPrice` does not affect transactions that are already in the queue, it only applies to new transactions, so txes that are already in the queue are not dropped when i increase min-gas-price with `parity_setMinGasPrice`

[2021-08-31 16:29] tonymorony opened #1055 "[BUG]: Recipients displaying not properly for transaction to segwit addresses. Tx history is requested for legacy address."
I've sent funds to `ltc1q5x0h4gj5mnks59ujp2cu9t8knzzp7elkrw5uhr`
https://blockexplorer.one/litecoin/mainnet/tx/9bcf7736e4cc46551a137ebda5e53f3bfd6f775b92c1155afcae7b77947cf33c

but app displaying change (sending) address as a recipient:

![Screenshot 2021-08-31 at 23 27 27](https://user-images.githubusercontent.com/24797699/131540647-7b73312b-129a-4537-89c8-c73ca5f9553f.png)

it comes from API res

[2021-08-31 16:45] cipig commented on #941
running mm2 from `memory-leak-fix` branch shows this on console from time to time:
`lp_ordermatch:2178] ERROR Failed to get existing trie with root [0, 0, 0, 0, 0, 0, 0, 0]`
node is running normally though
this error does not show up on `dev` branch

[2021-08-31 16:57] shamardy commented on #941
@cipig Still working on a fix for this as the trie roots change from old to new nodes due to removing canceled orders from the trie which were causing part of the memory leak

[2021-08-31 18:26] shamardy commented on #1055
This is definitely a bug as Segwit was implemented for tx history.
I think this shows only the `received_by_me` without showing the Segwit address. This should show 2 addresses with segwit as the first one
[code]
I can see the problem is in https://github.com/KomodoPlatform/atomicDEX-API/blob/41170748db961f23aa8a10fffc3de09a2bd81aa9/mm2src/coins/utxo/utxo_common.rs#L1909 where WitnessScript as not

[2021-09-01 02:30] cipig commented on #1013
![image](https://user-images.githubusercontent.com/32116761/131600994-bc1e3835-4aa4-445c-9844-6bca0cd5719e.png)
this is how the tx-queue looks like with `--tx-queue-size=16384` and `--min-gas-price=2000000000` (2 gwei)
as of https://blockchair.com/ethereum there are 64000 txes in the mempool
i couldn't find a chart about the gas price of those 64k txes... would be interesting to know how high the

[2021-09-01 05:19] smk762 commented on #1006
Please incorporate https://github.com/KomodoPlatform/atomicDEX-API/issues/720 in this too

[2021-09-01 06:37] artemii235 commented on #1013
You can enable WS API on localhost only or use IPC, the enabled APIs can be different for different protocols. https://openethereum.github.io/Configuring-OpenEthereum - ` --ws-apis` and `--ipc-apis` options should help.

2 gwei seems quite low as of now, I would set it to at least 50.

I will also add more info about the transaction to the swap status for the error case. I assume that sometimes MM

[2021-09-01 08:34] tonymorony opened #1056 "response too large (over 1,000,000 bytes"} returning from electrums for some UTXOs"
@cipig electrums can't parse some valid transactions with a large number of inputs so such UTXOs are not possible to spend with AtomicDEX:

it looks like we should adjust the max response size on electrums

[code]

[2021-09-01 11:04] cipig commented on #1056
1,000,000 bytes is default setting for this: https://electrumx-spesmilo.readthedocs.io/en/latest/environment.html#envvar-MAX_SEND which is equal to 10000 entries. How many entries does the above tx has? Idk if it's a good idea to increase this too much.

[2021-09-01 11:29] artemii235 commented on #1056
@cipig The specific transaction size is 150 Kbytes, and the verbose `getrawtransaction` response is slightly bigger than 1 Mbyte. It causes the `blockchain.transaction.get` error mentioned in the initial comment. I think setting the MAX_SEND to 2,000,000 won't cause too much issue. I think some ElectrumX forks use even higher values.

[2021-09-01 11:45] cipig commented on #1056
Set it to 2M for KMD electrums. Try again.

[2021-09-01 14:40] tonymorony commented on #1056
Works now, tyvm! Would be great if you can apply this to all our electrums

[2021-09-01 14:40] #1056 closed

[2021-09-01 14:51] cipig commented on #941
Running new `memory-leak-fix` branch on one seed node and one "normal" mm2 node. All fine till now, swaps are working, orders don't disappear.
Only thing i saw are this warnings on the seed node: `lp_ordermatch:618] WARN History started from [143, 95, 76, 11, 10, 99, 112, 125] ends with not up-to-date trie root [135, 156, 106, 81, 186, 19, 159, 158]`, but shamardy explained me that those are cause

[2021-09-01 22:06] cipig commented on #1056
Edited the configs of all KMD ACs, will be activated on Tuesday, when electrums are compacted and restarted automatically.
Configs of all other coins are untouched, AuxPOW coins have a higher limit anyway and afaik you only hit this limit when you mine to your ADEX address.
Please let me know when you see this error again, i will then increase the limit for respective coin too.

[2021-09-02 13:34] cipig commented on #1013
I have set `--tx-queue-size=65536` on one node, https://blockchair.com/ethereum is likely using the same value, never seen the mempool size value go over 65536 there.
![image](https://user-images.githubusercontent.com/32116761/131852384-00cf9733-8d2e-4645-a224-8543575b97e0.png)
queue of that node so far... will set it to the others too.
adding `parity_set` to `--ipc-apis=` works fine, i can now us

[2021-09-03 07:32] artemii235 commented on #1050
@sergeyboyko0791

As discussed with @yurii-khi, it will be easier to treat the negative number as the amount of a reward and show the zero tx fee on the GUI side. According to this, we can remove the `kmd_rewards` calculation from history completely. Please do it when you are back :slightly_smiling_face:

[2021-09-04 03:17] artemii235 opened #1058 "The released MM2 logs `9b69b90cf` rev instead of `41170748d`."
The binary seems actual, though.
https://github.com/KomodoPlatform/atomicDEX-API/releases/tag/v1.1.0

[2021-09-04 15:33] cipig commented on #1013
With `--tx-queue-size=65536`, my queue stays stable at ~20k. Will keep it like that, so error `There are too many transactions in the queue. Your transaction was dropped due to limit.` should not show up again, no matter the gasprice used.
![image](https://user-images.githubusercontent.com/32116761/132099901-b7d8c702-e07a-4a34-89dc-446bcefa9752.png)

[2021-09-06 09:27] artemii235 commented on #1055
@tonymorony Could you please test if the problems are fixed in the dev branch?

[2021-09-06 10:31] artemii235 commented on #1024
@tonymorony Could you please test that the problem is fixed in the dev branch? Please try testing with a brand new address that doesn't have any prior swaps.

[2021-09-07 10:17] shamardy commented on #1045
Update on whether HTLCs are possible on LN.
HTLCs are native to the lightning network as they enable payments between 2 lightning addresses that don't have a direct payment channel open between them. this is done through trustless routing of HTLC payments via a network of channels to open a path for payment between the 2 addresses.
Also, atomic swaps between lightning network and on-chain blockcha

[2021-09-07 14:08] artemii235 commented on #941
@cipig @tonymorony Please test if this is fixed in the dev branch.

[2021-09-08 05:17] cipig commented on #941
looks good... memory usage after running for couple hours
[code]
orderbook is the same on both nodes

[2021-09-08 11:37] tonymorony opened #1059 "Network connectedness test"
I do propose besides of interconnection check (via get_mesh as we did during the internal stress test), also check time to time num bids/asks for some pair across the seeds to also ensure that order books are in sync and alert in TG if something is not ok

[2021-09-08 12:27] tonymorony commented on #1055
@smk762 could you please help with re-testing it on the latest dev?

approx test-plan:

1) perform few txs in non-segwit
activation example: `curl --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"electrum\",\"coin\":\"LTC\",\"servers\":[{\"url\":\"electrum1.cipig.net:10063\"}],\\"tx_history\":true}"`

2) check that it's displaying correctly in the tx history call

3)

[2021-09-08 12:30] tonymorony commented on #1024
@SirSevenG please perform few swaps with the current `dev` branch mm2 acting as a taker selling ERC20 from wallet (pubkey) without ERC/ETH swaps before

@artemii235 is such test is enough?

[2021-09-08 13:19] smk762 commented on #1055
I loaded up a wallet which already had some tx for both segwit and legacy - both showed correct tx history for type out of the box.

Activating segwit address, I sent to both a legacy and a different segwit address - both were added to the history when segwit activated, and not shown when legacy activated.

Amounts, fees, and addresses in tx history all matching what is shown on explorer :+1:

[2021-09-09 07:36] tonymorony commented on #941
after almost a day of running:

`227.98 Mb /usr/local/bin/mm2` updated node (grown just around 15-20mb from starting point)
`1060.32 Mb /usr/local/bin/mm2` not updated node

orderbooks are in sync, so a huge leaks seems to be eliminated

[2021-09-09 09:15] artemii235 commented on #1024
Yes, please also test an address that already has swaps just in case.

[2021-09-09 11:00] tonymorony opened #1061 ""Requires higher than upper limit" error on ETH withdrawal"
received this error on mobile (0.5.0), on ~5th attempt I was able to withdraw
[dex.log (58).gz](https://github.com/KomodoPlatform/atomicDEX-API/files/7135327/dex.log.58.gz)

![image](https://user-images.githubusercontent.com/24797699/132661123-fd369395-8dbf-4bc8-b056-758ba675facd.png)

caused by abnormally high gas fee i wonder

[2021-09-09 13:09] #1058 closed

[2021-09-09 15:49] shamardy commented on #1045
A few Issues we should take into consideration when Integrating lightning to mm2.

-  In lightning, the parties involved in a transaction must be online during the transaction to prevent fraudulent behavior. If a party goes offline for an extended period of time for any reason an execution fork attack can be carried out. An execution fork can revert a [payment channel](https://wiki.ion.radar.tech/

[2021-09-09 15:49] cipig commented on #1061
Coult it be that mm2 requires some updates in ERC20 implementation regarding fees after the London hardfork (block 12965000) and https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1559.md ?

There are many fee related changes mentioned in the release notes on https://github.com/openethereum/openethereum/releases since v3.3.0-rc2. Especially: https://github.com/openethereum/openethereum/pull/481

[2021-09-09 16:10] shamardy commented on #1045
@artemii235 The next step will be to implement an HTLC PoC on the testnet following this example https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/mm2src/coins/eth/eth_tests.rs#L196 as we discussed.

[2021-09-09 16:17] tonymorony commented on #1024
Finally ropsten unlagged for me :)

Was able to swap 👍

[2021-09-10 09:55] SirSevenG commented on #1024
Swapped just fine, had no issues.

[2021-09-10 10:49] artemii235 commented on #1024
Thanks for the testing!

[2021-09-10 10:49] #1024 closed

[2021-09-10 19:03] kratatomi opened #1063 "Add support for SmartBCH (Bitcoin Cash 2nd layer, EVM compatible)"
Smart Bitcoin Cash (smartBCH for short) is a sidechain for Bitcoin Cash and has an aim to explore new ideas and unlock possibilities. It is compatible with Ethereum's EVM and Web3 API and provides high throughput for DApps in a fast, secure, and decentralized manner.

It's a young project with just 2 centralized bridges, but a few more bridges are coming in the next months. AtomicDEX has already a

[2021-09-11 00:43] #1002 closed

[2021-09-13 05:27] artemii235 commented on #1015
Thanks for the report! We should exclude orders of the node from the `best_orders` response. It doesn't make sense to have them there.

[2021-09-13 09:50] Milerius commented on #941
It's seems that the problem still occur for me:

[code]

{"result":"2.1.4178_mm2.1_fa01207ab_Linux_Release","datetime":"2021-09-10T12:58:53+07:00"}%

[2021-09-13 09:56] artemii235 commented on #941
@Milerius Does it keep growing indefinitely after running for hours and days? 1,5Gb is not that much for your specific use case if it stops eating the RAM after some time.

[2021-09-13 09:57] Milerius commented on #941
Was 12 gb this morning, I had to restart server was about to die

[2021-09-13 10:31] artemii235 opened #1065 "Simple trading bot implementation"
It's the tracking issue for the built-in simple trading bot.

[2021-09-13 10:46] cipig commented on #941
Is this VSZ or RSS? My mm2 uses 103 MB after one week running and seed node uses 300MB, also after ~1 week.
Do `ps aux | grep mm2`. Mine shows:
[code]
which means 103MB RAM usage.

[2021-09-13 10:51] artemii235 commented on #941
@Milerius Please try to start the MM2 with heaptrack according to https://github.com/KomodoPlatform/atomicDEX-API/blob/mm2.1/docs/HEAPTRACK.md and share a report here. Please use the binary from http://195.201.0.6/mm2.1/ as they include debug symbols.

[2021-09-13 11:17] artemii235 commented on #1065
MM2 design notes
- [ ] Disallow manual orders management for pairs that the bot manages.
- [ ] Consider supporting different trading strategies. It might be a simple enum in the beginning.

[2021-09-13 13:08] Milerius commented on #1065
I do think we can also add the fact that we need basic trading operations to be available in the `lp_bot` crate:

- retrieving a balance
- cancelling orders
- updating orders
- creating an order

[2021-09-13 14:22] shamardy commented on #941
I think the problem is that @Milerius uses `update_maker_order` RPC a lot and the changes history are kept indefinitely in the memory https://github.com/KomodoPlatform/atomicDEX-API/blob/fa01207ab48b39514dd8ca37cd22f5b675d31434/mm2src/lp_ordermatch.rs#L3676 I think `changes_history` should be kept only in the database files as it's only needed for the `orders_history_by_filter` RPC method which ge

[2021-09-14 05:54] Milerius commented on #1065
I've seen in https://github.com/KomodoPlatform/atomicDEX-API/blob/42d76e65f9fe5d7bbb0148ed69a2caad72113757/mm2src/lp_ordermatch.rs#L1321 that the `MakerOrder` struct is already public; I can add a public function that takes the `ctx` into parameter and return the HashMap of MakerOrder probably?

[2021-09-14 10:49] artemii235 commented on #1063
@kratatomi Thanks for creating the issue!

As SmartBCH is compatible with EVM and Web3 API, its support should be an easy task. I am happy to assign a 500 KMD bounty for this with the following requirements:

1. Deploy the 1.0 release of EtomicSwap contract to EWT mainnet: https://github.com/artemii235/etomic-swap/releases/tag/1.0.
1. Setup the SmartBCH full node with public RPC API enabled. Provi

[2021-09-14 12:34] artemii235 commented on #826
@tonymorony I hurried and occasionally merged the last PR with order books support to mm2.1. It's not released automatically so I think it's fine to test things directly in the release branch this time :slightly_smiling_face:
Could you please check the following:
1. Activate any coin in Segwit mode on the new node. Create a maker order.
2. The new node displays the address in a proper format for t

[2021-09-14 12:52] kratatomi commented on #1063
Hi @artemii235
Thank you so much for the bounty, I'm reaching members of the BCH and SmartBCH community right now, I'll let you know once the flipstarter campaign starts.

[2021-09-14 15:50] kratatomi commented on #1063
@artemii235 They ask me if there's also support for tokens, at least in the desktop version. Can customized tokens be added?
I'm setting up the campaign, my initial idea is to ask $1000 (minus $45 for hosting/domain fees) and give the funds to you once completed, then you can distribute the money to the dev/s who complete the task.

[2021-09-14 21:50] kratatomi commented on #1063
Campaign started: https://atomicsbch.cash/

[2021-09-15 07:37] artemii235 commented on #1063
@kratatomi

[SEP20](https://docs.smartbch.org/smartbch/smartbch-evolution-proposals-seps/sep-20) tokens should be supported by design as they seem a copy of the ERC20 standard. If there is another custom format, it will take some effort to support depending on the specific standard implementation.

Could you please also clarify what did you mean by `customized tokens`?

[2021-09-15 09:26] kratatomi commented on #1063
@artemii235 I mean if AtomicDEX could bring the option to add a custom SEP20 asset, like it already does with ERC20/BEP20 in the desktop version.

The flipstarter is fully funded, it took less than 12 hours.

[2021-09-15 09:28] artemii235 commented on #1063
Oh, I see. Yes, it should be possible. I will clarify this with GUI devs once we have SmartBCH added.

[2021-09-15 11:31] smk762 commented on #826
## AtomicDex Desktop 0.5.0-beta (mm2 version 9b69b90cf) vs CLI (7173ae2d5)
### Trade 1
- placed maker order in CLI with latest mm2.1 binary (7173ae2d5)
- Base LTC(segwit) / Rel KMD
- order seen in desktop app orderbook on different PC (mm2 version 9b69b90cf)
- order initiated (cb4dc41f-72c1-4811-a2eb-06d62a1e7862) and completed
- GUI received LTC into legacy address

### Trade 2
- placed maker ord

[2021-09-15 11:43] tonymorony commented on #826
tyvm for the testing @smk762 !

[2021-09-15 11:47] artemii235 commented on #826
Thanks for the comprehensive testing! Have there been any issues like in https://github.com/KomodoPlatform/atomicDEX-API/issues/1044?

[2021-09-15 11:58] artemii235 commented on #928
@tonymorony I've recently merged the huge WASM integration PR to the dev branch. Could you please arrange testing according to this list https://github.com/KomodoPlatform/atomicDEX-API/pull/1007#issuecomment-908784815?

[2021-09-15 11:59] smk762 commented on #826
Stopped mm2 CLI to test other things, will restart and continue to monitor this evening soon

[2021-09-16 07:15] tonymorony commented on #983
can we close this one @Milerius ?

[2021-09-16 07:34] tonymorony commented on #931
@shamardy sorry for the delay with testing, proceed to test on https://github.com/KomodoPlatform/atomicDEX-API/releases/tag/beta-2.1.4178 version (as I understand p2p version was merged into dev and mm2.1 synced with dev after it), but getting an error that method not found:

[code]

is there a pb in my request?

[2021-09-16 10:02] artemii235 commented on #931
@tonymorony There is an error in examples: the `mmrpc` key should be outside of the params object. E.g. <https://developers.atomicdex.io/basic-docs/atomicdex/atomicdex-api-20/mmrpc-20.html#command>

[2021-09-16 10:06] artemii235 commented on #941
@Milerius Please try the latest build from http://195.201.0.6/update_maker_order_mem_leak_fix/ and check if the problem is resolved.

[2021-09-16 11:02] tonymorony commented on #931
thanks, @artemii235 !

RPC calls works as expected:

[code]

[code]

after removal

[code]

working RPC call examples:

[code]

@smk762 there are 3 points outstanding:

- [ ] add valid RPC calls into documentation

- [ ] collect all ips/domains and netids from NNs

- [ ]  build a score counting API which reading data from `stats_nodes`

[2021-09-16 19:21] cipig commented on #1061
a user reported the same error on Discord and when i looked at https://etherscan.io/gastracker, it showed this
![image](https://user-images.githubusercontent.com/32116761/133672296-cfa6fecb-082b-4845-97d3-b2c616ce077e.png)
it was ~70 gwei 1h ago or so and i sent a ERC20 tx for 70 gwei at that time
looks like the parity nodes are rejecting such high fees and maybe that is not that bad :-)

[2021-09-16 19:27] #983 closed

[2021-09-17 06:37] artemii235 commented on #1061
Yeah, I agree. This limit looks good when there are extremely high fees on the network.

[2021-09-17 09:01] smk762 commented on #826
Not seen here :+1:

[2021-09-17 09:02] artemii235 commented on #826
Thanks! I will publish a new release today.

[2021-09-17 12:46] tonymorony opened #1071 "Add possibility to retrieve KMD/smart chains pubkey from API"
cf: https://github.com/KomodoPlatform/AtomicDEX-mobile/issues/1338
cf: https://github.com/KomodoPlatform/atomicDEX-Desktop/issues/1302

[2021-09-18 04:51] damascene commented on #922
Any progress on this issue, I was trying to setup a test trade for honk token but the lowest price I could set is 10x higher than market: https://exchange.bitcoin.com/honk-to-bch

[2021-09-18 21:48] damascene opened #1072 "Enable address format properties in Bitcoin Cash forks"
I was trying to connect a Bitcoin Cash fork called Ergon (XRG) to MM2, but I get `unexpected network prefix` error. The coin uses the cashaddress style and  `ergon:` as an address prefix. Copying the related section from BCH configuration didn't work.

I've used the following in coin file:
[code]
The error I get when I try to connect with address format:

[code]

The script I used to connect:
`XRG

[2021-09-19 18:51] cipig opened #1074 "UTXO to BEP20 orders don't match"
This bid in the MCL/USDT-BEP20 orderbook
[code]
can't be matched by an order placed with ADEX Desktop (sell 1000 MCL for USDT-BEP20)
it is turned into a maker order that looks like this
[code]
the price matches exactly (the order was placed by selecting the above bid)
i observed that the `base_min_volume` has different precisions on taker and maker... could that be the reason that the orders don't

[2021-09-19 19:11] cipig commented on #1074
happens with EFL/USDT-BEP20 too... just have a second example
[code]
can't be matched by
[code]
selling 100 EFL for USDT-BEP20

this is the output from ADEX Desktop when placing the order:
[code]

[2021-09-20 04:38] smk762 commented on #1055
@artemii235 Is further testing required here or can we close this issue?

[2021-09-20 05:58] artemii235 commented on #1055
I think no further testing is required, thanks! I'm closing the issue.

[2021-09-20 05:58] #1055 closed

[2021-09-20 06:01] artemii235 commented on #1074
I'm checking this now.

[2021-09-20 08:03] smk762 commented on #1074
Not sure if related, but also failed to match orders while testing MATIC to KMD / UTXO
https://github.com/KomodoPlatform/atomicDEX-Desktop/pull/1303#issuecomment-922632507

[2021-09-20 08:09] artemii235 commented on #1074
Yes, it seems the same bug. I'm preparing a hotfix now.

[2021-09-20 12:44] artemii235 commented on #1074
@cipig Could you please test that the problem is fixed in the linked PR?

[2021-09-20 16:48] cipig commented on #1074
thanks a lot, problem is fixed
after i updated only the maker node, the above orders matched fine

[2021-09-21 09:03] artemii235 commented on #1074
Thanks for the report and testing!

[2021-09-21 09:03] #1074 closed

[2021-09-21 15:11] kratatomi commented on #1063
Is any dev already working on this? I would like to know just to keep the community updated, thanks.

[2021-09-21 20:27] cipig opened #1078 "BEP20: "transfer amount exceeds balance" when token has 8 decimals"
Trying to swap ARRR-BEP20 with only 8 decimals (default is 18):
[code]
leads to swap being shown as successfull on both sides, but taker (buying ARRR-BEP20) has no funds because the shown `MakerPaymentSpent`:
[code]
actually fails with "Fail with error 'ERC20: transfer amount exceeds balance'" : https://bscscan.com/tx/0x0f890c726c47b8e336af78f6b0476f28c3535722173ac7e4c1333389f725aaf1

[2021-09-21 20:36] cipig commented on #1078
nvm, found the reason: it's not because of the decimals, but because they implemented a contract that sends "fees" somewhere else. This is MakerPayment: https://bscscan.com/tx/0x1b74323247ff186246af526e9eae1e3ecc8aa180f3ccdca7def1e809921ba6da
there are 2 additional txes with 0.01 each
will remove ARRR-BEP20

[2021-09-22 03:46] Milerius opened #1079 "[Research L2]: Possible implementation of L2 ETH"
I have these last days looking a little at the possibility of implementing the official eth L2 in AtomicDex.

## L2 Arbitrum:

- Doesn't support RIPEMD160 in solidity precompiled; it should work with something like `sha256`.
- Result in a reverted transaction on the swap.
- Wallet functionality work.
- Use something named ARBGAS: https://developer.offchainlabs.com/docs/arbgas

Two solutions to imp

[2021-09-22 06:50] artemii235 commented on #1063
Not yet, I guess. We will push marketing a bit to increase acknowledgment about the bounty.

[2021-09-22 06:52] artemii235 commented on #1078
It's similar to what USDT-ERC20 has done. We don't support such tokens yet.

[2021-09-22 09:13] #1072 closed

[2021-09-23 10:54] artemii235 opened #1081 "Periodical network split/partitioning."
The network split happens sometimes leading to the order books desynchronization between partitions. Restarting the seenodes typically helps. We need to find the reason and prevent future occurrences of the problem to have a reliable NN network https://github.com/KomodoPlatform/atomicDEX-API/issues/654.

@tonymorony @cipig
Could you please do the following when you notice the partitioning next tim

[2021-09-24 08:42] smk762 commented on #928
- TX history saves and loads as expected. Malformed json is purged and rebuilt.
- swap data saves / loads as expected
- Shared DB with 2 mm2 instances (same seed) only kickstart on one instance `taker_swap:277] WARN Swap 527e162c-a011-4865-aad5-42068a9d2f78 file lock is acquired by another process/thread, aborting`
- my_swap_status returns correct info of already finished swaps.
- my_recent_swaps

[2021-09-26 05:00] cipig commented on #1081
my mm2 from ADEX Desktop (12D3KooWB71UDx2iNJu4GtMvBSxESpNZiSa7tZsnYFwPvPFDnRMT) can't see orders from MM-1 (12D3KooWQjWADreqwyonE5b7Bk5sEHEc3MaG43e8ZEokdKRWUsBN), while all other nodes can see them, including seed nodes:
[code]

after restarting ADEX Desktop, it can see all orders
strange is that it shows the same after the restart in `get_relay_mesh`, just the order is reversed:
[code]
so not sur

[2021-09-26 05:20] cipig commented on #1081
sorry, deleted last post because of false alarm... orders were not visible because of banning

[2021-09-27 07:21] sergeyboyko0791 commented on #1042
It seems I can close this issue since it doesn't reproduce now.
If someone meets the problem again, please open the issue.

[2021-09-27 07:21] #1042 closed

[2021-09-27 07:38] sergeyboyko0791 commented on #1023
There are no more reports with this error.
If someone meets the problem again, please open the issue.

[2021-09-27 07:38] #1023 closed

[2021-09-27 07:44] superastorh commented on #1063
I will lock what I can do

[2021-09-27 07:49] sergeyboyko0791 commented on #1025
There are no more reports with this error.
If someone meets the problem again, please open the issue.

[2021-09-27 07:49] #1025 closed

[2021-09-27 08:11] sergeyboyko0791 opened #1084 "Stop and release spawned futures immediately on stop RPC call"

[2021-09-27 08:16] sergeyboyko0791 commented on #1084
Releasing spawned futures may allow to run MarketMaker immediately after the `stop` RPC call.
Related issue: https://github.com/KomodoPlatform/atomicDEX-API/issues/1020

[2021-09-27 08:16] #1020 closed

[2021-09-27 23:05] damascene commented on #1063
Hey I would like to lock the bounty, I've done most of the work but seems there is an issue regarding gas that is preventing completion.
Here is what I've done so far:

Contract deployed on Testnet
https://www.smartscan.cash/address/0xe25e720D33E45b589FA76F08F20ecD6a8d15e4e2
0xe25e720D33E45b589FA76F08F20ecD6a8d15e4e2

Contract deployed on Mainnet
https://www.smartscan.cash/address/0x531DeB2240BCBc

[2021-09-28 05:27] Milerius opened #1085 "[Protocol Integration]: Solana"
I'm currently implementing Solana

Done:

- Balance
- Balance SPL (Solana Program Library tokens)
- Current Block
- Withdraw (Solana)
- Send raw transaction

Open discussion:

- I propose for Solana a new configuration:

[code]

- my_balance (v2) may have the following signature: `my_balance(token: Option<String>)`
- usage `solana_coin.my_balance("USDC-SPL")`
- my_balance_tokens (dispatcher v2) ->

[2021-09-28 07:59] kratatomi commented on #1063
@damascene Great news! I wish I could help, the only thing I know is that in SmartBCH you need to set gas at 1.05 gwei. This is a bug that will be solved in the next update.

[2021-09-28 09:11] damascene commented on #1063
from discord as reported by @artemii235 :
[code]

Taker fails to validate the maker's payment. It seems that SmartBCH RPC returns data using an unsupported format. Could you please add this information to the issue? Will check what we can do with this a bit later.

[2021-09-28 09:39] artemii235 commented on #1071
Spec:
It's ok to implement mmrpc:2.0 only
Request
[code]
Response (hex-encoded Secp256k1 public key derived from passphrase)
[code]

[2021-09-28 11:40] sergeyboyko0791 commented on #928
@smk762 thanks for the testing!
I have one question regarding

Is it expected behavior? I didn't quite understand what this test was :sweat_smile:

[2021-09-28 15:07] damascene commented on #1063
I've found that the transaction format being reported in logs lacking the `0x` prefix, not sure if that is the reason.

swap failing report from cipig API:
[code]
https://dexapi.cipig.net/public/error.php?uuid=e69f58ae-16c5-4533-8bce-e629b1800a9bit
Transaction confirmed on chain:
https://www.smartscan.cash/transaction/0xaea7d1fa62afefc4b0fb14bdf8ba4c96de45e5c29fdae8fd6b5dbb60ed450ea8

[2021-09-28 20:00] ludonakamoto opened #1087 "OmniLayer Support [BTC|LTC|FTC]"
Hi, did you ever looked at integrating omnilayer tokens such as tether?

In addition to Bitcoin blockchain, the omnilayer is also now implemented on
- Litecoin (https://omnilite.org/)
- Feathercoin (https://omnifeather.com/)

The number of token is increasing everyday.

I can imagine a wizard to add those tokens as for the ERC-20 tokens.

Thank you

Ludo

[2021-09-29 07:46] Milerius commented on #1079
[code]

I will try a swap again on L2 on the 15 October!

[2021-09-29 08:58] cipig opened #1088 "some LCC swaps fail on MakerPaymentSpend"
Some swaps with LCC (Litecoincash) are failing on MakerPaymentSpend with `16: mandatory-script-verify-flag-failed (Signature must be zero for failed CHECK(MULTI)SIG operation)` and the funds are stuck, since for Maker swap was successful and Taker can't spend MakerPayment because of the error.
This is such an error:
[code]
Strange is that not all swaps are failing, many were done perfectly fine, s

[2021-09-29 10:29] #1071 closed

[2021-09-29 10:50] artemii235 commented on #1088
@cipig What MM2 versions are used in these failed swaps? May it be outdated MM2 and/or coins config?

[2021-09-29 12:49] cipig commented on #1088
It was with one of my maker nodes, but the taker used 0.5.0 with an older coins file. After a "Reset assets configuration", the swaps work fine. Closing issue.

[2021-09-29 12:49] #1088 closed

[2021-09-29 13:56] smk762 commented on #928
Just a comment, seen while testing. I think it is just GUI processing differently, so no problem.

[2021-09-30 11:37] artemii235 opened #1089 "Add support of tickers like BTC, BTC-segwit."
It will make UX much more convenient in GUIs. `BTC-segwit` will be always activated in Segwit mode and `BTC` in legacy. The only problem is to have the same order book for both.

[2021-09-30 14:26] Wildips opened #1090 "Orderbook method return empty asks and bids lists"
**Describe the bug**
Orderbook method result contains empty asks and bids lists

**Environment :**
Ubuntu 21.04 (64)

**Affesct Versions :**
mm2-41170748d-Linux-Release
mm2-9fe6e9402-Linux-Release

**Steps :**
1. Execute command:
`curl -s --url "http://127.0.0.1:7783" --data "{\"userpass\":\"$userpass\",\"method\":\"orderbook\",\"base\":\"KMD\",\"rel\":\"LTC\"}`

**ER :**
According [documentation]

[2021-10-01 04:55] artemii235 commented on #1090
@Wildips I guess the docs are outdated as they point to 9999 netid. Could you please try using 7777 instead?

[2021-10-01 05:02] artemii235 commented on #1087
@ludonakamoto Thank you for opening the issue! We have not considered integrating OmniLayer yet. I'm adding this to our backlog - we will consider this when we will decide what new protocol to integrate next.

[2021-10-01 05:20] gcharang commented on #1090
@Wildips can you please point me to the place where you found the instruction to use  `9999` netid?

[2021-10-01 05:27] artemii235 commented on #964
https://crates.io/crates/usb-device
https://docs.rs/usbd-webusb/1.0.2/usbd_webusb/

[2021-10-01 05:54] artemii235 commented on #1063
@damascene Here is the transaction object returned from https://smartbch.fountainhead.cash/mainnet API:
[code]

It has null values of `v`, `r`, and `s` fields. MM2 requires them to fully reconstruct the initial raw transaction bytes. Is there a way for SmartBCH RPC to return the actual values instead of null?

[2021-10-01 05:58] artemii235 commented on #1063
PS You can check it by running `curl --data '{"method":"eth_getTransactionByHash","params":["0xaea7d1fa62afefc4b0fb14bdf8ba4c96de45e5c29fdae8fd6b5dbb60ed450ea8"],"id":1,"jsonrpc":"2.0"}' -H "Content-Type: application/json" -X POST https://smartbch.fountainhead.cash/mainnet`.

Example from Binance Smart Chain RPC: `curl --data '{"method":"eth_getTransactionByHash","params":["0x594707f3b6194b4e454c9

[2021-10-01 08:41] Wildips commented on #1090
@artemii235 Yes it solved the problem. Thank you so much.
@gcharang I received in work a project that was not completed some time ago and I didn't search in documentation information about settings netid. I can only note that the problems arose precisely with this method. For example for methods my_balance, my_recent_swaps, sell, cancel_order, all works with netid 9999. I don't know if this is a p

[2021-10-01 08:41] #1090 closed

[2021-10-01 14:24] sergeyboyko0791 commented on #964
I started researching how to integrate Ledger Nano S/X first into MarketMaker in WASM. Here's what I learned about it:
* Ledger requires to develop a Nano app <https://developers.ledger.com/docs/nano-app/introduction/> to work with an asset, token, etc. Also Ledger allows running only one app at the moment. It means, if you want to sign Bitcoin and Eth transactions, you should open the `Bitcoin` a

[2021-10-04 09:52] artemii235 commented on #802
@Milerius Please do research on QTUM staking and propose staking API specification in this issue.

[2021-10-04 11:09] sergeyboyko0791 commented on #964
A few comments regarding integration Ledger/Trezor into MarketMaker in WASM
* [bitcoin-rs](https://github.com/summa-tx/bitcoins-rs/) uses [u2f-api](https://github.com/summa-tx/bitcoins-rs/blob/main/ledger/src/transports/wasm.rs#L18) as a transport protocol, but as the Ledger team mentioned in [this article](https://github.com/LedgerHQ/ledgerjs/blob/master/docs/migrate_webusb.md#why-is-it-deprecate

[2021-10-04 12:44] Milerius commented on #802
last spec details: https://github.com/qtumproject/documents/blob/master/en/OfflineStakingDelegation/README.md

[2021-10-04 13:05] Milerius commented on #802
according to the doc:

[code]

I see in the code we have:

[code]

That look's very similar, what do you think @artemii235 ? can i use this function to generate the delegate tx?

[2021-10-04 13:31] cipig opened #1091 "remove/improve banning"
The current banning system leads to many orders that are not fillable. For me 80-90% of the orders in MCL/KMD orderbook are not fillable. Problem is that some users tend to keep their ADEX Desktop running and the banning is only removed when they restart. Once you had a failed swap with a certain pubkey (eg because of waiting too long for tx confirmation/notarization), you will not be able to swap

[2021-10-04 16:01] pbca26 commented on #964
I think running one app at a time is a security feature rather than "inconvenience" because a user is required to select a specific app. This prevents an enduser app from touching other coins. If I remember correctly on Trezor all you have to do is specify derivation path and/or coin name and get desired data from a device.

U2F over browser in my experience is highly unstable, constant connection

[2021-10-04 18:22] cipig opened #1092 "panick on swap kickstart"
saw this panic after a mm2 restart
[code]

this is the swap json:
[577a866c-7057-4f1d-9721-88a01530844c.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/7280355/577a866c-7057-4f1d-9721-88a01530844c.txt)

[2021-10-05 11:24] smk762 commented on #931
I just hit an error with `start_version_stat_collection` after entering an invalid Peer ID earlier via the `add_node_to_version_stat` method.

```{"mmrpc":"2.0","error":"Error on parse peer id decoding multihash failed","error_path":"lp_stats","error_trace":"lp_stats:189]","error_type":"PeerIdParseError","error_data":"decoding multihash failed","id":null}```

Could we move this validation to the `

[2021-10-05 12:12] artemii235 commented on #1091
`TakerPaymentWaitConfirmFailed` and `MakerPaymentWaitConfirmFailed` are not events that lead to the pubkey ban. Could it be another reason?

But in general, I agree that banning in its current form is quite suboptimal. Maybe it's worth removing it completely and wait until we implement a better reputation system. I will consider the options and get back to this issue.

[2021-10-05 12:15] shamardy commented on #931
@smk762 the above PR should fix the Peer ID validation problem

[2021-10-05 20:10] shamardy commented on #1092
It seems that the tx_hex obtained from `getrawtransaction` for DIMI coin doesn't contain any output https://explorer.diminutivecoin.com/api/getrawtransaction?txid=76d5560137e25afa8d8631a5bae1f39c88ce97a90512360d0ed49e2cdfaf576e&decrypt=1
This can be seen if we used https://live.blockcypher.com/btc/decodetx/ to decode the tx_hex `"hex"` from the DIMI explorer `0100000003b353610304d549c67cb7ae66bd70

[2021-10-05 20:19] cipig commented on #1092
the electrum servers of DIMI were in a strange state for couple days... they had txes in their DB which were not on chain (like a chain rollback which was not reflected in the electrum DB)... only one of the 2 electrums was in this state... this was fixed in the meantime... the swap failed during that time
the impact on mm2 is that it shows the above panick on every restart and the swap is not rec

[2021-10-06 05:37] #931 closed

[2021-10-06 06:51] artemii235 commented on #1092
@shamardy It's incorrect to check the tx hex of another coin using BTC explorer as they may have different transaction formats. If you pass a valid KMD transaction hex there, you also won't get a correct result.

The outputs in DIMI tx seem to be there as the following bytes sequence `030d1d6a100000000017a91439352bc650acd5e1dfbf109841c1a97824e8b858870000000000000000166a14e1fdcb31df41211da0325bb6dc

[2021-10-06 07:01] #1031 closed

[2021-10-06 07:03] artemii235 commented on #1050
Closing as "wontfix".

[2021-10-06 07:03] #1050 closed

[2021-10-06 07:04] artemii235 commented on #1053
The fix was released.

[2021-10-06 07:04] #1053 closed

[2021-10-06 12:52] smk762 opened #1097 "start_version_stat_collection method interval stacks, does not replace"
**Describe the bug**
Bit of a quirk and simple to work around, but worth a mention to avoid unintended extra logs in db.
If sending
`curl --url "http://127.0.0.1:7783" --data "{\"mmrpc\": \"2.0\",\"method\":\"start_version_stat_collection\",\"userpass\":\"$userpass\",\"params\":{\"interval\": 60}}"`
more than once, entries will be made in the database more than once a minute.

The only way to "res

[2021-10-06 13:22] shamardy commented on #1097
This was the intended behavior as `start_version_stat_collection` was supposed to run once with the required interval and should never stop or be updated. But I can see the need maybe for `update_version_stat_collection` to update the interval and maybe a `stop_version_stat_collection` to stop it. Maybe if `start_version_stat_collection ` is called again we can return an error saying that "version

[2021-10-06 16:04] Milerius commented on #802
req:

[code]

resp:

[code]

[2021-10-07 12:10] shamardy commented on #1045
The following is the best technical book on the lightning network (Maybe the only one) https://github.com/lnbook/lnbook it's equivalent to the "Programming Bitcoin" book but for LN. It's not officially released yet but should be in Jan of 2022 but they released the work on progress and are now the final production version on Github.

[2021-10-07 12:44] shamardy commented on #1097
@smk762 Just wanted to inform you that I will be working on this next week as it might need more time than I initially estimated.

[2021-10-10 18:57] cipig opened #1100 "refunds of RVN 18h overdue"
I have several failed KMD/RVN swaps (TakerPaymentValidateFailed) where the refund of the RVN to the maker is long overdue.
[code]
this is the entire swap file:
[3021b858-2f5a-4e35-b0e4-35d15707d302.txt](https://github.com/KomodoPlatform/atomicDEX-API/files/7318017/3021b858-2f5a-4e35-b0e4-35d15707d302.txt)

1633826048 is 18h ago and this is the makerpayment tx: https://ravencoin.network/tx/1a93f7d7

[2021-10-12 02:43] ca333 opened #1102 "ERC20 based swaps failing"
noticed this during "high fee phases" - all swap attempts with an ETH based stable coin (USDC) fail in this case.
Tried swapping ERC20 (USDC) for a BEP20 token. Gas was at 105-130 gwei.

[code]

looks as `eth_estimateGas` response issue?

EDIT: few swaps fail with

[code]

[2021-10-12 06:52] #1100 closed

[2021-10-12 08:55] artemii235 commented on #1102
PS It seems we should also consider allowing setting a manual fee for the swap similar to the `withdraw`. It will cover cases when users need to complete an important swap no matter the gas price situation.

[2021-10-12 12:25] artemii235 commented on #964
@sergeyboyko0791 Please consider this idea https://github.com/KomodoPlatform/atomicDEX-API/issues/928#issuecomment-940962013 while implementing abstractions for transaction signing. We should have the possibility to delegate this to a remote node that has access to an actual device.

[2021-10-13 11:40] cipig opened #1106 "different gas stations use different factors for the gas price"
https://gasstation-mainnet.matic.network shows `{"safeLow":30,"standard":30,"fast":31,"fastest":50,"blockTime":2,"blockNumber":20172033}` and 30 means 30 gwei
https://ethgasstation.info/json/ethgasAPI.json shows `{"fast":800,"fastest":940,"safeLow":610,"average":650,"block_time":10.41304347826087,"blockNum":13409777,"speed":0.484156913440924,"safeLowWait":11.5,"avgWait":1.4,"fastWait":0.5,"fastest

[2021-10-13 12:30] shamardy commented on #1097
Stopping takes time to accomplish as the stats collector has to finish the current collection cycle to stop, maybe for case no.4 it's good to have a better error message like
{"mmrpc":"2.0","error":"Version stat collection is currently stoping","error_path":"lp_stats","error_trace":"lp_stats:223]","error_type":"CurrentlyStopping","id":null}

Case 5 and 6 work as expected as `./start_stats.sh 60` d

[2021-10-14 15:17] damascene commented on #1063
Here is two upgraded public nodes:
https://smartbch.fountainhead.cash/mainnet
wss://smartbch-wss.greyh.at

I've submitted a PR to the coin repo.
Currently there is no way to verify contract but the smartscan.cash is plannin it in the future.

[2021-10-14 20:59] cipig commented on #1013
the tx queues are OK, 1 month chart running with `--min-gas-price=1000000000` (1 gwei)
![image](https://user-images.githubusercontent.com/32116761/137373084-9cd0dfd3-5ac2-4bca-b86c-225d1f7e1de5.png)
the limit of our nodes is 65k

also added the option `--tx-queue-mem-limit=0` to our nodes
[code]
and as such disabled another dropping condition from https://openethereum.github.io/Transactions-Queue.

[2021-10-15 05:16] Milerius commented on #740
By implementing PR for offline staking of QTUM I realized the need for this feature.

In general, offline staking does not mix well with active trading.

My idea to go to multi-address without having to refactor everything and break everything would rather be to make this feature work only on the new compatible bip39 / bip44 seed and by definition to have the bip39 address + the derived bip44 addr

[2021-10-15 10:39] artemii235 commented on #1063
@damascene I have a question: is there a way to see the "Internal" SBCH transfers happening during smart contract calls? The transaction https://www.smartscan.cash/transaction/0xbedf6cb9f5fc135588559d506ea05cf9ddd22b3615ab00b98307bdfa9914d7e7 should have transferred SBCH, but Explorer doesn't display it. Example from Etherscan: https://etherscan.io/tx/0xd40160a0c7434ef6b0b03cc2860a1b8effe13b48e30c

[2021-10-16 03:37] smk762 opened #1110 "Stats collection: Dial failure persists on tracked node after downtime and restart"
**Describe the bug**
I'm still running tests on this, but opening issue with initial findings and will add data as it becomes avalable.
I have a stats collection node running uninterrupted with notary node PeerIDs and IPs registered.
At 20:26 I stopped mm2 on my dragonhound_DEV node, then restarted it a 8:52 the next morning.
In the two hours since, attempts from the stats node to request version

[2021-10-16 03:38] smk762 commented on #1110
cc: @tonymorony @shamardy

[2021-10-17 06:59] smk762 commented on #1110
Is there a peerID limit? I notice that the response in logs e.g.
[code]

Consistently only returns 40 peers. Notary Node network is 64 tho not all have indicated intent or provided info to participate yet.

[2021-10-18 09:06] #1106 closed, assigned to Milerius

[2021-10-18 13:25] shamardy commented on #1110
This is related to the random peers that a node discovers to be used for other requests unrelated to version collection. The notary nodes peers added by `add_node_to_version_stat` are separated from those peers and should have no upper limit on their number.

[2021-10-19 11:31] ca333 opened #1113 "blockbook support (SPV alternative)"
will be good to have https://github.com/trezor/blockbook support at some point as seems quite robust and has a bright future thanks to Trezor.

[2021-10-20 07:27] #1110 closed, assigned to shamardy

[2021-10-21 05:52] sergeyboyko0791 commented on #914
I'll try to add the URL to as many places as possible today.

[2021-10-22 01:40] cipig opened #1115 "[FEATURE REQUEST]: disable DEX features if system clock is not in sync"
Somebody running `AtomicDex Desktop 0.5.2-beta | 2.1.4315_mm2.1_9fe6e9402_Windows_NT_Release` as maker is failing all swaps with `taker_swap:821] Started_at time_dif over 60 61` because his system clock is wrong.
There is no banning for this, so no way to swap the coins if his offer is the cheapest in orderbook.
Please add system clock check on app startup and don't start it if clock is not in syn

[2021-10-24 20:37] cipig opened #1118 "mm2 does not try all RPC nodes if first one fails on enable"
one of the RPC endpoint of ONE is dead atm, giving this error on `enable`:
[code]
on console
[code]

problem is if i have more endpoints configured in my `enable` call, like this
`\"method\":\"enable\",\"coin\":\"ONE\",\"urls\":[\"https://api.harmony.one\",\"https://api.s0.t.hmny.io\"]`, try to enable the coin and the bad endpoint happens to be the first one tried, mm2 does not enable the coin at

[2021-10-24 22:11] #1118 closed, assigned to nobody

[2021-10-27 08:46] artemii235 opened #1120 "Finalize `convert_utxo_address` RPC."

[2021-10-27 09:32] artemii235 opened #1121 "If request to the first electrum times out, all other are timed out too."
I discovered this during the investigation of the failed `firo_lelantus_tx_details` test. `electrumx01.firo.org:50001` seems out of sync/not responding to some requests. Request to others should succeed, but we get `Transport(\"rpc_clients:1258] rpc_clients:1260] [\\\"rpc_clients:2097] rpc_clients:2095] 20s timed out waiting for the future to complete\\\", \\\"rpc_clients:2097] rpc_clients:2095] 2

[2021-11-01 08:23] artemii235 commented on #802
@Milerius Are the examples above actual? Please update them if no, add missing RPCs requests samples, and assign @smk762 to this issue for testing and documentation.

[2021-11-01 09:40] artemii235 commented on #1089
@smk762 Could you please document the changes outlined in https://github.com/KomodoPlatform/atomicDEX-API/pull/1116#issuecomment-954651554?

[2021-11-01 13:12] artemii235 commented on #1089
@smk762 Could you please also add `orderbook_ticker` to the coins repo Readme, and add `-Segwit` version with `orderbook_ticker` of each coin having `bech32` prefix?

[2021-11-02 12:15] artemii235 commented on #1065
@Milerius @smk762 Could you please also sync on this issue testing and documentation?

[2021-11-02 12:18] tonymorony opened #1122 "Combine <ticker>-<protocol> / <ticker>-<protocol> permutations into single orderbook"
cf: https://github.com/KomodoPlatform/dexstats_sqlite_py/issues/4

Right now we do have many possible tokens options:

ERC20
BEP20
QRC20
PLG20
ARB20
HRC20
HCO20
AVX20
FTM20
KRC20
OPT20
MVR20

So for CEX prices providing endpoint, it needs quite tricky/time consuming combinatorial approach to collect aggregated orderbook.

https://github.com/KomodoPlatform/dexstats_sqlite_py/blob/main/stats_utils.p

[2021-11-04 07:46] artemii235 commented on #913
Raising the priority as it seems to become a problem that requires MM2 restart or coin reactivation. We can at least stop dropping the connection entirely if the `server.version` request times out.

[2021-11-04 09:38] artemii235 commented on #1006
After working some time on this task I understood that it might be quite complicated to have the same API method for all coins types activation. Each protocol can have specific request parameters and errors, which will make the code and documentation quite bloated. @tonymorony @yurii-khi @Milerius What do you think about making a separate RPC for each protocol, e.g `activate_utxo/activate_eth/...`

[2021-11-04 09:53] Milerius commented on #1006
For me there is no problem with that because I use an enum for coin_type - but I suggest `activate_eth_family` since we start to have lot of eth forks supported.

[2021-11-04 10:09] artemii235 commented on #1006
`Family` definition is not common in our codebase, `activate_eth_protocol_coin` will be more familiar :slightly_smiling_face:

[2021-11-04 11:18] smk762 commented on #1006
I'm in favour of as much separation as needed to avoid need to add conditional statements in to the docs like "if ERC, do this, if BEP, do that, else", but grouped as much as possible to common denominator.

From a user perspective, it might be simplest explained if each protocol has it's own activation method, even if its basically the same thing with a different name.

[2021-11-04 14:40] cipig commented on #913
that would be good... simply keep all configured electrums in the list and retry periodically to reach them
atm mm2 removes servers from the list on timeouts, but keeps eg those that drop my connection right away:
`04 14:34:42, coins:rpc_clients:1965] ERROR "electrumx1.monacoin.ninja:50001" error Os { code: 101, kind: Other, message: "Network is unreachable" }`
i see this message all the time, sin

[2021-11-04 16:27] sergeyboyko0791 commented on #1006
I'm afraid that if we want to add a new ETH fork, we would have to change the code.

[2021-11-05 07:32] artemii235 commented on #1006
I agree that this will be a bit of overkill - I plan to make `activate/enable_erc20_protocol_coin` for all the cases (ERC20/BEP20/...).
@smk762 The request format will be the same for all token types - the only difference is the `platform` field in coins config. You can write it like `ERC20/BEP20/... activation` with a single request example.

[2021-11-08 10:28] artemii235 opened #1126 "MM2 failed to detect QRC20 payment spend on swap. Recovery attempts also fail."
More info in Discord DM.

[2021-11-09 08:28] Milerius opened #1128 "[bug]: some matched orders failed to start"
**Describe the bug**

Using the trading bot, sometimes an order that is match immediately failed

**Please answer following questions and attach requested info - it'll help to solve issue faster**

- Linux
- Telegram PR

Json:

[code]

My guess is that an update order occurred just before the p2p layer match the order or so, that create a unsynchronization or so

(my bot refresh rate is 30 seconds

[2021-11-09 08:54] sergeyboyko0791 commented on #1128
@Milerius I think the dynamic transaction fee of DGB might change a lot within the 30s interval.
The difference between required and allowed values is 3215 satoshies, but I mentioned [here](https://github.com/KomodoPlatform/coins/pull/103#issuecomment-775939601) that the fee can increase even 7 times.

[2021-11-09 10:50] cipig commented on #1128
yes, dynamic fee in DGB is broken: https://github.com/digibyte/digibyte/issues/226
it happens that you get a totally different value 3s later
we simply need a way to set a fixed fee, but not per entire tx like atm, but per kb
it is already done internally for DOGE, but needs to be exposed to coins file, so it can be configured for other coins too
btw, the value for DOGE will need to be changed any

[2021-11-10 08:56] artemii235 commented on #550
Yes :slightly_smiling_face:

[2021-11-10 08:56] #550 closed

[2021-11-15 07:35] tonymorony opened #1136 "Dash instantsend support"
Might allow performing instant swaps from the Dash side of the trade: https://docs.dash.org/en/0.12.3/wallets/dashcore/privatesend-instantsend.html#instantsend

As per Dash representative information, there is a funding possibility for such kind of integrations. We might consider it after https://github.com/KomodoPlatform/atomicDEX-API/issues/1045 integration completion [ @ca333 @artemii235 ]

[2021-11-15 07:56] #913 closed

[2021-11-15 14:57] thephez commented on #1136
Hi, I just wanted to provide a more recent link as v0.12.3 was quite a few years ago. The current version of that page can be found here: https://docs.dash.org/en/stable/wallets/dashcore/coinjoin-instantsend.html#instantsend. Also, there is a page more focused on integrations here: https://docs.dash.org/en/stable/developers/integration.html#receiving-instantsend-transactions.

[2021-11-16 07:52] artemii235 opened #1137 "best_orders 2.0 specification"

[2021-11-16 07:58] artemii235 opened #1138 "Provide failed swaps statuses to mobile GUI team."

[2021-11-16 08:12] #1138 closed

[2021-11-16 13:10] tonymorony opened #1139 "NFT minting during the swap event"
Just idea sharing (inspired by things we've discussed during our last dev call :):

There might be a probability of different rarity special AtomicDEX series NFT minting as one of the swap transactions output with one of the swaps participants pubkey as a receiver (probability/rarity depends on swap fiat volume let's say), that might work as an incentive to motivate performing a swaps

[2021-11-16 13:40] polevin commented on #1139
It will be really cool if it turns out to make random rewards for users who have made a complete exchange. We can give an NFT token of different values as a reward. And this kind of NFT token could be implemented through any platform. Only here is a technical question: how does the user get NFT when exchanging and how does he implement it?

[2021-11-17 01:08] hellbill commented on #1137
order_covering_full_vol

[2021-11-17 13:36] KarlVonCode opened #1141 "[FEATURE REQUEST]: Implement NFT domain name (ENS) compatibility"
With the surge of ENS NFT domain names (atomicdex.eth, atomicdex.crypto, etc) many users on several large blockchain communities are opt-ing for short address options, so it has became a must to teams who want to channel that market feature.

I do use atomicDEX and got a NFT domain name minted from UnstoppableDomains mint page, so virtually I can receive my KMD typing "mywallet.crypto" in the addr

[2021-11-18 05:35] artemii235 commented on #901
Looks like it's worth making the `static` fee as `txfee_kb` for all coins. We even had problems with RICK/MORTY mempool sync between nodes when broadcasting large transactions with a low static fee. Scheduling this for next week.

[2021-11-18 09:17] smk762 opened #1142 "Improper stopping of mm2 / makerbot could result in zombie orders."
**Problem**
Orders placed via the makerbot loop (`start_simple_market_maker_bot`) will persist upon restarting mm2 if:
- mm2 crashed, and then is restarted (this includes when desktop gui kills cli mm2 upon loading)
- user stops mm2 via `stop`, but has not run `stop_simple_market_maker_bot` first
- user stops mm2 via `stop`, but has not waited for the current loop to complete after running `stop_s

[2021-11-19 12:46] cipig opened #1147 "orders with min_volume = max_volume can't be matched"
Here is an example of such an order from `\"method\":\"orderbook\",\"base\":\"BTCZ\",\"rel\":\"BCH\"`:
[code]
it's an ask, selling BTCZ for the price of 0.000000848... BCH each

when i click on the order in GUI, it shows me this in logs:
[code]

when i try to start the swap, it adds this:
[code]

and this is what GUI shows me as result of the buy call:
[code]

the result is that the orders don't m